[2018-07-27 10:51] C-ollins opened #540 "Feature request."
Can a feature be added where you can have more than one iterator, discarding transactions automatically closes the iterator associated with it and delete an item from an iterator?

[2018-07-29 21:31] leerspace opened #541 "Corrupted badger database - Assert failed"
While using go-ipfs with a badger database, the database became corrupted at some point and would return this error when trying to start the daemon: `Error: Unable to replay value log: "C:\\Users\\user\\.ipfs\\badgerds\\000088.vlog": Data corruption detected. Value log truncate required to run DB. This would result in data loss.`. Attempting to use `badger backup -t` to truncate the value log now

[2018-07-31 01:42] sathyanarayanant opened #542 "Documentation for faster reclamation of disk space"
It would help if the documentation could be updated to include the badger options required for faster reclamation of disk space after keys are deleted.

[2018-08-02 02:30] BeaverCC opened #543 "Open slow when 621GB data in badger"
I have a badger db, the size of that db directory is 621GB. I open it with code
[code]
And it takes 9 minutes. How can I open it faster?

[2018-08-05 20:11] wvh commented on #526
Another option could be a Flush() function that allows sync by means of a deadline ticker, so time based instead of N-writes based.

[2018-08-05 20:20] wvh opened #544 "db.Size() returns zero values before first db.Close()"
Hello,

When I create a new database and fill it with thousands of keys, db.Size() still returns `0, 0` for the LSM and value log sizes until I close the database for the first time. `SyncWrites` is true and the values have been written to the disk.

Is there some sort of hard Flush() functionality I'm overlooking? I've checked the db.Close() code, but there is not a whole lot that can be called f

[2018-08-06 09:28] C-ollins opened #545 "Badger Configurations"
I have tried tweaking the options of badger but I basically don't know what is going on there. I'm using badger on mobile and I get memory crashes. What configuration would you suggest for a 400mb(max) database running on a 200mb memory allocations.

[2018-08-07 11:27] BeaverCC opened #546 "Open db failed"
Hello,

I use badger for image storing. Badger acts great when I keep store image to a single db. But when it hit 6.1T. I close the db, but can never open that db again. The message is
[code]
Can i open that large db in some way?

My server has 64GB memory, and 128GB swap.

[2018-08-08 01:35] manishrjain commented on #546
Have a look at this:
https://github.com/dgraph-io/badger#memory-usage

[2018-08-08 01:35] #546 closed

[2018-08-08 01:39] manishrjain commented on #544
If you want to estimate the size of the DB, better to do a key-only iteration over all the versions, and sum up the item.EstimatedSize().

[2018-08-08 02:07] manishrjain commented on #545
What options are you trying?

[2018-08-08 02:36] manishrjain commented on #543
Can you post the output of `badger info`?

[2018-08-08 03:03] manishrjain commented on #539
If you get and set the same key, using different transactions concurrently, they might have conflict. Can't help any further without looking at the code.

[2018-08-08 06:53] C-ollins commented on #545
[code]
This is the current one I'm using. I have tried different tweaks. I used lesser values and the database became very slow.

[2018-08-08 06:59] C-ollins commented on #539
It's a large code base that was already using bolt. I'm creating a driver for badger and I can't tell where the writes or reads are coming from. I fixed it by using a ManagedDB and using a commtTs of 1 always.

[2018-08-09 00:11] manishrjain commented on #539
ManagedDB is playing with fire, you can get burnt in strange ways. So, be careful. I'd recommend against using it.

Simple thing to do would be to retry the transaction on a conflict.

[2018-08-09 00:13] manishrjain commented on #545
You should decrease the MaxTableSize to 4MB. Decrease NumCompactors to 1. NumLevelZeroTables to 1. NumLevelZeroTablesStall to 2. NumMemtables to 1. You can still keep TableLoadingMode to mmap.

[2018-08-09 00:43] C-ollins commented on #539
How do I retry? Calling commit again?

On Thu, 9 Aug 2018 at 1:11 AM, Manish R Jain <notifications@github.com>
wrote:

[2018-08-09 00:53] manishrjain commented on #539
I don't know your code, but if you're using `db.Update`, running that in a loop would do.

[2018-08-09 07:07] BeaverCC commented on #543
The db grows to 5.6T now, and the open time is 14 minutes.
The output is too long, so I put it [here](https://gist.github.com/BeaverCC/3674f4056e6b6a6ebdd964f05fa24aeb)

[2018-08-09 17:36] C-ollins commented on #545
Thanks. I looked at the app ram usage while running. Normally it goes straight up till it crashes but after applying this changes it still went up and it dropped several times. Didn't crash tho

[2018-08-09 18:56] #545 closed

[2018-08-10 00:15] manishrjain commented on #543
You only have a few SSTables. The problem is probably mmapping all the value log files, that takes time. You could change the option so value log is FileIO, and re-try.

	ValueLogLoadingMode: options.FileIO,

[2018-08-10 14:04] #539 closed

[2018-08-10 14:04] manishrjain commented on #514
Submitted this https://github.com/dgraph-io/badger/commit/341a135a4ab7d861599a45ca4ce00412c690bf66, which should fix the issue.

Can you test?

[2018-08-12 01:50] BeaverCC commented on #543
I tried that. It takes 5.5 hours this time. And the disk io is almost full.

[2018-08-12 10:54] ivanjaros opened #547 "Missing Prev() method on the Iterator?"
I am implementing KV store as underlying storage for structured data and I need to be able to filter the data based on the usual SQL conditions. I have just realized that after I have implemented the `>` and `>=` that I cannot implement `<` or `<=` because the iterator lacks the **Prev()** method.

So for example if my key is `/foo/123` and my condition is `>= 123`, I can simply write for loop wit

[2018-08-12 11:56] C-ollins commented on #545
Celebrated too early. I tested it with more data and I couldn't commit because transaction size was too big.  I guess I have to increase MaxTableSize to maybe 40mb could be enough because I'm unaware of the size of data that can come in.

[2018-08-12 17:32] ivanjaros commented on #381
Yeah, I totally need some library I could put on top of Badger to work with structured data.
I didn' find anything so I started to write my own but I haven't even finished SELECT query and I want to hand myself :D

Has the situation evolved, are there any libraries that do this that I am not aware of?

https://github.com/ivanjaros/mrvkio/blob/master/components/database/badger.go

[2018-08-13 02:21] C-ollins opened #548 "More than one iterator?"
I have an implementation that uses iterators concurrently. Is there a way to achieve this since I can only open on iterator? I also get an error that an iterator wasn’t closed but I assigned a uuid to every transaction and I printed it out when iterators are opened and closed. Every iterator seems closed but I still get the error

[2018-08-13 06:08] ivanjaros commented on #548
That doesn't make any sense. Use concurrent transactions, not iterators. If you need write transaction then simply chan the logic.

[2018-08-13 08:29] C-ollins commented on #548
OK. I'd use that. How about the "Unclosed Iterator" that I didn't open? How does that happen. I track every opening and closing and I don't see any unclosed iterator from my side.

[2018-08-13 18:31] gutweiler commented on #531
Yep, that is the case.

How do you define "long running iteration"? Each iteration of the test finishes in less than 10ms.

The use of .Value() inside a non-prefetched iterator and mmap will end up in an Lock, sooner or later.

It would be nice if the documentation of Value() would mention that, or the behaviour of .ValueCopy() would be used in this use-case.

[2018-08-14 01:03] manishrjain commented on #541
So, I had a deeper look today, and this is what I found.

Issue 1:
There's a value log file 85 missing. It looks to me like it was accidentally deleted because the transaction timestamps in 84 and 86 are wide apart.

[code]

There's a 100K txn timestamp difference between the two files, which makes me think 85 might have been deleted. Typically, Badger tends to pick up earlier files for GC, but no

[2018-08-14 11:37] manishrjain commented on #547
You can use reverse iteration, via IteratorOptions.

[2018-08-14 11:40] manishrjain commented on #548
See this: https://github.com/dgraph-io/badger/issues/522

It could be that you're discarding the transaction before closing iterator. Try to see if you can find some ordering issue in your code, potentially by checking defers.

[2018-08-14 11:49] manishrjain commented on #543
I've seen Badger take time when the value head pointer isn't caught up to the tail of the value log. That means, when you open the DB, it has to replay a big chunk of value logs, which is why it is taking time to open. (We could make that step obvious by adding logs.)

You could confirm that by adding some logs around replay, or looking for "Seeking at value pointer"
https://github.com/dgraph-io/b

[2018-08-14 11:53] manishrjain opened #549 "Force flush memtable when log file is rotated"
This would ensure that the value log head would be persisted on disk, thus the max replay that would need to be done would be one log file, not more.

[2018-08-14 12:13] ivanjaros commented on #547
**Thanks**, will have a look. But why so complicated?

[2018-08-14 12:26] C-ollins commented on #548
I created a struct which contains my transaction and iterator. Whenever discard is called, I close the iterator and I get error.

[2018-08-14 12:28] manishrjain commented on #547
A `Prev` method adds significant complexity to the codebase, which is why it was omitted. We have no plans to add it. You can work around it with a reverse iteration as mentioned above.

[2018-08-14 12:28] #547 closed

[2018-08-14 12:29] C-ollins commented on #547
I feel that’d slow down the code when iterating through tons of data

[2018-08-14 12:37] ivanjaros commented on #548
Collins - just use defer iterator.Close() within transaction and you should be fine. seems you have logic ordering issue, this should take care of it.

[2018-08-14 13:25] manishrjain commented on #547
Badger's key-only iteration is blazing fast, so it might not be that bad.

[2018-08-14 14:13] C-ollins commented on #548
Okay, Thanks.

[2018-08-15 00:00] leerspace commented on #541
I'm pretty sure the version of go-ipfs I was using is using a version of newer than v1.4.0. I can't comment on whether go-ipfs is doing anything non-standard with the badger repo, but I didn't do anything to it outside of attempting to recover it with `badger backup` after getting the `Unable to replay value log` error.

@manishrjain I'd be interested in a command to recover the data. Thanks for l

[2018-08-15 19:14] manishrjain opened #551 "Tool to recover data from value log"
We need a way to replay only the log files in the value log and recover Badger data.

[2018-08-15 19:15] manishrjain commented on #541
Unable to determine the actual cause of this issue -- it looks like there might be external factors in play here, but can't be sure. At the very least, it doesn't indicate any specific issues in Badger.

This issue does indicate the need to build a tool which can recover data by only reading the value log. Created an issue here: https://github.com/dgraph-io/badger/issues/551

[2018-08-15 19:15] #541 closed

[2018-08-15 19:15] #548 closed

[2018-08-15 19:16] #544 closed

[2018-08-15 19:46] manishrjain commented on #543
I just pushed a change https://github.com/dgraph-io/badger/commit/3a87f6d9c273c4a5aaf4a69eb82ecfafc8d767d7, so Badger would now log if it is replaying value logs at Open.

Try it out with this change.

[2018-08-15 22:14] Xeoncross commented on #39
@siddontang still have any plans to add badger to LedisDB?

[2018-08-16 11:43] alvarolm commented on #381
@ivanjaros https://github.com/araddon/qlbridge
Could be very usefull

[2018-08-16 16:43] foxjazz opened #552 "no access over networking"
I have a c# project that needs access to go functions or the database.  Is there a path forward to create an interface?

[2018-08-17 01:45] schomatis commented on #524
Reopening as we were able to provide access to the DB.

[2018-08-17 01:46] schomatis commented on #523
Sorry for the delay, the code I was referring to and its link is available in the initial post, just after the text you quoted.

[2018-08-17 16:49] manishrjain commented on #523
Yes, I saw that yesterday. Will fix this one.

[2018-08-17 17:03] C-ollins opened #553 "runtime error: invalid memory address or nil pointer dereference"
I got this error while running a get. It runs normally but randomly fails when I run gets from different transactions concurrently. It doesn’t fail immediately because I get results but I believe it happens when the garbage collector kicks in.

EDIT: I disabled garbage collector and error still came in.
[code]

[2018-08-17 17:05] C-ollins commented on #553
I get this if I try to open the database after the crash.

"file does not exist for table 2"

[code]

[2018-08-17 21:26] manishrjain commented on #553
Can you share your code? In general, ensure that you're not closing the DB and then doing gets.

[2018-08-20 23:43] schomatis commented on #524
This seems to be a problem on the IPFS side, closing here.

[2018-08-20 23:43] #524 closed

[2018-08-21 12:51] C-ollins commented on #553
I'm starting to think that this is happening because I tweaked the db options. Here's what I'm currently using.
[code]
Crash is happening at
[code]

`fmt.Println("S.n size: ", s.size())` returned `2306514` which shows &s.n isn't nil. So where could the nil pointer dereference be coming from?

[2018-08-22 08:55] C-ollins commented on #553
The bug happened to be coming from closing an iterator twice. Not a issue from badger.

[2018-08-22 08:55] #553 closed

[2018-08-28 03:46] #543 closed

[2018-08-28 08:57] niemeyer commented on #543
@BeaverCC What did you end up with, out of curiosity?

[2018-08-28 18:50] lsmith130 opened #554 "Calling iterator.Close() twice causes panic on next commit."
I read in the docs that it's ok for `txn.Close()` to be called multiple times, so I assumed this applied to iterators as well. I'm doing a database migration, so I'm using an iterator in a writable transaction. Since commit requires the iterator to be closed, and I'm using manual transactions, I did a `defer iterator.Close()` to cover error cases, and another direct `iterator.Close()` just before

[2018-08-28 18:51] lsmith130 commented on #554
On second thought, the issue probably isn't that I'm calling `iterator.Close()` twice, but that the deferred call is running after the commit, so the txn is already discarded.

[2018-08-29 16:47] patrickdevivo opened #555 "Ability to watch for key changes"
Hi there, I apologize if this is the wrong place to post this, but I'm wondering how one might implement "watch for change" functionality of a key path in badger - similar to how the Consul KV store lets clients watch for changes on a value or a prefix.

Could this be something potentially added to the badger api, or is it trivial to layer something on top of what exists currently?

Would love to

[2018-08-30 22:49] Xeoncross opened #556 "How do you turn of badger logging?"
Every time I open a database I see the following lines in the console. I can't find a setting to turn this debug information off.

[code]

[2018-08-30 22:51] Xeoncross commented on #556
Just realized there was a commit for this: https://github.com/dgraph-io/badger/commit/3a87f6d9c273c4a5aaf4a69eb82ecfafc8d767d7

[2018-08-31 15:17] rohanil opened #557 "memory alloc mismatch during db opening"
When I open a store with existing path or new path, runtime Memstats show there is heap allocated of 80MB which is much more than size of value log files. And surprisingly Residential memory of system shows lower jump than 80MB. It jumps by around 20MB.

The first question is why a huge amount of memory is allocated?
The second question is why there is difference between runtime Alloc memory and r

[2018-08-31 17:43] manishrjain commented on #557
This is more of a discussion than an issue. You can see: https://github.com/dgraph-io/badger#memory-usage

Feel free to bring this up on https://discuss.dgraph.io, to see if the community has anything to say about this.

[2018-08-31 17:43] #557 closed

[2018-09-05 07:50] BeaverCC commented on #543
@niemeyer Yes. But this is not the only reason. We did some other tests.

[2018-09-05 09:33] niemeyer commented on #543
@BeaverCC Sorry, the question was probably unclear: which alternative did you end up with? Can you share that?

Also, why, if you have the time (and are allowed) to explain it.

[2018-09-05 18:42] jojo05 commented on #543
+1

[2018-09-06 15:08] danesparza commented on #556
Doesn't look like you can turn this off.  This seems ... strange.  Looking at the commit it appears it might be a temporary diagnostic.

[2018-09-10 12:39] AJAviJain commented on #476
Where to set truncate option? I am getting an error >>  Unable to find log file. Please retry. so i think might be the error is same, server and zero are getting started but for some queries in ratel browser, giving this error. (using windows)

[2018-09-11 05:58] AJAviJain opened #559 "Function to query a single node by name takes time."
Dgraph version :- v1.0.8 and using Windows - 16GB RAM

schema :- name: string @index(term, trigram) .

suppose there are 2 nodes >> "abc" and "abc 123".

Now i want to get a node "abc" by name.

query1 >> {node (func: eq(name, "abc") {uid name}}
query2 >> {node (func: allofterms(name, "abc") {uid name}}

query1 is giving the exact node but takes time and it's case sensitive.
query2 is giving both

[2018-09-11 10:22] AJAviJain opened #560 "Poor performance of Dgraph for Sample case ? Check if implementation is wrong ?"
Looks Like getting and creating 50k nodes, not achievable in 1 sec with latest dgraph java.

Windows >> 16 GB RAM and Dgraph version >> v1.0.8

Server config >>
https://pastebin.com/XSY5FwkV

Sample JAVA code to reproduce >>
https://pastebin.com/WBfzkdJ1

Results >>
Writes :- 50k nodes in batch Took 15.16 mins
              50k nodes one by one Took 72sec
Reads :- Getting 1 lac nodes one by one To

[2018-09-11 12:57] manishrjain commented on #560
This is a Dgraph issue. Please bring this up on discuss.dgraph.io

[2018-09-11 12:57] #560 closed

[2018-09-11 13:02] manishrjain commented on #559
This is a Dgraph issue. Please bring this up on https://discuss.dgraph.io.

[2018-09-11 13:02] #559 closed

[2018-09-12 15:53] BeaverCC commented on #543
@niemeyer We decide to use HBase instead.
Because HBase can store data in as many nodes(servers) as we want, and rebalance data between servers automatically.

[2018-09-12 16:14] jiminoc commented on #555
I'd vote to keep this complexity out of badger. You could just have a decorator around your badger usage that does the tracking/notification.

[2018-09-12 16:24] jiminoc opened #562 "More efficiently expire data files"
I'm looking at using badger for data that can all be TTL'd out uniformly. e.g. 1hr TTL on every key/val.

Currently, I cannot get cleanup to keep up with write rate so badger will eventually fill up disk and kill the machine. I went through this same issue with Cassandra and the solution we got into place there was more efficient compaction where you store metadata on the SSTAble file that holds t

[2018-09-12 20:01] networkimprov opened #563 "MacOS: possible data loss/corruption"
fsync() on MacOS does not sync to disk; the correct sync method on MacOS is via fcntl(). Golang os.File.Sync() doesn't do this in version <= 1.11. A fix is in place for 1.12. golang/go#26650

Replace os.File.Sync calls with a direct syscall as a workaround until Go 1.12. golang/go@be10ad7

[2018-09-14 02:37] ntrrg opened #564 "Remove 2 variables assignment"
Hi, the first example from the [Managing Transaction Manually](https://github.com/dgraph-io/badger/tree/b65e2a3f653cc42acc70ae9eba104de990986c84#managing-transactions-manually) section has a 2 variables assignment.

![image](https://user-images.githubusercontent.com/6060009/45526532-8134ad00-b7a5-11e8-9cf0-3e21908a62a1.png)

[2018-09-14 16:46] manishrjain commented on #564
https://github.com/dgraph-io/badger/commit/8a9c3174148b220d3677dcd9bae9a596c21d4129

[2018-09-14 16:46] #564 closed

[2018-09-17 07:32] wgliang opened #566 "vlog file size more than 500M"
I saw some log file like 000000.vlog size more than 500M. Is this in line with expectations?

[2018-09-17 18:02] manishrjain commented on #566
Yes. Please bring up these questions on https://discuss.dgraph.io.

[2018-09-17 18:02] #566 closed

[2018-09-18 16:10] mfridman opened #567 "Read-only mode inquiry"
There is an `opts.ReadOnly` mode, but it only works if ALL processes are accessing badger in a read-only manner _and_ no other process has a lock on the directory.

Would it be possible for 1 (long-lived) process to acquire a lock on the directory and then allow multiple other processes to open the DB in a read-only manner?

E.g., suppose we have a single producer running in its own process genera

[2018-09-18 22:34] manishrjain commented on #567
Sorry, that won't be possible. If you want to have multiple readers, it's better to just open one RW Badger, and have it service all the read/write requests originating from many different sources. Different processes should not be using Badger directory as a common point of communication, instead, the process running Badger should be that hub.

[2018-09-18 22:34] #567 closed

[2018-09-18 22:54] mfridman commented on #567
@manishrjain Fair enough, thanks for this great package.

[2018-09-19 00:15] manishrjain commented on #552
You'd have to build a small Go server on top of it or access it via some other means. We don't plan to build anything like that.

[2018-09-19 00:15] #552 closed

[2018-09-19 00:16] manishrjain commented on #554
Maybe you can send an update to the README to warn others about this.

[2018-09-19 02:18] Kelindar commented on #562
We're currently facing the same issue, ingesting very short-lived data (1h TTL) into and it seems like badger just runs out of disk space and dies.

[2018-09-19 02:57] manishrjain commented on #562
I'd recommend trying the `LSMOnlyOptions`, though I'd still set ValueLogLoadingMode to options.MemoryMap. See if that'd help make TTLs better, it would definitely allow faster reclamation of the value log files.

[2018-09-19 06:48] Kelindar commented on #562
@manishrjain thanks, I think we tried with `ValueLogLoadingMode: options.MemoryMap`, also something that helped was to do GC every `1 minute` (but seems excessive to me). Not sure about `LSMOptionsOnly`, as our values are pretty big (16 MB). We're using a sharded DB which ingests around 1 TB per hour with 1h TTLs.

Would changing size of ValueLog files help at all? Anything else you can think of?

[2018-09-20 03:38] WangBeyond opened #569 "Item expiresAt becomes 0 everytime restarting Badger"
Everytime after I restart my service which is using badger. When I do iteration over all the items, I found the expireAt become 0 while other data like keys, meta, version and values are not.
I feel like expireAt of the items are stored in a separate place and not flushed to disk somehow. Any advice?

[2018-09-20 05:12] #569 closed

[2018-09-20 10:14] manishrjain opened #570 "Prove that Badger loses data"
## The Challenge

We are always looking to proactively fix issues in our software. If you can prove that Badger loses data under certain conditions and provide a set of instructions so we can reproduce the data loss at our end, we'll pay you <strike>$1000</strike> $3000 as a cash reward.

## Background

This got triggered by a casual comment from a user that

That's so outrageously false (Badger i

[2018-09-20 19:19] #424 closed

[2018-09-20 22:53] danielmai opened #573 "badger info: Error: Unable to replay value log: Database was not properly closed, cannot open read-only"
### Problem

Running `badger info --dir path/to/dir` on a p, w, or zw Dgraph directory whose instance was interrupted with Ctrl+C displays this error:

[code]

### Steps to reproduce

1. Run 1 Zero, 1 Alpha
2. Run `dgraph live` with the 21-million movie data set (from [dgraph-io/benchmarks](https://github.com/dgraph-io/benchmarks/tree/master/data)). Wait for completion.
3. Ctrl-C Dgraph Server and

[2018-09-21 00:34] manishrjain opened #574 "Bank test failing in Badger"
The new bank test I wrote for Badger is able to see transaction violations.

[code]

Badger is seeing an ACID violation during concurrent transactions. Needs investigation.

[2018-09-21 01:23] pradeepyella commented on #570
If you are so confident, why don't you increase the stake to 5000 or 10000.

If you think badger can loose data, 1000 is fine. I must admit that this is a nice way to bait people to do the work for you.

Also wondering if the reward can be paid in etherium

[2018-09-21 02:31] tigp opened #575 "Entry for Badger data loss challenge"
Seems like it's inconsistent https://github.com/tigp/badger-data-challenge

Ref: https://github.com/dgraph-io/badger/issues/570

[2018-09-21 04:02] manishrjain commented on #570
We're starting at $1000 first. If we don't find any takers, we'll increase it after some time.

Sorry, payment can only be made as a wire transfer. However, if that doesn't work, we'll try our best to find another way (which doesn't upset our accountant).

[2018-09-21 04:07] manishrjain commented on #575
[code]

You shouldn't access v beyond the iterator loop. You must copy it over, using `ValueCopy(nil)`, if you intend to use it outside the loop.

Just tested it. Works alright after switching to `ValueCopy`.

[2018-09-21 13:48] pradeepyella commented on #570
Do you admit that badger can loose data. ( That's the only reason I can think of why you are starting with 1000). Deep down you know that badger can loose data
I have used badger in the past and it does indeed loose data. Denying other users claim just because you can't reproduce it is outrageously wrong.
If the stake is increased to atleast 5000( or even more depending on your confidence level),

[2018-09-21 15:27] aricart opened #576 "badger uses the default logger"
Badger is an API for an embedded kv store. I don't want to see badger's log messages mixed with my applications output. Badger should use a custom logger and provide a way of turning off and specify the min level at which something will be emitted.

[2018-09-21 16:55] #575 closed

[2018-09-21 17:01] manishrjain commented on #570
@pradeepyella : I don't appreciate your negative tone and entitled behavior. This is an open source project, which doesn't really pay us anything. We are putting effort into this, for the benefit of Dgraph, and for every other project who is using Badger. There are petabytes of data being run on Badger collectively. In fact, open source projects are collective efforts. If you did know that Badger

[2018-09-21 17:07] tigp commented on #575
@manishrjain Yay! It works, I actually had a real problem with that and switched to bolt as this was not obvious. Don't recall if I've seen that in the examples. Could be nice for a project to articulate on that. Have a great day!

[2018-09-21 18:34] tigp commented on #575
Not really sure if I understand it correctly, I'm assigning new iterator to a variable and using it's functions get for loop moving and the value is called inside this loop. How it should look if it's used inside the iterator?

[2018-09-22 08:50] pradeepyella commented on #570
I have seen people who have reported the issues in the past and they were closed because the issues were not reproducible(Hence there is no point in me reporting the issue). I am not a saint to spend my valuable time to produce reproducible examples for the benefit of community.

I am no troll. Badger and dgraph can loose data(Both projects are recent and there's nothing wrong in that). How much y

[2018-09-22 12:50] pradeepyella opened #578 "Badger unable to return data after value log GC"
Here's the reproducible example for #570
Run it using the following bash script.

[code]

[code]

[2018-09-22 16:53] manishrjain commented on #578
I can confirm that Badger fails to return data. Data is present, but there's a version mismatch bug, due to which Badger does not return the data back.

@pradeepyella : Thanks for finding this issue. As promised, you'll receive $5000 for reproducing this within 24h :-). Please reach out via mail at my email address: manish/dgraph.io.

[2018-09-22 19:12] tv42 opened #579 "Hangs on I/O errors, loses an error (still hangs)"
This isn't quite #570 data loss challenge worthy, so I'm not bothering with full repro. The lost error still causes a hang, so nothing gets falsely accepted.

Here's the relevant code:

- when flushMemtable returns, nothing starts it again: https://github.com/dgraph-io/badger/blob/a1528d1744ca8987841c406b1510795563d2bec4/db.go#L280

- this is not exactly news, but the comment doesn't make you real

[2018-09-23 00:16] pradeepyella commented on #578
I didn't get the version mismatch part, The example only does set and all versions have same value.

Sent the account details over email.

[2018-09-23 07:02] pradeepyella commented on #570
Now that I have proved that I am not a troll, I can give more scenarios if bounty is increased.

[2018-09-23 11:18] adelowo commented on #570
@pradeepyella Lol ... $5k is already enough, just do it if you can give other scenarios..

Dgraph giving 5k is already more than generous enough, requiring extra cash to show other scenarios where badger loses data to me is pure greed. Listing those scenarios is much more than monetary gains, everyone in the open source community gets an even better product.

Are you a troll ? Yes, I think so

[2018-09-23 14:29] manishrjain commented on #570
I'm increasing the bounty to $3K. I think that's a good amount, so if it takes a week of work, you get paid at the rate of $600 per day, which is generous. We're not going all the way to $5K yet. That seems a bit much at this point when it's clear that $3K is enough to gain the attention of the community and get a few hunters excited to try to break Badger.

The next revision to this amount, if ne

[2018-09-23 15:46] pradeepyella commented on #570
@adelowo I am doing this only for monetary gain and not for everyone in open source community. If you can, please report the issues for free for the benefit of community. If you want to confirm whether i can or not, you can sponsor the bounty for the benefit of community(I am a greedy person, so no need to judge me) and i will give the scenario in 24 hours.

@manishrjain Are you planning to have s

[2018-09-23 17:43] #578 closed

[2018-09-23 18:38] manishrjain commented on #579
Thanks for reporting, @tv42 . That TODO needs to be fixed by retrying the op if it gets an error, instead of quitting. Will take a look over the week.

[2018-09-23 18:47] manishrjain commented on #570
@pradeepyella : "I am doing this only for monetary gain and not for everyone in open source community."

That's not an attitude I condone. We're doing this for fun, a technical challenge and to improve the software for the community. I'll ask that you focus your interaction on the technical aspects of this challenge, so you can continue to have a conversation in Badger. Otherwise, an action might

[2018-09-24 02:45] pradeepyella opened #581 "Delete entries do not contain Ts in deleteMoveKeysFor"
Entry For #570

https://github.com/dgraph-io/badger/blob/af99e5f9ec18aca5d8ff40d2cfd909f7d21f392d/value.go#L492
[code]

It should be  `e := &Entry{Key: y.KeyWithTs(item.Key(), item.Version()), meta: bitDelete}`

If timestamp is not appened, badger would think that `key[:len(key)-8](x)` is deleted at timestamp `key[len(key)-8:](y)`. So if latest value of x was written at timestamp y and it got move

[2018-09-24 03:48] manishrjain commented on #581
Can you produce an example which shows this issue in terms of what the user expected and what was returned?

[2018-09-24 06:13] pradeepyella opened #582 "Reject keys prefixed with !badger"
Entry For #570.
This is also a major security risk.
Suppose badger is being run in context where it stores the key value pairs from external source. It could be as simple as using it for storing key value pairs from some third party source.
Malicious input in the third party source can cause data loss or even unrecoverable error where badger would never start.

First script stores a bunch of key v

[2018-09-24 07:21] pradeepyella opened #583 "Badger Data Loss Challenge: Entry 4"
Entry For #570.

This is also a critical security bug(Malicious input can leave the db in unusable state). If we store a key with 65527, badger would store it. It would be returned if we do a get later. But once the value log containing that key is garbage collected, badger goes into unusable state and asks to truncate everything from that key onward(All acked keys which were persisted). Even rest

[2018-09-24 08:48] pradeepyella opened #584 "Badger Data Loss Challenge: Entry 5"
Entry For #570.
This is very critical for people using badger for financial data.

https://github.com/dgraph-io/badger/blob/af99e5f9ec18aca5d8ff40d2cfd909f7d21f392d/transaction.go#L584

View method shouldn't be exposed for managed DB. Since badger is reading at MaxUint64, badger can't provide a consistent snapshot if writes are still going on. We could have non atomic reads.

I probably don't need

[2018-09-24 08:58] pradeepyella commented on #584
I don't know If there's  bounty for critical issues like this even though it's not technically data loss.

[2018-09-24 09:14] pradeepyella commented on #570
Hmm, Since badger acks only after writing to value log file, the data would be present in most of the cases. I read this clause just now and missed it earlier. Will stick to the cases where data is actually lost and ignore other cases. Also wondering if Entry 5 is valid (Isolation is violated - Badger is supposed to be ACID).

[2018-09-24 11:39] pradeepyella opened #585 "Badger Data Loss Challenge: Entry 6"
Entry For #570.
Not able to retreive stored value(Badger didn't throw error on storing large value).
After storing large value, other values are also not retrievable.

[code]

[2018-09-24 12:17] pradeepyella opened #586 "Badger Data Loss Challenge: Entry 7"
Entry For #570.
badger crashes before writing bitFinTxn, restart badger write values, badger looses all data written to the value log file where bitFinTxn was not written after restart.

Badger truncates only when there are partial entires from one transaction and then entries of other transactions starts(or rewrite keys).
go test -v -run='TestDataLoss$' .
go test -v -run='TestDataLoss2$' .
go tes

[2018-09-24 14:48] pradeepyella opened #587 "Badger Data Loss Challenge: Entry 8"
Entry For #570.

Deletion and Expiry doesn't honour NumVersionsToKeep.
https://github.com/dgraph-io/badger/blob/af99e5f9ec18aca5d8ff40d2cfd909f7d21f392d/levels.go#L415.
During compaction if a key is found which is deleted and there is no overlap with bottom levels, then subsequent versions of the key are skipped. Even if user sets NumVersionsToKeep to very high number, all versions except the dele

[2018-09-24 15:16] pradeepyella opened #588 "Closing iterator twice causes unpredictability"
Entry For #570.

Closing a Iterator Twice can cause data loss.
Closing the iterator reduces the reference count for the tables added to the iterator. If ref count becomes zero then tables are deleted. In between if a new memtable is flushed and badger head advances, then data is lost permanently.

Close should throw error instead of causing permanent data loss.

[code]

[2018-09-24 15:58] tv42 commented on #570
That very much is data loss/corruption of state to any running applications.

[2018-09-25 01:36] pradeepyella commented on #570
I still have many more scenarios to report. I will wait till my new entries(8) are evaluated and fixed to ensure root cause of these other scenarios are not same.
Sorry for posting here, but since my discuss account is put on hold(Don't know why), I can't post there.  I have decided to report 2 more scenarios each in badger and dgraph where data is actually lost for free once my entries are evaula

[2018-09-25 04:28] pradeepyella commented on #581
I am showing the case how data could be lost due to deleteMoveKeys. I have used internal function to simulate what delete move keys would do.

See the code where newKey is defined. Now suppose new key is garbage collected and moved to new file and eventually move key cleanup for newKey happens. Then it would delete the move key of other key which is `key(0)`

Whenever cleanup of move key of newKey

[2018-09-25 04:31] manishrjain commented on #584
We do not recommend ManagedDB for general usage. It is meant for when the user application provides their own transaction guarantees, for e.g. Dgraph.

[2018-09-25 04:31] #584 closed

[2018-09-25 04:32] pradeepyella commented on #582
Now where it's mentioned in docs that user shouldn't use keys prefixed with !badger. Badger is basically a key value store so user can store anything. Can you please point me to the docs which shows that these keys shouldn't be stored.

It's a bug since it's not mentioned anywhere in docs. How is user supposed to know unless he reads the source code.

[2018-09-25 04:38] manishrjain commented on #586
If Badger crashes before it has acknowledged the txn write to the user, that txn isn't guaranteed to be durable. As mentioned in the challenge:

[2018-09-25 04:42] pradeepyella commented on #586
@manishrjain  Please see the whole example. Badger would delete subsequent writes which were acknowledged.

First Run, badger doesn't acknowledge but writes partial entries.
On restart nothing would be truncated, new writes would be acknwoledged.
On next restart badger would truncate everything from the partial writes, thus we would loose the data which was acknowledged.

[2018-09-25 04:42] manishrjain commented on #587
There are comments in the code explaining this. If we find a (version of) deleted key, then all the versions below it can be garbage collected during compaction. We do not GC anything with ts > the read timestamp of running transactions.

`AllVersions` is an advanced option, and it returns whatever it finds. For SSI guarantees, the user should use the default option.

[2018-09-25 04:42] #587 closed

[2018-09-25 04:43] pradeepyella commented on #587
Can you please document that SSI doesn't hold with AllVersions

[2018-09-25 04:45] manishrjain commented on #588
It is up to the user to ensure that they use the APIs correctly. Typically speaking, adding more checks to tackle invalid user calls adds more logical complexity and performance slowdown. If anything, trying to avoid this would only make Badger more robust to user actions, but it's definitely not a bug.

[2018-09-25 04:47] pradeepyella commented on #588
Closing the iterator twice shouldn't cause irrecoverable data loss. User can loose all his data.

[2018-09-25 04:49] pradeepyella commented on #570
Can you please reopen entry 7, it's a valid scenario.

[2018-09-25 05:06] pradeepyella commented on #582
@manishrjain Also user can't do this always.
Say my key consists of unit64 and uint32 and I encode them as following using bigendian. The encoding of following numbers would give me !badger!head as key. I just wrote !badger!head in example so that it would be easy for you.

There could be various other encoding schemes where !badger!head would get overwritten and badger would loose data.

func mai

[2018-09-25 05:14] manishrjain commented on #586
Alright, I'll have a look. Looks like the premise of your bug report is that if bitFinTxn isn't written, then Badger would not truncate the log, but keep on appending more entries (after a restart). But, then after another restart, it would?

There should be an easy way to test this. Maybe open Badger in a mount with limited disk space (say using tmpfs). Create a large enough txn which won't fit o

[2018-09-25 05:18] manishrjain commented on #582
You only know about badger head because you read the code. If you're trying to argue that this is a bug because of lack of documentation, you don't have it. We could add a check to make Badger more robust, but that's it really. Deliberately trying to muck up Badger, will muck up Badger.

[2018-09-25 05:27] pradeepyella commented on #582
@dominikh I already showed a example where we could end up with !badger!head due to encoding.
But leave it, it's their decision. We can't really do anything if they are not agreeing it's a bug.

[2018-09-25 05:32] pradeepyella commented on #586
Can I atleast use internal api to simulate half of the transaction written to disk before crashing. Rest I would use public APIs.

I don't understand what's the difference between that and real world failure. Are you saying partial transaction entries can't be written in real world. Remaining internal stuff I will change to public APIs except that

[2018-09-25 05:36] manishrjain commented on #582
At the rate of a million tries per second, it would take ~5000 trillion years to reach the key. I might not be alive by then. So, no! :grinning:

[2018-09-25 05:42] manishrjain commented on #586
Think my above explanation is pretty clear already. If you're unable to simulate a data loss using public APIs and a file system issue that Badger should tolerate (like running out of disk), then you don't have a proof of a data loss.

[2018-09-25 05:44] pradeepyella commented on #582
If badger is exposed to web, then user can choose that integer with malicious intentions to screw up badger.
But I assume you don't want these type of issues as part of this challenge.

[2018-09-25 12:04] pradeepyella commented on #586
I have edited the examples to use real world examples. Only TestDataLoss simulates partial append to a file.
Simulating non atomic append is difficult( I would need to simulate file system or use some external framework), if disk space is less os would throw error before it even tries to append data.
Please have a look at the following links
https://stackoverflow.com/questions/1154446/is-file-appe

[2018-09-25 14:01] pradeepyella commented on #581
Cleanup is deleting some other key at different timestamp right ? Unnecessary keys get left behind but it's deleting some other data also.

[2018-09-25 16:39] shazow commented on #377
One handy reason to support in-memory storage (or something like a memory-backed os.FS) is that it makes writing tests with throw-away data much more convenient without thrashing the disk unnecessarily. :)

[2018-09-25 16:59] manishrjain commented on #377
You can set `TableLoadingMode = options.LoadToRAM`, which would still give you the durability, without compromising on read performance. I'd also recommend using LSMOnlyOption (instead of Default), and setting `ValueLogLoadingMode` to at least options.MemoryMap (or even options.LoadToRAM if you have the memory available for it).

[2018-09-25 17:06] shazow commented on #377
@manishrjain thanks for the tip!

[2018-09-25 17:07] manishrjain commented on #586
It is not the same. Badger has checksums in place to find if the FS has lost data, due to crash. You're writing an entry, even ensuring that it does not return an error (i.e. it has been ACKed and Fsynced to the FS), but mucking up the bits which have a certain meaning to Badger.

[code]

If you find a way to reproduce this using public APIs, feel free to file a new issue. I'm closing this one.

[2018-09-25 17:07] #586 closed

[2018-09-25 17:42] MichelDiz commented on #570
@tv42 corruption would be if even with the repair of a bug the data could not be recovered/read.

Loss, can be regarded as corruption or "unwritten data". Data lost in the middle of the road.

I would consider loss when neither the repair of a bug would make it accessible. Finally, "loss/corruption" = unrecoverable data via patch. If you want to interpret "inaccessibility" as loss. Cool.

[2018-09-25 19:38] manishrjain commented on #570
Added:

[2018-09-25 19:41] #588 closed

[2018-09-25 19:41] #582 closed

[2018-09-26 01:20] pradeepyella opened #592 "Badger Data Loss Challenge: Entry 7"
Entry For #570.

Badger truncates only when there are partial entires from one transaction and then entries of other transactions starts(or rewrite keys).
go test -v -run='TestDataLoss$' .
truncate --size 4096 p/000000.vlog
go test -v -run='TestDataLoss2$' .
go test -v -run='TestDataLoss3$' .

Edit: If the author of badger is still not confused, you can use #408 to reproduce this. Start the badger

[2018-09-26 02:53] pradeepyella commented on #570
#581 is also a data loss.

@dominikh @tv42  @MoZhonghua @Whyrusleeping  Can you please check i am wrong for #581 and #592 .

Context for #581 is.
Whenver you do a set via public API badger appends the timestamp and stores it internally. So any key which is stored in badger consists of the actual key + 8 bytes timestamp. Now when move key cleanup happens, there is bug in code where key is written b

[2018-09-26 03:57] whyrusleeping commented on #570
Missing a lot of context here, but anecdotally, we've lost several large repos of data with our ipfs nodes that use badger. Likely due to a crash of the ipfs daemon process that didnt clean up properly, or an OOM. The way we were told to address this was to use the backup tool to create a backup of all the data, but it was 7TB of data on an 8TB disk, no room to spare, so we just nuked the database

[2018-09-26 04:37] pradeepyella19912 commented on #570
@danielmai I wasn't doing any personal attacks. I was reporting issues for the benefit of community and the issue was closed as invalid. I tried explaining multiple times but the issue was still closed. You guys know the code of badger in and out, so i wouldn't believe if you say it was done unintentionally.

@whyrusleeping @schomatis  @tv42  Adding the community so that you don't delete my commen

[2018-09-26 04:47] pradeepyella19912 commented on #570
@danielmai Also if you feel you didn't do anything wrong, please loop in some neutral parties to evaluate whether #581  is data loss or not. I am tired of badger team making it difficult for me. You know but you don't want to accept it.
I can give the context to neutral party. We can choose some persons from the other projects using badger and give them context.
If you are really doing it for the

[2018-09-26 04:50] manishrjain commented on #570
Sorry, guys. We're getting spammed by one of the bounty hunters. As Daniel mentioned, we'll look into the issues, and there're any fixes needed, will do those. But, we can't allow this conversation to continue.

[2018-09-27 01:47] manishrjain commented on #570
Hey folks, someone from the community reached out to me to make me aware that this interaction did not look great, and I think I owe an explanation. I want to be transparent and clarify a few things about the interactions above, which led to the lockdown on this issue, and what's happening with the issues filed.

- I have reasons to believe that the bounty hunter, who was spamming us, is a disgrun

[2018-09-28 12:51] raulk commented on #556
This new log output is interfering pretty badly with our go benchmark output.

[2018-09-29 00:40] #574 closed

[2018-09-29 00:41] manishrjain commented on #574
Phew! That was mind-boggling.

[2018-09-30 13:36] sovereign313 opened #596 "Changed Iterator.Value()"
Looks like the iterator value method has changed (to accept a function?) but the documentation doesn't reflect this.  My code doesn't compile with the new method and not sure without digging into the code why it wants a byte array.

[2018-10-02 11:22] valinurovam opened #598 "Best way to remove data by key-prefix"
Is it best/proper way to delete data by key-prefix?
My case: I'm writing AMQP server and it a has a future to create auto-delete queue. It the moment I use one badger instance for per vhost, and that instance can handle many queues. And when I try to delete queue it looks like this
[code]
And that solution is very and very slow.
It can be improved if it will be instance of badger per queue. But it

[2018-10-02 20:06] manishrjain commented on #598
Badger is alright, the code is not written in a performant way.

1. You should do key-only iteration. You can do that by setting `PrefetchValues` to false.
2. Also, you're better off accumulating the keys in a slice and then executing a whole bunch of deletes in one txn. Each txn has an overhead. You can amortize that by doing many ops per txn.

[2018-10-02 21:30] valinurovam commented on #598
@manishrjain very thank you! So helpful advice! Now works much faster!
[code]

[2018-10-02 22:36] #581 closed

[2018-10-03 01:36] #583 closed

[2018-10-03 08:18] chvck opened #599 "Unable to import v1.5.4 (via gopkg)"
I'm currently unable to do a `go get gopkg.in/dgraph-io/badger.v1` as it errors with

`# gopkg.in/dgraph-io/badger.v1
../../gopkg.in/dgraph-io/badger.v1/transaction.go:101:19: o.readMark.MinReadTs undefined (type y.WaterMark has no field or method MinReadTs)`

transaction.go imports `"github.com/dgraph-io/badger/y"` which is now out of sync with the 1.5.4 tag as it has removed the MinReadTs functi

[2018-10-03 19:17] #585 closed

[2018-10-03 19:21] #598 closed

[2018-10-04 00:56] danielmai opened #601 "Bounty Challenge: Prove that Badger loses data"
(This is a renewal of the challenge initiated in #570)

## The Challenge

We are always looking to proactively fix issues in our software. If you can prove that Badger loses data under certain conditions and provide a reproducible set of instructions of the data loss, we'll pay you $1337 as a cash reward for your finding. You find an issue in Badger and get paid, and we get to improve our software

[2018-10-04 00:59] danielmai commented on #570
The official challenge page has moved to #601.

[2018-10-04 00:59] #570 closed

[2018-10-04 01:58] #592 closed

[2018-10-04 02:00] danielmai commented on #599
This works: `go get gopkg.in/dgraph-io/badger.v1/badger`

We continue to make changes on `master`.

[2018-10-04 02:14] manishrjain commented on #596
Updated README here: https://github.com/dgraph-io/badger/commit/32402933c725566e6f072aa9faacc9cbe16c67c8

[2018-10-04 02:14] #596 closed

[2018-10-04 03:47] pradeepyella19912 commented on #601
Quoting the comment from https://github.com/dgraph-io/badger/issues/570#issue-362116826.
`We try to keep things simple and intend to pay the same amount for valid issues. However, if the bug only causes Badger to not return data, and the data is fully recoverable by an easy fix to the code -- that's technically not a data loss (See #578). For those bugs, we reserve the right to pay less than the a

[2018-10-04 13:45] mfridman commented on #556
Badger should have a configurable Debug field in `Options` (maybe a bool?). And `DefaultOptions` should have it set to `false` by default.

There are exceptions within the code base that you may want to log instead of error, and that's cool, but for the most part I think majority of users don't need the startup logging.

Starting to see about 400+ loc logged out for 500k entries every-time it's lo

[2018-10-04 16:48] #599 closed

[2018-10-04 17:09] manishrjain commented on #579
Fixed via https://github.com/dgraph-io/badger/commit/8b6445e8943f0774fbc8d3e7872f084961900ef4

[2018-10-04 17:09] #579 closed

[2018-10-04 17:11] danielmai commented on #573
This is a Dgraph issue. Moved report to https://github.com/dgraph-io/dgraph/issues/2633

[2018-10-04 17:11] #573 closed

[2018-10-04 17:20] manishrjain commented on #579
Added another commit after this to not return from the dir sync issue, because we do that as a best effort thing.

[2018-10-04 20:12] h8liu opened #604 "build failure: github.com/dgraph-io/badger/badger/cmd"
[code]

found by [gopkgs.io](https://gopkgs.io), example build log:

https://gopkgs.io/builds/20181004-200616-6c6f6fea

[2018-10-04 21:15] srfrog commented on #556
This PR disables all logging by default, using build tags to toggle - https://github.com/dgraph-io/badger/pull/605
Please test and let me know what you think.

[2018-10-05 02:12] mfridman opened #606 "Use proper sem ver for tagging repo"
Just a minor nit to play nice with go modules. Can you use `v2.0.0-rc.1` ?

E.g., instead of the current `v2.0-rc1` reading like so (in a go.mod file)
[code]

`v2.0.0-rc.1` should read like this:

[code]

In this case it makes a difference when parsing out change logs, etc.

[2018-10-06 03:44] #604 closed

[2018-10-06 18:07] brunoamancio commented on #311
I have the same issue when badger calls (in watermark.go)

func (w *WaterMark) Begin(index uint64) {
	**atomic.StoreUint64(&w.lastIndex, index)**
	w.markCh <- mark{index: index, done: false}
}

[2018-10-10 02:48] david1371 opened #609 "Concern regarding badger"
Hi,

**Answer this, I promise i won't create new accounts and post again.**

You mentioned previously for Func1 that
`
It is not the same. Badger has checksums in place to find if the FS has lost data, due to crash. You're writing an entry, even ensuring that it does not return an error (i.e. it has been ACKed and Fsynced to the FS), but mucking up the bits which have a certain meaning to Badger.

[2018-10-10 03:01] #609 closed

[2018-10-13 15:30] romansemko opened #610 "Nil pointer exception running on ARM chip (Raspberry Pi)"
Golang version: 1.11
Badger: latest from master

Minimal example from README, adding `db.View` in the end:
[code]

Result when running:

[code]

on Mac it works just fine...

[2018-10-14 18:54] l0k1verloren commented on #542
I found this looking for some idea what to do when I had a database suddenly balloon in size. The values were very long, and repeatedly updated.

The database should have been 1/5th the size or less than it was. I am testing changing this ValueThreshold up and maybe suggest that it be highlighted for the case of storing large blocks of data.

In my case it was just a simple array of two integers,

[2018-10-15 21:13] Lesterpig commented on #610
I'm encountering the same issue on an armv7 device

[2018-10-16 14:11] #610 closed

[2018-10-16 14:12] manishrjain commented on #610
Thanks for your PR to fix this, @Lesterpig .

[2018-10-16 14:13] Lesterpig commented on #610
I hope this will be sufficient :smiley:

[2018-10-16 14:13] romansemko commented on #610
Thank you!

[2018-10-16 22:48] rjasonadams opened #612 "Persist lfDiscardStats after restart"
Hello,

Any plans to persist the lfDiscardStats after a restart? If you don't want to implement it directly, how about a few helper functions for dump/load and let the end-user decide how/where to retain.

[2018-10-18 13:50] rjasonadams opened #613 "Issue truncating vlog after crash"
Hello,

We had a server crash and after the crash Badger is having issues truncating vlog files. The error we get is:

`truncate ./Values/002077.vlog: invalid argument`

I've tried a few things to debug. I moved the data to another drive, reformated, used a different filesystem (this is happening on XFS). No luck.

[2018-10-21 17:14] manishrjain commented on #613
Arr... shit. This is a bug. Been reported a few times in the wild, but I always thought it's a file system or Go library issue. The error returned is not helpful at all, as this issue filed here says as well (in retrospect, I should have asked the users to try with strace).

https://github.com/golang/go/issues/9640

Ok. The reason it's been difficult to catch is, because if there're multiple log f

[2018-10-22 09:32] sunpuyo opened #615 "Invalid skip GC parameters"
Using a default configuration, I tested writing data with small key & big values (~4MB).
It does not gc at all, so I checked trace log. At trace log, badger always skips to gc and remains log

In my case, because of big values, a memtable increases very slowly, but valueLog files increases so sharply. However, an only way to update a head, which is used to pickLog, is a flushMemtable or close.
So

[2018-10-24 13:44] mame82 commented on #521
Same here, hackish workaround:
- load backup in temporaray DB
- iterate over key-value-pairs of temp DB
- update Set(k,v) in target db only if valu from temp DB has len(val) > 0

Having deleted keys around is a big issue

[2018-10-25 22:11] #613 closed

[2018-10-26 07:54] zhaonaiy opened #617 "Can support value log compression now？"
Greetings,
      I was wondering if can support compression on value log? Thanks!

NaiYan

[2018-10-26 18:01] manishrjain commented on #617
Badger doesn't do compression. Instead, we recommend users do compression at their own end.

[2018-10-26 18:01] #617 closed

[2018-10-26 18:09] manishrjain commented on #521
Hmm... Will look into this.

[2018-10-27 14:20] #540 closed

[2018-10-27 14:44] manishrjain commented on #531
With the changes to `Value` now taking a function, `doneWriting` should no longer block.

[2018-10-27 14:44] #531 closed

[2018-10-27 15:56] manishrjain commented on #533
This was fixed with a change to remove the ManagedDB interface.

[2018-10-27 15:56] #533 closed

[2018-10-27 16:00] manishrjain commented on #521
Looks like the code doesn't take into account deleted keys or discard earlier versions. Need to add a test case and fix the code.

[2018-10-27 16:04] manishrjain opened #618 "Get rough split key ranges between two keys"
This would be very useful in Dgraph, where we want to divide our iteration between two key ranges over many goroutines. This should also work for [key, inf), or [nil, key].

[2018-10-31 20:59] Hamper commented on #569
I also have this problem when application closed without db.Close() after write key with ttl (e.g. application killed).  Are you found any workaround for this issue, or use Close() and hope, that application under no circumstances will not be killed?

[2018-11-02 10:07] WangBeyond opened #620 "Assertion error when compaction"
Hi, I occasionally  got the following error

gitlab.myteksi.net/gophers/go/vendor/github.com/dgraph-io/badger/y.AssertTrue
/home/ubuntu/jenkins/workspace/go-diffs/src/gitlab.myteksi.net/gophers/go/vendor/github.com/dgraph-io/badger/y/error.go:55
gitlab.myteksi.net/gophers/go/vendor/github.com/dgraph-io/badger.(*levelsController).doCompact
/home/ubuntu/jenkins/workspace/go-diffs/src/gitlab.myteksi.

[2018-11-02 20:44] manishrjain commented on #620
Increase your MaxLevels. You're hitting the max levels.

[2018-11-04 17:24] alxarch opened #621 "Add an `AppendValue(dst []byte) ([]byte, error)` method to Item"
Currently `Item.CopyValue` uses `append(dst[:0], buf...)` which does not work for the simple case of values that can be just concatenated. Using `item.Value(func([]byte) error) error` is an option buf forces an extra allocation for the closure. Generallly speaking while closures are nice and easy to use in `go` they almost always incur the performance penalty of an allocation to be able to capture

[2018-11-05 15:08] alee792 commented on #606
:+1: , for some reason the "canonical" module of Badger has a slightly different API (txn.Commit requires a non-nil arg) than the actual current version, and it's a bit of a headache.

[2018-11-08 08:05] MaruHyl opened #623 "go test fail in TestValueGC4"
https://ci.appveyor.com/project/manishrjain/badger

[2018-11-09 12:31] manishrjain commented on #532
https://github.com/dgraph-io/badger/commit/6c8b15c2c7441e0958bae3d722cc9570ebdc63a5

Things slow down a lot by doing this. Tried and reverted.

[2018-11-09 12:31] #532 closed

[2018-11-09 12:35] manishrjain commented on #621
You can just pass `ValueCopy(dst[len(dst):])`. That'd append the value to dst buffer.

[2018-11-09 12:35] #621 closed

[2018-11-09 12:53] #620 closed

[2018-11-09 12:53] manishrjain commented on #620
Curious: How much data is your Badger instance holding?

[2018-11-09 12:55] WangBeyond commented on #620
Thanks, it seems working after increasing maxLevels. The data size is around 100GB

[2018-11-09 13:11] alxarch commented on #621
No this is not correct, if dst doesn't have sufficient capacity it will split the buffer

[2018-11-09 13:15] manishrjain commented on #621
In that case, please use the `Value(..)` API, which would handle your specific use case. I doubt this is general enough that we need to add it to the Badger APIs.

[2018-11-09 13:31] alxarch commented on #621
But it is general. Let's say you store a stream of small messages and you want to create a buffer that contains an arbitrary range of those messages. With the `Value(func())` method I am forced to do an extra allocation for *every* message I want to add to the buffer just to pass the *right* buffer to which to append. That is an O(n) number of allocations depending on number of messages in the ran

[2018-11-12 20:04] Scapal commented on #521
Could we just filter out expired and deleted items?

[code]

[2018-11-21 10:48] SwarnimRaj commented on #299
@manishrjain Is the Badger defrag tool part of the current code- it seems its absence is causing an issue in Jaeger OpenTracing using Badger as storage https://github.com/jaegertracing/jaeger/pull/760#issuecomment-440272104

[2018-11-21 18:55] manishrjain commented on #299
As mentioned in my comment on the original topic, the defrag tool is really meant for offline usage, not online usage. I think the growth of the data on disk, sounds like a different issue. I'm happy to help, let me know how.

[2018-11-22 07:47] manishrjain opened #625 "Create Iterator for single key"
Have a way to create an iterator to pick up all versions of a single key. This should be faster than creating a typical iterator, which must pick up all the tables.

[2018-11-24 01:59] chuerxiao opened #626 "Badger quit when I tested the limit"
When I do some testing, the badger will quit. The reason is that it has been compressed to the last level. details as follows:

1.  badger version V1.5.3,
2.  I adjusted some parameters to test, the results are as follows
[code]
3. Does our badger have some counters to tell that it is no longer possible to add new records.
3.  my test code
[code]

[2018-11-25 11:58] ysqi opened #627 "panic when call update after close db"
panic: send on closed channel

[code]

my code:
[code]

[2018-11-25 16:51] #521 closed

[2018-11-25 19:51] manishrjain commented on #627
This indicates that you're calling update after closing the DB. So, the panic makes sense. See FAQ:

https://github.com/dgraph-io/badger#frequently-asked-questions

[2018-11-25 19:51] #627 closed

[2018-11-25 19:51] #626 closed

[2018-11-25 19:53] #625 closed

[2018-11-25 19:54] manishrjain commented on #625
I see roughly 20% improvement iterating over a single key with 80 SSTables with this change. Not groundbreaking, but worth it.

[2018-11-25 21:13] manishrjain commented on #618
This commit: https://github.com/dgraph-io/badger/commit/4751ef1180486b0a270988c35606ddbb277eca89 solves the issue.

[2018-11-25 21:13] #618 closed

[2018-11-26 21:31] manishrjain commented on #625
Also introduced a `NewKeyIterator`, which additionally uses bloom filters to eliminate any tables where the key won't be present.

[2018-11-28 22:25] svmhdvn opened #629 "[enhancement] Using WriteBatch with OpenManaged"
I'm trying to do a lot of bulk writes on a managed DB. Currently, WriteBatch uses the unmanaged transactions API, so the only way I can do bulk writes is by managing my own transactions. It would be convenient to be able to use a similar API for WriteBatches with a managed DB, since I need the `commitAt` functionality for other transactions.

[2018-12-01 12:08] zhiqiangxu opened #632 "got oom in production environment (4c8g node)"
Using the latest master branch, got this:

[code]

The total size of sst files is less than 2G:

[code]

Is badger production ready yet?

[2018-12-01 14:11] manishrjain commented on #632
I see this in your stack trace: "panic: send on closed channel"

See faqs.

[2018-12-01 14:30] zhiqiangxu commented on #632
I have no problem with the panic, as I will `db.Close()` when signaled.

[2018-12-02 03:50] manishrjain commented on #632
You can take a memory profile and see what's going on. Also, what are the options you are setting?

[2018-12-02 05:39] zhiqiangxu commented on #632
I'll provide memory profile if it happens again.

This is the options I'm using:

[code]

[2018-12-04 00:08] gitlw commented on #629
Thanks @svmhdvn for raising this. PR submitted and waiting for review from other devs in the Dgraph team.

[2018-12-05 11:09] hvritual opened #634 "use badger has unhappy thing, call tx.Set and call tx.Get, it can't read set data"
`package main

import (
	"encoding/binary"
	"fmt"
	"github.com/dgraph-io/badger"
)

const (
	PidLen     = 8
	SIndexLen   = 1
	KeyLen           = PidLen + SIndexLen
	PTIdLen = 8
	SILen      = 8
	RelValueLen      = PTIdLen + SILen
)

type Relation struct {
	Pid   uint64
	SIndex byte
	PT uint64
	SI    uint64
}

func main() {
	fileName := "./test"
	opts := badger.DefaultOptions
	opts.Dir = fileName
	o

[2018-12-07 04:56] zhiqiangxu opened #635 "reading valuelog is extremely slow even on ssd node"
Here's a modified version of `valueLog.Read`(which just adds timing to it):

[code]

The numbers are:

[code]
So the most time is spent in `h.Decode(buf)`, which decodes the mmap value from ssd disk.

[2018-12-07 05:46] manishrjain commented on #632
Go is only using 3GB, as per the memory profiler.

[2018-12-07 14:20] heidawei opened #636 "Concurrent Writing Causes Continuous Memory Growth"
in func (o *oracle) decrRef(){} ，the oracle refCount will be not == 0 for a long long time in concurrent，it will cause memory growth

[2018-12-08 18:52] xiang90 opened #637 "Multiple iterators in one read-write transaction"
I wanted to try badger as an alternative backend for etcd.

We currently manually manage the transactions. And inside one read-write transaction, a few routines might acquire read lock and block writes to iterate the key space inside one transaction. I think this is probably also safe in badger? But the internally, we track the number of iterators and block opening new ones?

[2018-12-08 19:06] xiang90 commented on #637
Well, we can separate the read transaction. I see the new code support multiple iterators for ro transaction already: https://github.com/dgraph-io/badger/blob/master/iterator.go#L394

Looking forward to the new release.

[2018-12-08 22:20] vtolstov opened #638 "MergeFunc to append/overwrite part of key data"
does it MergeFunc suitable for this use-case?
1) i have key name A with value []byte("test") (value = "test")
2) i want to append value of key A with []byte("TEST") (value = "testTEST")
3) partially overwrite value of key A with []byte("data") (value = "dataTEST")

also how can i pass for example offset to write new data?

[2018-12-09 02:04] #637 closed

[2018-12-13 04:07] Stebalien opened #641 "Opening, reading, and then closing the datastore is slow"
It looks like a lot of time is being spent in `compactBuildTables`.

[code]

[code]

[2018-12-13 04:10] Stebalien commented on #641
By "slow", I mean it's hanging for ~.5s.

[2018-12-13 19:28] waroo opened #643 "Cannot acquire directory lock"
After terminating my server and restarting it I get the error:
`Cannot acquire directory lock on "/tmp/badger". Another process is using this Badger database.: resource temporarily unavailable`

I've tried deleting the "/tmp/badger" directory but the error still persists.

I've read reference to a "LOCK" file in previous issues but cannot find it.

[2018-12-13 21:45] vtolstov commented on #638
what do you think?

[2018-12-13 22:00] manishrjain commented on #638
Badger and LSM trees in-general are immutable. When you "set" something, that is an append-only operation, which can shadow a previous version of the key.

You could use MergeFunc, it just consolidates multiple versions and writes a new version of the key.

[2018-12-13 22:34] vtolstov commented on #638
thanks

[2018-12-13 22:34] #638 closed

[2018-12-14 01:04] waroo commented on #643
Figured it out.  My server is trying to init the database twice.

[2018-12-14 01:04] #643 closed

[2018-12-15 02:59] manishrjain commented on #641
Compactions can and will take time. Badger can have millions of keys in a single table, and therefore, to compact it with 10 more tables in the next level, does take time. Compactions, however, run in the background and don't cause much impact on the live path of data loading or querying.

When you close Badger, it causes some extra compactions to prepare the DB for efficient querying, so Close ca

[2018-12-15 03:04] manishrjain commented on #636
Oracle stores a map[uint64]uint64, which is pretty cheap. In almost all the cases, there are typically some tiny windows where no txn is going on, and this map can be removed -- so this concern seems theoretical in nature. I doubt we need any more mechanism than the existing one.

[2018-12-15 03:07] manishrjain commented on #635
As you mentioned, it is `h.Decode` which is taking most of the time. I'm not sure what we can do to further optimize `h.Decode`. It already is pretty efficient. If you have ideas, let me know.

[2018-12-15 03:12] manishrjain commented on #634
This works:

[code]

You need to ensure that the byte slice to `Set` is not overwritten. The ownership of the byte slices must be transferred to `Set` function.

[2018-12-15 03:12] #634 closed

[2018-12-15 03:14] #632 closed

[2018-12-15 03:15] manishrjain commented on #629
@svmhdvn : You can also use the `TxnWriter` available in Dgraph: x/badger.go, if you're going to use this for a Dgraph binary.

[2018-12-15 03:16] hvritual commented on #634
ok, I konw。Set is not finished, but next loop is overwritten. thank you

[2018-12-15 22:33] Stebalien commented on #641
Is there any reason to do this on close? Pausing/hanging on close tends to frustrate users. Is this so that users can get efficient queries when opening the database in read-only mode?

[2018-12-16 00:17] manishrjain commented on #641
Yes. Open and close are lot rarer compared to reads and writes.

[2018-12-16 00:31] Stebalien commented on #641
That depends on the use-case. For example, a small command-line utility invoked from a shell script will repeatedly open, do one operation, and then close the database.

Unfortunately, IPFS does exactly this when run in "local" mode. That is, we have two modes of operation:

* daemon: we start a daemon that opens the repo and then services requests over an HTTP API.
* local: instead of running a d

[2018-12-16 03:41] Stebalien commented on #641
There's a lot of *existing* data but little new data. By "a lot" I mean 12GiB and 400K key/value pairs. Unfortunately, I can't replicate this with a *new* (smaller) db.

Should this process scale with the size of the database or the amount written since the last compaction?

[2018-12-16 04:01] manishrjain commented on #641
Only the new data needs to be pushed down, i.e. Compacted. Also note that this is happening all the time in background as well. So, how much needs to be done at close varies.

[2018-12-16 17:05] vtolstov opened #644 "3 hdd and 1 ssd disk, how to deal?"
I have server with 3 hdd and 1 ssd, i want to store data in hdd, but value log in ssd (to speedup writing).
Very simple case - create 3 instances of badger for each hdd and create dir for each on ssd.
Can it possible to something else to have space from different disks but use only one single ssd for value log?

[2018-12-16 20:39] manishrjain commented on #644
Not sure I fully understand the question. Have you looked at options? Allows lsm tree storage to be different from value log.

[2018-12-16 20:41] vtolstov commented on #644
Yes, but i want to use one badger db instance and have ability to write data to 3 disks. Does it possible to implement something like selector for path based on key?

[2018-12-17 02:16] manishrjain commented on #644
No. That's not possible. You'd need to set up a Raid array, or some file system which can span multiple hard disks.

[2018-12-17 06:00] heidawei commented on #636
I do not think so, when I new txn and set KVs with batch and commit in concurrent writing case, I write 100000W KV to badger, I see the memory grow......, use go tool pprof heap, I see oracle map has a lot of memory, the GC will be problem

[2018-12-17 17:44] shazow commented on #641
Would it be possible to have an option to avoid compaction, unless some trivially-computed metric is reached that forces it?

This way projects that have both a daemon mode and a one-shot mode, they can avoid compaction during one-shot runs unless absolutely necessary.

I was also evaluating using badger for another one-shot cli project but was concerned about the added latency.

[2018-12-18 01:32] manishrjain commented on #636
If you think memory growth is a problem, you could add some blockers in your code, which would pause new transactions, until there's no pending txn. And then it can run txns immediately. That would allow Oracle to discard its map.

[2018-12-19 04:45] heidawei commented on #636
good idea，thank you

[2018-12-19 04:45] #636 closed

[2018-12-19 04:45] #644 closed

[2018-12-19 04:47] manishrjain commented on #641
This PR adds an option to skip force compaction of Level 0 on close. It should help.

https://github.com/dgraph-io/badger/pull/645

[2018-12-19 04:47] #641 closed

[2018-12-20 02:58] Stebalien commented on #641
Thanks! I'm not sure if that'll work for go-ipfs when run in "offline" as we'll need to make sure the database is compacted eventually.

However, it might be worth adding that to IPFS when run as a daemon (where we expect IPFS to be online long enough to compact in the background). That could speed up shutdown there.

[2018-12-20 03:32] manishrjain commented on #641
Irrespective of whether the option is set or not, Badger would do any compactions that are necessary, as levels exceed their max size. This option only would avoid an extra (forced) compaction that we were doing to move everything from L0 -> L1 (even if L0 does NOT exceed its max size).

[2018-12-20 04:03] Stebalien commented on #641
Awesome!

[2018-12-23 07:41] pbudzik opened #649 "WriteBatch.Set to support TTL"
Could this get added?

[2018-12-28 21:58] vtolstov opened #654 "example of using new backup and stream features"
i see that badger now have new backup/restore system. Can you share some example how to use it via providing version?

For example if have etcd and in the moment some server with badger is down, and after that again running?

[2018-12-30 23:11] adamflott opened #657 "Make Logger interface per database"
Right now, the Logger interface is at the package level, I'd like it to be at the database level so I can have different databases with different loggers.

[2018-12-31 21:45] #649 closed

[2019-01-03 02:07] manishrjain commented on #635
We're planning to add an LRU cache to Badger. But, that won't necessarily still fix the issue that you're talking about. Anyway, I'll create another issue to track LRU cache in Badger.

[2019-01-03 02:45] manishrjain opened #663 "Introduce LRU cache in Badger"
Could work at 2 levels:

- Cache SSTables in memory, based on frequent access. Though, that might just be the same effect as doing mmap over the tables.
- Cache values which lie in value log. This could be useful in that it can avoid disk seeks. We don't need to cache values which lie in the LSM tree, considering SSTables are already either in RAM or at least MMapped in most cases.

The question i

[2019-01-03 02:47] manishrjain commented on #536
Sorry, that's not a priority right now. Badger is supposed to be used by folks who're already using Go. So, they should be comfortable using `go get` to get the binaries.

[2019-01-03 02:47] #536 closed

[2019-01-03 10:32] pbudzik opened #664 "Endless loop on DB.Close()"
badger 2019/01/03 11:26:37 INFO: Storing value log head: {Fid:0 Len:42 Offset:53}
badger 2019/01/03 11:26:37 ERROR: Failure while flushing memtable to disk: : open /tmp/ii2/data/test_1546510662/000001.sst: no such file or directory. Retrying...
badger 2019/01/03 11:26:38 INFO: Storing value log head: {Fid:0 Len:42 Offset:53}
badger 2019/01/03 11:26:38 ERROR: Failure while flushing memtable to disk

[2019-01-03 19:03] manishrjain commented on #664
It looks like your `/tmp` might have been cleaned, so the directory or the file is no longer there.

[2019-01-04 00:01] martinmr commented on #623
This is fixed by #662

[2019-01-04 00:01] #623 closed

[2019-01-04 06:57] pbudzik commented on #664
Seems like a good guess, but nope. I've just tried another directory with the same exactly behavior. It turned out to be a bug in my code, but maybe badger should recover and panic/exit. For sure no process deleted files, so likely some unsafe concurrent operation messed that up.

[2019-01-04 07:52] zhiqiangxu commented on #635
Glad to hear that!

[2019-01-04 20:18] vrischmann opened #671 "panic in fillTablesL0"
Hi,

I just encountered this panic:

    panic: runtime error: makeslice: len out of range

    goroutine 26016 [running]:
    github.com/dgraph-io/badger.(*levelsController).fillTablesL0(0xc00014e000, 0xc00005dd08, 0x0)
            /home/vincent/dev/go/pkg/mod/github.com/dgraph-io/badger@v1.5.5-0.20190104015325-f796303af5fc/levels.go:546 +0x237
    github.com/dgraph-io/badger.(*levelsController).

[2019-01-04 20:49] vrischmann commented on #671
I logged some more information inside the `fillTablesL0` function:

    time="2019-01-04T20:45:56Z" level=info msg=table filename=/data/logs/011518.sst id=11518 size=220155029
    time="2019-01-04T20:45:56Z" level=info msg=table filename=/data/logs/011519.sst id=11519 size=220158688
    time="2019-01-04T20:45:56Z" level=info msg=table filename=/data/logs/011520.sst id=11520 size=220160680
    time

[2019-01-05 01:47] martinmr commented on #657
Fixed by #659

There's still a global log but you can override it in each database (by changing the Logger field in the Options).

[2019-01-05 01:47] #657 closed

[2019-01-05 02:03] adamflott commented on #657
Awesome! Thank you so much!!

[2019-01-07 19:21] vrischmann commented on #671
I think this table is the problem:

    time="2019-01-07T18:54:47Z" level=info msg=table biggest="[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]" filename=/data/logs/011517.sst id=11517 size=416 smallest="[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

and its hexdump

    00000000  00 00 00 19 00 0f ff ff  ff ff 00 00 00 00 00 00  |................|
    00000010  00 00 00 00 00 00 00 00  00 00 00

[2019-01-08 06:58] ogami-daigoro opened #675 "RunValueLogGC does't work"
In v1.5.4, `RunValueLogGC` seems not work as I expect

[code]

[code]

In test code I set `ValueLogFileSize` to be smaller (but > 10MB) for making some *.vlog files,
and set `ValueThreshold` to be larger so that all values should not be  in vlog.

Also `Set` in one `Update` and `Delete` in another `Update`, and loop it.
So finally no data exists.

I guess at least some of *.vlog files should be re

[2019-01-08 14:30] ogami-daigoro commented on #675
Sorry already solved.

[2019-01-08 14:30] #675 closed

[2019-01-09 02:39] zhiqiangxu commented on #663
I think "Cache values which lie in value log" is the way to go:)

IMHO the most difficult point is to maintain data consistency when introducing cache.

[2019-01-09 12:57] dmibor opened #676 "Very slow DB.Open after a crush"
_on Master branch_

After process using badger crushes, the following DB.Open() starts to replay whole value log from very beginning:
[code]
That takes 1,5 hour even for relatively small db of ~40GB, rendering it unusable when DB size grows

Is there anything I can do to avoid replaying everything in the cases when proper DB.Close() not always feasible? and persist intermediate value log state?

_

[2019-01-09 20:44] zorino opened #677 "badger restore - doCompact errors"
When I restore a backup file I get a lot of :

ERROR: Error while running doCompact: Unable to fill tables for level: 0 (or 1)

Is this a normal behavior ?

Thank you

[2019-01-10 02:38] dmibor commented on #677
+1

See the same thing when opening DB after process using badger crushes, together with very long value log replay.

[2019-01-10 08:07] #676 closed

[2019-01-10 21:35] vrischmann opened #678 "failure in newLevelsController ending in a fatal error"
Hi,

I'm currently unable to use my badger db because of [this](https://github.com/dgraph-io/badger/blob/master/levels.go#L136-L140) fatal error.

Here's the log:

    time="2019-01-10T21:15:25Z" level=fatal msg="Level validation: Levels Controller: Inter: \"\\xde\\x01g\\x9d\\xa50`\\x99F\\xe8\\\"k\\xc7tM\\x0f\\xd4\\xff\\xff\\xff\\xff\\xff\\xfb\\x8dn\" vs \"\\xde\\x01g\\x9d`n\\xd0\\xe4b\\x94z\\xd2\

[2019-01-11 02:49] manishrjain commented on #677
Yes, this is normal behavior.

[2019-01-11 02:49] #677 closed

[2019-01-11 02:56] manishrjain commented on #671
It's really bizarre that your table boundaries are nil arrays. Do you reckon something external to Badger might have modified these files?

For that matter, we should checksum these tables and store them in MANIFEST -- or as the last few bytes of the tables, so we can ensure they haven't been accidentally modified.

[2019-01-11 03:00] manishrjain opened #680 "Store SSTable checksums"
We should checksum SSTables as they get built, and store them as the last 4/8 bytes in the tables, or as an additional field in the manifest.

That way, if the tables got their bits flipped, we'd know. We can make the `badger info` tool do the checksum matches.

#671 seems like it could be due to a data change in `.sst` file.

[2019-01-11 03:00] manishrjain commented on #678
What version of Badger are you on? And, is there a way we can reproduce this issue at our end?

[2019-01-11 03:06] manishrjain commented on #635
Not sure if you think we can do anything else here. Feel free to reopen if you have specific ideas for speeding things up.

[2019-01-11 03:06] #635 closed

[2019-01-11 03:06] manishrjain commented on #635
One thing to try is to set your GoMaxProcs to 128 or so, as recommended in README.

[2019-01-11 05:46] dmibor opened #681 "Possible bug in WriteBatch"
Trying to use single WriteBatch to write multiple times with periodic flushing - from the way code looks and synchronized it is designed for it, but have errors returned that I'm trying to use discarded transaction.

Think there might be a bug here
[code]
Seems to me there is no value in discarding txn here, since when commit is done here:
[code]
it will discard commited txn inside CommitWith and

[2019-01-11 06:01] manishrjain commented on #681
Flush() is not called right after `commit()`. Commits happen all the time, Flush only happens at the end of the program. Not a bug, it's designed to act that way.

[2019-01-11 06:01] #681 closed

[2019-01-11 06:01] manishrjain commented on #678
I could see this issue when I killed Badger. Not sure why it's happening. Haven't seen it ever before. Seems like a new bug.

[2019-01-11 09:42] vrischmann commented on #671
I'm not sure what external process would have modified the files because the database lives on its own server which does nothing else, but maybe I did something somewhere which messed it up.

What I know is that I killed my program while the database was being opened a number of times (I'm testing my program on this database) and after sometime I got this.

However, right now I'm unable to reprodu

[2019-01-11 15:09] vrischmann commented on #678
I'm on [your branch](https://github.com/dgraph-io/badger/tree/mrjn/try-to-speed-open) which speeds up `Open`.

Here's a [repro program](https://gist.github.com/vrischmann/bc6b52586aa83d433b734424f2ef54b7).
I ran it/killed it a couple of times until now where I have around 30Gib of data, I tried to relaunch it and it failed with this error:

    badger 2019/01/11 16:02:48 INFO: Opening file: /home/

[2019-01-11 16:43] vrischmann commented on #678
Ok I've been trying now for 15 minutes and I'm unable to have the crash using `master`.

[2019-01-12 21:57] manishrjain commented on #678
I've been seeing it as well. Could be due to my branch. Trying to reproduce with the latest master.

[2019-01-12 22:53] manishrjain commented on #678
Yeah. Can't reproduce it on master.

[2019-01-12 22:53] #678 closed

[2019-01-13 01:40] manishrjain opened #683 "Quick way to drop all keys with a certain prefix"
We now have a `DropAll` API, which can drop all the tables from LSM tree, and log files from value log. It contains mechanisms by which we can pause writes and compactions, and alter the tree. We use this to provide a `Flatten` API as well.

We can use these mechanisms to rewrite the LSM tree to drop all the keys with a certain prefix, without using delete markers. That'd be great to provide an id

[2019-01-15 03:36] manishrjain opened #684 "Live stream Badger updates"
We should have a way by which we can live stream updates to Badger as they happen. There can be an option to restrict it to certain prefixes as well. This would be useful in Dgraph for giving users access to updates as they happen in the Dgraph cluster.

P.S. If we put some ads in between the updates, we can build YouTube TV. The longer the ads, the closer we get to the goal.

[2019-01-16 12:06] lni opened #685 "Goroutine leak"
Code at github.com/dgraph-io/badger/y/watermark.go:203 is copy and pasted below

It seems to me that there is no way to terminate the loop. this is causing goroutine leaks in my testing.

[code]

I tried to read the code, but the comments are a bit confusing. It talks about raft proposals, could you please help to have a look and confirm whether badger uses raft internally? Thanks.

[code]

[2019-01-16 17:01] zorino opened #686 "Key Value separation (.sst, .vlog files)"
I was wondering why is there many values appearing in the .sst files as well as keys in the .vlog files.

I thought the key / value separation based on the WiscKey paper would also reflect in those files ?

Here is the main.go

[code]

And hexdump of the .sst and .vlog files:

[code]

[code]

Thanks

[2019-01-16 19:14] zorino opened #687 "Questions on GC and disk space efficiency"
" DB.RunValueLogGC(): This method is designed to do garbage collection while Badger is online. Along with **randomly picking a file**, it uses statistics generated by the LSM-tree compactions to pick files that are likely to lead to maximum space reclamation. "

Is one run of DB.RunValueLogGC() only process one value file ?

I am a bit concern with the space efficiency of a KV store that will cont

[2019-01-16 21:52] manishrjain commented on #687
https://github.com/dgraph-io/badger#garbage-collection

Badger doesn't. It does do prefix diffing of the keys though.

https://github.com/dgraph-io/badger/blob/a6ef9cff264898ece232760face372bbfe690c96/structs.go#L32

But, what should be looking at is `Options.ValueThreshold`.

Please bring these questions on discuss.dgraph.io.

[2019-01-16 21:52] #687 closed

[2019-01-16 21:54] manishrjain commented on #686
Value log acts also as a WAL, as described in the paper. Also, Value log GC needs keys to determine if the key-value pair is still valid. Therefore, you need the keys to be present in the value log.

[2019-01-16 21:54] #686 closed

[2019-01-16 21:57] manishrjain commented on #685
Watermark is typically used for the entire lifetime of the process. Therefore, we don't have a way to "Close" the watermark and stop the goroutine.

I've modified those comments to make it clear what the mark does.

[2019-01-16 21:59] manishrjain commented on #671
There was a bug in my branch which could had triggered this. I fixed those bugs in the branch and merged to master. If you still see this issue in master, feel free to reopen, or create a new issue.

[2019-01-16 21:59] #671 closed

[2019-01-16 22:01] manishrjain commented on #504
Also see: https://github.com/zippoxer/bow

Closing the issue, because we don't have any plans to build a Storm like toolkit for Badger.

[2019-01-16 22:01] #504 closed

[2019-01-16 22:07] manishrjain commented on #299
There's now a new `flatten` tool and a `Flatten` API which consolidates all the data into a single LSM tree level. Running value log GC after that should be able to reclaim more space.

[2019-01-16 22:07] #299 closed

[2019-01-17 04:50] lni commented on #685
If it is for the entire lifetime of the process, can I ask why it is not shut down when db.Close() is called?

I'd expect that I can repeatedly open and close a DB without leaking any resources.

[2019-01-18 03:19] manishrjain commented on #443
Looks like RocksDB added that recently. So, we should be able to pick a few pointers from them, if possible: https://github.com/facebook/rocksdb/pull/2424

[2019-01-19 21:14] james-lawrence commented on #443
is this currently in progress/is there an ETA? would love to see this would make badger a perfect fit for a project of mine.

willing to put in work testing/helping develop the feature.

[2019-01-20 00:33] manishrjain commented on #685
Should be an easy fix. But, I'm curious: Why are you repeatedly opening and closing DBs? Typically, a process opens it once and uses it for the entire lifecycle of the process.

[2019-01-20 00:46] #685 closed

[2019-01-20 01:09] james-lawrence commented on #443
gotcha, well i'll check in once i get to at rest encryption being the main blocker for my project.

[2019-01-20 03:51] lni commented on #685
@manishrjain thanks for fixing this.

I am building a Raft library, it is available [here](github.com/lni/dragonboat). In my monkey testing, I randomly shutdown and restart Raft nodes to see whether Raft clusters can correctly handle such node failures. That is why I repeatedly open/close DBs.

[2019-01-20 05:02] #680 closed

[2019-01-20 05:10] manishrjain commented on #685
Saw the library, good work! :+1:

[2019-01-20 07:06] lni opened #690 "Invalid record in the MANIFEST file"
When reading the badger code, I saw the following part which loads the MANIFEST file from disk.

https://github.com/dgraph-io/badger/blob/2017987d447a842cb9fe872ad0cceab9a6a93632/manifest.go#L365-L367

This loop goes through all records in the MANIFEST file, each record has a length and checksum value, badger ensures that only records with the expected length and checksum are unmarshaled and appli

[2019-01-20 09:18] Photonios opened #691 "Running Flatten on a small DB results in a panic"
Got a panic here:

https://github.com/dgraph-io/badger/blob/master/db.go#L1226

Because `len(levels) == 0`. I am not sure how to solve this but it can be reproduced by running `Flatten` on an empty DB.

[2019-01-20 17:38] manishrjain commented on #690
Yes. If Badger can't read MANIFEST file, then it wouldn't know the LSM tree levels of the tables. All bets are off at that point and it would need manual intervention to either recreate the MANIFEST or recreate the DB from a backup or something.

[2019-01-20 17:45] manishrjain commented on #446
I'm looking at this change and trying to determine if it's worth working on. It's not clear -- did you see any performance improvement with binary search over the current linear search in blocks? Looking that appveyor links doesn't make it clear.

[2019-01-21 04:04] lni commented on #690
My concern is that the current implementation doesn't return an error when this happens. It seems that users are not notified for such possible corruption.

Maybe just panic and print an error message showing data corruption detected?

[2019-01-24 03:49] ysqi opened #693 "how to set a best config"
hi,
   badger is a great product。 I using  https://github.com/syndtr/goleveldb , but I want to use badger to replace leveldb now.
   so, i don't know how to config badger option. I want use 10GB of memory to achieve optimal read and write concurrency without much consideration for writing to disk.
  environment：  ssd（40GB+20GB disk） + 32GB memory
  thanks.

**my option**
[code]

**Low read perform

[2019-01-24 19:33] dgryski opened #694 "Fix issues with vet on 1.12"
Running the `vet` that will come with 1.12 shows the following issues:

[code]
The first one is:
[code]
Where the `err` that's being checked for nil should probably be `vlogErr`.

The second one is:
[code]

Again the `err` that's being checked for nil is not the `err` that's declared with `:=` in the for loop as that variable is scoped to just the loop.

[2019-01-26 08:10] networkimprov commented on #601
A data-loss bug was already filed when you posted this issue. I'd like to collect my bounty :-)

#563

[2019-01-27 11:18] chetandhembre opened #696 "Is badger distributed?"
Hi,
I just stumble upon badger after reading article how Dgraph using it.
I like what you guys are doing.
I just wanted to know badger as project gives functionality like sharding or replication ?
If it question already asked please link me to that issue.
Thanks.

[2019-01-27 14:13] gedw99 commented on #684
this would be really useful !

[2019-01-28 07:53] Xuanwo commented on #696
No, badger is not a distributed system.

[2019-01-28 15:12] jackmiller334 commented on #675
@ogami-daigoro Hi. I'm currently experiencing something similar. What did you find out about this?

[2019-01-28 16:21] msalcantara opened #697 "improvement README.md"
In example `Managing transactions manually` in README.md has a line example that use Commit() func of Txn struct, and in example is passed a parameter nil, but func commit not receive any parameters.

README.md
[code]

[2019-01-28 18:40] manishrjain commented on #693
You could also set mmap for `ValueLogLoadingMode`.

I think the blocking is happening because a read timestamp waits for all writes which already have a commit timestamp set. This is done to ensure that any previous writes would be visible to the read to ensure serializable snapshot isolation.

https://github.com/dgraph-io/badger/blob/be03c12d2da2e52838d87b8bb289c718c4272e9e/txn.go#L116-L120

If t

[2019-01-28 18:41] manishrjain commented on #696
As @Xuanwo said, Badger is not distributed. It is embedded KV DB.

[2019-01-28 18:41] #696 closed

[2019-01-28 18:43] manishrjain commented on #697
That API was changed recently. The func is now part of `CommitWith`.

Do you want to send a PR for txn.Commit?

[2019-01-28 21:16] jackmiller334 opened #698 "Confusion regarding RunValueLogGC"
Hi guys. I'm running badger version 1.5.3 and I'm hitting some confusion about how the garbage collection works with badger.

The aim of the following test code is to try and test the garbage collection.

To summarise what it does:
- Creates and deletes a bunch of key/value stores in Badger.
- Checks to see if there are any keys stored after insertion and removal
- Produce a number of vlog files a

[2019-01-28 22:21] manishrjain commented on #698
There's only one SST file. The values would only be GCed once the there have been some compactions.

[2019-01-28 23:39] jackmiller334 commented on #698
Thanks for the reply @manishrjain. May I ask what the SST files are for and are they required at all for garbage collection?

Thanks

[2019-01-29 06:58] djdv opened #699 "[Windows] potential directory sync API misuse"
On Windows, I have an SMB share mounted as `Z:`.
Using it as the target directory results in an error
[code]

badger 2019/01/28 23:02:09 INFO: Replaying file id: 0 at offset: 0
badger 2019/01/28 23:02:09 INFO: Replay took: 0s
badger 2019/01/28 23:02:09 WARNING: While forcing compaction on level 0: Unable to fill tables
badger 2019/01/28 23:02:09 INFO: All 0 tables opened in 0s
2019/01/28 23:02:09

[2019-01-29 23:54] msalcantara commented on #697
I would like. Can leave it with me.

[2019-01-30 02:31] martinmr commented on #697
Fixed by #702

[2019-01-30 02:31] #697 closed

[2019-01-30 09:48] burmanm opened #703 "Time sorted compaction.."
As mentioned in the Jaeger PR 760, I would like to propose a time window compaction system for badger also. This is close to what Cassandra provides (TWCS).

Idea is to flush and compact tables based on when they were created. That is, flushing strategy could be something of a configured interval or automatic timing that flushes to the disk the latest data as is always done with the LSM memtables,

[2019-01-30 14:57] shirmanov commented on #411
@MoZhonghua Why the iterating becomes faster when you compress values while values are moved out of LSM tree in Badger?

[2019-01-30 17:50] timshannon opened #705 "Allow multiple iterators in a single Read / Write transaction"
Currently you can only have one iterator on a read / write transaction:
https://github.com/dgraph-io/badger/blob/master/iterator.go#L396

I have a scenario where I would want to read the consistent state of the current transaction before it's committed.  I'm currently getting around this by re-seeking a single iterator, but the ideal situation would allow for using multiple iterators.

According t

[2019-01-31 13:32] LelandSindt opened #707 "Streaming Framework -- Bug -or Poor Implementation -or- Works as Designed?"
At this point I am not sure if I am reporting a bug, or asking for assistance with my implementation of the Badger streaming framework.

I am implementing the example code having replaced proto.MarshalText with an instance of jsonpb.Marshaler and streaming the data over https...

My Implementation
https://github.com/gaussmeter/config/blob/21d22b93d051b98049f94b770a94c32ce7a81c1b/src/config.go#L141

[2019-01-31 14:14] manishrjain commented on #707
Send can be called any number of times. There's no guarantee that only one call to Send would happen.

[2019-01-31 14:36] manishrjain commented on #523
This should now be fixed with the refactoring that happened recently. Badger would replay and truncate files before memory mapping them, this should work in Windows as well.

[2019-01-31 14:36] #523 closed

[2019-02-01 05:19] manishrjain commented on #698
SST files constitute the LSM tree. Only when keys are discarded or become invalid in the SST files, are they removed from the value logs.

[2019-02-01 05:19] #698 closed

[2019-02-05 16:55] drblez opened #708 "TTL not restored from vlog"
If I close program without call .Close, TTL after restore from VLOG has value 0

[2019-02-06 11:02] jpincas opened #709 "Byte-ordered floats - help needed"
I really hope you don't mind me asking this here - this is not an issue with Badger, but I have a feeling you guys will be well placed to help.

I'm working on Tormenta (https://github.com/jpincas/tormenta) which is backed by Badger.  I am creating keys which contain floats which need to be stored in byte-order so I can user Badger's key iteration properly.  I don't have a solid CS background so I

[2019-02-06 18:17] jpincas commented on #709
If anyone is interested - I asked the question on StackOverflow and got a great solution: https://stackoverflow.com/questions/54557158/byte-ordering-of-floats

Here are the functions I use to manipulate the encoded bytes of floats so they are stored in byte order:
[code]

[2019-02-06 18:17] #709 closed

[2019-02-07 14:55] burmanm commented on #703
For the second issue, the actual need comes from the Cassandra use-case, where we saw this type of high-write time series data to cause large amount of compactions and write amplification. I have not ran badger in production. So this is proposal is mostly coming from something learned while running production with other LSM databases (HBase has same compaction strategy copied from Cassandra).

For

[2019-02-09 10:43] thumbsized opened #710 "Add io.Reader to Item"
Hi, I have gobed data stored as values and when I want to read them I have to creaate new buffer, get data from item via Value() function, fill the buffer with the data and then call encoder on the struct.

I think that the Item could match the io.Reader interface so items could be used directly without the need to call the Value() method in cases when such data access is required.

[2019-02-09 15:48] ivanjaros commented on #566
I see the same hing. 11.6 MB file grows to 2GB file when db is running. So freaking weird.

[2019-02-11 01:43] zfLQ2qx2 opened #711 "Example please? Copying one badgerdb to another"
Hello, I was wondering if someone could show me a better way of copying one database to another.

I am iterating through one database and writing a subset of keys to a second database. If I am reading an item and writing it immediately in a single transaction that works - but is incredibly slow (there are 20 million keys/items I am copying, the overhead of doing each one in a separate transaction

[2019-02-11 04:21] manishrjain commented on #711
Use Stream framework and batchwriter.

[2019-02-12 06:01] ysqi commented on #693
thanks @manishrjain , I care about seeing the latest write in my reads.  but all  keys have a fixed prefix, so can support  a prefix lock? or shared lock? the point is reduce lock particles.

[2019-02-13 11:31] MeirionHughes commented on #709
FYI see https://github.com/google/orderedcode

[2019-02-13 11:53] MeirionHughes opened #712 "How to get the Previous key during Seek?"
I'm trying to make a general secondary index k<sup>B</sup>→ k<sup>A</sup> for many prefixed-sets k<sup>A</sup> → V where it is likely to "miss" and needs to return the nearest, i.e. [k<sup>A-1</sup>, k<sup>A+1</sup>]. It is them expected the calling iterator would choose to do interpolation of the values.

My problem is that badger I can't see anything that allows me to get that "previous" key dur

[2019-02-13 16:28] prune998 commented on #535
It's been a long time ago, but we're using badger as a "read only" DB + our own facade and we're running all that in Kubernetes pods.

It sounds like Badger is using a lot of memory, as much memory as the DB size (which is 5gig for us). Memory size then lower when using the FileIO option instead of the MMAP one, but it still require lots of memory to start.
When I say start, it's just "opening the

[2019-02-15 11:52] magik6k opened #714 "Restoring large databases eats up all the RAM"
When trying to restore a large backup, Badger starts taking lots of memory, eventually crashing with OOM.

* Backup size: 107G (11457947 keys)
* System: Linux (4.20.6, Arch), 64G RAM
* Badger commit: 2f797920cab0f95

[2019-02-15 12:12] magik6k commented on #714
Heap dump+binary used around 20-30G ram use - https://ipfs.io/ipfs/QmWxZ2L4vUQX5vBuq7hHgipNDnf3FQFdNvNnPhrAKMWApy

https://ipfs.io/ipfs/QmWxZ2L4vUQX5vBuq7hHgipNDnf3FQFdNvNnPhrAKMWApy/profile001.svg

[2019-02-15 12:14] magik6k commented on #714
I also tried setting `opts.ValueLogLoadingMode = options.FileIO` in `badger/cmd/restore.go` as I had issues with mmaped pages getting locked up in the past, but it didn't help.

[2019-02-15 16:13] manishrjain commented on #714
Based on the heap, it is using around 5GB of RAM, which is not extreme but not ideal either. I think what's happening is that the restore is going full throttle, without any bounds, i.e. it is creating writes, without considering how many are in fly already. We can add a throttle control, so it doesn't create too many pending writes.

Changing this to case over a buffered channel would be the easi

[2019-02-15 16:15] manishrjain commented on #714
There's also the Throttle lib that I wrote, available in y package, which can do this in a better way.

[2019-02-15 16:48] magik6k commented on #714
Might also be worth noting - this ran restoring to/from NFS storage on ZFS HDDs, and the backup file wight have been cached in RAM, so writes could be way slower than reads.

[2019-02-17 07:51] C-ollins opened #716 "nil pointer exception running on android"
Golang version: 1.11
Badger: 2.0-rc1

Creating a transaction results in a crash, same code works fine on iOS
[code]

Crash log
[code]

[2019-02-19 16:56] arctica commented on #526
N-writes based without a timer would mean high chance of data-loss during a crash when there is a low amount of writes.

You usually want a combination of both. Set a min and max for both number of writes and milliseconds. Flush when either of the max conditions or if both min conditions are reached.

Example: min_time=100, max_time=1000, min_writes=10, max_writes=1000

This would mean a flush hap

[2019-02-19 17:07] arctica opened #717 "New release and update changelog"
The last release was 8 months ago and the changelog also has no information as to what changed since then but there have been quite a bit of commits and changes.

Please consider making a new release and updating the changelog.

[2019-02-20 10:38] Asarew commented on #683
I think that this AP would be beter if you're able to specify a range instead of only a prefix. Which would also broaden the use case.

[2019-02-21 14:25] mschoch opened #718 "large database size"
We've been attempting to migrate an application from BoltDB to BadgerDB.  One of the problems we're seeing is that the Badger database is considerably larger (66GB) than the corresponding Bolt database (1GB).

[code]

Our thinking is that reason for the size discrepancy is related to keys being updated repeatedly and the older values staying around.

The application that creates the database is us

[2019-02-21 17:04] manishrjain commented on #718
Hi @mschoch ,

Looking at the summary from `badger info`:

[code]

This indicates that so far there are not enough keys in the LSM tree, to run compactions. Badger supports version access for the keys, so it would only reclaim space from value logs once the key versions are discarded. When SSTable compactions happen, then the `NumVersionsPerKey` setting is considered to discard keys which have mul

[2019-02-21 18:17] mschoch commented on #718
Thanks for the suggestions.

I should clarify that the only place we set `CompactL0OnClose = false` is in the original application.  And I believe this has no effect, as the main application never calls Close anyway.  This causes other problems, and is something we're working on.

However, the other command-line utilities I've run on the same db (after the original main application created it) all

[2019-02-21 19:26] manishrjain commented on #718
Can you confirm that after you do `flatten`, you only see one version per key (for most keys)?

The value log GC picks a file at random to see if it matches the threshold for reclamation. When Badger is running live, the LSM compaction keeps track of which keys were thrown out, and matches them against the value log files. But, it does not persist that information, so in offline mode, the random s

[2019-02-21 19:28] manishrjain opened #719 "Info about keys in the tree"
We need a way to show how many keys are stored per SSTable, and the overall key and value size distribution. We have something similar in `dgraph debug` tool. We can apply that in Badger as well, to show more debug information to the end user.

Could be part of the existing `badger info` tool.

[2019-02-21 19:42] mschoch commented on #718
No, those counts I reported were  *after* running the the `badger flatten` command I showed the output of.

466577 with all versions
74665 only most recent version

[2019-02-22 04:29] manishrjain commented on #718
In live mode, the txn oracle maintains a read watermark, which indicates to the compactor a version below which keys are OK to drop on the floor. I realized in the offline mode (`badger flatten`), this read mark was not being updated, causing older versions of keys to not be dropped during compaction.

I've pushed a fix here: https://github.com/dgraph-io/badger/commit/ac321a801e25bad0979b72e44c111

[2019-02-23 06:14] leedstyh commented on #606
Thoughts on this?

Using badger v2 now, but badger is the only one package not compatible with go module in my app.

[2019-02-23 07:01] wyblyf opened #721 "arm64 environment, Prompt: "function not implemented, Unable to mmap RDWR log file" error!!"
Details：
![image](https://user-images.githubusercontent.com/6084318/53283004-703b8f00-377a-11e9-93ff-3e2a6f680b7e.png)
![image](https://user-images.githubusercontent.com/6084318/53283025-ea6c1380-377a-11e9-9870-8d5cd55a31a4.png)

[2019-02-23 07:13] wyblyf commented on #721
The latest version test result:
![image](https://user-images.githubusercontent.com/6084318/53283178-53ed2180-377d-11e9-9f99-98f87be092db.png)

[2019-02-23 20:14] mschoch commented on #718
I rebuilt all the binaries, but kept working on the same db.  Even the backup/restore/flatten steps did not result in less disk space (still ~66GB).  I do see somewhat fewer keys when visiting all versions now 357880 (was 466577 previously)

I think I'm going to put my effort into getting the main application to call `RunValueLogGC` and tuning the level sizes to hopefully see values getting GC'd.

[2019-02-25 14:11] mschoch commented on #718
OK, we have now updated the main application to perform value log GC in a manner similar to what is suggested in the README:

[code]

By default this will wake up ever 30 seconds, try RunValueLogGC, and keep running it if some progress was made.

Second, we've configured the db with much smaller values for some of the key options you mentioned:

[code]

Also, we're currently using a discardRatio o

[2019-02-25 15:26] mschoch commented on #718
I've modified the utility I was using to count keys and it now also counts up the key and value sizes:

[code]
This seems to support our belief that the live value data is closer to 1GB (680MB counted here).  We of course understand the actual size will be larger, but 62-66GB is pretty far from that.

[2019-02-26 04:01] mschoch commented on #718
I've added some logging to try and understand why badger chooses not to rewrite the files, even though we suspect they are significantly garbage.  These are again done with the offline compaction tool, so selection of a file is random, but that's OK for now.

I believe the decision not to rewrite happens here:

https://github.com/dgraph-io/badger/blob/master/value.go#L1253-L1255

The print from th

[2019-02-26 06:49] manishrjain commented on #718
That's right. The idea was to have a decent sample size. Considering a typical value log would have a million key-value pairs (`ValueLogMaxEntries`), 1000 is 0.1%. Clearly, this doesn't work in your case.

I think we could make the sampling sizes configurable via `DefaultOptions`. Happy to accept a PR to that extent.

[2019-02-26 08:02] xiaozhoz opened #722 ""Unable to mmap RDWR log file: exec format error" on Windows WSL"
Hi,
I am using Windows 10 WSL Ubuntu 18.04.
write a simple code
[code]
it comes with error below
[code]
all files under "./data" are
[code]
All files in windows are execuables, so I cannot chmod them. Any solution for this bug?

[2019-02-26 09:46] milkystan opened #723 "Replace "Rewind" with "Seek" in MergeOperator.iterateAndMerge"
https://github.com/dgraph-io/badger/blob/291295e18f0eca0ea8ca6df9e2725cfe73b4c915/merge.go#L69-L72

The for loop will quit if the first key in db does not valid for prefix.

[2019-02-26 11:57] mschoch commented on #718
Thanks @manishrjain I can take a look at making it configurable.  However, I have one more concern from reading the code.  The comparison made here:

https://github.com/dgraph-io/badger/blob/master/value.go#L1253

[code]

It seems to me this may be incorrectly comparing different units.  The `r.total` field is a sum of entry sizes: https://github.com/dgraph-io/badger/blob/master/value.go#L1196

An

[2019-02-26 17:35] mschoch commented on #718
I've proposed a fix for what I think is the problem here: https://github.com/dgraph-io/badger/pull/724

At least in offline compaction, it works much better for us with this applied.  Testing online behavior now.

[2019-02-27 14:26] mschoch commented on #718
So here is our update attempting to perform online value log GC in our application:

We're running with this patch applied #725

Our BadgerDB options are:

[code]

We invoke `RunValueLogGC` every second with discard ratio of 0.01

What we observe is that while our workload is running, which we know creates/updates large values, the database size still grows as high as 42GB.  That is the peak, even

[2019-02-27 14:40] manishrjain commented on #718
The idea for `Size()` is that every time it grows by a GB (i.e. added a new log file), you could run value log GC. You can also reduce the number of tables in L0, so L0 would compact as soon as it gets the first one. Try `NumLevelZeroTables to 0 or 1`, and `...Stall` to say 1 or 2. That would help aggressively drop previous keys.

We also could persist discard stats, so offline mechanism can also

[2019-02-28 13:55] mschoch commented on #718
Thanks again, setting `NumLevelZeroTables` and `...Stall` to 1 and 2 respectively worked well.  While running the workload we stayed under 10GB (peaks) and closer to 2-3GB much of the time.

And I can now see how using `Size()` will be helpful.  At a minimum it can let us detect when nothing is changing and back off a bit.  I'll need to do some more experimenting to understand how to interpret and

[2019-02-28 14:57] manishrjain commented on #718
Great. Didn't realize you addressed the comments.
Will review #725 today.

[2019-03-01 19:52] sch00lb0y commented on #719
How about storing the number of keys in the table manifest itself, when badger flushes or comapacting.
then we can show the number of keys by reading the manifest.

I would like to pick this one.

[2019-03-03 07:50] jarifibrahim commented on #719
I'm trying to find a good way to count the number of keys per SSTable. The following code snippet shows the number of keys per SSTable per Level (few meta keys also) but it isn't efficient.
[code]

@manishrjain do we store the key counts anywhere?

[2019-03-03 08:09] manishrjain commented on #719
It is just for debugging. It is good enough.

[2019-03-07 18:07] jarifibrahim opened #732 "MemoryMap should be the default option for TableLoadingMode"
Based on the comments in https://github.com/dgraph-io/badger/pull/730#pullrequestreview-210434573

[2019-03-07 20:08] #719 closed

[2019-03-07 20:10] #732 closed

[2019-03-07 23:17] #694 closed

[2019-03-08 00:29] adauhajre commented on #606
this is breaking some of my automation workflow with go modules...can we please fix this?

[2019-03-08 00:58] Stebalien opened #735 "Panic on Get"
I'm seeing some panics when killing go-ipfs on startup. I'm _guessing_ this may have something to do with concurrently(?) closing the datastore. Is that not supported (we could add a read-write lock around everything)?

Let me know what else you need to debug this.

Badger commit 8115aed38f8f8cd248d832f51c27700efc25b201

[code]

Badger commit 75e07ee98a40edd5eba538ca6325a63973444b5d

[code]

[2019-03-08 01:04] Stebalien commented on #735
Nevermind. Apparently this is https://github.com/dgraph-io/badger/pull/437.

[2019-03-08 03:20] h8liu opened #736 "badger/badger/cmd fail to build"
[code]

[2019-03-08 09:23] #736 closed

[2019-03-09 03:40] C-ollins commented on #716
Any solution to this crash yet?

[2019-03-09 03:44] #735 closed

[2019-03-09 03:45] manishrjain commented on #718
Is there anything else needed here?

[2019-03-09 03:45] manishrjain commented on #716
@jarifibrahim -- Can you take a look?

[2019-03-09 03:51] Stebalien commented on #735
(sorry, thought I had closed that)

[2019-03-09 04:07] mschoch commented on #718
I think we're OK for now.  Thanks for your help.

[2019-03-09 04:07] #718 closed

[2019-03-09 08:05] jarifibrahim commented on #716
Hey @C-ollins :wave:, how can I reproduce this failure?

[2019-03-09 20:03] alecthomas opened #738 "Better support for key-only entries"
Hello,

First off, I'm really enjoying Badger, thank you.

I've been implementing secondary indexes by using keys prefixed with the secondary index value (hash, prefix, whatever), followed by the PK. eg. if indexing a numeric field the key for the secondary index might be `<big-endian-int><pk>`. This works well, but I don't need values at all. However Badger still creates quite a lot of data in th

[2019-03-10 02:27] alee792 commented on #606
If you guys are blocked by the tag, a quick workaround would be to reference a branch or specific commit.

[2019-03-10 02:42] manishrjain commented on #606
I've just pushed a new tag v2.0.0-rc2. Hope that works!

[2019-03-10 03:26] mfridman commented on #606
@manishrjain Thanks! Minor nit, `v2.0.0-rc.2` but it'll do as long as you don't exceed `rc10`

[code]

[2019-03-10 19:41] mfridman commented on #606
Looks good, safe to close issue @manishrjain

The `+incompatible` is normal. Indicates project has v2 tag but hasn't opted in to Go modules, i.e., no go.mod file.

[2019-03-11 09:17] cyril-schmitt opened #739 "Inconsistent backup/restore on deleted keys"
Hello,

I have some issue when i use badger. Not sure if it's my fault (bad configuration) or a bug.
here some details.

**What happened:**

When i delete keys and create a backup, after reload fresh backup file, keys are back.

**What you expected to happen:**

I would like have the same "View" result before and after backup/restore.

**How to reproduce it**

With this simple code, View 2 and 3 s

[2019-03-11 09:21] cyril-schmitt commented on #739
**Current Output:**

[code]

[2019-03-11 20:52] codexnull opened #782 "alpha "slice bounds out of range" panic"
A process was inserting data into dgraph when one of the alpha processed died with a "slice bounds out of range" panic. Unfortunately, I have no way of finding out what the transaction was that cause this. The tail of the log is below.

---

I0309 22:08:17.148355       1 node.go:83] Rolling up Time elapsed: 02s, bytes sent: 7.0 MB, speed: 3.5 MB/sec
I0309 22:08:17.422592       1 node.go:83] Rollin

[2019-03-12 03:05] leerspace commented on #615
This is fixed in 68856daada4b64bbb68c1466d70927f42da475b7, right?

[2019-03-12 08:46] sunpuyo commented on #615
Yes, that's exactly.

[2019-03-12 13:39] #615 closed

[2019-03-12 21:16] dhaavi commented on #278
I think I just came across the same error: a `send on closed channel` panic after the database was closed.

But shouldn't this return an error as stated in issue #420?

Here is my stack trace:
[code]

[2019-03-13 04:44] #683 closed

[2019-03-15 14:58] fpessolano opened #740 "Data lost on crash"
I am using default options (thus syncwrite is true), if my server die normally and the database is closed, all data is saved to disk. If the server crashes (or I interrupt it) in a non serviceable manner, no data is written to the disk.
Is there a way to force data to be immediately written to the disk so that no data would be lost in case of a non serviceable server crash?
Thanks

[2019-03-17 06:21] jarifibrahim commented on #740
@fpessolano Badger writes all values (create/update) to the `vlog` first and then processes them. In case of a server crash, the values would be written to the `vlog` and so badger will be able to recover from the failure when it starts the next time.

@mangalaman93 Please correct me if I'm wrong.

[2019-03-17 11:11] mangalaman93 commented on #740
@jarifibrahim looks correct. It also depends whether the call to read, write has been completed before server crashed. If not, the writes may not be visible on disk.

[2019-03-18 08:37] Lpc-Win32 commented on #675
@ogami-daigoro Hi. I'm currently experiencing something similar too. What did you find out about this? Thanks!

[2019-03-18 13:14] manishrjain commented on #740
There's an open bounty for data loss: #601 .

[2019-03-18 13:19] fpessolano commented on #740
Well, I have just covered with recover various crashes as well as system signals interruption since I noticed that data was not being saved to the disk.
There is also a note that this is the normal behavior as data is written only when tablemax is reached, meaning that if a crash recovery is missed, data will be lost. Or at least this is how I read it.

[2019-03-18 13:23] manishrjain commented on #740
The data as @jarifibrahim mentioned, data gets written to value log first. Then makes its way to LSM tree. On a crash, the value log gets replayed. You can test out accessing data via APIs, it would be there. Feel free to reopen the issue, if you can't find it.

[2019-03-18 13:23] #740 closed

[2019-03-18 13:33] fpessolano commented on #740
If the app crashes and I re-open the database again (by restarting the
app itself), the data appear absent.

It might be in the vlog, but if I try to access it, it appear as
missing. Do i need to force vlog reloading on open as well?

On 3/18/2019 2:23 PM, Manish R Jain wrote:

--

Francesco Pessolano

About me: www.linkedin.com/in/fpessolano
My Photography: 500px.com/fpessolano

[2019-03-18 13:42] manishrjain commented on #740
If you can share a code snippet, we can try to identify your issue. Most likely, it is with how you're writing or accessing data, than an issue in Badger itself.

[2019-03-18 13:48] fpessolano commented on #740
Sure, the read snippets is quite basic:
[code]
And the write also:
`
err = db.Update(func(txn *badger.Txn) error {
	var err error
	if ttl {
		err = txn.SetWithTTL(id, a, currentTTL)
	} else {
		err = txn.Set(id, a)
	}
	return err
})
return err
`

[2019-03-19 04:05] Lpc-Win32 commented on #718
@manishrjain @mschoch Hello, I meet the problem same as mschoch‘s.
I have been attempting to migrate an application from LevelDB to Badger. But Badger databases(400G) much better than LevelDB(146G).
I tried the method you discussed above. But didn't solve it.
Here are my codes, please review! Thanks a lot!

[code]

Base on commit deee8c7ae70bab412e4f10cfa068e0be61a8d0eb
Most operations is insert,

[2019-03-19 06:59] Lpc-Win32 opened #741 "badger database size much bigger than leveldb"
I have been attempting to migrate an application from LevelDB to Badger. But Badger databases(400G) much better than LevelDB(146G).
Base on commit deee8c7
Most operations is insert, so I think the matter is not GC's.
Witch options should tuning? Thanks for your help！

[code]

[2019-03-19 08:39] Lpc-Win32 commented on #741
I konw the reason! leveldb used snappy to compress data.
I will try to reduce badger storge size, like leveldb

[2019-03-19 08:40] #741 closed

[2019-03-19 18:02] sarath-ambati opened #742 "Badger reading stale data causing transaction conflicts"
I have a scenario where I would like to increment a value in the badger store. These update can happen concurrently. In the code, I take lock on a mutex, read and increment the value and unlock it. The other go routine, will wait for the unlock and increment the value. But gets a commit error with "Transaction Conflict". Even though the second routine reads after the commit of the first one, the r

[2019-03-20 04:33] auyer opened #743 "Badger seems to be depending on CGO on Alpine Linux"
I'm building a project that uses badger and running it in an Alpine Raspberry Pi. Cross-compilation does not work. Building without installing a C (musl) package does not work either.

OS : Alpine Linux v3.9 aarch64
Host: Raspberry Pi 3 Model B Rev 1.2
GO version go1.11.5 Linux/arm64
Badger version: deee8c7ae70bab412e4f10cfa068e0be61a8d0eb

Trying to build it normally without installing musl-dev :

[2019-03-20 05:03] qweawdqq opened #744 "value log truncate required to run db. this might result in data loss"
value log truncate required to run db. this might result in data loss
Win7 will be prompted
Mac can start normally

[2019-03-20 15:58] zorino opened #745 "Large MaxTableSize and AndreasBriese/bbloom"
When setting a large MaxTableSize of 1024 << 20 I'm getting the following error :

[code]

[2019-03-20 18:52] jarifibrahim commented on #745
@zorino What does `go env` show?

[2019-03-20 20:13] zorino commented on #745
[code]

[2019-03-21 12:10] jarifibrahim commented on #745
It looks like the `bbloom.Size` (https://github.com/AndreasBriese/bbloom/blob/master/bbloom.go#L203)  is trying to create a slice a bigger than what your system supports.
From https://github.com/golang/go/blob/master/src/runtime/slice.go#L37
[code]

@zorino You might want to try with a smaller `MaxTableSize`. That should work.

[2019-03-21 13:36] makitka2007 opened #781 "panic: runtime error: invalid memory address or nil pointer dereference"
not sure if it is already tracked. got it right now on data load on 1.0.14-rc1
[code]

logs are here: https://drive.google.com/file/d/1aGPt9msqDC-iFAA2PzZWTpr4l3XN4_c4/view?usp=sharing

[2019-03-21 20:34] #745 closed

[2019-03-21 20:38] manishrjain commented on #745
You can increase your ulimit. 1024 files are not that many.

[2019-03-21 20:42] manishrjain commented on #744
You might need to enable the Truncate option to get past this. Windows has an issue, that I don't recall right now, which causes Badger to require truncation.

[2019-03-21 21:33] zorino commented on #745
Yeah but that's the problem I cannot set ulimit to more than 2048 since I'm running the creation of the KV stores on grid computers.

If I decrease the LevelSizeMultiplier to 3 would that make less iteration for the compaction ?

I'm trying to build a rather big KV store and my bulk creation is time consuming.

I had to split my data entries (tsv files here) into 10 files of ~10M lines each.

Each

[2019-03-26 05:55] ywui opened #747 "How to compress space?"
look  title, :xd

[2019-03-26 09:24] mangalaman93 commented on #743
Does your package use `cgo`? Could you help with the steps for reproducing it on Ubuntu machine? I did try running `GOOS=linux GOARCH=arm64 go install` which produced a `badger.a` file. Not sure, if that is what you want too.

[2019-03-26 18:19] matthoffman commented on #738
I had a similar question. Given that the value log is separate, is there any chance of providing a secondary index _to the same value?_ I'm assuming that is very difficult with the current design, or else it would already be done, but I thought I'd ask.

[2019-03-27 13:33] alxarch commented on #663
Check out https://github.com/VictoriaMetrics/fastcache also

[2019-03-27 14:18] mangalaman93 commented on #663
We have considered Fastcache, it doesn't do well on hit ratios. Here are the raw results for benchmarks https://docs.google.com/spreadsheets/d/1c5AbsHPh-z6KyxkiBJ4ipNR7U7QVuSmR38fym8NeC50/edit?usp=sharing

[2019-03-27 18:37] ashish-goswami opened #749 "Expose method to sync all writes to disk"
Currently sync writes are controlled by **syncWrites** flag present in **options**. If **syncWrites** is true, all writes to value log are sync. If **syncWrites** is false, all writes to value log are async and only synced while rotating value log file.

To provide more control to the user, badger can provide a method to sync value logs writes whenever required. This can act as intermediate of abo

[2019-03-28 20:43] yangzh opened #751 "Txn.DeleteWithMeta"
first of all, great system: simple design and enable endless possibilities!

I would like to propose the addition of DeleteWithMeta for Txn.

We already have SetWithMeta, and in my own hacking I would like to specify specific user meta to remove, hence a Txn.DeleteWithMeta will be helpful.

For the same reason, a WriteBatch.DeleteWithMeta is also helpful, but to a lesser extent.

I guess that woul

[2019-04-02 20:57] richp10 commented on #740
I have only started looking at Badger today but am not finding it resilient to program crashing.  With simple code similar to above, my app works well..... but if I crash my app (or just stop termination from Goland) the database does not work when I next start it.

In effect I have lost all my database because badger does not recover from the crash.  The only way I can get things working again is

[2019-04-02 21:27] manishrjain commented on #740
You need to turn on the truncate flag from default options, so Badger can truncate the value log slightly to bring it back to the point up until which all the entries are correctly check summed.

[2019-04-02 21:36] richp10 commented on #740
Amazing, that seems to work perfectly.  So perfectly I would have thought this should be the default.. I just searched the main page and I don't think this is mentioned anywhere prominent!..

Anyhow - thanks so much for the pointer, it looks like it takes badger from a bit disappointing to probably the best solution for my app!

[2019-04-03 06:50] fpessolano commented on #740
Badger is pretty good, my apologies for not posting what manishrjain to point out the solution to ym original post.

[2019-04-03 12:13] qinshui-chen commented on #708
same problem

[2019-04-03 12:35] #612 closed

[2019-04-03 14:20] rohanil commented on #739
This is fixed in https://github.com/dgraph-io/badger/commit/ba13ac7f185bab39d8e09c03f74e88014879d764 on master

[2019-04-03 22:38] yangzh commented on #738
It happens I was thinking about the same problem of secondary index.
My thinking:
1. <big-endian-int><pk> with empty values seems to be best: there is no additional value storage, and you can perform another hop (following <pk>) to retrieve the value if needed. This hop (mostly in memory) is presumably cheap. I guess the value log management will be left unchanged.
The memory cost simply doubles (

[2019-04-04 09:10] fpessolano opened #756 "Concurrent writes via update"
Is golang safe for concurrent writes?
I have an application with several threads (can be a very large number) which access the same badger DBS to write. Concurrent writes (only to different keys) can happen.
If I test for races (with -race) I get continuos reports of concurrent write data races.
Is this normal?

[2019-04-04 10:45] ashish-goswami commented on #756
@fpessolano Badger is safe for concurrent writes. You can call **db.Update** method from different threads to write data to badger. Documentation link https://github.com/dgraph-io/badger#read-write-transactions

[2019-04-04 10:53] fpessolano commented on #756
This is what I thought, however go -race reports races for mist badger accesses, should I simply ignore them?

[2019-04-04 11:15] ashish-goswami commented on #756
Can you share example with us?

[2019-04-04 12:57] fpessolano commented on #756
I try even if I cannot disclose much of the code.
Every thread can write on the database but on different locations, it is by construction impossible that they write on badger with the same key. When they need to write they call a function (as function not goroutine) that looks like this:

[code]

The update function is pretty simple:

[code]

Badger works fine, but when I run in debug with -race

[2019-04-04 13:16] fpessolano commented on #756
This is how the DB are declared
[code]

[2019-04-04 21:17] zorino opened #757 "Assert failed in streaming Iterator"
[code]

[2019-04-04 21:24] zorino commented on #757
And 44 .sst files appearing as extra files..

[code]

[2019-04-04 21:28] zorino commented on #757
My stream.KeyToList function
And stream.Send = nil

[code]

[2019-04-05 14:17] #708 closed

[2019-04-05 14:18] #749 closed

[2019-04-08 13:14] treeder opened #758 "Support Go modules for v2"
Could you add a `go.mod` and update imports for v2 so we can use the v2 releases release candidates with modules?

https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher

[2019-04-09 01:44] drew-512 opened #759 "'compaction on level 0' warning explanation?"
First, allow me say how awesome it is to be using Badger and what a privilege to have such a badass db engine be FOSS.  Many thanks!

Sorry if this is a repeat question, but can anyone explain what is likely happening and why I see the below message?

`WARNING: While forcing compaction on level 0: Unable to fill tables`

I comes consistently after I make a new db and only add a couple k-v pairs.

[2019-04-09 01:45] manishrjain commented on #759
Thanks!

That's a normal thing, no need to be worried about this "error." It just means that when trying to compact level 0, we couldn't find enough tables to cause a compaction.

[2019-04-09 02:04] #744 closed

[2019-04-09 02:20] drew-512 commented on #759
Ok cool, thanks. ;)

When I see "warning" it means "notable cause of concern" to me.  This looks more like an "info" level of concern and I guess we'll have to get used to that shift.

[2019-04-09 09:05] manishrjain opened #760 "Throttle the number of pending txns in WriteBatch"
Currently, WriteBatch can create too many pending txns, which can cause memory issues. Instead, we should add a method `SetMaxPending(max int)` (default to 100 maybe), which can be enforced via `Commit` and `callback` using `Throttle`. In fact, Throttle can be used to simplify the internals of WriteBatch.

[2019-04-09 09:09] manishrjain commented on #760
We also need Throttle in `db.Load` method for similar reasons.

[2019-04-09 10:03] manishrjain commented on #757
Hi @zorino , can you give some context about how did the directory get to a place where it has 44 SSTables which are invalid? Did you happen to merge two different Badger directories?

[2019-04-09 14:04] zorino commented on #757
Hi @manishrjain ,  no I did not manually merged two Badger directories.

What I am doing is iterating over all key / values, when there is multiple versions (values) for the same key (if nbOfItem > 1 in KeyToList func), I am merging those values into a new one and passing this new K/V to another go routine which is gonna insert this new KV into the store with the option DiscardPreviousVersion.

Is

[2019-04-09 16:46] ashish-goswami commented on #757
@zorino this should not be an issue here as stream uses separate transaction for iteration.

[2019-04-09 21:27] tsellers-r7 commented on #760
As a note, this looks related to the other P0 Issue
https://github.com/dgraph-io/badger/issues/714

[2019-04-10 09:40] jarifibrahim commented on #742
@sarath-ambati A transaction relies on last read timestamp. Transactions in badger can run concurrently (provided they do not modify the same key)

If you create the transaction after acquiring the mutex, it would work fine. This ensures that the transaction sees up-to-date data
[code]
You could also try creating one transaction and then performing all the operations inside it.
[code]

You can use

[2019-04-10 10:31] jarifibrahim commented on #508
@manishrjain What kind of information do we want to show to the user? Do we want a complete dump of database, like a list of `key => value`?

[2019-04-10 11:56] jarifibrahim commented on #739
@cyril-schmitt Looks like this issue has been fixed. I ran your script against the latest master and couldn't reproduce the issue.
[code]
Can you please try the latest master?
I'm closing this issue for now. Feel free to reopen the issue if you encounter it again.

[2019-04-10 11:56] #739 closed

[2019-04-10 11:57] jarifibrahim commented on #747
You can try running the garbage collector https://github.com/dgraph-io/badger#garbage-collection

[2019-04-10 14:08] manishrjain commented on #508
Have a look at Dgraph debug. We need something similar.

[2019-04-11 12:53] jarifibrahim opened #763 "L0 Compaction in ReadOnly Mode fails with bad file descriptor - Manifest File"
Steps to reproduce
[code]

Outputs
[code]

We should set the `CompactL0OnClose` to `false` if badger is opened in `readonly` mode.

[2019-04-12 15:48] magik6k opened #767 "Deleting values and running GC doesn't reclaim space"
I was trying to get Badger GC in go-ipfs to reclaim space, but it didn't seem to work, so I've wrote this rather basic test case to see if it works in the simple case of keys being added, then deleted, and GC ran:

https://gist.github.com/magik6k/8c379cc02b443495e4809170fb8803a9

EDIT: gist / results updated as I discovered that I was calling Delete on wrong data...

These are my (reproducible) re

[2019-04-14 22:55] justinfx opened #768 "Cause of slow iterator rewind and seek?"
_I tried to ask this first as a[ question on Slack](https://dgraph.slack.com/archives/C13LH03RR/p1554966386015300), but it hasn't gotten any replies_

My service has modular support for both BoltDB and more recently for Badger. I have some stats gathering logic that periodically wants to look up the first and last item for a prefix keyspace. I'm seeing a pretty huge performance difference between

[2019-04-15 02:00] justinfx commented on #768
I did some extra pprof profiling, and the big hit in CPU time is:

1. `runtime.mallocgc`
1. `badger.Iterator.Seek` => `b.Iterator.prefetch()` => `b.Iterator.parseItem()`
1. `b.(*blockIterator).Key()`
1. `b.y.elemHeap.Less()`

[2019-04-15 10:20] jarifibrahim opened #769 "TestSyncForRace test fails on windows with Access is Denied error"
Running the `TestSyncForRace` test
[code]
on a windows machine fails with
[code]

The test works fine on linux but fails on windows.
See build logs https://ci.appveyor.com/project/manishrjain/badger/builds/23850505?fullLog=true

[2019-04-15 13:21] jarifibrahim commented on #768
Thanks for reporting this @justinfx.

What do you mean by a single keyspace? Are all the keys prefixed (like foo1, foo2, foo3)?

[2019-04-15 14:13] jarifibrahim commented on #768
@justinfx I ran the following code snippet and the iterator seems to be fast enough. Am I missing something?
[code]
and this gives me
[code]

Your issue could be related to CPU or memory. How much memory does your system have? What CPU are you using?

[2019-04-15 23:44] justinfx commented on #768
Thanks so much for putting together a test case. You are right that I don't get the same performance issues with this case. I've been trying to rewrite your case to match my application as closely as possible. First let me start with some of the test specs:

- go 1.12.1
- Ubuntu 16.04
- 8 core Xeon, 16.5GB free ram
- Local disk for test
- Badger 1.5.4 (not 2.0rc as per your test)

Here is my modif

[2019-04-16 01:46] justinfx commented on #768
I noticed that in your sample output, your badger 2.0.0 test is doing a compaction on Close, which my default 1.5.4 options don't seem to be doing? I tried my same against HEAD (2.0.0rc) and after the first slow run it performed a compaction. Then the second run I got faster timing:

[code]

It is still not very fast, but after the compaction it was able to start up very quickly, and then the rewi

[2019-04-16 06:05] #763 closed

[2019-04-16 07:45] jarifibrahim commented on #767
@magik6k Thanks for reporting this. I ran your test script and it looks like the GC didn't work (even with 0.01 discard ratio). Let me dig deeper and get back.

[2019-04-16 23:56] noahdesu commented on #705
This would be useful to have. For example, to do basic merge-join in a transaction.

[2019-04-17 22:16] zjshen14 opened #772 "OOM when writing to badger"
Code snippet: https://gist.github.com/zjshen14/c572dcc68bd707dab9d182eeb742c508
Error stack: https://gist.github.com/zjshen14/3b503d1cf464a4a52e78901d0fd9bf02
Version: v2.0.0-rc.2 (as well as v1.5.4)

Crashed when the db footprint on disk grew to 55G.

Is it a bug?

And how to tune the option to walk around?

[2019-04-17 22:18] zjshen14 commented on #772
Is it related to https://github.com/dgraph-io/badger/issues/767?

[2019-04-19 08:26] chernomyrdin opened #774 "Txn.SetEntryWithDiscard"
First of all,
great system: simple design and enable endless possibilities!

I would like to propose the addition of SetEntryWithDiscard for Txn. Or somethig else fo set meta bit `bitDiscardEarlierVersions` in Entry.
For the same reason, a WriteBatch.SetEntryWithDiscard is also helpful, but to a lesser extent. I guess that would be very straightforward to implement.

Thanks again!

[2019-04-19 08:56] ashish-goswami commented on #774
@chernomyrdin Thanks for raising the issue. We already have **SetWithDiscard** for Txn, which is similar to what you are proposing. However we don't have this in **WriteBatch**.
Feel free to raise a PR if possible.

[2019-04-19 10:10] chernomyrdin commented on #774
I need save to database Entry with TTL and DiscadEarlierVersions at one time.
first variant code:
[code]
or second variant:
[code]
What code style preferred?

[2019-04-19 14:22] ashish-goswami commented on #768
@justinfx Badger is append only system. If you insert same key multiple times, every time it will be inserted with different version. Old versions are removed after compaction(you can also keep versions).
I tried to run the program provided by you, it is running faster on my machine. Number of keys in DB is in millions. Looking at the system configuration provided by you, it should run faster on y

[2019-04-19 14:29] ashish-goswami commented on #774
@chernomyrdin ExpiredAt is exported field and hence can be set directly using dot operator like **e.ExpiredAt = time.Now().Unix()**

[2019-04-19 15:37] jarifibrahim commented on #772
@zjshen14 I ran your script for more than 2 hours and it didn't crash for me. In my case, the db footprint was about 100G
[code]

There a couple of things you could try. See https://github.com/dgraph-io/badger#memory-usage

How much ram does your system have?

[2019-04-19 15:58] jarifibrahim commented on #759
@drew-512 The error message was fixed in https://github.com/dgraph-io/badger/commit/291295e18f0eca0ea8ca6df9e2725cfe73b4c915#diff-7a117cbfd5485ed35efcbb2995c37aa0R378 commit. On newer versions of badger, you won't see this warning.

Closing this issue. Feel free to reopen.

[2019-04-19 15:58] #759 closed

[2019-04-19 16:13] jarifibrahim commented on #772
I don't so. #767 seems like a different issue to me.

[2019-04-19 16:34] zjshen14 commented on #772
@jarifibrahim

I'm using c5.xlarge, which has 8GB mem. and I have a 100G disk with 300 IOPS provisioned. I could quite consistently hit OOM, though the disk size was different when the process got crashed.

Will take a look

[2019-04-19 19:38] justinfx commented on #768
My application runs on a VM hosted in an on-prem vsphere. The storage may or may not be ssd but it's running out of its local block storage as opposed to the nfs mounts.
As for these timing tests in this ticket, I am running against local disk but I will have to confirm if it is ssd. It may be a spinning disk.

But like I said, I noticed a behavioral difference between badger 1.5.4 and 2.0.0rc whe

[2019-04-20 01:05] zjshen14 commented on #772
I used  FileIO option: https://gist.github.com/zjshen14/d6537c94c486006bb2a14635a1484234

It will still crash, but silently.

[2019-04-22 06:00] achille-roussel opened #776 "Custom comparison function"
Hello,

Today the key comparison function used by the database is bytes.Compare. In cases where we're dealing with fixed-size integer or ascii keys this makes a lot of sense, but I have a use case for using variable size integers as keys (similar to big.Int), and the order of the keys as defined by bytes.Compare is not the natural order of the integer values.

I'd like to explore modifying the pac

[2019-04-22 08:32] xuemao opened #777 "DropAll doesn't work properly"
I made a very simple test as follows:
1. Use badger.Open to create a DB in a local directory. Write some data into it and then make a query, make sure the data is read out correctly.
2. Use badger.Close to close the DB. And then use badger.OpenManaged to open the DB by passing in the same directory. Run DropAll and then Close on the managed DB.
3. Use badger.Open again and run the same query. In t

[2019-04-22 08:34] tpihl commented on #777
I think DropAll only is available for Managed mode. I ran into the same issue. Wrote my own :)

	err := db.Update(func(txn *badger.Txn) error {

		opt := badger.DefaultIteratorOptions
		opt.PrefetchValues = false

		it := txn.NewIterator(opt)
		defer it.Close()

		for it.Rewind(); it.Valid(); it.Next() {
			key := it.Item().KeyCopy(nil)

			err := txn.Delete(key)
			if err != nil {
				return err

[2019-04-22 16:25] jarifibrahim commented on #742
@sarath-ambati I think the comment above answers all your questions. Can we close this issue?

[2019-04-23 06:37] jarifibrahim commented on #777
@xuemao `DropAll` seems to be working fine for me. Take a look at the `drop_all.go` file below. I load the DB with 1 million Key-values and then ran `DropAll` on the same DB. The `SS Tables` and the `value log` files were removed.
[code]

@xuemao Can you try running `DropAll` once again? I guess it will work, if not, please help me with a script to reproduce your issue.

[2019-04-23 06:40] jarifibrahim commented on #777
@tpihl `DropAll` should work in both, managed and unmanaged mode. The script you have provided would insert more entries into the database. `Delete` entries are also added to the database, they are stored with a delete marker. If you wish you clean up all the key-values and associated files, I suggest you use the `DropAll` API.

[2019-04-23 07:02] xuemao commented on #777
@jarifibrahim , I think the difference is that I did all the steps I described in my post in one script execution (one process). It's like

[code]

I made a work-around by deleting the whole db data folder instead of using DropAll like this:

[code]

And it works well. When I open the Db again, no data is returned from the query.

BUT very interestingly, if I don't remove the whole dir, instead re

[2019-04-23 08:58] jarifibrahim commented on #767
@magik6k Looks like we have a bug in the `WriteBatch` API due to which the GC cannot reclaim space. However, if you inserts entries using the `txn` API the GC should work. I made the following changes to your script and garbage collection was able to reclaim 2 GB of space.
[code]
**NOTE** - It is important that the db is closed and reopened. We perform compaction when the DB is closed. Without com

[2019-04-23 09:53] jarifibrahim commented on #777
@xuemao The wildcard `*` won't work directly. You will have to use either https://golang.org/pkg/path/filepath/#Glob or something like
[code]

@xuemao I wrote this https://gist.github.com/jarifibrahim/4b1e4c111f98c7922068571548395d9f based on how you're using the `DropAll` API and it works fine for me. I get the following output
[code]

[2019-04-23 09:59] magik6k commented on #767
Is there a way to trigger compaction without closing the database?

[2019-04-23 12:53] jarifibrahim commented on #767
Try running `Flatten`
https://github.com/dgraph-io/badger/blob/1fcc96ecdb66d221df85cddec186b6ac7b6dab4b/db.go#L1185-L1191

[2019-04-24 22:25] bep opened #779 "txn.Commit() in README example is missing an argument"
I copied and pasted an example, and it did not compile.

[2019-04-24 22:27] justinfx commented on #768
I spent the whole day yesterday debugging this issue and managed to isolate the cause into a small reproduction! The slow `Rewind()` happens after many deletes have taken place. Here is a summary of the criteria:

- Tested using local spinning disk, as well as `/dev/shm` ram
- Production code uses manual batching with txn/iterator but tested against this and `WriteBatch`
- Production code uses `Se

[2019-04-25 10:13] ashish-goswami commented on #779
@bep are you talking about below example?
[code]
I have raise a PR for this https://github.com/dgraph-io/badger/pull/780

[2019-04-25 10:18] jarifibrahim commented on #772
@zjshen14 We store [bloomfilters](https://github.com/dgraph-io/badger/blob/master/table/table.go#L71) in the memory. You should get about 1 GB of memory usage with 500 SST tables and 500 SST tables is lot of data. The script you have shared keeps on inserting data infinitely and that's why the size of bloomfilter keeps on increasing. I ran the script for 1.5 hours and I had about 1 GB of bloomfilt

[2019-04-25 10:35] bep commented on #779
There are several.

[2019-04-25 11:01] ashish-goswami commented on #779
@bep can you tell us where else you are facing this issue?

[2019-04-25 11:06] bep commented on #779
Use a search in the README for  `txn.Commit()`

[2019-04-25 13:18] ashish-goswami commented on #768
@justinfx I ran the above code and below is the output.

[code]
From output, it can been seen that size of data on all levels is 0, hence there is no data on disk. Everything is present in **memtables**(in memory). **Flatten** wont change anything here.

Since Badger is append only, if we insert same key, it will be inserted with different version every time. During read, key with highest version

[2019-04-25 19:43] justinfx commented on #768
I appreciate you running the test and breaking down what is happening with each step. But I feel this answers only half my question, and have left me with even more questions.

You are saying that it is perfectly normal for the iterator to go from an 8us rewind time with 1 version, to hundreds of ms time after the deletes make a second version?

Flatten makes no difference? When do I get to recove

[2019-04-25 20:42] manishrjain commented on #768
Few things here: Instead of doing Rewind(), then Seek(), you could use prefix iterator, by just setting the prefix in the iterator options (on 2.0 series). That'd avoid picking up tables which don't have that key at all.

However, looks like there're not that many SSTables to begin with and even so, are all in memtable or L0 -- so it's just about how fast can we iterate upon the key versions. Note

[2019-04-25 23:22] justinfx commented on #768
My production app will have 3 prefixes per database:

1. The counter - single item for the Sequence
1. the main data - added and deleted frequently as a queue
1. history metadata - uses a TTL for automatic deletion

I just tried using a prefix iterator and only a call to `Rewind` in the test case and it still results in a +300ms `Rewind` time to see the first item in the prefix.

I just tried sett

[2019-04-25 23:22] #768 closed

[2019-04-26 01:43] #781 closed

[2019-04-26 01:56] manishrjain commented on #782
@ashish-goswami @jarifibrahim : Can you guys have a look at this and see if you find something interesting?

[2019-04-26 05:26] tpihl commented on #777
That seems to be the case only in master, not in the referrable stable release 1.53 or 1.54. DropAll is not present in db.go in those versions.

[2019-04-26 07:30] jarifibrahim commented on #777
@tpihl You are correct. Earlier the `DropAll` API would work only in the managed mode.

[2019-04-26 13:30] ashish-goswami opened #783 "Badger crashes on open if last saved head is not pointing to latest value log file"
**Way to reproduce:**
1. Run **fill** command for inserting large number of entries(100M) then kill it after some time. Try to run it again.
2. Change **Close** method of **DB** to push head with {0 0 0} value in **flushTask**.

**Reason**
Currently after flushing a Memtable, vlog.sync() is called. sync() tries to sync latest value log file(file with maximum ID). After restart, badger tries to rep

[2019-04-26 20:34] codexnull commented on #782
This error happened after I left flock running overnight. It only happened once and I was not able to reproduce it by running it again.

[2019-04-27 14:53] bep opened #784 "Allow more than one byte in UserMeta"
This was discussed by @janardhan1993  and @srh back when this was added in #123 -- but was left as is, for now: "We could always make it more generic later."

I'm doing some prototyping using Badger as a storage for some planned new features in Hugo. And one problem I'm tinkering with is to find a reasonably fast way of detecting changes.

So, I thought if I could store an MD5 checksum (16 bytes)

[2019-04-28 11:38] zerjioang opened #785 "Badger fatal panic"
I do have badger as DB in my project and when serving an endpoint over REST I encounter with this panic, when I call PutKeyValue. This method is defined as follows and it is called each time http client makes a request to the server. On each request, the panic is thrown

[code]

And the error thrown is:

[code]

[2019-04-28 18:52] ashish-goswami commented on #785
@zerjioang what is the version of Badger you are using?
Normally above panic happens, if **Update** is called on already closed DB. Hence can you also verify, if you are closing DB anywhere accidentally?

[2019-04-28 20:21] zerjioang commented on #785
@ashish-goswami according to mi Gopkg.lock file, Im using
[code]

And yes, I just call `badger.Open()` without closing connection anywhere.

[2019-04-29 08:15] ashish-goswami commented on #785
@zerjioang tried to reproduce issue using below code. It is working fine. Can you check if I am missing something?
[code]

[2019-04-29 09:55] Lawliet-Chan opened #786 "badger.iterator needs Last() and Prev()"
We recently write a blockchain project by using badger.   But  we need some functions in badger.Iterator as follows:

func Last() :  move the iterator to the last KV pair.

func Prev() : move the iterator to the previous KV pair.

I also saw these functions  in  go-leveldb and boltdb.   But I just  insist on  Badger when I was at tech-meeting with my colleagues and leader.
Would you mind add these

[2019-04-29 11:46] jarifibrahim commented on #777
@xuemao Can we close this issue?

[2019-04-29 17:47] zjshen14 commented on #772
I have a machine with 16GB mem, and in my last test (see the option above), it crashed without showing OOM. Probably it was caused by something else.

And one step back, in terms of OOM, IMHO, it's way better to slow down the writes (such as swapping the in mem stuff into disk) instead of panic the process with OOM. We intentionally did the stress tested, and the script shared before is kind of th

[2019-04-29 22:54] cckumarr opened #788 "go get github.com/dgraph-io/badger/...: no matching versions for query "latest""
ran the go get command as mentioned in the readme
received the: no matching versions for query "latest"

GO111MODULE set to "on"

![Screen Shot 2019-04-29 at 16 55 59 PM](https://user-images.githubusercontent.com/3590592/56932112-b32e2180-6a9f-11e9-9c94-b9b13d1d004f.png)

[2019-04-29 22:55] cckumarr commented on #788
go get github.com/dgraph-io/badger/...
go: finding github.com/dgraph-io/badger/... latest
go get github.com/dgraph-io/badger/...: no matching versions for query "latest"

go version
go version go1.12.1 darwin/amd64

[2019-04-30 13:09] jarifibrahim commented on #520
@pcjdean Yes, that is possible. The main compaction might delete older values during compaction.

[2019-05-01 12:45] asdine commented on #786
I also agree that `Last` and `Prev` are more useful than creating an iterator with the `Reverse = true`  option.
The current implementation only allows one way Iterators whereas having `First`, `Last`, `Next`, `Prev` and `Seek` allows to go back and forth in constant time using the same iterator.
I'm interested in providing an implementation but I suppose that would mean removing the `Reverse` opt

[2019-05-01 20:07] #777 closed

[2019-05-02 06:13] joosep-wm opened #789 "Developing of the new major version should take place in a separate include path"
I have a situation where one dependant module is using v1.5.4 and another one is using the latest from master. The latest master is the active development branch of a new major version, which breaks the API. Because of that I cannot use these two modules together in one project.

If the new major version would use a new include path. I.e. `github.com/dgraph-io/badger/v2`, there wouldn't be any con

[2019-05-02 07:03] gedw99 commented on #758
+1

[2019-05-02 09:21] #508 closed

[2019-05-02 13:58] jarifibrahim commented on #742
Closing this issue. Please feel free to reopen.

[2019-05-02 13:58] #742 closed

[2019-05-02 14:03] jarifibrahim opened #790 "Improve Badger startup time"
We should improve the startup time on a big badger directory.
Right now, it needs to read through all the tables. Instead, we should do it so that we move the table boundaries to MANIFEST file.
Then, we can use that to create our table.Table objects.
Then, on demand, we'd load up tables as necessary (or do it in the background)

[2019-05-02 14:05] jarifibrahim opened #791 "Ristretto caching for bloomfilters in memory"
While debugging https://github.com/dgraph-io/badger/issues/772#issuecomment-486614654 we realized that bloomfilter size increases as the number of table increases (we store all the bloom filters in memory)

So, we should maintain a clock based cache for the tables in memory and allow them to be evicted.

[2019-05-02 14:12] jarifibrahim opened #792 "Support compression of SS-tables"
For Badger, it would be nice to support compression of SST tables.
Here's how compression works in RocksDB for reference:
https://github.com/facebook/rocksdb/wiki/Compression

[2019-05-02 14:16] jarifibrahim commented on #792
Badger used to support compression of value log but it was removed in https://github.com/dgraph-io/badger/issues/144

[2019-05-02 14:16] ashish-goswami opened #793 "TestDropAllRace is failing on Teamcity with data race"
Line to build https://teamcity.dgraph.io/viewLog.html?buildId=11071&buildTypeId=Badger_UnitTests&tab=buildLog
Stack trace attached.
[code]

[2019-05-02 14:20] #783 closed

[2019-05-02 14:24] jarifibrahim commented on #793
`DropAllPrefixRace` failed with a similar error multiple times.

[2019-05-02 14:25] #767 closed

[2019-05-02 14:38] jarifibrahim commented on #767
@magik6k with https://github.com/dgraph-io/badger/pull/778, the script in https://gist.github.com/magik6k/8c379cc02b443495e4809170fb8803a9 would still produce similar results but the values would be removed eventually. The GC would reclaim space after some time.

[2019-05-02 14:46] jarifibrahim commented on #791
Related to https://github.com/dgraph-io/badger/issues/663

[2019-05-02 14:49] #606 closed

[2019-05-02 14:51] jarifibrahim commented on #747
Duplicate of https://github.com/dgraph-io/badger/issues/792

[2019-05-02 14:51] #747 closed

[2019-05-02 14:57] #534 closed

[2019-05-02 14:57] #711 closed

[2019-05-02 15:21] manishrjain commented on #703
I don't think this approach is possible in Badger, where we keep all the keys in sorted order. Let us know if you have some ideas specific for LSM trees with these properties.

[2019-05-03 07:46] danielmai opened #795 "panic on segmentation violation during stream"
[code]

[2019-05-03 09:42] jarifibrahim commented on #788
@cckumarr Badger doesn't support Go Modules for now. We are working on adding go module support.
You could try setting `GO111MODULE=on` to `GO111MODULE=off` and `go get -v github.com/dgraph-io/badger` should work fine.

[2019-05-03 10:54] ashish-goswami opened #797 "db.KeySplits() is slow on large databases"
**db.KeySplits()** is slow on large databases. It call db.Tables() which internally call lc.getTableInfo(). getTableInfo() counts no of keys in each table, which slows down **db.KeySplits()**

[2019-05-03 12:02] jarifibrahim commented on #520
This should be fixed by https://github.com/dgraph-io/badger/pull/794

[2019-05-03 19:40] #795 closed

[2019-05-03 22:44] manishrjain commented on #784
The moment we allow UserMeta to be a byte slice, users are going to start using it for storing values. That's the job of the value. UserMeta is only meant to allow one to identify the type of a value without fetching it.

I think you could instead create some index keys, which can contain the MD5 checksums. Keeping them in a different prefix would allow you to use the prefix iterator to quickly id

[2019-05-05 06:13] ashish-goswami commented on #797
Fixed in https://github.com/dgraph-io/badger/pull/796

[2019-05-05 06:13] #797 closed

[2019-05-05 06:20] ashish-goswami commented on #757
@zorino We have done some fixes in Stream. Can you verify (against latest master) if you are still seeing above assert failure?

[2019-05-05 16:56] zerjioang commented on #785
Its still failing with same error. May it be a filesystem related issue? or even architecture related? Im having this error when running on arm

[2019-05-05 17:54] ashish-goswami commented on #785
@zerjioang It might be. Please tell us all the information related to platform(OS and hardware with versions), you are using for running Badger. Also can you try reproducing it with latest master?

[2019-05-06 05:31] #723 closed

[2019-05-06 05:53] ashish-goswami commented on #760
Fixed in https://github.com/dgraph-io/badger/pull/762

[2019-05-06 05:53] #760 closed

[2019-05-06 05:56] ashish-goswami commented on #714
Fixed in https://github.com/dgraph-io/badger/pull/762

[2019-05-06 05:56] #714 closed

[2019-05-06 14:44] manishrjain commented on #757
In particular, this change: https://github.com/dgraph-io/badger/commit/e0748f5519e6bb388615b4cfad50755b0f897bce

[2019-05-06 19:47] manishrjain opened #801 "Add benchmark tool to badger"
We need a way to benchmark the read speed of the disk on which Badger is running.

The tool should first read all the keys in the system, then do lookups on those keys randomly (via multiple goroutines) and report back the read latency observed by Badger. This can help us figure if a certain disk/FS is slower than expected.

[2019-05-06 19:48] manishrjain commented on #801
This tool should not try to modify the data set and work with any existing data set.

[2019-05-06 23:27] zorino commented on #757
Hi it seems that the problem was because of the extra files.

However a successful DB.Close() shouldn't leave extra files behind.

When I flatten the database afterward then the extra files disappear.. I believe they get incorporated into the tree correctly by reading the WAL, am I right ?

[2019-05-07 03:51] C-ollins commented on #716
Sorry I'm just seeing this, I thought this got abandoned. You can run it by compiling the code I wrote with Gomobile and running on an android. I'm available to help at any part.

[2019-05-08 01:04] martinmr opened #804 "remove License Compliance check?"
This check always fails but we never act on it. Should it even run for each PR?

[2019-05-08 01:11] manishrjain commented on #804
Don't think we need to.

[2019-05-08 08:40] jeromeheng commented on #696
Too many data if I want to store , and how to expand it  ?

[2019-05-09 09:57] jeromeheng commented on #696
@ashish-goswami  more than 100 billons ，and I need that It's a distributed system  ，just like redis : )

[2019-05-09 16:21] jarifibrahim commented on #790
I did some simple benchmarks and it looks like we can gain significant performance improvement by removing the `t.LoadToRAM()` function call from
https://github.com/dgraph-io/badger/blob/3374ec21baac7d10ae162c694dbfddf670c7927e/table/table.go#L144-L147

Setup:
1. Copy and apply the following diff to master branch using `git apply -v <patch file>`
[code]
2. Run the `go test -v -run TestDBStartup` (

[2019-05-10 16:04] achille-roussel commented on #776
@jarifibrahim thanks for labelling the issue.

Do you have any pointers regarding what I should be watching out for to make this change?

[2019-05-11 06:15] jarifibrahim commented on #520
@pcjdean We've fixed this and it's in master. Please do give it a try.

[2019-05-11 06:15] #520 closed

[2019-05-11 08:53] jarifibrahim commented on #776
@achille-roussel I am not very sure but I see that we're using the comparekeys function everywhere
https://github.com/dgraph-io/badger/blob/82e4521c6cca4f7094446f22f94b8d2bb5cee7ac/y/y.go#L124-L135
Try replaying this with your custom comparator and see if it works. I think it would work considering the fact that the underlying representation of keys remains the same.

[2019-05-12 07:24] #549 closed

[2019-05-12 09:29] thumbsized commented on #772
Maybe https://github.com/dgraph-io/badger#garbage-collection
Specifically, since yo uare constantly setting the same keys:
`Concurrent read/write transactions could leave behind multiple values for a single key, because they are stored with different versions. These could accumulate, and take up unneeded space beyond the time these older versions are needed.`

and
`Badger relies on the client to p

[2019-05-12 09:34] thumbsized commented on #743
This is how you sould be building Go containers:
[code]

[2019-05-12 13:45] mangalaman93 commented on #743
Awesome. Thanks for sharing the snippet. We recently proposed a similar Dockerfile for Dgraph (which depends on badger) here https://github.com/dgraph-io/dgraph/issues/3221.

[2019-05-12 13:45] #743 closed

[2019-05-14 06:50] ashish-goswami opened #810 "Benchmark Skiplist Implementation"
Idea is to see the changes in read and insert time into current Skiplist implementation as more and more keys are inserted into it. Based on the result do optimisations if required.

[2019-05-14 07:55] jarifibrahim commented on #772
@thumbsized

Not really, if you look closely at https://gist.github.com/zjshen14/c572dcc68bd707dab9d182eeb742c508, we're always inserting a different key

Also, https://github.com/dgraph-io/badger#garbage-collection affects only value log files.
Here's how it works
1. We perform compactions (merge table from one level with another)
2. Remove keys which are no longer valid (deleted or old version k

[2019-05-14 07:57] jarifibrahim commented on #772
@zjshen14 Agreed, we plan on adding limitations on the memory consumption. It's in our roadmap.

[2019-05-14 21:52] manishrjain opened #812 "Allow ValueThreshold to be greater than uint16"
If we can allow values greater than 64KB to be colocated with the key, Badger can operate like a typical LSM tree. This setting is useful in certain workloads, so we should modify our record header to allow uint32 sized values (4GB-ish). This would be a breaking change.

[2019-05-17 18:48] marcosrmendezthd opened #813 "question: size on disk estimation & configuration"
hi, great work on badger!

 i'm new to badger and would appreciate some help in figuring out how to use badger effectively for our use case. i'd like to use it for store and forward. if things are not working as they should, store it in badger and then read it later when things are working.

i won't know the exact distribution size of the payloads/values i'll be saving. though i'd like keys to be

[2019-05-17 19:10] campoy commented on #758
Hey @treeder,

Sorry for the delay. We're actually working on a couple of extra changes that we'd like to include with our v2.
We will update this issue with a plan for our v2 release next week.

In the meanwhile, is this an urgent change?
Could you give more details on how this is currently breaking your workflow?

Thanks!

[2019-05-17 19:20] treeder commented on #758
Francesc!  Been a while.. :) Didn't know you were involved with this, great project.

It's not urgent, seems to be working fine with `github.com/dgraph-io/badger v2.0.0-rc.2+incompatible`. I can't remember exactly what issue I was having though as I created this over a month ago (and my memory doesn't last that long).

[2019-05-19 16:39] C-ollins commented on #716
Hello @jarifibrahim, still looking into this?

[2019-05-20 10:13] jarifibrahim commented on #716
@C-ollins I haven't had a chance to look at this. I'll look into it today (or tomorrow).

[2019-05-20 13:20] ashish-goswami commented on #813
@marcosrmendezthd Thanks!

We don't have any option as of now, which deletes old data after size of Badger directory exceeds a threshold.

[2019-05-20 13:24] marcosrmendezthd commented on #813
@ashish-goswami can i use key expiration for that as well? if i can guesstimate how much overhead i'll need, then i can probably make it work.

[2019-05-20 13:33] ashish-goswami commented on #813
Yes. You can use key expiration. In every compaction iteration, Badger will try delete keys which are expired. But this will be the best effort to keep size minimum. There is no guarantee of size not exceeding a threshold.

[2019-05-20 13:34] marcosrmendezthd commented on #813
thanks @ashish-goswami !

[2019-05-20 13:34] #813 closed

[2019-05-20 21:21] danielmai opened #817 "When truncating an entire vlog, it should also get deleted."
I saw this issue with Dgraph v1.0.15-rc7.

[code]

There was a vlog file that was 0 bytes:

[code]

There are two things to improve:

1. When a value log is truncated *entirely*, then it should be discarded instead of lingering around.
2. The error message here should mention the file that caused the issue. "Unable to map file" did not mention the offending value log file. The [other][1] [errors][

[2019-05-21 07:53] jarifibrahim commented on #716
@C-ollins I tried to build the code snippet you've given but can't seem to build it.
[code]
I think I'll need more than just the code you've shared to build it with `gomobile`.
I've never used `gomobile` before. Can you please give me some more details on how can I reproduce the failure?

[2019-05-21 12:03] awishformore opened #820 "Transaction error on backup restoration"
We are running badger in a memory-constrained environment of less than 200 MB. When reducing the memory table size too much, the `db.Load(file)` call will fail with `Txn is too big to fit into one request`. I'm assuming this is due to the fact that it tries to squeeze the entire loading into a single transaction, which can not be bigger than the memory table limit? Would it be a good idea to chang

[2019-05-22 10:47] C-ollins commented on #716
Alright, I'll create a repository with everything you need to run the app. All you'd need is android studio to compile the app.

[2019-05-22 11:40] jarifibrahim commented on #716
@C-ollins The issue you're facing has been fixed in v2.0.0-rc.2 via https://github.com/dgraph-io/badger/issues/610

Please try `v2.0.0-rc.2` (or master). it should work.

[2019-05-22 11:40] jarifibrahim commented on #716
I'm closing this issue for now. Feel free to reopen.

[2019-05-22 11:40] #716 closed

[2019-05-22 17:50] zerjioang commented on #785
here are the details
[code]

[code]

[2019-05-23 15:25] ashish-goswami commented on #820
@awishformore This looks like an issue at our end. We will check and get back to you.

[2019-05-27 07:52] speakinLzy opened #828 "how to recover Invalid value pointer offset"
version v2.0.0-rc.2
system windows 7

I don't know how to recover “Invalid value pointer offset: 224487 greater than current offset: 0”

[2019-05-27 08:11] ashish-goswami commented on #828
@speakinLzy can you help us reproduce this? What operation were you trying when you got this?

[2019-05-27 08:18] jarifibrahim commented on #828
Duplicate of https://github.com/dgraph-io/badger/issues/434.
@speakinLzy Can you try running the DB with `Truncate=True` https://github.com/dgraph-io/badger/blob/master/options.go#L63 ?
This issue was fixed in https://github.com/dgraph-io/badger/commit/deb140b6378159c58f803c01430a1b6ba3af248e

[2019-05-27 08:19] speakinLzy commented on #828
@ashish-goswami
I try to reproduce this。。。
now i have [](https://i.loli.net/2019/05/27/5ceb9d6bd9deb38816.png)

[2019-05-27 08:22] speakinLzy commented on #828
@jarifibrahim
![image](https://user-images.githubusercontent.com/31429077/58406119-7dc72480-809b-11e9-8c04-215189cdd4f1.png)
not effective。。。

[2019-05-27 08:25] speakinLzy commented on #828
@ashish-goswami I don't kwon how to happen this now...I try to  reproduce this...

[2019-05-27 08:32] huangnauh opened #829 "memory usage"
I have a question about understanding badger' memory usage

test code:
[code]

top command is telling me that badger_test using 672m
[code]

but go tool pprof  tells me that badger_test only using 275.95MB on the heap
[code]

What am I doing wrong?

[2019-05-27 08:34] jarifibrahim commented on #828
@speakinLzy can you share you badger directory? Looks like your badger directory has some corrupted data.

[2019-05-27 08:36] speakinLzy commented on #828
@jarifibrahim

[2019-05-27 08:37] speakinLzy commented on #828
@jarifibrahim
[data.zip](https://github.com/dgraph-io/badger/files/3222590/data.zip)

[2019-05-27 09:04] jarifibrahim commented on #828
The directory works fine for me on v2.0.0-rc.2 (linux)
[code]
[code]

@speakinLzy Can you confirm you've sent the correct badger directory?

[2019-05-27 09:10] speakinLzy commented on #828
@jarifibrahim What system are you using?

[2019-05-27 09:16] speakinLzy commented on #828
@jarifibrahim my mistaken
open is no problem
my error in
![image](https://user-images.githubusercontent.com/31429077/58409701-2f1d8880-80a3-11e9-97a8-b15e48b95fb9.png)
![image](https://user-images.githubusercontent.com/31429077/58409712-347ad300-80a3-11e9-8f79-c6a01ef86d0a.png)

[2019-05-27 13:17] jarifibrahim commented on #828
@speakinLzy I tried to iterate over all the values in the data directory provided by you and it works for me.

Can you provide me the complete script you're using? Also, can you check if closing the DB isn't returning any errors?

[2019-05-27 13:26] jarifibrahim commented on #820
The `transaction too big` is being returned because we have hard coded the transaction size to be 1000 entries. The following code should take in to account the size of the tables and calculate the appropriate transaction size
https://github.com/dgraph-io/badger/blob/0ce1d2e26af1ba8b8a72ea864145a3e1e3b382cd/backup.go#L159-L161

[2019-05-27 14:13] mjentsch opened #830 "db.Open returns "unexpected end of JSON input""
on 3 of 4 servers. Any idea where this may came from? Databases are ~5TiB.

[2019-05-27 14:17] ashish-goswami commented on #830
@mjentsch What is the Badger version? Also, tell us the system configuration on which Badger is running.

[2019-05-27 14:26] mjentsch commented on #830
Current master. Server are CentOS 7 x86_64, Go version is 1.11.5.
What else would be useful to know?

[2019-05-27 14:45] ashish-goswami commented on #829
@huangnauh what is the version of Go you are using? Check if this thread is useful to you https://stackoverflow.com/questions/24863164/how-to-analyze-golang-memory. You can profile for alloc_space.

[2019-05-27 14:50] ashish-goswami commented on #830
I wanted to know about RAM, CPU and disks info. Just to confirm, 5TB is size of single Badger instance?

[2019-05-27 14:58] mjentsch commented on #830
5TiB is the first of 2 DB dirs and fails to be opened. We have small keys and relative large values.
32G RAM,  8 core, 20TiB filesystem where Badger dirs are located, 4TiB free. Nothing else beside OS and the DB prog running on that box.

[2019-05-27 15:10] mjentsch commented on #830
Using ./badger info on such DB ends with

[Summary]
Level 0 size:        64 MB
Level 1 size:       252 MB
Level 2 size:       2.6 GB
Level 3 size:       267 MB
Total index size:   3.2 GB
Value log size:     6.1 TB

Abnormalities: None.
0 extra files.
0 missing files.
0 empty files.
0 truncated manifests.
badger 2019/05/27 15:09:56 INFO: 28 tables out of 51 opened in 3.045s
badger 2019/05/27 15:09:

[2019-05-27 15:47] mjentsch commented on #830
I added a line in value.go

        if err := json.Unmarshal(vs.Value, &statsMap); err != nil {
                vlog.opt.Debugf("error unmarshal: %v", statsMap)
                return err
        }

and the compiled badger binary ends with

[Summary]
Level 0 size:        64 MB
Level 1 size:       252 MB
Level 2 size:       2.6 GB
Level 3 size:       267 MB
Total index size:   3.2 GB
Value log size

[2019-05-27 15:55] mjentsch commented on #830
Added a line to value.go for debugging

        if err := json.Unmarshal(vs.Value, &statsMap); err != nil {
                vlog.opt.Debugf("error unmarshal: %v", string(vs.Value))
                return err
        }

and compiled badger binary ends on problem DB with

[Summary]
Level 0 size:        64 MB
Level 1 size:       252 MB
Level 2 size:       2.6 GB
Level 3 size:       267 MB
Total index

[2019-05-27 16:02] mjentsch commented on #830
So looks like the discard stats stored in the DB is corrupt... is it safe to drop it in that case?

[2019-05-27 17:11] ashish-goswami commented on #830
discard stats maintain stats about value log files, which are used in garbage collection. If it is corrupt, you can try to ignore it. Stats will be formed from the start again when compaction will run next.

[2019-05-28 02:03] huangnauh commented on #829
go1.12
runtime:linux/amd64

My question is why actual memory usage is so much higher than the pprof heap(2x).

Becasue of a lot of objects that's ready to be GC ?

[2019-05-28 02:47] huangnauh commented on #829
More specifically, why HeapAlloc(881M)/HeapSys(1151G) is so much higher than the alloc_space(443M)

http://127.0.0.1:8080/debug/pprof/heap?debug=1
[code]

[2019-05-28 02:57] speakinLzy commented on #828
@jarifibrahim my demo
[test.zip](https://github.com/dgraph-io/badger/files/3225467/test.zip)

[2019-05-28 05:38] ashish-goswami commented on #774
We have introduced new APIs for Entry. These APIs allows you to set more than one property on Entry. Finally calling SetEntry on Transaction/WriteBatch adds entry to Transaction/WriteBatch. https://github.com/dgraph-io/badger/pull/822

[2019-05-28 05:38] #774 closed

[2019-05-28 15:11] jarifibrahim commented on #830
Maybe we can just drop the discard stats map if we fail to unmarshal it. The map would be populated later anyway.

[2019-05-28 16:25] jarifibrahim commented on #828
I was able to reproduce this on version v2.0.0-rc.2 and master.

[2019-05-28 19:10] campoy opened #831 "Create issue template with all needed info"
Most issues start with someone from the dgraph team requesting for follow-up information on an issue report.

Let's write down the kind of information we'd like to have and how to obtain it and create an issue template to speed up the whole process.

See example #830, maybe @ashish-goswami can take care of this one?
Follow the example of how the Go repo does it https://github.com/golang/go/issues/

[2019-05-28 19:16] campoy commented on #830
Were we able to reproduce this bug? If so, please add the `status/confirmed` label @jarifibrahim
If we're still figuring out what the root cause feel free to also add `status/needs-attention`.

Also if you're working on it, please assign yourself to the issue.

[2019-05-28 19:35] campoy commented on #244
What's the current state of this issue?
This has been opened for over a year. We should either fix or close the issue.

Is badger not compiling under certain platforms? Have we been able to reproduce the issue?

[2019-05-28 19:40] campoy commented on #368
Hey @deepakjois could you tell me more about what kind of error checking you need to do and how you imagine doing it?

We have the opportunity of changing some APIs while we release v2, so I'd like to consider any improvements.

[2019-05-28 20:33] campoy commented on #409
Hey @manishrjain, could you give an update on the status of this issue?
It seems it's been stale for quite a while so I wonder if we should close it or plan for a fix.

[2019-05-28 20:36] campoy commented on #446
Hi @schomatis,

Just letting you know it seems this issue is waiting on your input.

Thanks!

[2019-05-28 20:39] campoy commented on #373
Hey @manishrjain,

Should this be downgraded to a lower priority? There's no update since Feb 2018

[2019-05-28 20:42] campoy commented on #693
Hi there,

This issue has been active for too long with no activity.
@ysqi, if your question was never answered I invite you to ask it again on our form discuss.dgraph.io where our engineers will be happy to help.

Cheers,
Francesc

[2019-05-28 20:42] #693 closed

[2019-05-28 20:44] campoy commented on #526
Hi there, everyone.

I'm curious about what config mechanisms you'd like to see implemented to configure how often a sync is performed.

I'm thinking that maybe we can improve our current API to add more config options while we work on badger v2.

[2019-05-28 20:46] campoy commented on #722
Closing this issue due to lack of activity.

If the problem still persists please feel free to repoen the issue, @xiaozhoz

[2019-05-28 20:46] #722 closed

[2019-05-28 20:48] campoy commented on #663
Hi @mangalaman93,

Could you update this is issue? What's the current status?

[2019-05-28 20:50] campoy commented on #705
Adding this to the list of API changes we're considering for v2.

[2019-05-28 20:53] campoy commented on #782
Hey @ashish-goswami, could you have a look at this?
If we can't really reproduce it it's probably worth closing the issue for now.

[2019-05-28 20:56] campoy commented on #786
Adding this to the list of API enhancements we could consider for v2.

@jarifibrahim, could you confirm that this is something that can't be easily done with the existing API?

[2019-05-28 20:59] campoy commented on #779
Closing this issue due to lack of detail on what doesn't compile and which error message it causes.

Please feel free to open if you are able to provide the code snippet, platform, version for the repo and tooling, etc.

[2019-05-28 20:59] #779 closed

[2019-05-28 21:01] campoy commented on #793
Hey @jarifibrahim, this seems like a potentially serious issue.

Were you able to reproduce? And if so, do we have any plans on how to fix it?

[2019-05-28 21:03] campoy commented on #791
Downgraded to p1 since no action has been taken since this was filed.

Should this still be worked on? If so, let's chat about how and when to implement this.

[2019-05-28 21:08] campoy commented on #756
Hi there, @fpessolano.

Could you provide a complete repo reproducing this issue? A very simplified version of the code that is causing this crash would allow us to figure out what the issue is and how we can fix it.

Thanks!

[2019-05-28 21:16] campoy commented on #751
Hi @yangzh and thanks for your message!

Could you give us a quick example of what is the use case behind deleting something with metadata?

The current API doesn't provide `SetWithMeta` anymore as it has been replaced by the `WithMeta` method of the `Entry` type.
But even if that had not changed, how would adding metadata to an entry right before deleting would help you in your use case?

[2019-05-28 21:20] campoy commented on #721
Hi @wyblyf,

In order to help use reproduce your issue. Could you share a non-image version of your code reproducing the issue?

We'd also like to have more information about what version of the repo you're working with, as well as the platform/arch and any other details you think could help us with the investigation?

Thanks

[2019-05-28 21:27] schomatis commented on #446
Haven't really followed up on this so let's close it.

[2019-05-28 21:27] #446 closed

[2019-05-28 21:27] deepakjois commented on #368
This issue is outdated now. The code has changed too significantly for this issue to be tracked meaningfully.

[2019-05-28 21:27] #368 closed

[2019-05-28 21:34] campoy opened #832 "Improve disk usage for key-only datasets"
Created from #738

Sometimes we want to use badger as a key set rather than a key-value store.

We should consider whether adding some kind of special case behavior for when the value is an "empty" value (e.g. `struct{}`).

Is the complexity added worth the performance gain for this use case? Is the use case common enough?

[2019-05-28 21:55] campoy commented on #738
There are two different questions in this thread that deserve a good answer.

## Can we improve the disk usage for key only sets?

Currently, sets with no values still require a considerable size of value storage.
This is purely a performance improvement now tracked by #832

## How do we provide secondary indexes on badger data?

It seems that a common work around is to create a new key set where

[2019-05-28 22:00] campoy commented on #717
This is definitely not a P0 issue, but we should fix it anyway.

We are going to be releasing a new v2 version which will contain a bunch of new features and a detailed change log.

In the future the release pace will be much more regular, which will avoid this issue from happening.

Thanks for the report, @arctica!

[2019-05-28 22:03] campoy commented on #712
Closing this one as a duplicate of #786.

[2019-05-28 22:03] #712 closed

[2019-05-28 22:04] campoy commented on #710
Thanks for the report, @thumbsized

Could you provide a quick sample of the kind of code you ended up writing?

We're considering changes to the API as we approach the release of badger v2 and your input would be very valuable.

Thanks

[2019-05-28 22:08] campoy commented on #699
Thanks for the report and sorry for the delay, @djdv

Is this issue still occurring on master? What version are you using?

[2019-05-28 22:11] campoy commented on #535
Let's keep it simple and just answer the original question to this thread.
Is there any way to estimate the size in memory given an encoded file?

Assigning the question to @manishrjain since this is something that might be changing with v2.

[2019-05-28 22:14] campoy commented on #690
This seems like a clear mistake in the code. That break should be a return if we really wanna make sure that any missmatch in the checksum makes the server stop.

This should be fixed with first a test proving the problem occurs and then a small PR fixing the code.

[2019-05-28 22:18] campoy commented on #542
Issue closed after lack of activity.

Please feel free to reopen if your issue/concern is still relevant.

[2019-05-28 22:18] #542 closed

[2019-05-28 22:21] campoy commented on #629
Is this something we still want to work on? An old PR #633 was created and eventually abandoned.

Hey @svmhdvn, did the recommendation above fix your issue?

[2019-05-28 22:34] campoy commented on #563
Thanks for the pointer, I had missed that golang issue!

This should be fixed ASAP on master and make sure that v2 and following version use the correct implementation for Go 1.11 and below.

[2019-05-28 22:35] campoy commented on #562
Conversation closed after lack of activity.
Please feel free to reopen if your concerns are still relevant.

[2019-05-28 22:35] #562 closed

[2019-05-28 22:38] campoy commented on #792
What's the logic behind this change?

It seems it was previously removed due to the complexity it brought being too high for the commodity it provided.

How has that changed since #144?

[2019-05-28 22:41] campoy commented on #703
Hi there, @burmanm

This seems like it would be a really big change in our current codebase.
I'll keep the issue in our list of potential ideas for later improvements, but the priority will stay low until we find more demand for the feature.

Thanks

[2019-05-28 22:45] jiminoc commented on #562
@campoy is at DGraph now?!? sweet!!! Welcome aboard :)

[2019-05-28 22:45] campoy commented on #789
Closing this as duplicate of #758

[2019-05-28 22:45] #789 closed

[2019-05-28 22:46] campoy commented on #788
Closing it as duplicate of #758

[2019-05-28 22:46] #788 closed

[2019-05-28 22:48] campoy commented on #684
Definitely not a P0 (nor a P1, imho) but let's see what benefits this could bring and figure out whether it makes sense to implement it as part of v2.1 or later.

[2019-05-28 22:50] campoy commented on #443
Adding this to the possible improvements to be added *after* v2 has been released.

[2019-05-28 22:56] campoy commented on #784
Hi @bep,

Did @manishrjain answer help? Changing `UserMeta` to be a slice is clearly a backwards incompatible change, but I'd like to understand better what you're trying to implement.

In a different issue we have a proposal to subscribe to changes on the database. Would that help your use case?

[2019-05-28 22:58] campoy commented on #801
We should have this done for v2 to be able to run benchmarks easily and compare different versions.

@ashish-goswami you had already this issue assigned to you and on P0 for a bit, what are your plans on this?

[2019-05-28 23:02] campoy commented on #757
Hi @zorino,

Could you confirm that the program was not crashing after deleting the extra files?
Also, could you confirm what version of the code you're using?

Thanks

[2019-05-28 23:04] campoy commented on #804
Then let's remove it, then.

I'm assuming it's an easy thing to do, someone please take care of it.

[2019-05-28 23:10] campoy commented on #790
It seems like this issue might have been fixed already on #811.

Can you verify whether that's the case and close it, @jarifibrahim?

[2019-05-28 23:18] campoy commented on #810
Hey @ashish-goswami, what is the goal of this change?

Could you describe a bit more in detail why and how you're going to benchmark this?

[2019-05-28 23:21] campoy commented on #772
Any updates on this issue, @jarifibrahim?

Have we been able to reproduce it?

[2019-05-28 23:23] campoy commented on #812
I'd like to better understand what's the goal of this change and how it'd affect the current and potential users of badger.

[2019-05-28 23:49] tegk opened #833 "Benchmark request: badger v2 vs mongoDB"
Could not find any benchmark.

How is the insert performance compared to MongoDB?

[2019-05-29 00:40] networkimprov commented on #563
Or just panic in MacOS builds for Go <= 1.11 until someone complains :-)

[2019-05-29 00:43] networkimprov commented on #563
And what about that bounty? I'm the one who found and filed the issue on the Go repo :-)

[2019-05-29 03:12] linxGnu commented on #767
Hello @jarifibrahim

I have the same problem and got disk leak while trying to delete keys/values using `batch`.

The commit: https://github.com/dgraph-io/badger/commit/d98dd6856e8eb7b02dab0a802624b58a79847678#diff-42ea5667b327bb207485077410d5f499
revert your previous commit and problem still remains.

How about reopen this issue?

[2019-05-29 04:48] mangalaman93 commented on #663
https://github.com/dgraph-io/ristretto work is in progress. Once it is complete, we should be able to add it to badger.

[2019-05-29 05:45] bep commented on #784
@campoy yes, his answer help. I started this thread after some very early test with this library. I will close this.

[2019-05-29 05:45] #784 closed

[2019-05-29 11:02] jarifibrahim commented on #830
@mjentsch Yes, it should be safe to drop the discard map since it will be rebuilt during compactions.

[2019-05-29 11:52] jarifibrahim commented on #828
@speakinLzy The log file in your DB directory is completely empty. Do you have any idea how this might have happened? The log file works as a write ahead log for badger. If the value log file itself is empty, there might be something wrong with your code (or system).

One possible explanation for this is that your DB crashed and the log file was corrupted completely (I don't know how this could ha

[2019-05-29 12:54] gedw99 commented on #684
sure.

For the Record, yes CDC and Subscriptions are very similar and doing it at Badger level first would be great underpinning.
For CDC you want to get a subscription feed of the transaction changes happening to Bager.
See Cockroach CDC for great example of the API etc.

[2019-05-29 13:25] ashish-goswami commented on #684
@gedw99 we have implemented subscription support in Badger recently. Please have a look at https://github.com/dgraph-io/badger/pull/771.

[2019-05-29 13:36] zorino commented on #757
@campoy  flattening the database made the extra files disappear will close the ticket, but it could be investigated why a successful DB.close leave extra files behing.

Thanks.

[2019-05-29 13:36] #757 closed

[2019-05-29 13:50] gedw99 commented on #244
I have fond that its better to compile the golang code to a shared lib, and so its now just a c lib.
then hook in from whatever you use for the GUI on the Mobile or Desktop.
I use FLutter which can now hook in directly to golang compiled this way.

[2019-05-29 14:31] gedw99 commented on #684
@ashish-goswami  thank you !  It will definitely help lots of edge cases i had with Badger.

[2019-05-29 14:47] ghost opened #836 "Compile as a shared c lib"
Not sure if this is something anyone is interested in, but here goes...

It useful to be able to use badger embedded in other systems.

For GUI (Mobile and Desktop) I embed it in Flutter using FFI. Others might be using QT or who knows what.
https://gist.github.com/mraleph/2582b57737711da40262fad71215d62e

For IOT is very useful to have a badger at the edge and you need to compile it as a c shared

[2019-05-29 15:32] ashish-goswami commented on #684
@gedw99 closing it for now. Feel free to open it if required.

[2019-05-29 15:32] #684 closed

[2019-05-29 15:54] jarifibrahim commented on #790
@campoy No. #811 was reverted. https://github.com/dgraph-io/badger/pull/816 would potentially fix this issue.

[2019-05-29 15:56] jarifibrahim commented on #792
@campoy This issue is about compressing data stored in SST. #144 was about compressing value log file.

[2019-05-29 16:06] ashish-goswami commented on #812
Badger stores values with size greater than a threshold(**ValueThreshold**), to value log files and its pointer in the LSM tree with the key. If value size is less than the threshold, key and value both are stored in LSM tree only(This way it behaves as pure LSM tree). While storing key and value in LSM tree, their metadata like key size, value size are stored first. Type of value size is currentl

[2019-05-29 16:27] jarifibrahim commented on #767
@linxGnu The value log GC isn't supposed to reclaim space immediately. The change in #778 was reverted because we had issues with it.

The issue here isn't with the GC, it's with the Write Batch API. You need not worry about GC. It will eventually clean up the space. There are multiple factors involved when it tries to find a vlog file to clean.

Take a look at the following script. It works perfe

[2019-05-29 19:09] campoy commented on #829
Hi @huangnauh,

As you can see in https://golang.org/pkg/runtime/#MemStats `HeapSys` is actually an approximation of how big the total heap has ever been.

It is not linked to the current size, but rather it estimates the largest size the heap has had.

[code]

For more details I'd recommend reading https://blog.cloudflare.com/recycling-memory-buffers-in-go/, which has this very clear explanation:

[2019-05-29 19:09] #829 closed

[2019-05-29 19:12] campoy commented on #433
Hey @manishrjain, can you have a look at this issue?

The conversation has been stale for a while so I'd consider closing the issue.

[2019-05-29 19:14] campoy commented on #490
This seems like a serious issue, so I'd like to have you @manishrjain check whether it's indeed something we should fix or it's not relevant to the current codebase anymore.

[2019-05-29 19:18] campoy commented on #836
Hi @gedw99,

Could you explain a little more in detail whether this is something you're offering to build or whether you're a potential user?

If you're a user, could you tell me also about your experience using badger from a C system? Is this something you've tried at all?

Using `-buildmode=c-shared` should be enough.

[2019-05-29 19:20] campoy commented on #833
MongoDB and Dgraph are wildly different databases, so talking about "insert performance" is quite risky.
Are we inserting new relationships? new nodes? new pieces in a document? Those will have quite different performances on MongoDB.

Do you have some specific usecase for which we might be able to come up with a meaningful benchmark?

[2019-05-29 19:24] campoy commented on #812
Ok please keep this issue updated as we get closer to resolution.

[2019-05-29 19:25] campoy commented on #792
What are the plans on this, then? Is it something already being implemented? What's the urgency on it? Feel free to add the corresponding priority label.

[2019-05-29 19:27] campoy commented on #790
Thanks for the answer @jarifibrahim.

Could you add link to this issue from that #816 PR explaining how they're related?
Feel free to also add an `Updates #790` or something in that style so this issue will be updated once the PR is merged.

[2019-05-29 19:29] campoy commented on #244
So badger currently works well for Mobile and Desktop.

I'll close this issue and we can reopen it later on if new concerns arise.

[2019-05-29 19:29] #244 closed

[2019-05-29 19:34] campoy commented on #563
I'm not sure how bounties work yet, tbh.
I'll let @danielmai clarify what the next step is.

[2019-05-29 22:56] manishrjain commented on #830
It is safe to drop it but comes at a significant loss of information about doing GC. But, even dropping it is just solving a symptom of a deeper problem.

What's probably happening is that the discard stats is being written to memtable directly for every memtable flush. If this stat is *huge* (like in this case), it takes up a big chunk of of the table, which is bad. Secondly, if the size doesn't

[2019-05-30 02:33] linxGnu commented on #767
@jarifibrahim Thank you very much for your details. I would take a look again and report if I still seeing disk not reclaim when using Write Batch API 👍

[2019-05-30 02:42] speakinLzy commented on #828
@jarifibrahim I open a db (with truncate=true)，DB directory have a lock file。can i open second time？

[2019-05-30 06:14] jarifibrahim commented on #767
@linxGnu Just to help you understand how GC works --
1. We store Discard Stats which contains how much data can be discarded in each vlog file. The discard stats are built when compactions happen. (You can force compaction by closing and opening the DB)
2. In case the discard stats does not have information about a specific file, we perform sampling on the file and based on the sample we decide if

[2019-05-30 06:21] jarifibrahim commented on #828
@speakinLzy The `LOCK` file in badger directory ensures only one process can access badger. If your directory has the `LOCK` file even after closing the DB that means the DB didn't close properly.

As for the reported issue, the error you're seeing is expected. Your vlog file is empty and hence the `item.Value(...)` call is returning an error. This isn't a recoverable error because you've lost dat

[2019-05-30 06:21] #828 closed

[2019-05-30 07:38] C-ollins opened #838 "Return proper error if database is closed"
I get this crash whenever I try to perform operations on a closed db, what I expect is an error that can be handled from my end. I use the database from multiple threads and once it's closed I would want to reject any read/write operation but there's currently no way to check if the database is opened or not. I use a variable to tract whether the database is open or not but this does not work effe

[2019-05-30 08:23] tegk commented on #833
I am inserting a key value eg ("1", "test@test.com") and that couple million times.

[2019-05-30 16:11] jarifibrahim commented on #830
@manishrjain You were correct. Thanks for pointing this out.
Here's a test that confirms your hypothesis
[code]
This outputs
[code]

[2019-05-30 18:31] danielmai commented on #804
License checks via FOSSA have been removed.

[2019-05-30 18:31] #804 closed

[2019-05-30 18:53] campoy commented on #833
Hey @tegk,

I just realized that this issue was under the badger repo and not the dgraph one.
This benchmark makes much more sense in that case hehe

We do not have this kind of benchmark at the moment but I do agree it would be an interesting one to perform.
I'll change the title of this issue and add it to our roadmap, although we could  definitely use help with these, so if you're interested in

[2019-05-30 18:59] campoy commented on #838
Thanks for your report, @C-ollins!

This seems like a good enhancement on our side, but in the meantime you could also use a Mutex to avoid the issue as a workaround.

[2019-05-30 19:20] manishrjain commented on #838
We had a similar discussion earlier. It requires a lot of changes on all the endpoints of Badger to determine if Badger is open or closed and how these would interact with each other. All the assumptions about what's running start to fail during the closing sequence. We decided it is best for the user to ensure that they finish their read/writes before closing Badger, instead of us protecting ever

[2019-05-31 08:05] #817 closed

[2019-05-31 08:06] jarifibrahim commented on #831
Fixed via https://github.com/dgraph-io/badger/pull/834

[2019-05-31 08:06] #831 closed

[2019-05-31 10:22] tegk opened #842 "Examples for new stream writer"
Is there a full code example somewhere how to use the new stream writer?

Thanks

[2019-05-31 11:23] jarifibrahim opened #843 "DB Open in readonly mode crashes if directory doesn't exists"
### What version of Go are you using (`go version`)?
go version go1.12.4 linux/amd64

### What version of Badger are you using?
Master

### Does this issue reproduce with the latest master?
Yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
N/A

### What did you do?

[code]
### What did you expect to see?
The above program should return an error when the directory doesn'

[2019-05-31 15:42] jarifibrahim commented on #830
@manishrjain How about updating the discard stats after every X flushes (X can be any number) and also updating it when DB closes?

We could also do a time-based discard stat update but that would mean we're inserting entries in the DB even when the DB is not active.