[2017-12-08 11:41] RyouZhang commented on #344
my test like this:
	for j := 0; j < 100; j++ {
		db.Update(func(txn *badger.Txn) error {
			for i:=0; i<100000; i++ {
				txn.Set([]byte(fmt.Sprintf("A_%d", i)),[]byte("....16kb...."))
			}
			return nil
		})
	}
i think last the item version is 100, i have 99 old version
some time RunValueLogGC(0.5) work, but the old vlog file not be delete

[2017-12-10 06:52] RyouZhang opened #345 "many values lost after GC, error Bad Value: data_79335150578 Unable to read from value log"
line 923 miss close, it will lock vlogfile
**it := txn.NewIterator(opts)
defer it.Close()**

[2017-12-10 10:23] RyouZhang commented on #345
another bug, when i do like:
`	db.PurgeOlderVersions()
	for {
		err := db.RunValueLogGC(0.5)
		if err != nil {
			fmt.Println(err)
			break
		}
	}`
then many values lost, i get Bad Value: data_79335150578 Unable to read from value log: {Fid:26 Len:6635 Offset:513712869}: Unable to find log file. Please retry

[2017-12-10 22:58] peterstace commented on #343
I think this just about covers it. If this doesn't match well onto your use case, we can reopen this issue and continue the discussion.

[2017-12-10 22:58] #343 closed

[2017-12-10 23:56] rebootcode opened #347 "Iterating in reverse Order - Empty Content"
I am trying to Iterate in Reverse Order, but every time, I set `Reverse` to `true`. It gives empty value.

Below is code -

[code]

[2017-12-11 00:38] janardhan1993 commented on #347
When you seek for a key in reverse iterator, we find first key which is less than or equal to the seek key.
Say you have a list of keys

1. "a:key1"
2. "b:key2"
3. "b:key3"
4. "b:key4"
when you seek for "b:" in reverse mode and iterate you will see only key "a:key1" and since you are doing validForPrefix check you won't see any data.

If you want all values for that prefix in reverse mode you shou

[2017-12-11 00:52] peterstace commented on #347
Just be careful of the case where you have keys of the form `"prefix", 0xff, ... some other bytes ...`.

When seeking to the initial iterator position, it would be more correct to seek to the prefix but with the last byte incremented. So if your prefix is `"prefix"`, then you should seek to `"prefiy"`. (Watch out for the case where the last byte in the prefix is 0xff... you'll have to do something

[2017-12-11 00:53] peterstace commented on #347
This whole thing seems a bit tricky for users to get right. Maybe we need a `SeekAfter` method?

[2017-12-11 02:05] janardhan1993 commented on #345
@RyouZhang: Are you getting bad value error in RunValueLogGC ?

[2017-12-11 02:40] rebootcode commented on #347
Wow, I just missed the whole context.  Isn't reverse suppose to iterate the value for key `b` in reverse order like `b:key4`, `b:key3`, `b:key2` ?

I tried, prefixing `0xFF` too like below, yet i see empty results.

[code]

[2017-12-11 03:09] RyouZhang commented on #345
@janardhan1993 no, RunValueLogGC will delete all vlog file execept the last one

[2017-12-11 03:26] manishrjain commented on #347
Just right out of bat, I find this strange:

[code]

Reusing an internal byte slice from item would cause weird issues -- and the one you're seeing might be related. So, fix that, and then re-run the iterator. Also, have a look at the tests which do reverse iteration, and see how they achieve the same results.

[2017-12-11 03:35] rebootcode commented on #347
@manishrjain, Ok, the only other option I see is:-

[code]

But I read in FAQ https://github.com/dgraph-io/badger#frequently-asked-questions, where it says, If writes are getting stuck, then it's better to use `Use Item::ValueCopy instead of Item::Value when retrieving a value.`

Is there any other hack around available where reuse can be fixed.

[2017-12-11 03:37] janardhan1993 commented on #345
@RyouZhang: I didn't get what you meant.
Can you please explain in detail what do you mean when you say many values lost after ValugeLogGC.
Did you have any open transactions from before calling PurgeOlderVersions

[2017-12-11 05:05] manishrjain commented on #301
Done. #346.

[2017-12-11 05:05] #301 closed

[2017-12-11 06:19] RyouZhang commented on #345
Yes, i have many transactions before calling PurgeOlderVersions, but the PurgeOlderVersions only mark the old item to delete, the open transactions will not affect this。
the read can't changed item version, the write will add item version

in the case, the old vlog must have some valid item, but not rewrite to new vlog

[2017-12-11 07:27] janardhan1993 commented on #345
As you can see in our godocs, read transactions started prior to calling purgeolderversions shouldn't be used later.
` // This function could be called prior to doing garbage collection to clean up
   3 // older versions that are no longer needed. The caller must make sure that
   4 // there are no long-running read transactions running before this function is
   5 // called, otherwise they will n

[2017-12-11 07:51] manishrjain commented on #339
Let's postpone this until we're ready for v2.0 launch. For now, second level TTL should suffice. We've tied into it for this version anyway.

[2017-12-11 08:08] RyouZhang commented on #345
my case is very special
20 min, I will write 20w pairs to badger include 19w update 1w insert
after these, call
`db.PurgeOlderVersions() for { err := db.RunValueLogGC(0.5) if err != nil { fmt.Println(err) break } }`
then check all keys and values

[2017-12-11 11:24] RyouZhang commented on #345
ok, maybe i find the reason.
many key delete by this code, in value.go
`func discardEntry(e Entry, vs y.ValueStruct) bool {
	if vs.Version != y.ParseTs(e.Key) {
		// Version not found. Discard.
		return true
	}
`
the vs.Version is different, like this
6049 [104 105 115 116 111 114 121 95 97 100 95 55 56 49 54 54 55 54 50 56 49 55 255 255 255 255 255 255 220 123] 9092

[2017-12-11 11:46] RyouZhang commented on #345
ask a question about ValueStrcut.Version
why the Version can save?? but in value.go
`
	if vs.Version != y.ParseTs(e.Key) {
		// Version not found. Discard.
		return true
	}
`

[2017-12-11 13:33] rebootcode commented on #347
The new `GetSequence` method is more easy to adopt for my requirement, I am switching my option to `nextSequence` approach like an update here #346

Thanks

[2017-12-11 13:33] #347 closed

[2017-12-11 15:22] gedw99 opened #350 "syscall.O_DSYNC compile time error"
Compiled for ios

go version go1.10beta1 darwin/amd64

[code]

[2017-12-11 15:50] gedw99 commented on #350
fixed by adjusting build flags so it works on ios.
Will test on android once i get the test harness setup.

file_dsync.go:
// +build !dragonfly,!freebsd,!windows,!darwin

file_nodsync.go:
// +build dragonfly freebsd windows darwin

Would you mind making this change and see if its all OK through your CI ?

[2017-12-12 00:03] janardhan1993 commented on #345
@RyouZhang: can you please share an working example so that we can reproduce the issue you are facing.
vs.Version != y.ParseTs(e.Key), If lsm gets compacted than the key with that version might be gone so we check if the key with the same version is present in lsm or not before deciding it to discard from value log. (Our internal get function seeks for a key with <= given version => this is not ex

[2017-12-12 03:19] deepakjois commented on #350
I pushed a change to #351. Will merge once the tests have passed.

[2017-12-12 04:58] #344 closed

[2017-12-12 05:19] deepakjois opened #352 "Refactor runBadgerTest function to be smarter when dealing with options"
Here is an example of a recent test that was checked in:

[code]

Notice that we need to add the redundant step to create a tmp directory ourselves because `getTestOptions()` needs them. This could be avoided with a minor refactoring. Maybe `runBadgerTest()` could take a func instead of the options themsleves, which will operate on a default set of options and modify them.

[2017-12-12 05:24] manishrjain commented on #352
Do make sure that it doesn't take two functions. Func as args makes the
code look ugly.

Sent from Nexus 6P

On Dec 12, 2017 10:49 AM, "Deepak Jois" <notifications@github.com> wrote:

Here is an example of a recent test that was checked in:

	dir, err := ioutil.TempDir("", "badger")
	require.NoError(t, err)
	defer os.RemoveAll(dir)

	opt := getTestOptions(dir)
	opt.ValueLogFileSize = 15 << 20
	run

[2017-12-12 06:08] deepakjois commented on #336
#341 is now merged. Please try setting the `ValueLogLoadingMode` option to `options.FileIO` and let us know how it goes. Closing this now.

[2017-12-12 06:08] #336 closed

[2017-12-12 06:10] deepakjois commented on #246
@GwynethLlewelyn #341 is now merged into master. It will be in the next release of Badger.

 Please try setting the `ValueLogLoadingMode` option to `options.FileIO` and let us know how it goes with memory consumption on your host.

We also have a section in our README regarding memory usage. Please give that a read as well: https://github.com/dgraph-io/badger#memory-usage

Closing this for now.

[2017-12-12 06:10] #246 closed

[2017-12-12 09:12] gedw99 commented on #350
great - thanks for super quick followup.

[2017-12-12 13:41] stephane-martin opened #354 "Improve GC strategy to reclaim multiple logs"
Hello,

let's take the following scenario:
- open a database
- insert 1M key/values in badgers, with distinct keys
- delete all the key values
- run PurgeOlderVersions()
- run RunValueLogGC(0.5)
- close the database

Then the db directory has still a large size. It looks like disk space was not reclaimed.
Am i doing something wrong ?

Moreover, when i iterate over the now empty database, iteration

[2017-12-12 17:49] ArnoSen opened #355 "Badger DB (v0.9 & v1.x) not closing in some setups"
I need to help to troubleshoot why in some setups, the Badger DB does not close.

It closes properly when I something like below:
NB: dbmanager is just a wrapper as well as 'db'

[code]

db.Set:
[code]

When I am not able to close a Badger DB is when I use it in combination with a http server using the built-in net/http. I pass a pointer to my database in my HTTP handler so all my routes can acces

[2017-12-12 22:53] peterstace commented on #354
`RunValueLogGC` will reclaim disk space from at most one value log. With 1M key values, there may be many different value log files (depending on the size of the values). To reclaim all of the space, you have to call `RunValueLogGC` multiple times.

[2017-12-12 23:04] peterstace commented on #355
Hi,

Is it possible for you to create a minimal working example that exhibits the problem? Badger doesn't do any HTTP interactions, so I would be surprised if using it in combination with an HTTP server would be a problem.

[2017-12-13 02:01] rebootcode opened #356 "Not enough Documentation #MemoryUsage"
I am running my app on DigitalOcean server with 1GB RAM Server and I got the error:-  `Unable to mmap RDWR logfile`, further googling asks me to follow the URL: https://github.com/dgraph-io/badger#memory-usage

I see some of the options that are to be set to work under LOW GB RAM server, but there is not enough information on what sort of values are set.

**Update**: I am looking into file : https

[2017-12-13 02:09] deepakjois commented on #356
@rebootcode Badger tries to mmap a 2Gb segment of memory for each value log when it starts up. Running it on a 1GB server may be causing an issue.

We just pushed a change yesterday which allows you to change the loading mode of value log files from mmap, to using standard file I/O. That might help in your case. If you use the latest Badger from master, try setting the `ValueLogLoadingMode` to `op

[2017-12-13 02:17] rebootcode commented on #356
I did `go get .....badger` half an hour before, so, I assume, it is the latest version. Below is the code, I am using :-

[code]
I did changes as per your statement:-

imported `"github.com/dgraph-io/badger/options"`

and added

`opts.ValueLogLoadingMode = options.FileIO`

It seems to work, Will update after few testing, just in case anything looks weird.

Thanks for the support

[2017-12-13 04:08] deepakjois commented on #354
@stephane-martin 👍

* `DB.PurgeOlderVersions()` will mark the entries as deleted, in the LSM tree, but will not actually delete the entries in value log.
* Like @peterstace mentioned `RunValueLogGC()`, as it is currently designed picks a single value log file and runs the GC on it. It keeps track of statistics from previous runs of `RunValueLogGC()` to pick something that will yield the best possi

[2017-12-13 05:09] manishrjain commented on #354
Let's add a change by which we can reclaim multiple log file in a single GC, now that we have the information to do so.

[2017-12-13 06:31] deepakjois commented on #354
@stephane-martin if you still have your code to populate the DB, could you try with the changes in #357 and see if you get better results?

If the code is in a form you can share with us, we can run it ourselves and take a look

[2017-12-13 07:01] #356 closed

[2017-12-13 09:24] deepakjois commented on #339
We thought more about this, and there are some inconvenient tradeoffs to think about:

* Like we have already discussed, to implement this we need to change the way we store timestamps on disk. It will break any existing Badger DBs that store TTL values. The only way out for those using TTLs now would be to backup and restore using a special version of our backup tool that would rewrite timestamps

[2017-12-13 10:34] deepakjois commented on #354
I committed changes in #357 in 362eb5f8bbff71b23d2eb92ebaff9b2ab0c41b14

Closing this for now. Please re-open if you encounter issues.

[2017-12-13 10:34] #354 closed

[2017-12-13 15:43] ArnoSen commented on #355
Hi,

I have built a mini version of my from scratch. Sofar I am not able to replicate the issue I have with the full app although I have added more and more details of the old app.

In order to try to find the cause, I have added fmt.Print statements to the Close() method of the Badger lib:
[code]

When I close the DB, this is the ouput:
[code]

I suspect the vlog does not close. Can you assist me

[2017-12-13 16:17] ArnoSen commented on #355
To add to this case:
When I start my http server and close it, then also the badger DB closes properly.
However, after I have ran a query against the db, the db never closes.

[2017-12-13 16:40] manishrjain commented on #355
Can you try to replicate this without HTTP?

[2017-12-13 17:07] ArnoSen commented on #355
As I wrote above, when I use http and just open en close the db (so no transactions), closing is always working. When I have ran any transaction that is initiated as a result of a http request, the closing never completes.

When I use badger without http in simple test scripts, I have never had an issue with closing a db.

[2017-12-13 22:59] peterstace commented on #355
Perhaps it would be easier to go from the other direction - start with your existing app and start removing things. Keep reducing your app (with it still exhibiting the potential bug) until it's a minimum working example.

[2017-12-14 07:54] RyouZhang commented on #345
ok, this is my test code
[
[storage.zip](https://github.com/dgraph-io/badger/files/1558297/storage.zip)
](url)

[2017-12-14 10:20] janardhan1993 commented on #345
@RyouZhang Value log is WAL in badger so until memtables are flushed and written to .sst files the corresponding value log files won't be eligible for GC. Memtable is flushed only when it reaches around 64 mb, since the memtable would have only the key and pointer to the value if you write 10^6 key value pairs(with value size 100k), memtable would consume only around 20mb(assuming 20bytes per key

[2017-12-14 10:30] RyouZhang commented on #345
@janardhan1993 so this sample write 1000k pairs

[2017-12-14 10:54] janardhan1993 commented on #345
@RyouZhang: Thanks for sharing your code, Will update once we fix the issue.

[2017-12-14 14:07] romeovs commented on #343
The `AllVersions=true` trick might work. Is there a way to force the database never to garbage collect old versions?

[2017-12-14 14:11] gpahal commented on #343
This is the default behavior. It won't gc all the versions.

[2017-12-14 15:03] ArnoSen commented on #355
@peterstace : I am working on it. I also upgrade to the latest stable Go (version 1.9.2) but the issue is still there

[2017-12-14 16:12] dvsekhvalnov opened #358 "Question: what is fastest way to load a lot of keys."
Hi all,

this is more question than an issue. Wondering what is fastest way to fetch a lot of keys.

Here is scenario:

1. we do have N keys (10K - 1Mln). And it's not range scan, keys are not 'co-located' if you will.
2. would like to load values for all of them as fast as possible.

What is recommended way? Just do `Txn.Get(..)` one by one in single transaction? Faster way?

Thank you.

[2017-12-14 23:14] peterstace commented on #358
Yes, that's the best way to do it.

[2017-12-15 02:37] deepakjois commented on #358
@dvsekhvalnov You can look at the data population code in the [badger-bench] repo to get an idea of what you can do.

[badger-bench]: https://github.com/dgraph-io/badger-bench/blob/master/populate/main.go#L69

[2017-12-15 02:37] #358 closed

[2017-12-15 02:40] deepakjois commented on #343
@romeovs Just to add to what others have said, older versions are not GC collected automatically. They will need to be purged first, by calling `DB.PurgeOlderVersions()` or `DB.PurgeVersionsBelow()`.

[2017-12-15 07:36] RyouZhang commented on #345
@janardhan1993
in discardEntry, I add this code:
[code]
before call GC
key: bucket_1000
item.Vwersion(): 4060

Start RunValueLogGC
logs:
discardEntry: 20 20 1
discardEntry: 20 20 1
discardEntry: 2057 2057 1
discardEntry: 20 20 1
discardEntry: 2057 4060 1

[2017-12-15 07:49] janardhan1993 commented on #345
@RyouZhang : Please try with latest code, it's fixed now.

[2017-12-15 08:48] dvsekhvalnov commented on #358
Thanks guys !

[2017-12-15 08:57] RyouZhang commented on #345
@janardhan1993 better than before, but aways loss some keys

[2017-12-15 09:16] manishrjain commented on #358
Hey @dvsekhvalnov : Do these following things:

- Set GOMAXPROCS to 128, to allow Go to realize SSD IOPS.
- Run 256 or more goroutines, each running a transaction (concurrently).
- Each txn can run one or multiple Gets serially.

The thing about achieving high read throughput is being able to parallelize the read operations, because that's what SSDs are designed to do -- run high concurrent IOPS.

[2017-12-15 09:36] dvsekhvalnov commented on #358
@manishrjain ,

basically:
 1. split our key set into chunks
 2. fetch chunks in parallel (single transaction per chunk)

?

[2017-12-15 09:48] manishrjain commented on #358
Yeah, that sounds good. Parallelize as much as you can. Remember to set GOMAXPROCS too.

[2017-12-15 11:17] dvsekhvalnov commented on #358
Thanks for idea !

[2017-12-15 13:38] ArnoSen commented on #355
[bclose.tar.gz](https://github.com/dgraph-io/badger/files/1562748/bclose.tar.gz)

I have create a minimum version that shows the DB not closing.
The file creates a directory 'github.com/arnosen/bclose/' .

You need to build it and then start it. This wil start a HTTP server at port 8443, a log file /tmp/bclose.log and the db location is hardcoded to /tmp/db3 .

To replicate the issue you run enrol

[2017-12-16 16:20] dvsekhvalnov opened #361 "Question: get key count in range?"
Hi,

another question, is it feasible to get number of keys between 2 key values?

E.g. let's say we have startTimestamp and endTimestamp as a key, is there is way to get count of keys in-between without iteration through all of them?

Thank you.

[2017-12-17 11:04] buraksezer commented on #354
Hi,

I still experience the same problem. I tried to add 1M key/value pairs into the badger instance and then delete all of them in the same function. Data directory was still too large after running GC but the badger instance had no key/value pairs at that time.

I ran the same code many times and data directory grows constantly. I share [my code](https://gist.github.com/buraksezer/b5ae4ff1a68c73

[2017-12-17 13:41] nochso opened #363 "Add a way to release a Sequence"
The new `Sequence` is really neat, however I wanted a way to release it to avoid wasted integer ranges.

Here's my attempt #362 - it doesn't change existing behavior.

[2017-12-17 17:09] manishrjain commented on #354
Are you calling Purge function?

Sent from Nexus 6P

On Dec 17, 2017 4:34 PM, "Burak Sezer" <notifications@github.com> wrote:

[2017-12-17 17:14] buraksezer commented on #354
Yes, I call the following sequence at the end:

[code]
This is my test code: https://gist.github.com/buraksezer/b5ae4ff1a68c7343d56df4c3fe919040

Thanks.

[2017-12-17 23:22] peterstace commented on #361
At the moment you will just have to iterate over the keys and count as you go.

You can see the iterator options such that the values aren't pre-fetched, which will speed things up a bit.

[2017-12-18 01:57] janardhan1993 commented on #345
@RyouZhang : Can you please try again on master.

[2017-12-18 02:37] RyouZhang commented on #345
@janardhan1993 thanks for your work, now it works fine.

[2017-12-18 02:40] #345 closed

[2017-12-18 03:41] janardhan1993 commented on #354
@buraksezer: In your case the amount of data you are writing is less than 1gb,(default value log file size), there won't be any GC unless you have more than one value log file.

[2017-12-18 03:56] manishrjain commented on #361
Key-only iteration is blazingly fast -- so I doubt you need anything more in terms of counting keys. Let us know if the speed isn't sufficient for some reason.

[2017-12-18 03:56] #361 closed

[2017-12-18 05:28] manishrjain commented on #363
Merged #362

[2017-12-18 05:28] #363 closed

[2017-12-18 10:18] buraksezer commented on #354
@janardhan1993 It seems undocumented. I set 20MB to ValueLogFileSize without changing rest of the code and the data directory still grows constantly even though some of the .vlog files are removed by GC function. All of the *.vlog files are around 20MB.

Total size of the data directory is 1.2GB without any key/value pair. I tried to iterate over the keys with using a new transaction after deletin

[2017-12-18 11:32] dvsekhvalnov commented on #361
Yeah, that's what we basically doing right now. In average key-only iteration gives us about ~1.6mln keys per sec on current hardware. Which is fine.

I'm more curious about capabilities. Fror scenarios with deep paging and when not using offsets (e.g. next page key), skipping first 1mln rows sounds like waste. While getting overall results count is always nice.

Thanks for answer.

[2017-12-18 11:58] manishrjain commented on #361
To precompute counts is tricky. Because based on the read timestamp and iterator settings, some key versions might be skipped or might be overridden by something newer in upper levels of the LSM tree, etc. You can't get accurate counts, without iterating.

[2017-12-18 14:34] dvsekhvalnov commented on #361
Ah, interesting point about versions, i see.

That's what we do for pagination usually, returning `offset` (last known key) to client. But sometimes client can lost session and have only `page` number. To give an example - copyable urls, where you send link to somebody. Usually it will not contains `offset` string.

[2017-12-18 22:28] mperham commented on #330
I'd definitely love to see merge support.  I'm trying to spike a Badger version of Faktory now.

[2017-12-19 00:41] janardhan1993 commented on #354
@buraksezer:  We will document the gc behaviour.
Deleting a key and committing doesn't make older versions of the key eligible for gc collection. You need to call purgeolderversions.
If you still face any issues after that, please share your code.

[2017-12-19 00:55] stephane-martin commented on #354
@janardhan1993 please note that buraksezer's gist does include a call to PurgeOlderVersions(): https://gist.github.com/buraksezer/b5ae4ff1a68c7343d56df4c3fe919040#file-badger-test-go-L70

[2017-12-19 03:13] deepakjois commented on #330
@mperham We are working on merge support in #360. It should be merged very soon now.

[2017-12-19 03:51] deepakjois commented on #355
Thank you for providing the code. I can replicate the issue as you describe it. I will investigate further and update this issue once I have figured out the root cause.

[2017-12-19 04:49] deepakjois commented on #355
@ArnoSen The problem is in the `DB.Get()` method in the file `server/db/db.go`.

First, let me emphasise this point in the godocs for Badger’s `Item.Value()` method:

You are holding on to the item outside of the transaction which is not the correct behavior. I would modify your method to something like below to copy the value so that it can be used outside of the txn (using `Item.ValueCopy()`):

[2017-12-19 05:20] rebootcode opened #366 "multiple instance for multiple directory ?"
Is it possible to create multiple instances for storing a variety of data in multiple directories. I want to store "blog" data in blog folder, "user" data in user folder and so forth.

It's like creating multiple buckets for different types of data. I know, there is prefix option to separate between data, but it complicates thing when we need to do lots of mass changes.

Having multiple buckets fo

[2017-12-19 05:54] deepakjois commented on #366
The only way to do what you are asking for, is to have two _independent_ Badger databases in two different directories.

It is possible to write some code on top of badger which will manage these independent databases for you, for e.g.

[code]

 but you can never have any sort of ACID guarantees on concurrent reads/writes that spans multiple DBs. Transactions on these databases execute independent

[2017-12-19 05:55] #366 closed

[2017-12-19 06:01] manishrjain opened #367 "Value log GC to rewrite file in-place"
We currently append valid entries to latest log, and then discard the older log file. This causes us to rewrite these keys back into the LSM tree, but with older versions -- which causes us to have to look through the entire LSM tree for every key lookup (which affects read latency).

Instead, we can add an index at the end of the value log file, which has entry id -> file offset. And as we discar

[2017-12-19 06:03] manishrjain commented on #367
Similarly, PurgeVersionsBelow should not modify the LSM tree. Instead, it should just set a key -> version entry, which can be used during value log GC.

In other words, there should be no case, where an older version should be written to the LSM tree. The versions should always increase monotonically.

[2017-12-19 06:23] deepakjois commented on #355
So the root cause of the problem is that  calling `item.Value()` acquires a lock on the value log, and inserts a callback that is intended to be called when `txn.Discard()` is called (either by client code or automatically by Badger when `DB.View()` or `DB.Update()` calls finish). This call back releases a lock that is acquired.

Calling `item.Value()` outside of a transaction however (which is un

[2017-12-19 06:24] deepakjois commented on #355
Closing this for now. Please re-open if you are still facing the issue even after you call `Item.Value()` correctly.

[2017-12-19 06:24] #355 closed

[2017-12-19 06:26] deepakjois commented on #330
Merge support is now added. Please try it out. Closing this for now. Please re-open if you have any other concerns related to this.

[2017-12-19 06:26] #330 closed

[2017-12-19 07:27] janardhan1993 commented on #354
@buraksezer @stephane-martin , can you please try using master now.

[2017-12-19 07:35] deepakjois opened #368 "Better error handling for background goroutines"
Right now, when we have a background goroutines performing tasks like compactions, merge operations etc. and they encounter an error, we log an error and keep going. It would be good to come up with a better pattern to handle these errors.

One idea that came up is to have a sort of pattern where we send an error on a channel, to a goroutine on the other end which can make a better decision around

[2017-12-19 10:03] ArnoSen commented on #355
Thanks for looking into this. Also I appreciate your quick response.

Other then improving the documentation, I would prefer that dependencies are made more explicit in the code (and e.g. a compile error is thrown) so as a developer you cannot run into a situation like this.

But thanks again for the investigating this issue. Keep up the good work!

[2017-12-19 11:01] buraksezer commented on #354
Hi,

I ran my test code with the most up-to-date code. It looks better but the data-dir still grows constantly without any valuable data. The code is the same with _opts.ValueLogFileSize = 20971520_

Thanks.

[code]

[2017-12-19 11:19] janardhan1993 commented on #354
@buraksezer: As i said one vlog would always be there, i will check why the other vlog is still there.
The tombstones are not removed from sst and hence the size keeps on increasing.

@deepakjois might know whether we have a tool/function to remove it from sst.

[2017-12-19 11:23] deepakjois commented on #354
We don’t have a tool yet, but #99 is tracking that. We are aiming to get  that done soon.

[2017-12-19 11:45] manishrjain commented on #354
Honestly, I think the data size is so small, that Badger might not do much. Note that Badger is designed to deal with huge workloads, so it's actions with megabytes worth data can't be linearly extrapolated to what it would do with tens or hundreds of gigabytes, or terabytes.

[2017-12-19 12:26] komuW commented on #330
you guys, do move fast. sweet. 👍

[2017-12-19 12:34] manishrjain commented on #330
@mperham : If you end up using Badger for Faktory, do add it to the list of users :-).

[2017-12-19 17:53] mperham opened #369 "Bulk deletes fail when over 100 items"
Here's a test which:

1. Creates 200 items
2. Iterates over the DB and verifies we see 200 things
3. Deletes 200 items
4. Iterates over the DB and verifies we see 0 things

This test passes if the count is 99 and fails if 101 so there is a magical value of 100 at work here.

https://gist.github.com/mperham/d1b57b7a78ae06983076729af4f4a258

[2017-12-20 00:41] mperham opened #370 "Backup API improvements"
Today, the Backup() API is rather low-level.  It would be nice if Badger exposed a higher-level BackupEngine API like RocksDB which handles multiple incremental backups and combines them into a single RestoreFromLatestBackup() call.

Ideally I can use the API to easily create an hourly incremental backup with a daily full backup.

https://godoc.org/github.com/tecbot/gorocksdb#pkg-index

[2017-12-20 04:09] peterstace opened #371 "Operations after close should give error rather than panic"
In dgraph, some operations on badger are performed periodically in the background. If the badger instance is closed before these operations occur (e.g. during shutdown), then the operations will panic.

Ideally, they would give an error instead.

[2017-12-20 04:10] peterstace commented on #371
Related dgraph issue is https://github.com/dgraph-io/dgraph/issues/1939

[2017-12-20 04:32] peterstace commented on #371
Closing -- earlier discussions leave it up to the user (dgraph in this case) to not run operations after badger has been closed.

[2017-12-20 04:32] #371 closed

[2017-12-20 06:19] janardhan1993 commented on #367
I have started working on the purge part first. Purge will write a new key which would be used during GC.

[2017-12-20 06:21] manishrjain commented on #367
Okay. I'll work on the VC log in-place rewrite.

[2017-12-20 08:26] deepakjois commented on #369
This is a really strange bug. I can see all the delete operations making the way to the `writeRequests` method in `db.go`. At that point they are written to the memtable. I havent dealt with that part of the codebase too much so I am not sure what is the best way to debug it.

I am thinking of just parsing the files on disk and making sure the deletes are reflected there. If they are not, we can a

[2017-12-20 08:40] janardhan1993 commented on #369
Just noticed that key is not being copied before passing to delete. The item would be reused so the value of key can change by the time it's committed. Since default prefetchsize is 100, item won't be resued upto 100 values hence the issue.

[2017-12-20 08:52] deepakjois commented on #369
Sigh…yes I did not spot that.

@mperham If you modify your delete call from:

[code]

to

[code]

It should work.

I will add some documentation around copying keys and values.

[2017-12-20 09:19] vrealzhou opened #372 "Can badger open database in readonly mode without locking?"
Is it possible to add option to open database in readonly mode which no need to lock the database? It could share the database between different read only processes?

[2017-12-20 12:03] mperham commented on #369
It would be useful to have a KeyCopy() API just like ValueCopy().

[2017-12-20 17:59] mperham commented on #369
ValueCopy makes it really obvious in the API that the user needs to think about the scope of the value.  I would argue Key needs the same.

I would also wonder if you should be performing Item caching in a write transaction.  Safer not to reuse Items in that case?

[2017-12-20 18:08] mperham opened #373 "Merge scalability"
Right now the merge operator creates a goroutine and ticker for every key that uses merge.  If I have thousands of statistics keys, some of which are dynamically generated, this doesn't work.

Ideally I could say "create a merge operator for all keys with prefix `xyz`".  The associated goroutine would scan the keyspace every N seconds for all new versions of those prefixes to merge.

Also ideally:

[2017-12-22 02:02] umbrellary commented on #299
PurgeOlderVersions() and RunValueLogGC() does not seem to work...
I am using it on an embedded device, so I'm very concerned about the size of the vlog file...
![image](https://user-images.githubusercontent.com/6939585/34282281-27c2893a-e6ff-11e7-87a8-21d033d2c384.png)

[2017-12-22 02:03] umbrellary commented on #354
PurgeOlderVersions() and RunValueLogGC() does not seem to work...
I am using it on an embedded device, so I'm very concerned about the size of the vlog file...
![image](https://user-images.githubusercontent.com/6939585/34282281-27c2893a-e6ff-11e7-87a8-21d033d2c384.png)

[2017-12-22 02:34] janardhan1993 commented on #354
@umbrellary: This might be due to the check in code that a file in GC'ed if atleast 10mb(minimum threshold) can be discarded. Have you set the value log file size to 1m in options?
We will change the min threshold based on value log file size.

[2017-12-22 03:15] umbrellary commented on #354
@janardhan1993 Yes, i have set the value log file size to 1m in options, as you said, the min threshold should based on the value log file size 😄

[2017-12-22 06:05] luma opened #374 "Calling DB.Close() multiple times is not safe"
Calling `Close()` multiple times panics during an attempt to close the `closed` channel in `Closer` multiple times.

It seems like either calling `Close` after the DB is closed should suceed, or the docs should mention that it's not safe so developers can guard against it.

Gory details:
[code]

[2017-12-26 11:17] pydima opened #376 "File id limit"
Hello. I've found in the code the following line: https://github.com/dgraph-io/badger/blob/a05762747bf83bc4633e80d48ed4c468cccf8099/value.go#L728
you check here that file id doesn't overflow uint16. But I don't see any id rotation mechanism or something. So it looks to me that if I have long living db, that created 65536 files, badger will stop working at this point. Is it correct? Thank you.

[2017-12-26 12:00] rebootcode opened #377 "How to use badger without Persistent ? only in ":memory:""
I want to use `badgerdb` for chat application with `multiple room` options. I want to store all chat in badgerdb, I want to ask the badgerdb team, is `badgerdb` right choice for chat message app?

Also, as stated in example `README` file, it stores code in same file, but I want to store them in memory without persistence.

[code]

Is there any option, where we can set option to store data in ":mem

[2017-12-26 22:49] janardhan1993 commented on #376
@pydima The size of each value log file is 1gb, so uint16 would give us about 65TB of data. We choose uint16 thinking it should be sufficient for most of the workloads.

[2017-12-26 22:52] janardhan1993 commented on #377
@rebootcode Badger is designed to support high throughput writes and reads with persistence in mind. If you want to store the data in memory without persistence you might want to look for other alternatives.
Else you can also try badger with sync writes set to false in option, it would give you better performance and also persist the data in async way.

[2017-12-26 23:17] manishrjain commented on #377
You could also use tmpfs to store data. That would give you fast storage.

Sent from Nexus 6P

On Dec 27, 2017 9:52 AM, "Janardhan Reddy" <notifications@github.com> wrote:

[2017-12-26 23:43] manishrjain commented on #376
Actually, @janardhan1993 I remember we switched it to uint32. The surrounding code is using uint32. And it's possible that the assert got left behind? Maybe read through it again just to verify.

[2017-12-26 23:51] janardhan1993 commented on #376
It's uint32, i will change the assert.

[2017-12-27 00:09] janardhan1993 commented on #376
@pydima : The limit was changed to uint32 but the assert remained, i have updated it to check for maxuint32 now.

[2017-12-27 02:40] rebootcode commented on #377
@janardhan1993 and @manishrjain - I would like to verify below settings as recommended above :-

[code]

Thanks

[2017-12-27 02:49] janardhan1993 commented on #377
Looks good.

[2017-12-27 02:57] #377 closed

[2017-12-27 04:31] pydima commented on #376
Ok, thanks for the information. But as far as I understand 65TB of data is the write limit not data limit. I mean let's imagine that I'd use it for message queue system, I'd have a lot of data writes, that would be latter GC'ed but when I write 65TB of data my application will stop working, because it reached the max number of files, however at this point I might have only let's say 5 value log fi

[2017-12-27 04:33] janardhan1993 commented on #376
we changed the limit to uint32 which allows upto 42949672955GB , the assert was not updated after changing the id from uint16 to uint32.

[2017-12-27 04:45] pydima commented on #376
OK, got it, it's intentional. Thanks for answering.
P.s. To be precise the limit now is 999999GB, since you use 6 digits in filenames.

[2017-12-27 04:48] manishrjain commented on #376
6 digits are for padding. There's no limitation on the number used as the filename.

[2017-12-28 08:40] ty2 opened #379 "Cannot handle errors occurred in badger/y/error.go"
`log.Fatal()` calls `os.Exit(1)` in the end, the program will exit immediately. Is it possible to use `panic()` instead, so that errors can be handle by the program.

[2017-12-29 00:23] GlenDC opened #380 "ErrKeyNotFound when running multiple async write->read jobs"
Badger seems to have a bug, where when writing and reading from many goroutines at the same time, the data is not immediately available.

This bug is still valid on latest master: commit 0225b784d8dfc250b3be597fa806f0fd677a6628

The procedure to reproduce this issue all one have to do is:

+ create a badger db with default options;
+ spawn x amount of goroutines (how high x needs to be depends on

[2017-12-29 08:45] Asarew commented on #380
I encountered the exact same issue a couple of weeks ago, but instead of calling `tnx.Get()` I iterated over the keys and saw a very consisted drop in keys. after some quick testing i found out that on average was loosing `99.730%` of the ~35000 key that i wrote into badger.

[2017-12-30 04:27] alvarolm opened #381 "Implement sql layer"
Would be very useful to port an existing sql layer to interpret sql querys, like cockroachdb, https://www.cockroachlabs.com/docs/stable/architecture/sql-layer.html

this could potentially help badger gain ever more traction and open new opportunities for porting into existing projects that already use sql.

[2018-01-02 01:04] peterstace commented on #379
In places where some internal invariants have been violated, we will use fatal style error handling, since it indicates a serious programming problem in badger. For any errors that can 'normally' occur, e.g. can't read from file, we return errors back via badger's public API.

If there's a particular place in the code where you feel it would be better to return an error rather than check it fatall

[2018-01-02 01:40] janardhan1993 commented on #380
Fixed in master. @GlenDC I verified using your program, i was able to reproduce the issue before the fix, now it works fine.

[2018-01-02 01:40] #380 closed

[2018-01-02 12:15] ty2 commented on #379
If Badger internal error is occurred, it should at least return "internal error" message, because badger is not a standalone program, it should let the main program to determine what should do next rather than print error and exit immediately, it is not friendly and it cannot recover by the main program.

For example,
Currently, if a DB file are corrupted, Badger will print error and exit immediat

[2018-01-02 13:22] GlenDC commented on #380
Thank you very much @janardhan1993, I can confirm that our unit tests do indeed pass now. My example program runs locally fine as well now.

[2018-01-02 13:23] Asarew commented on #380
Same here! thnx for the quick fix @janardhan1993 <3

[2018-01-02 19:30] whyrusleeping opened #383 "panic in 'parseKV'"
An ipfs user reported a panic while using badger, occurring here: https://github.com/dgraph-io/badger/blob/master/table/iterator.go#L118

Initial error report (and full stack trace) here: https://github.com/ipfs/go-ipfs/issues/4512#issuecomment-354666564

[2018-01-02 19:32] whyrusleeping commented on #383
relevant hunk of the stack trace:
[code]

[2018-01-02 22:49] peterstace commented on #379
Agreed, badger should give an `error` in this case, rather than doing anything fatal.

I had a look at the places we `y.Check` is used, each case should be reviewed manually.

[code]

Indeed, the first one (in `manifest.go`) logs fatal if the manifest is corrupted - would be better to bubble the error back up to the public API

[2018-01-02 22:54] manishrjain commented on #379
I'd argue that's the right behavior. If a corrupt DB is used, the program behavior would be unpredictable. A user might ignore this error, and continue using this DB, and waste a lot of time bumping against walls because nothing crashes.

OTOH, the current behavior of crashing immediately on a corrupt DB means the user can create a new DB, or use external tools to try to fix the DB, before restart

[2018-01-03 00:18] janardhan1993 commented on #383
@whyrusleeping Which version of badger are you using ? Are you using maste?

[2018-01-03 00:26] whyrusleeping commented on #383
@janardhan1993 i'll have to check the exact commit we vendored from, but you can find the code we're using here: https://ipfs.io/ipfs/QmXtSA4dxoDKMzhHkwqeoBoBYASov1ZWnLQo38juKNbe3z/badger

Our keys are generally around 40 bytes long if i remember correctly.

 cc @magik6k who has been working closely with badger for us.

[2018-01-03 00:31] janardhan1993 commented on #383
@whyrusleeping Can you also share the badger directory if possible, it would help us in debugging faster.

[2018-01-03 00:34] whyrusleeping commented on #383
@janardhan1993 I don't know if we can. Its from a user who reported the issue. I'll ask.

[2018-01-03 07:03] deepakjois commented on #381
Our goal is to keep Badger as simple as possible. So it is unlikely we will take this on. I suppose an SQL layer can be implemented on top of Badger if required, as a separate package.

[2018-01-03 07:03] #381 closed

[2018-01-03 07:10] deepakjois commented on #373
I do concede that the merge feature, as it is designed currently is not ideal for your use case. It may not be too difficult to modify the merge feature to operate on a prefix, instead of a specific key. I could look into it.

@manishrjain Do you have any thoughts around this?

[2018-01-03 07:12] deepakjois commented on #372
I don’t believe this is possible without a major design change, that will affect multiple layers in the code. So I am not sure if this is something we will look into actively.

[2018-01-03 07:14] deepakjois commented on #376
It appears the query is resolved. Closing, but pls re-open if there is any more related questions.

[2018-01-03 07:14] #376 closed

[2018-01-03 13:42] fingon opened #384 "Badger deadlocks for me"
When doing heavy I/O (e.g. ~100+MB/s writes in relatively large transactions, consisting of small keys + values in 100b-64kb range) Badger seems to die at few gigabyte mark for me consistently.

The app in question uses Badger only from two goroutines at a time, and I am taking care to have mutex enforce only one client at a time uses it. The 'commit' stage (in which it does bulk set/deletes) blow

[2018-01-03 15:22] fingon commented on #384
This might be actually OS X oddity too, it seems as if OS X misbehaves somehow some of the time (I managed to do same without Badger once already). I'll reopen if I manage to get some small sample that reproduces this.

[2018-01-03 17:15] ty2 commented on #379
This is a user(software authors) problem, they can choose repair the db in the same program, continue running the program or exit immediately wherever they want to handle a error because they can get the error signal in the program.

~~Why Bager don't exit immediately if any error occurred, the program behavior would be unpredictable?~~

If any error occurred in any third party library and exit im

[2018-01-03 17:31] rjasonadams commented on #367
Over time wouldn't this create many small files (bad for the filesystem)? An option to rewrite the vlog file after it falls below a certain size could make sense.

[2018-01-03 18:30] mperham opened #385 "Version constant?"
You have a changelog with versions in it but no way to determine at runtime what version of Badger is in use.  Perhaps you could add a constant like `badger.Version = "1.3.0"`?

[2018-01-03 20:26] fingon commented on #384
Unable to come up with small sample, but the issue I thought was the same was not in the end. So this is something that occurs only with Badger. It seems to wind up in that particular backtrace and never get out:

goroutine 36 [semacquire]:
sync.runtime_Semacquire(0xc42c3c0d0c)
	/usr/local/Cellar/go/1.9.2/libexec/src/runtime/sema.go:56 +0x39
sync.(*WaitGroup).Wait(0xc42c3c0d00)
	/usr/local/Cellar/

[2018-01-03 22:26] manishrjain commented on #384
Sometimes things like these can be tracked down to a variable which was used out of scope. So, if you can show your code which causes this behavior, we could have a look.

[2018-01-03 23:59] fingon commented on #384
https://github.com/fingon/go-tfhfs/blob/master/storage/badger.go is the code that blows up. Similar bbolt backend ( https://github.com/fingon/go-tfhfs/blob/master/storage/bolt.go ) and raw filesystem backend ( https://github.com/fingon/go-tfhfs/blob/master/storage/file.go ) work fine so the surrounding code is most likely ok, and the code that actually writes to db is single-threaded.

[2018-01-04 00:01] fingon commented on #384
It locks up invariably in the commit() method when SetInFlush(false) is called (= view switches to read-only use). All that one does is just call badger.Txn.Commit().

[2018-01-04 00:11] janardhan1993 commented on #384
@fingon I took a quick look through your code, when you get errTxnToobig you are commiting the txn and creating a new txn but you forgot to call discard() on old transaction.

[2018-01-04 00:15] janardhan1993 commented on #383
@whyrusleeping It would be great if you can share a way to reproduce this.

[2018-01-04 00:45] fingon commented on #384
The clients that use that API do their own copying (and much sooner than long-lived transaction is gone) so it is probably ok. I added missing discard, but it did not fix the issue. ~gigabyte or two in and it stalls, it does not stall if I e.g. start it under race detector (no races detected but I guess it alters the goroutine scheduling or something).

[2018-01-04 00:47] fingon commented on #384
similarly adding log.Print's or something causes it to last longer or possibly even indefinitely; the ~100MB, ~10-20k sets/second kills it very fast. I am batching the sets so basically slamming those 10-20k sets in at once per second, with retried transactions when toobig error shows up.

[2018-01-04 00:50] whyrusleeping commented on #383
@janardhan1993 I'm working on it, the user was just running ipfs using badger on windows.

We're using commit a9ee745cab4986fd4511c3882f9797501ed45dd6 of badger. We're suspecting that its either a race condition or a memory corruption issue somewhere (theres a good amount of 'unsafe' usage in badger that we havent looked through in the skiplist)

[2018-01-04 04:34] deepakjois commented on #385
I think it might be better to expose the manifest version, instead of the Badger version. For all the potential uses a publicly available version that I can think of, a manifest version is more robust and will change less often. Badger minor and patch versions could change due to features being added etc.

[2018-01-04 04:49] manishrjain opened #387 "Badger Experience Reports"
While using Badger, if you ran into performance or API issues, or anything else that was confusing -- let us know in this thread. This would help us understand common problems and hopefully address them in meaningful ways.

Please, do not mention crashes or other bug reports here. Those should be filed as separate issues. This thread is more about how your experience with Badger was different from

[2018-01-04 17:03] mperham commented on #385
It looks like you properly tag your releases so I will just pin to a tag, e.g. "v1.3.0", and include that tag in the build.

[2018-01-04 17:03] #385 closed

[2018-01-11 17:07] ivanjaros opened #394 "Badger UI"
Hi,
is there a UI library(cli/web/...) for browsing the contents like there is for BoltDB?

[2018-01-11 17:18] ivanjaros opened #395 "Sequence keys"
I have a need for sequenced keys, ie. auto-increment(I want to only append records). Is there such option? In the readme the "sequence block" is mentioned but I don't think that is what I'm looking for. Is there such option?

[2018-01-11 17:49] ivanjaros opened #396 "Surprising performance"
Hi,
I was looking for fast storage in Go and so my first try was BoltDB. I need a lot of single-write transactions. Bolt was able to do about 240 rq/s.

I just tested Badger and I got a crazy 10k rq/s. I am just baffled. I even tried to set the TableLoadingMode and ValueLogLoadingMode options to FileIO, with SyncWrites being true by default(I'm using the DefaultOptions) but the results are almost

[2018-01-11 18:37] jackmcgary opened #397 "Invalid value pointer offset"
I'm writing a bunch of values with:
[code]
Then a moment later I'm trying to pull them back out:
[code]
When I try to read the value it errors out:
`Invalid value pointer offset: 1550993 greater than current offset: 1531447`

Am I missing something here? Thx.

[2018-01-11 20:06] manishrjain commented on #397
Shouldn't be happening. Can you please create a working example which can show this problem?

[2018-01-11 23:36] pawanrawal commented on #394
Hey @ivanjaros. We don't have any UI library to browse the contents.

[2018-01-11 23:45] pawanrawal commented on #395
Hey @ivanjaros

You could get a sequence number using https://github.com/dgraph-io/badger#monotonically-increasing-integers, add your own prefix to it and store that as the key.

[2018-01-11 23:51] pawanrawal commented on #396
LSM tree has an advantage compared to B+ tree when it comes to writes. Also, values are stored separately in value log files so writes are much faster. You can read more about the design here https://blog.dgraph.io/post/badger/.

[2018-01-11 23:51] #396 closed

[2018-01-11 23:52] #394 closed

[2018-01-12 00:21] manishrjain commented on #396
We also run transactions concurrently, while BoltDB runs them one at a time. We also ran some read benchmarks against Bolt, and we're neck to neck in terms of reading performance as well, despite B+ trees having an advantage over LSM trees. This is because of our unique design. I'm planning to write a paper on it.

https://blog.dgraph.io/post/badger-lmdb-boltdb/

[2018-01-12 10:48] fingon commented on #384
Closing this, as switching to smaller transactions it went away. No idea if it is Badger bug or not, but now it works 100% fine for me.

[2018-01-12 10:48] #384 closed

[2018-01-12 11:28] ivanjaros commented on #395
Hm I guess I'd rather use timestamps. This seems complicated.

[2018-01-12 11:28] #395 closed

[2018-01-12 11:33] ivanjaros commented on #372
I just did a blocking test and seems badger does not block readers and writers so you could utilize multiple readers and to avoid writes, add api layer on top of badger.

[2018-01-12 11:35] ivanjaros opened #398 "Q: Iterator ordering guarantee"
Hi,
if I only append new records(ie. key is never duplicated), does Badger guarantee proper(time-based) ordering of records in the same order they were written?

_I am using https://github.com/segmentio/ksuid for keys_

[2018-01-12 19:58] notbdu opened #399 "Feature Request: Setting Total DB Size Limit"
Any plans on allowing clients to set a total db size limit?

Currently, in order to maintain an upper limit on DB size, I would have to track the size of badger and expire out the oldest data explicitly in a loop. This is best effort and makes it impossible to guarantee a size limit.

Additionally, after reviewing `doRunGC`, it looks like a value log rewrite is triggered based on a threshold level

[2018-01-12 21:04] #397 closed

[2018-01-15 05:09] deepakjois commented on #398
The iterator has a guaranteed order, but it isnt ‘time-based’. It is based on the lexicographically sorted order of the byte value of the keys.

A cursory reading of the ksuid docs suggest that they are lexicographically sorted: https://github.com/segmentio/ksuid#3-lexographically-sortable-portable-representations

Does that answer your question?

[2018-01-15 05:09] #398 closed

[2018-01-15 09:41] spx commented on #354
i  have problem with delete too, https://gist.github.com/spx/8a1f3cc290f9c50b4fbd57dcb6a437c9 before delete i have ~250mb of .vlog and after delete i got 350mb of .vlog. i trie variuos params ValueThreshold ValueLogFileSize. am i doing it wrong?

[2018-01-15 21:56] janardhan1993 commented on #354
@spx deleting a key doesn't make the value eligible for gc. Badger stores all versions of a key, so when you delete a key, it would be stored as another version. You need to call purgeOlderVersions and then call RunValueLogGC

[2018-01-18 10:18] osiloke opened #401 "Bug? Missing keys after backup then restore of a large db"
I'm having trouble grasping the results of backing up and restoring a badgered database.
I have a database which has a couple thousand entries. I run badger_info which gives me the result below:
[code]
I run badger backup to backup the the database. Then i restore the database to a different folder and run badger_info which then gives me the result below.

[code]
I assume it compacted the database

[2018-01-19 03:08] Draal commented on #401
I hit the same issue with backup / restore, this is the gist which reproduces it
https://gist.github.com/Draal/f7feb3f5ca58d5902ff134e446de31b1

I've tried different options/closing opening, etc with no luck.

[2018-01-19 08:44] baiwfg2 opened #402 "some namings in source code are confusing"
Hi. Lately I happen to read some source code of badger in order to know how it implements WiscKey structure. But some naming really puzzles me. For example, What's exactly folder ***y*** means ?  Another word, oracle, is there a  practical meaning in this context ?

[2018-01-19 11:39] #402 closed

[2018-01-19 11:50] baiwfg2 opened #403 "What if key is not stored in LSM-tree ?"
According to Wisckey paper, key is stored in LSM-tree, value is stored in separate vlog file. In such way we can understand it can indeed reduce read and write amplification compared to original LSM-tree way. So in this case is it necessary for key to be stored in LSM-tree ? Is it possible for key to be stored in the same way as value to get higher performance ?

[2018-01-20 01:54] MoZhonghua commented on #403
I have read this paper recently, and found following sentence:
=============================================
3.4.2 Optimizing the LSM-tree Log

In WiscKey, the LSM-tree is only used for keys and value addresses. Moreover, the vLog also records inserted keys to support garbage collection as described in the previous section. Hence, writes to the LSM-tree log file can be avoided without affecting co

[2018-01-20 02:29] MoZhonghua commented on #401
I found the db.orc.curRead is not updated after item loaded,  so later txn can only see item with ts == 0. Two ways to fix:
  1. set db.orc.curRead to max(db.orc.curRead, max(ts of entries)) after load
  2. ignore item's old timestamp and re-insert them using normal txn

[2018-01-20 09:58] ivanjaros commented on #395
If anybody's interested, I have used https://github.com/segmentio/ksuid and Badger uses natsort for keys so you can achieve a correct order(ie. sorted by the time the record was created).

[2018-01-20 22:15] gedw99 commented on #244
@deepakjois @whyrusleeping
There is a PR that fixes the DSNCY issue kindly submitted ..
https://github.com/dgraph-io/badger/pull/378

[2018-01-21 15:58] toby3d opened #405 "Comparison with BuntDB?"
See: https://github.com/tidwall/buntdb

[2018-01-21 23:11] janardhan1993 commented on #403
@baiwfg2  Searching for key would be slow if key is not stored in LSM.

@MoZhonghua We don't have LSM-tree log, we use vlog as our write ahead log for crash resilence.

[2018-01-22 03:06] deepakjois commented on #244
I think #378 just slipped through the cracks, maybe because of the CLA confustion. Sorry about that. I will take a look at it today, and make the changes myself.

If somebody is willing to make a script to do CI on these platforms, we would happily accept a pull request.

[2018-01-22 09:20] gedw99 commented on #244
hehe. no worries !! :)

Ok i cant promise a CI script that soon. Snowed under. If i am forced to make one for work, but def come back here and post it

thanks

[2018-01-24 03:27] h7kanna commented on #402
I too have the same question!

[2018-01-25 00:48] h7kanna commented on #402
Hi @janardhan1993, I observe package 'y' being used by in dgraph also.
https://godoc.org/github.com/dgraph-io/badger/y?importers

'internal' package might be more appropriate if it is internal package only to badger.
Only a suggestion.

Thanks.

[2018-01-25 03:14] blueCao opened #407 "Transaction set(key, value) no response."
### I am try to write 1.5 Billions records by 32 writing-transaction threads with each value is 100 bytes(fill with 1) and the key is just the number from 1 to 1.5 billion . When the badger DB directory size is comming up about 286G, the program was sleeping without any response (the DB size didn't change and the console didn't alert error).

- here is [my badger writing-test code ](https://github

[2018-01-26 02:05] MoZhonghua opened #408 "partial vlog will cause badger panic"
Suppose following steps:

1. open db, open txn, write (1-1000) items, commit; vlog just write 500 items and crash

2. re-open db, these 500 items will not be write to LSM becasuse there is no TxnFin for them

3. open txn, write (1001, 2000) items, commit; vlog write data and crash before these data written to LSM (this brute sequence shoud make badger to replay vlog when open)

4. Now, there are f

[2018-01-26 03:21] Preetam opened #409 "Write skew anomaly with concurrent transactions"
Following up from https://twitter.com/manishrjain/status/956501292523769856.

See second paragraph here: https://en.wikipedia.org/wiki/Snapshot_isolation#Definition

Example program: https://gist.github.com/Preetam/5b7f75e0cdff36898aa0d1fade227726

The initial set of keys is "0", "2", "4". Then two transactions are started concurrently.

* Txn A adds "6" to the set and counts the number of odd num

[2018-01-26 09:49] MoZhonghua commented on #409
Even run txn one by one, You can never get (_even, _odd) = (4, 1) :
- A before B: (_even, _odd) = (4, 0)
- B before A: (_even, _odd) = (3, 1)

Anyway, (_even, _odd) = (3, 0) is wrong answer.

[2018-01-26 11:06] Preetam commented on #409
Ah, yes. You're right. Good point.

[2018-01-26 16:33] hillu opened #410 "Deadlock on single-threaded, large writes, including reproducer"
Hi,

I am trying to implement an inverted index based on bitmaps stored in BadgerDB and have run into deadlock issues that seem similar to those described in #384. I have put together a [reproducer](https://github.com/hillu/badger-lockup-reproducer).

There are bulk writes that can become rather large and often need to be split across multiple transactions. I had also experimented with reducing th

[2018-01-26 23:14] manishrjain commented on #410
I ran the reproducer, added some logs as well. But, it kept on going and all it did was freeze my laptop. I haven't been able to replicate the deadlock.

[2018-01-27 03:19] hillu commented on #410
@manishrjain Did the program ever reach entry 134?

[2018-01-27 08:57] MoZhonghua commented on #409
According to [Serializable Isolation for Snapshot Databases](https://courses.cs.washington.edu/courses/cse444/08au/544M/READING-LIST/fekete-sigmod2008.pdf), section 2.3:
[code]

When you iterate the keys, you are running a predicate on whole database, so this should be a read/write confliction if other txn make __ANY__ changes to database.

In relational database, there is a table to lock. In badg

[2018-01-28 06:03] MoZhonghua opened #411 "Why single value compression is removed?"
I wonder why single value compression is removed from badger. I try to re-implement this feature with snappy compression, and found a big performance boost when data is highly compressable.

##  Test computer
- OS: Arch Linux
   * Linux arch 4.14.15-1-ARCH SMP PREEMPT Tue Jan 23 21:49:25 UTC 2018 x86_64 GNU/Linux
- Storage: Netac SSD 240GB
- CPU: AMD Ryzen 1600x
- RAM: 16GB
- Filesystem: ZFS with

[2018-01-29 17:08] hillu commented on #410
@manishrjain Would you like to share the log statements that you added?

[2018-01-30 02:51] manishrjain commented on #410
Sorry, haven't had a chance to investigate further. Let me get back.

[2018-01-30 03:01] manishrjain commented on #409
You have raised a valid issue.

Let's start with understanding the current behavior. Your read set is [0, 2, 4]. The write set is [6, _odd] and [1, _even]. There're no conflicts here, which is why both succeed and produce the (3, 0) result. It makes sense if you consider these keys as a disjoint set.

However, the interpretation here is that the read set is a range between [0, inf). Only in that i

[2018-01-30 03:14] MoZhonghua commented on #409
A new setIntentRange()-like API seems OK to me,  or maybe user can register a predicate function like this:

[code]
This predicate should return true if the key in user's intended range and return false otherwise.

When commit, badger run all registerred predicate function against keys that may arise rw confliction. This should give more user options to specify intended keys than a simple range.

[2018-01-30 10:41] hillu commented on #410
Meanwhile, I have been able to reproduce the issue with a few older versions of badger. It also happens with 1.2.0, 1.1.0, 1.0.0. (The test could not be run as-is using previous versions due to changes in 5ad4981c9a2940efe8bd052a2bda2d7a508d90c8.)

The program will use well over 5 GB virtual memory.

[2018-01-30 12:20] hillu commented on #410
I just discovered the `golang.org/x/trace` support and added a local http server to my reproducer. The last entries of the event trace lead me to think that something is going wrong as `(*DB).writeRequests` calls `(*DB).vlog.write`:
[code]
These log output lines should correspond roughly to the event trace.
[code]

[2018-01-30 13:24] hillu commented on #410
After adding a few more event trace points, I can show that `(*lockFile).doneWriting` fails to acquire the write lock (https://github.com/dgraph-io/badger/blob/39bfb9cbbe922c50a53aa839476d052b19eaa519/value.go#L155) and thus waits forever.

[2018-01-30 22:54] janardhan1993 commented on #410
I was able to reproduce this, i have added a minimal example/test in ee3add86755215af0a4dde80ee6ef41446885c40.
It happens when a transaction get takes a Rlock on the last value log file(item.value()) and the set causes the file size to cross valuelogsize threshold. Set is stuck on lock on the last value log file.

Since the Rlock is not released before discard is called it causes deadlock. @deepak

[2018-01-31 04:11] janardhan1993 commented on #401
Fixed in master.

[2018-01-31 05:38] janardhan1993 commented on #408
@MoZhonghua Can you please try to reproduce this using jan/partial_vlog branch

[2018-01-31 05:41] janardhan1993 commented on #408
I have submitted a fix in #412

[2018-01-31 06:10] MoZhonghua commented on #408
There is one more location to fix: replayFunction() in db.go.

I create parital vlog using following steps:

- abort vlog.write() forcely when one block is written

[code]

- create txn that will generate write larger than ValueLogFileSize
[code]

- run the test script three times, and got following panic
[code]

[2018-01-31 06:24] janardhan1993 commented on #408
Doing a fix in replay function might cause other issues, so having an assert there is good i think. It's best to truncate the file instead of ignoring it during replay as we can have tricky scenarios due to value log GC.

I think by ensuring all entries of a single transaction are always written to the same value log file, we won't face the above issue.

[2018-01-31 14:56] manishrjain commented on #410
Could we fix this without changing the API? For e.g., by just continuing to write into the value log file, instead of trying to create a new one?

[2018-01-31 15:01] manishrjain commented on #409
Doing this check against all written keys across the DB wouldn't be efficient. This is specific to iteration, and I think should only be part of the Iterator API (not the Transaction API as I mentioned earlier).

Something along the lines of: `Iterator::SetLockRange(startKey, endKey []byte)`

[2018-02-01 00:00] MoZhonghua commented on #409
I can't see any way to ensure this confliction check without checking against all spurious written keys if we don't bother writer to aslo hint badger about this LockRange.

For example, two txn runs concurrently, and txn A has written some keys, and then txn B create
an iterator with terator::SetLockRange(startKey, endKey []byte), how can we ensure keys written by txn A is not inside this LockRang

[2018-02-02 00:19] MoZhonghua commented on #410
Some thoughts:

Now, badger has three types of access type to vlog:
- A: lock for read-only, when call item.Value()
- B: lock for append-only, when txn commit
- C: lock for rewrite, when GC and so on

Since B is append-only, so if A has got the value and set pointer to the region, B should not be blocked after that. Maybe this is an opportunity to use locks with finer granularity?

[2018-02-05 00:18] Draal commented on #401
@janardhan1993  unfortunately the fix in master didn't fix the case below:
1) First insert some rows into DB1
2) Backup it
3) Restore the result snapshot into DB2
4) Set the same keys
5) Backup DB2
6) Restore DB2 into DB3
7) Keys are not there
The gist which replicates this:
https://gist.github.com/Draal/aeec21ee8260e33e2bf4de2bd4ecb4d4

[code]

[2018-02-13 06:48] fpessolano opened #414 "Time To Live(TTL)"
Why I cannot reset the TTL for a data when I update a key value or enable an entry again after but has expired?

[2018-02-13 21:36] #414 closed

[2018-02-14 01:04] genexp opened #415 "Race Condition"
Hi All -

When we run tests on the "store" package that we used to wrap badger, our tests pass.  Yay!  However, once we enable race condition testing we're seeing strange failures in our CI.  I'm wondering if we're doing something wrong.  In general, we use the following pattern with Badger 1.3.0..

We have a public function that provides the ability to Update a value in the database.
[code]

That

[2018-02-14 10:54] genexp commented on #411
Why would the database force this when you can do it in your own marshal method?  Snappy isn't *always* a good tradeoff.

[2018-02-16 10:45] Asarew opened #417 "Check if items is deleted when using AllVersions"
So i have been checking the code and noticed this comment: [Return deleted or expired values also, otherwise user can't figure whether the key was deleted.](https://github.com/dgraph-io/badger/blob/master/iterator.go#L383). but i don't see a way to identify if the item has been deleted while iterating.

[2018-02-19 18:12] funny-falcon opened #418 "Read/Write transactions deadlocked when 00000.vlog reaches limit"
Reproduce file:
[code]

[2018-02-19 20:15] funny-falcon commented on #415
Transactions in Badger runs in parallel. So nothing prevents race in your code.

[2018-02-19 20:18] funny-falcon commented on #415
And it looks like you are using single physical session instance from many goroutines. So your code is inherently racy.
You will certainly have errors in production, and badger has nothing to do about.

[2018-02-20 02:52] fastest963 commented on #418
Is this the same as #410?

[2018-02-20 04:42] funny-falcon commented on #418
I don't know. I've got it on my way. Probably it is the same, but may be not.

BTW, Insert only workload doesn't blocked, i.e. if whole "dict" part is commented, it work till the end.

[2018-02-20 04:46] funny-falcon commented on #418
Most probably it the same.

[2018-02-20 05:30] funny-falcon commented on #409
This is well known fact: serializable transaction have to deal with predicates in the (almost) same way as with rows

an iterator with terator::SetLockRange(startKey, endKey []byte), how can we ensure keys written by txn A is not inside this LockRange?

When B meets invisible row, inserted by A, it remembers R-W antidependency on A. When B commits, it checks if A has also R-W antidependency. If A

[2018-02-20 10:57] hillu commented on #418
@funny-falcon Try putting two log statements around the `lf.lock.Lock()` in `(*logFile).doneWriting()`
([value.go](https://github.com/dgraph-io/badger/blob/b5727f1b8485a1812e3e904216cc01de7346dce5/value.go#L155)). If that taking this lock blocks, it is the same issue.

[2018-02-20 13:10] funny-falcon commented on #418
Yes, it blocks. And it blocks even if "concurrency" == 1, ie with only single worker.

[2018-02-20 13:48] funny-falcon commented on #418
Duplicate of #410 .

[2018-02-20 13:48] #418 closed

[2018-02-20 13:49] funny-falcon commented on #410
I closed #418 as duplicate of this.

[2018-02-21 20:42] notbdu opened #419 "Seeing panics on write"
We're seeing panics on writes. I'm posting the stack trace here for reference. Unfortunately, we don't have a repro for this specific bug. I can try to repro once our schedule clears up but that won't be in the immediate future.

We are running badger inside of `alpine:3.5` docker container on top of ubuntu 16.04.
[code]

[2018-02-21 20:48] manishrjain commented on #419
This happens if you do writes after closing the database.

[2018-02-21 20:51] notbdu commented on #419
Thanks @manishrjain!

[2018-02-21 20:51] #419 closed

[2018-02-21 20:54] notbdu commented on #419
Not a big deal, but shouldn't badger return an error in this case?

[2018-02-21 22:09] manishrjain commented on #419
That'd be more elegant, yes. Feel free to file an issue.

[2018-02-21 22:11] notbdu commented on #419
Will do! 👍

[2018-02-21 22:13] notbdu opened #420 "Badger Writes Should Return an Error if DB is Closed"
Currently, writes to a closed database result in a panic:
[code]

Ideally, writes to a closed DB should probably return an exported error named `ErrBadgerClosed` or something similar.

[2018-02-22 15:18] funny-falcon commented on #405
buntdb is in-memory, ie it can only handle data size that fits into memory.
badger is "on-disk" storage, so it can handle much more data.

[2018-02-22 15:20] funny-falcon commented on #407
Probably I also were caught with this.
I didn't count number of rows, but looks like there is some accidential limit: i was able to insert "a bit lesser", but when other time I tried to insert a bit more, it stuck.

[2018-02-22 19:30] manishrjain commented on #407
How long did it take to fill up 286G? Possible to reproduce this in a smaller setup?

[2018-02-22 19:33] manishrjain commented on #405
@funny-falcon 's comment pretty much summarizes it.

[2018-02-22 19:33] #405 closed

[2018-02-22 23:54] MoZhonghua commented on #411
You're right, it's better to let user do compression. Please close this issue.

[2018-02-23 01:49] #411 closed

[2018-02-23 01:50] manishrjain commented on #403
Not sure if there's anything more that needs to be done here.

[2018-02-23 01:50] #403 closed

[2018-02-23 01:58] manishrjain commented on #399
Value log contains values. So, we can't just delete them, without losing data.

We have a new technique for GC, where we don't move the values, but we punch holes into value log files to reclaim disk space.

That won't work well with the design of the DB. It's better to do what you're doing, i.e. if the size increases, call value log GC. You could also run it in a timed loop.

[2018-02-23 01:58] #399 closed

[2018-02-23 02:00] manishrjain commented on #373
The basic idea here of using a prefix based goroutine makes sense. I'll see if I have some cycles to work on it, and if it can be done effectively.

[2018-02-23 08:05] h12w opened #421 "Memory/Goroutine Leak"
## Description

In our production code, multiple BadgerDB files are periodically opened, scanned and closed. The memory consumption keeps increasing after each loop.

I have extracted a minimum test demo to reproduce this issue.

After fixing one major leak by PR #426, the problem might have been fixed already, and I will keep monitoring our production service to see if there are any further leaks

[2018-02-23 09:17] funny-falcon commented on #407
I put ~4kb values, and ~70b keys, and stalled at about 220GB.
Though size looks similar, i thing it is more tangled with lsm size than with vlog size. Though I could be mistaken.

[2018-02-24 10:17] zjb0807 opened #424 "windows LOCK exists, program can't restart"
In the windows environment, if the program is killed and the LOCK file is not deleted, the restart program will be wrongly reported
[code]

[2018-02-26 11:12] janardhan1993 commented on #410
@MoZhonghua  @funny-falcon  Can you please try the lastest master

[2018-02-26 12:57] funny-falcon commented on #410
@janardhan1993 much better!!! There are small pauses, but it doesn't stall. Therefore for batch job it will work.

[2018-02-26 12:59] funny-falcon commented on #410
To be honest, pause is not that small: it could be several seconds.

[2018-02-26 13:04] janardhan1993 commented on #410
Can you share your workload, are you doing heavy writes ?

[2018-02-26 13:08] funny-falcon commented on #410
Simulation of intendent workload were in #418 . Due to bug I switch to insert-only workload.

[2018-02-26 20:35] manishrjain commented on #424
You can manually delete the lock file, and restart.

[2018-02-26 20:50] manishrjain commented on #415
Running Badger tests with race flag turned on does not show any issues. Can you create a reproducible test?

[2018-02-27 00:04] manishrjain commented on #421
We were not waiting for the goroutines created by the iterator to finish before closing iterator. I've sent a PR to fix that. Your code works OK now.

[2018-02-27 00:22] manishrjain commented on #421
This issue is fixed in master. Please verify that the issue is fixed. Feel free to reopen if it isn't.

[2018-02-27 00:22] #421 closed

[2018-02-27 03:04] manishrjain commented on #407
This particular goroutine is causing a stall.

[code]

This is a for loop, which is constantly checking this:

[code]

For some reason, level 0 and level 1 are both not considered compactable, despite the fact that no other compaction is going on. So, we're stuck infinitely waiting here.

[2018-02-27 03:09] manishrjain commented on #407
It also seems a bit weird that flushMemtable goroutine can be returned and exited. And I don't see any way to bring it back.

https://github.com/dgraph-io/badger/blob/8d041dd05458b8c3a85eefcae81952933ef3f72e/db.go#L761

@janardhan1993 : Can you also have a look at `flushMemtable` and see if these returns should be either removed or cause a DB wide error? FWIW, this particular issue isn't being cau

[2018-02-27 03:10] manishrjain commented on #407
[code]

[2018-02-27 03:15] manishrjain commented on #407
Also, this log was being constantly updated, which is how I know it's the sleep statement and the condition around that sleep causing the stall.

[code]

[2018-02-27 13:35] janardhan1993 commented on #407
@funny-falcon, can you increase the ulimit and try once. Set it to high number

[2018-02-28 12:06] alexbakker commented on #66
The 'Exists' function no longer exists (hah). Could this be added back or does it no longer make sense to have this feature?

[2018-02-28 13:40] janardhan1993 commented on #66
You can do a get and if value is not found badger returns errKeynotfound. Earlier you had to fetch the value to determine if key exists or not. With the change in API exists is no longer needed since get doesn't go to value log.

[2018-02-28 23:08] manishrjain commented on #407
Commit https://github.com/dgraph-io/badger/commit/1000ac56402cbc24ea02169f07d26f3bfd59a1ff should fix this issue.

[2018-02-28 23:08] #407 closed

[2018-03-01 02:57] manishrjain commented on #410
Looking again.

[2018-03-01 03:16] #410 closed

[2018-03-01 03:18] manishrjain commented on #383
Looks like this wasn't an issue with Badger. Closing.

https://github.com/ipfs/go-ipfs/issues/4512

[2018-03-01 03:18] #383 closed

[2018-03-01 03:20] manishrjain commented on #408
Is this fixed now, @janardhan1993 ?

[2018-03-01 03:30] manishrjain commented on #379
Sorry, back after a while.

The article from Dave Cheney actually considers panics like fatals, not exceptions.

Let's try to narrow down the scope of work here. What's the expectation here? Is it to replace all log.Fatals with panics, so that they can be captured and re-routed like exceptions?

[2018-03-01 03:32] manishrjain commented on #372
This can be done -- would essentially need to avoid doing the lock on DB, and modify the scope of APIs a bit. I don't know how much demand is there for this feature. If we get 5-10 thumbs-up on the top post, we can build this.

[2018-03-01 03:35] manishrjain commented on #369
So, the task here to add a `KeyCopy` api on transaction, correct?

[2018-03-01 03:36] manishrjain commented on #367
We dropped this idea. Instead, we now punch holes in value log files.

[2018-03-01 03:36] #367 closed

[2018-03-01 03:53] #401 closed

[2018-03-01 04:01] #408 closed

[2018-03-01 21:04] manishrjain commented on #127
I doubt this is needed anymore.

[2018-03-01 21:04] #127 closed

[2018-03-03 05:28] manishrjain commented on #415
Given the information, I can't find any race condition, so I'll close this for now. If you find a race condition in Badger, feel free to create a new issue.

[2018-03-03 05:28] #415 closed

[2018-03-03 05:42] manishrjain commented on #226
In fact, we could do this every time DB is closed automatically. I'll look into this.

[2018-03-09 04:49] #387 closed

[2018-03-09 04:53] manishrjain commented on #374
I'm not convinced that we need to add more logic to catch this case. So, let's mention this in our documentation.

[2018-03-09 04:54] manishrjain commented on #372
The PR which adds this functionality is merged.

[2018-03-09 04:54] #372 closed

[2018-03-09 09:44] Niondir opened #433 "How to deal with LOCK file after program crash?"
I'm a little confused with the LOCK file. When my process crashes and `Close()` is not called, I can not reopen the database since the lock file still exists.

Also it is not clear to me what data I loose when not calling `Close()` e.g. due to a `panic`. And how to force badger to sync to disk regularly to reduce possible data loss to e.g. the last minute.

One option would be to keep a exclusive

[2018-03-09 09:50] janardhan1993 commented on #433
Lock file is used to ensure that two different processed doesn't use the same badger instance. You can safely delete the LOCK file if you know that the program accessing badger has crashed.

You won't loose any data if you use default options, the write is acknowledged only after it's synced to disk(value log - it's WAL for us).

[2018-03-09 09:56] Niondir commented on #433
Thanks, I will just delete the LOCK file. But that only moves the problem of detecting if multiple processes running to my application.

I will try to experiment with exclusive file locks on the `LOCK` file to let the delete fail when the program is still running.

[2018-03-09 10:01] janardhan1993 commented on #433
Badger takes file lock on the `LOCK` file but i am not sure whether that prevents the file from getting deleted.

[2018-03-09 10:04] Niondir commented on #433
Keeping the LOCK file exclusively would solve the problem. If badger just does

`os.OpenFile(lockfile, os.O_EXCL, 0)`

I can only delete the LOCK file if the process that opened the DB is closed. This way the OS takes care.

My code now looks like:

[code]

[2018-03-09 13:01] Niondir opened #434 "Invalid value pointer offset: 1659 greater than current offset: 0"
I'm getting an error while iterating my data: `Invalid value pointer offset: 1659 greater than current offset: 0`

Further Tests:
* `db.Backup()` leads to `Invalid value pointer offset: 1659 greater than current offset: 746`
* `db.PurgeOlderVersions()` runs but does not help

Feels like the value log is corrupted or something. Is there any preferred way to recover from this?

Here is my Database (

[2018-03-09 20:14] manishrjain commented on #434
Can you either describe steps to reproduce this, or upload your Badger directory for me to look at?

[2018-03-09 22:13] Niondir commented on #434
I linked the download of my Badger directory as zip archive. I will continue to work with badger and try to find out how this was caused. I guess it's somehow related to program crashes / terminations during development.

In my case any recovery, even with some data loss would be acceptable. Sure, finding the root cause would be better ;)

[2018-03-09 23:42] brk0v opened #436 "Seek iterator with Reverse doesn't work"
Code:

[code]
This code returns 0 elements in reverse mode and 1000 elements with reverse = false

[2018-03-10 00:11] Niondir commented on #369
Since `tx.Delete()` is not executed immediately but appends the `Entry` to `txn.pendingWrites[string(key)] = e`  I would argue to always copy the key inside `tx.Delete()`

This way the API stays simple and is less error prone. I can't judge the performance change here but consider it rather small.

[2018-03-12 13:24] janardhan1993 commented on #436
@brk0v  That's the expected behaviour. Seek searches for a key greater than or equal to the specifed key. Say you have the following keys "00" ,"01", "02". When you seek for "01" in reverse mode the iteration would start at "00".
Similarly in your case since you are seeking for "0" it will go past all the values and you won't find anything.

[2018-03-12 17:14] brk0v commented on #436
Ok. Got it.
My case is to emulate some kind of buckets inside badger db. I was adding a prefix to keys. This prefix is a bucket. But with current iterator logic I can't find the last item in my "bucket".

[2018-03-12 20:17] manishrjain commented on #436
You still can. You just need to choose the seek key wisely. Following from @janardhan1993's example, if you have [00, 01, 02], and you want to start from 01, then you can use `01~` (with tilde character). That way, the seek would stop just before 01, and it the first item would be 01.

[2018-03-12 20:17] #436 closed

[2018-03-12 21:21] manishrjain commented on #369
`string(key)` is doing a copy.

[2018-03-13 04:58] manishrjain commented on #434
If there were crashes, a replay might have truncated the log file, if some entries were corrupted. In that case, the corresponding entries in LSM tree won't find the values on the value log, causing this error.

[2018-03-13 05:24] janardhan1993 commented on #417
Implemented in master, item exposes IsDeletedOrExpired Method now

[2018-03-13 05:24] #417 closed

[2018-03-13 05:24] janardhan1993 commented on #369
KeyCopy method is in master now.

[2018-03-13 05:24] #369 closed

[2018-03-13 05:25] janardhan1993 commented on #226
Implemented in master, We forced compact level zero during db close now

[2018-03-13 05:25] #226 closed

[2018-03-13 07:42] janardhan1993 commented on #434
@niondir Do you use syncwrites=false in options

[2018-03-13 10:25] bjzhang commented on #370
Hi,
Is there anyone working on this?

After read the [gorocksdb api]( https://godoc.org/github.com/tecbot/gorocksdb#BackupEngine) and [rocksdb documents](https://github.com/facebook/rocksdb/wiki/How-to-backup-RocksDB%3F#under-the-hood). I found that it is what we need. I want to pick this task. And I will do the following in detail:
1.  Add the api in `type BackupEnginefunc` in gorocksdb, includin

[2018-03-13 19:08] manishrjain commented on #370
I don't see the need to open the DB in a specific way with `OpenBackupEngine` to backup the DB. You can just use a view-only transaction, which can iterate over the entire DB to back it up. In fact, we have functions to that effect.

To restore a backup, the right thing to do would be to build a tool, which can create a fresh Badger instance, picking up the data from multiple backup files.

Most o

[2018-03-14 14:21] Niondir commented on #434
@janardhan1993 I'm using default options.

[2018-03-16 10:50] lexesv opened #440 "Total rows"
Hi,
How to get the value of the number of all rows?

[2018-03-16 11:06] janardhan1993 commented on #440
You can do a key only iteration and count the number of rows.

[2018-03-16 11:40] #440 closed

[2018-03-16 19:06] rof20004 opened #441 "Txn is too big to fit into one request"
I am trying to insert one million register but I got this error: Txn is too big to fit into one request

How can I solve this?

This is my code.

[code]

[2018-03-16 19:24] schomatis opened #442 "[GC] Value log files under 10 MB are not garbage collected"
Value log file sizes (`ValueLogFileSize`) can be set as low as [1 MB](https://github.com/dgraph-io/badger/blob/8b89769ed71e56cf7f80abdcfd3576efc97bd412/db.go#L215) but the GC seems to skip files under [10 MB](https://github.com/dgraph-io/badger/commit/1f650094640c4a629aa0186ea61fef7b45269774#diff-867037fb9d8bcb51029a3476ddb76182R652), it is not clear (to me) what is the purpose of that threshold,

[2018-03-16 21:10] manishrjain commented on #442
Two things:

1. We don't touch the latest value log file for GC.
2. Value log files below 10MB should be avoided. They're just too small, and if you have small values, they'd be better fit into the LSM tree.

[2018-03-16 21:11] manishrjain commented on #441
You can stop adding more keys and just commit the transaction. A single txn can't be too big, which is what the error is indicating.

[2018-03-16 21:11] #441 closed

[2018-03-16 21:12] rof20004 commented on #441
@manishrjain Thanks and sorry.

[2018-03-16 21:47] manishrjain commented on #441
No worries, mate!

[2018-03-19 18:07] manishrjain commented on #420
Documentation needs to be clarified.

[2018-03-20 17:08] asimpatnaik opened #443 "Support encryption at rest"
Hi,
Currently there is no authentication support. It will be a great feature to have.
We are using badger for developing a banking solution and data privacy is a requirement.
Kindly let me know if you can incorporate the security feature.

Regards,
Asim.

[2018-03-20 19:47] manishrjain commented on #443
I'd like to understand this use case in a bit more detail. Can you please shoot me a mail? My email id is manish, with company domain.

[2018-03-21 10:11] fingon opened #444 "PurgeOldVersions+RunValueLogGC does not seem to still work for me immediately"
Given long-running process (that only uses db.View and db.Update short-lived transactions), calling db.PurgeOldVersions and then db.RunValueLogGC(0.5) does not cause _any_ data to be deleted even if I set and subsequently almost delete every key. I do have 'few' (5) vlog files and their associated ssts in this case.

Backup of the database is minimal at this stage (16MB as opposed to 5GB on-disk s

[2018-03-23 04:12] janardhan1993 commented on #444
@fingon: Can you please share a reproducible example.

[2018-03-23 04:13] manishrjain commented on #443
If other people need this feature, please feel free to upvote. We'll consider making this feature available as an enterprise extension.

[2018-03-23 05:47] fingon commented on #444
I will try to come up with one; it comes up from using the relatively minimal API in https://github.com/fingon/go-tfhfs/blob/master/storage/badger/badger.go from number of goroutines in parallel, and eventually the flush part will simply stop doing anything (RunValueLogGC always returns the error of not having done anything.)

[2018-03-24 00:00] cretz commented on #443
@manishrjain - Github doesn't have a voting feature. I assume you are asking people to add a thumbs up reaction? Also, people have a harder time finding closed issues to even vote on. Granted, for those on GitHub, they might not consider it if it's an "enterprise extension".

[2018-03-30 18:36] schomatis opened #446 "[enhancement] Block search performance: export the internal `restartInterval` configuration to the `Options` structure"
# Summary

The rationale behind this request is that in the IPFS project (where Badger is intended to be the default data store in the near future) the keys are hashes (of the content being stored) and hence are (ideally) uniformly distributed with maximum distance in its key space, so the objective of this issue would be to be able to decrement the `restartInterval` value (by including it in Badg

[2018-03-30 22:37] manishrjain commented on #446
Happy to make it an option. IIRC, we had picked this number from RocksDB, but I can't seem to locate it anymore.

Each SSTable being produced has these blocks, and then a block index at the end. The important thing to note here is, the closer the `restartInterval` gets to 1, the more blocks there would be, and the bigger the block index. If it reaches one, then the block index size would be bigger

[2018-03-31 04:13] schomatis commented on #446
@manishrjain Thanks for the fast reply as usual.

Great, I'll prepare a PR then for you to review.

Agreed, there is definitively a trade-off between storage space and search time. Since the key-value entries in the SST are not of fixed length there needs to be a vector of positions for the binary search to happen (instead of the linear search that traverses each element one by one to find out its

[2018-03-31 04:56] manishrjain commented on #446
You can use [badger-bench](https://github.com/dgraph-io/badger-bench) for the benchmarks. It would take care of populating Badger with data, and then provide random read, iteration and other functions for benchmarking.

[2018-04-02 10:46] Niondir commented on #434
Has anyone with deeper insight taken a look into the provided datafiles? Any clue what it could be or how it could been caused? It happend a second time to me already.

Since the data is not critical yet I will keep using Badger, hoping to get closer to this issue.

[2018-04-02 20:37] schomatis commented on #446
@manishrjain Thanks for the pointer however those tests are too involved for what I need to measure right now (they aren't automated and encompass several steps to get them going). I prepared a rudimentary benchmark in another [PR](https://github.com/dgraph-io/badger/pull/447/commits/f682ed52dee11170c798dbb01ba0995507dcee88). I've tested get operations for different block sizes and the [benchmark

[2018-04-03 01:43] manishrjain commented on #420
Duplicate of #374 .

[2018-04-03 01:43] #420 closed

[2018-04-03 01:44] manishrjain commented on #434
What is the environment here? Is it possible for the file to be corrupted?

[2018-04-03 09:00] Niondir commented on #434
I'm working on a Windows machine. I don't write much to the database and never notices the problem without a restart, I assume the error happens somewhere during Start or Shutdown of my application.

[2018-04-03 16:11] schomatis commented on #434
@Niondir As mentioned by @manishrjain the database seems to be corrupted, the [CRC](https://github.com/dgraph-io/badger/blob/master/value.go#L256-L258) is failing (in the first iteration) and the value log is truncated to zero. Also, the database you provided seems to include the `LOCK` file that is only present (I think) when the database is opened and Badger is running, was that the case? If not

[2018-04-04 07:52] manishrjain commented on #434
Yup. As @schomatis pointed, DB is indeed corrupt. You can see this by using the badger tool.

[code]

This would truncate value log to zero, and then complain about file offset.

[2018-04-04 07:52] #434 closed

[2018-04-04 08:48] LeonidShamis opened #449 "Using merge with existing database"
Hello,

I have just started exploring Badger and tried using "merge" as explained in the projects description - https://github.com/dgraph-io/badger#merge-operations

The program works fine when creating a new database, but then it fails when running with the same (existing) database again.

I have even tried wrapping the code that uses merge in db.Update(...) function as shown in the project descr

[2018-04-04 09:14] manishrjain commented on #449
You need this to allow for `existing` to be a byte slice of zero length.

[code]

[2018-04-04 09:14] #449 closed

[2018-04-04 14:33] schomatis commented on #434
@manishrjain Maybe the user could be notified of the corrupted database, and left up to him (e.g., through a flag in `Open`) whether or not to truncate what could be 1GB of (some) recoverable data.

[2018-04-04 21:16] Niondir commented on #434
@schomatis I'm pretty sure the database is corrupted by unpleasant shutdown of my application, but shouldn't the DB always be in a state where it can be recovered? Imagine a power failure that leaves your whole DB corrupted.

I thought that is exactly what should be avoided by the "Crash resilience" mentioned  e.g. here: https://blog.dgraph.io/post/badger/

What is the best strategy to deal with t

[2018-04-04 22:45] LeonidShamis commented on #449
Thank you very much, I've confirmed that your solution works properly:

[code]

[2018-04-05 01:43] manishrjain commented on #434
@schomatis : When a file system level corruption occurs, it can add garbage data to the end of file. For each key-value pair in the DB, we store a checksum, which validates the data written against the checksum stored. A mismatch means that entry and all entries after it are corrupt, and can't be trusted. Badger truncates the value log from that entry onwards. It does not truncate the entire value

[2018-04-05 05:16] schomatis commented on #434
@manishrjain

I understand but I'm assuming the user won't necessarily know the database has been corrupted until *after* Badger truncates the log file (in the next `Open`) so it won't have the opportunity to re-open with `ReadOnly` setting. Also an automated system in production (e.g., managed with Docker) will restart the service (e.g., after a crash) with the same settings as usual (without `Re

[2018-04-05 05:28] schomatis opened #450 "Revise `require.Error` usage"
Some tests are calling [`require.Error`](https://github.com/stretchr/testify/blob/c679ae2cc0cb27ec3293fea7e254e47386f05d69/require/require.go#L225-L238) with an extra argument, e.g.,

https://github.com/dgraph-io/badger/blob/e630a49709e529560871db2e356ea33fe2171e01/value_test.go#L396-L400

expecting (in what I'm assuming) for the function to check equality of errors but `Error` is actually interpr

[2018-04-05 05:29] manishrjain commented on #450
Can you please send a PR to fix this?

[2018-04-05 05:37] schomatis commented on #450
Sure.

[2018-04-05 05:40] schomatis commented on #434
+1

I'm fine with that. The truncation mechanism is assuming the (most common) error scenario where there was a problem (e.g., crash) during the last append to the value log file and it is trying to correct that (by eliminating the inconsistency) to keep going with the rest of the operations. But in the (much less likely) scenario where there is disk corruption (in any of the Badger files or at an

[2018-04-05 18:25] schomatis commented on #434
@manishrjain Great, I'll try to take a closer look at the ALICE framework used for the tests, my main concern is if what was reported here, a state of inconsistency between the SST and the log (which would render the database unusable) could happen after a crash or if it was only related to (a much more severe and improbable error of) disk corruption?

[2018-04-06 05:12] hobbs opened #451 "Replication support via Raft"
It would be interesting to support replication via [Raft](https://github.com/hashicorp/raft), similar to the [BoltDB adapter](https://github.com/hashicorp/raft-boltdb) or [dqlite](https://github.com/CanonicalLtd/dqlite).

Obviously, this is a large feature request, just wanted to start the conversation.

[2018-04-06 05:30] manishrjain commented on #434
FYI. Added a Truncate flag to avoid automatically truncating the value log. Instead, Badger by default would return an error if truncation is required.

dgraph-io/badger#452

[2018-04-06 09:11] sohimankotia opened #453 "Where WAL file is generated ? Some Code pointers will help ."

[2018-04-06 12:01] h3ku opened #455 "Set method manage duplicate keys?"
When I perform a txt.Set with the same key value the size of the database keep growing and growing, I should check if they exist first by myself using Get?

[2018-04-06 17:47] hobbs commented on #451
Actually, I did find this: https://github.com/s4ayub/huffleraft

[2018-04-07 06:47] rebootcode opened #456 "How to Check if key exists after set ttl expired"
I am setting key-value with TTL for 1 day. I just want to check if the key exists than print or do some write.

I searched "Exist" and "Exists" in the code base and I could not find any? Is there any function to check, if the key exists?

[2018-04-07 09:29] rebootcode commented on #455
By default, it should have replaced the older value rather increase in database size. Are you sure, you are using the same key and not different?

**Default nature** should be updating the value, but since you are using "set" it looks bug.

I think, these are the basic things or featureless things, that makes badgerdb fast in write.

But, I will still take this bug as a feature, if it improves the

[2018-04-07 21:26] h3ku commented on #455
Simple poc
[code]

As you can see the file size increase.
![image](https://user-images.githubusercontent.com/5603877/38460493-f78c6190-3aba-11e8-81c7-c303851bf8f3.png)

[2018-04-09 04:25] Graphpinto opened #457 "Blog for 2.0"
Review feature launch blog

[2018-04-09 04:26] janardhan1993 commented on #457
https://github.com/dgraph-io/open/blob/master/content/post/badger-v2.0.md

[2018-04-09 04:27] Graphpinto commented on #457
Thanks @janardhan1993.

[2018-04-09 06:47] h3ku commented on #455
I don't understand what is the purpose of this, but as I say the file size keeps growing and growing but iterating all the keys don't show any duplicates.

I check the sst and vlog manually and contains what looks like all the transaction or previous values, can any main dev explain why? I cant see the purpose of something performance oriented like this.

Thanks.

[2018-04-09 07:39] rebootcode commented on #455
Can you cat the vlog file and see, if duplicate keys are present with content.

[2018-04-09 08:11] h3ku commented on #455
Duplicates as you can see
![image](https://user-images.githubusercontent.com/5603877/38486753-3d054510-3bde-11e8-9d00-8c25651efd7c.png)

[2018-04-09 08:37] rebootcode commented on #455
Try deleting the key and please see, if it deletes all the duplicate or just the last one.

[2018-04-09 20:14] rebootcode commented on #456
@manishrjain & @deepakjois  & @janardhan1993

any documentation info, please?

[2018-04-09 20:15] rebootcode commented on #455
@h3ku any info?

[2018-04-10 07:08] h3ku commented on #455
I don't want to delete keys, I just want to store and update the values, I cant understand why badger save a LOT of duplicates...

I have more than 2gb of duplicates on the vlog files in less than 24 hours....

[2018-04-11 15:35] Niondir opened #459 "How to deal with performance issues?"
I'm loading data which I filter based on a timestamped saved inside the json encoded value.

With 35k entries, loading data takes ~750ms which is not acceptable.

While I'm new to key value stores I have some questions and ideas about optimizing the performance.

1) I could index my data based on the timestamp to avoid loading and unmarshaling of all values.
2) I could add the timestamp to my obje

[2018-04-11 15:55] Niondir commented on #459
Iterating only the keys still takes ~280ms what do I miss?

[2018-04-12 12:41] Niondir commented on #459
I also missed:

[code]

But I still wonder how I get rid of old value log files. I have no data left, but iterating the deleted keys seems to take a lot of time.

[2018-04-13 07:44] gedw99 commented on #443
+1 security at rest is exactly what I need.
The keys should be stored in the local key store. There are a few golang libs that do this for desktops and mobiles.
I use badget on mobile now and it's amazing

[2018-04-14 11:12] Asarew opened #460 "Api for mass purging specific keys"
I've run into a use case where i have to delete a lot of specifc keys before a version. It's possible to grab the specific keys + version while iterating, but it's not possible to mark a specific version of the key to be deleted/garbage collected. The only api that does something like this is [PurgeVersionsBelow](https://godoc.org/github.com/dgraph-io/badger#DB.PurgeVersionsBelow) but that creates

[2018-04-15 04:13] manishrjain commented on #424
If you can point us to how LevelDB is doing this, or others are doing this -- we can implement it. But, not sure what we can change now...

[2018-04-15 15:51] tobiasrm commented on #444
I have a similar problem using badger for storing an index for some faster lookup. After some trials,
I tested the cleaning by simply storing 100.000 string keys/values (without overwrites) using the following loop and the example code on the badgerDB website. The cleaning was afterward
for i := 0; i < 100000; i++ {
	WriteToDB(strconv.Itoa(i), strconv.Itoa(i), db)
	DeleteFromDB(strconv.Itoa(i), db

[2018-04-16 16:31] icholy commented on #459
Encode the timestamp into your keys. See how it's implement in redis streams http://antirez.com/news/114

[2018-04-17 08:04] Niondir commented on #459
My keys now look like `<prefix>_<uuid>_<timestamp>`, adding the `opts.PrefetchValues = false` gave another performance boost. Iterating 362880 keys now takes 550ms where a simple in memory iteration with the same logic takes 232ms (see code below). Is there so much overhead in iterating keys with badger? - Still it seems acceptable.

[code]

But the biggest issue still is, that even if I delete en

[2018-04-17 23:03] zboralski commented on #408
I still have this issue

https://github.com/dgraph-io/dgraph/issues/2341

[2018-04-19 01:56] gaillard commented on #436
@janardhan1993 you said

So forward the seek starts with >= and reverse it starts with < ? Based on the wording in the doc I was thinking it would be seeking with "01" forwards would give "01", "02", ... and seeking with "01" reverse would give "01", "00", ... no?

[2018-04-19 03:08] cloudaice commented on #457
@janardhan1993 https://github.com/dgraph-io/open/blob/master/content/post/badger-v2.0.md  This link page is 404 ?

[2018-04-19 03:32] manishrjain commented on #457
Open is a private repository for our blog. We haven't published the blog post yet. Some changes need to go in before we can release v2.0.

[2018-04-19 03:32] #457 closed

[2018-04-19 11:34] zjb0807 commented on #424
leveldb used [syscall.CreateFile](https://github.com/syndtr/goleveldb/blob/6ae1797c0b42b9323fc27ff7dcf568df88f2f33d/leveldb/storage/file_storage_windows.go#L32) to create LOCK file，badger used [acquireDirectoryLock](https://github.com/dgraph-io/badger/blob/dc0df253d239ff6abe3ffbbcdf3cb1e49e646369/dir_windows.go#L60),but the code like this:
`f, err := os.OpenFile(absLockFilePath, os.O_RDWR|os.O_CRE

[2018-04-19 12:48] cloudaice commented on #453
It seems that there is no WAL file ?
1. Write Value into vLog
2. Write ptr into LSM tree

[2018-04-20 02:12] gaillard opened #461 "Guidance on memory settings"
The README says:

If you modify Options.NumMemtables, also adjust Options.NumLevelZeroTables and Options.NumLevelZeroTablesStall accordingly.

What is accordingly?

Also when trying to get memory to stay below Xish what are the tradeoffs (or full meaning) between MaxTableSize, NumMemtables, NumLevelZeroTables and NumLevelZeroTablesStall?

I already have both loading modes set to FileIO.

[2018-04-20 03:54] manishrjain commented on #453
The value log acts like a WAL. More details here:
https://www.usenix.org/system/files/conference/fast16/fast16-papers-lu.pdf

[2018-04-20 03:54] #453 closed

[2018-04-20 03:56] manishrjain commented on #424
[code]

We need this flag to ensure that this process is the only one operating in the directory. This flag provides exclusivity.

[2018-04-20 10:17] zjb0807 commented on #424
[code]
then i start the program, in another terminal, i start the program again:
[code]
then, i have deleted the LOCK file, try again:
[code]
the [unix.Flock](https://github.com/dgraph-io/badger/blob/master/dir_unix.go#L61) function lock the directory, so it is normal to restart when the program is panic and LOCK file exists on linux.

But, i have tested goleveldb:
[code]

then i start the program

[2018-04-20 14:26] arriqaaq opened #462 "How to autoincrement a key?"
Hi Team,
I'm basically using Badger for certain real time analytics metrics, and would like to know how to auto increment a key instead of reading it every single time, like a redis INCR operation. Help will be appreciated as

[2018-04-22 03:38] manishrjain commented on #462
You can use this:

https://github.com/dgraph-io/badger#monotonically-increasing-integers

[2018-04-22 03:38] #462 closed

[2018-04-22 14:21] kingluo opened #463 "Is there any plan to implement pessimistic transaction?"
The badget implements read-write transaction in optimistic way, correct?
I am wondering is there chances `Commit()` would always fail under high contention on some hot keys, and retries after `ErrConflict` has a problem: it seems hard to determine how many times to retry.

[2018-04-22 21:54] arriqaaq commented on #462
Thank you @manishrjain , appreciate it. Would a INCR method help?

[2018-04-23 04:36] manishrjain commented on #462
Actually, you can use merge operations to incrementing a key, without reading it.

https://github.com/dgraph-io/badger/#merge-operations

That's what INCR method is.

[2018-04-24 17:32] jiminoc opened #464 "Discard invalid versions of keys during compaction"
I'm hoping this is a configuration related issue but I've played around with the settings and I keep getting the same behavior. Tested on an i3.4XL in AWS, raid0 on the two SSD drives.

Expected behavior of the code below:
 * keys/data are stored for 1hr, after a few hours the badger directory should stay fairly constant as you write/expire keys
 * I would expect to see sst files written and multi

[2018-04-24 20:46] gaillard commented on #461
So if you run
[code]

The memory profile looks like:
![mem](https://user-images.githubusercontent.com/984510/39213228-dab4899a-47c5-11e8-9a06-71c4a8478259.png)

Makes it hard to run in a low memory env, is that expected?

[2018-04-25 04:06] jiminoc commented on #444
I've experienced this as well and put a repro case in https://github.com/dgraph-io/badger/issues/464

[2018-04-25 04:08] manishrjain commented on #461
Yes, that buffer could grow to the size of the value log, and that memory is never released to allow for reuse. If you want to restrict how much memory the buffer would use, maybe send me a PR which adds an option for that.

[2018-04-25 04:10] jiminoc commented on #339
I wouldn't expect badger to support this. #1 just because something TTL's just means it's not available for viewing vs actually being deleted from disk (that's compaction's job). It would seem more appropriate to put a field in your stored data type or wrap your data with a TS field you can filter on yourself. Less complexity in Badger = better IMO

[2018-04-25 18:30] jiminoc commented on #464
This is what it looks like running as FiloIO for TableLoadingMode.
it steadily increases RAM until it spikes and gets killed by OOM killer
https://imgur.com/a/IIlHILx

[2018-04-25 18:36] gaillard commented on #461
Ok I can probably get a change for that isolated case and put a PR up.
But are there other buffers or memory items that are not bounded by the settings in the README sitting around that will have similar issues? Or perhaps others added as the codebase is improved, meaning is it a design goal to keep memory bounded by configurable settings?

[2018-04-26 02:15] xiongxiongjiang opened #465 "error"
go/src/github.com/dgraph-io/badger/iterator.go:28:2: no buildable Go source files in /Users/xurong/go/src/github.com/dgryski/go-farm

[2018-04-26 12:00] CapacitorSet commented on #424
This is causing issues in another software that uses Badger. @manishrjain Would you accept a PR to fix this?

[2018-04-26 16:10] jiminoc commented on #464
more craziness... test case: start up a writer, write TTL keys for 5 minutes, shut off and watch for compaction to clean everything up and purge.

expected result:
after no more writes are coming in, compaction should catch up to remove vlog entries/files and clean up SST tables.

actual result:
vlog files seem to be cleaned up but sstables never shrink in number of files on disk.
https://imgur.co

[2018-04-26 18:09] adelowo commented on #465
Do you want to run `go get github.com/dgryski/go-farm` again ?

[2018-04-27 16:15] JeanMertz opened #467 "Any way to update TTL of existing key?"
I've got a use-case where I want to check for a key to exist, and if it exist, I want to extend the (already existing) TTL of that key.

I can do this now by - when a key exists - retrieving that key, deleting it, and inserting it again with a fresh TTL, but I suspect there will be a lot of overhead there, which will become problematic for the volume of keys I want to store/check in the cache.

An

[2018-04-27 20:53] jiminoc opened #468 "Feature Request: Ability to rm TTL'd vlog/sst files efficiently."
For heavy TTL workloads it would be much more efficient in regards to disk usage if you were able to store metadata about the keys in a header section that indicated if all the keys were expired. That way you could just "rm" the file instead of having to scan through it. e.g. all keys have a TTL and the highest TTL timestamp is X

[2018-04-27 21:55] jiminoc commented on #464
memory profiles in use and allocated
![profile002](https://user-images.githubusercontent.com/211825/39386650-781eb6ea-4a2a-11e8-948d-31c286f34fa9.gif)
![profile003](https://user-images.githubusercontent.com/211825/39386651-7837bffa-4a2a-11e8-887e-c8a5aab66a75.gif)

retested with just 1 writer routine with a 30 minute TTL, memory increases over time, eventually leading to OOM
![image](https://user-

[2018-04-28 03:40] manishrjain commented on #464
Looks like as SSTs are growing, bloom filters are taking up more and more space, because they're always loaded into memory. We can probably use an LRU cache for blooms to avoid their memory usage growing forever.

I'll run your code over the weekend, and check if I get the OOM, and what to do about it. Ping if you don't hear by Tuesday.

[2018-04-28 04:32] manishrjain commented on #468
The keys are sorted globally. Value log stores them in the order of writes, while LSM tree stores them in levels, with each level storing the keys in sorted order. So, it's not possible to pinpoint one file without affecting other keys.

Also, key-only scan is really fast, so there's no need to do a file-based division of keys.

[2018-04-28 04:32] #468 closed

[2018-04-28 04:35] manishrjain commented on #467
Keys once written are immutable. They can only be *superceded* by a new version of the key.

Just as a suggestion on top of my head, you could split your key into two: one with value, and one with the TTL. Then, the TTL key would be a lightweight key which you can keep updating without affecting the value.

[2018-04-28 04:35] #467 closed

[2018-04-28 05:13] manishrjain commented on #424
Sure. Will have a look at it over the next week.

[2018-04-28 05:25] jiminoc commented on #464
I added a stop write boolean to see if eventually data would clean up. From that testing it appears vlog files will eventually be cleaned up from expired keys but sst tables stay forever. Also appears under heavy write load vlog cleanup will never catch up. Not sure if theres room for more concurrency there.

They key for me is finding a way to have consistent, heavy write loads 24/7 that can main

[2018-04-28 05:28] jiminoc commented on #464
Other big observation... MAXTABLESIZE in the options acts funny. If I set that to 2GB what I'd expect to happen is that after a memtable flush a smallish level 0 file would be written maybe 50MB, then after 10 of those files they get compacted into larger, maybe 200MB files, and level 2, 500MB etc... e.g. each level has larger and larger SST files.

What I actually observe is that no matter what I

[2018-04-28 05:40] manishrjain commented on #464
Keys aren't really deleted from the LSM tree, they're only *tombstoned* (marked as deleted). I'll see if we can have a way by which the keys can be removed too, but that'd be beyond the scope of this issue.

[2018-04-28 05:42] manishrjain commented on #461
As we encounter more potential optimizations, we'll make those. That's the design goal here, rest follows from it.

[2018-04-28 05:45] jiminoc commented on #464
Hrm. Sounds like a pretty big problem? Deletes should write tombstones but compaction should eventually physically remove those items from disk otherwise you can’t manage a growing dataset outside of sharding badger dbs. Should I file a separate issue?

[2018-04-28 05:50] manishrjain commented on #463
Badger provides lock-free transactions, which works similar in nature to optimistic locking.

Transactions can keep on resulting in a conflict if the same key write is present in many simultaneous transactions.

[2018-04-28 05:50] #463 closed

[2018-04-28 06:00] manishrjain commented on #464
Deleting a key in LSM tree isn't a common thing, exactly because of compactions. Say, you're compacting a key from L1->L2, a key which was deleted, so you just remove it altogether. An older version of that key might be present in L4, so all reads would now default to that, bringing that deleted key back.

Therefore, newer versions of keys are tombstoned, instead of removed in LSM trees. However,

[2018-04-28 06:15] jiminoc commented on #464
Quick reference
http://thelastpickle.com/blog/2016/07/27/about-deletes-and-tombstones.html

You have the bloom filters that let you know if a key is present anywhere else. I’ll dig through RocksDB tomorrow but I haven’t seen an lsm that doesn’t remove keys at some point. Otherwise you just fill disk.

[2018-04-28 11:58] noorainp opened #469 "Support for column families"
It would be great if there was a column family support like there is for RocksDB

[2018-04-28 16:09] jiminoc commented on #464
https://github.com/google/leveldb/blob/master/doc/impl.md
“Compactions drop overwritten values. They also drop deletion markers if there are no higher numbered levels that contain a file whose range overlaps the current key.”

[2018-04-29 11:00] JeanMertz commented on #467
In this case, I don't actually store any values, I'm only interested in the keys, and the attached TTL. Does that mean that I can simply insert the key for a seconds time, with a new TTL, and the result will be as excepted: the key will remain until the TTL of the second insert is expired, not when the TTL of the first insert expires?

[2018-04-29 17:35] manishrjain commented on #464
This is what we're doing as well.

I tried implementing this, however, the multi-version nature of Badger keys makes this hard (probably also why RocksDB does not remove keys as well). I worked on a logic to remove deleted or expired keys with zero overlap from lower levels. https://github.com/dgraph-io/badger/tree/mrjn/removekeys

However, this still causes edge cases where a stale version of the

[2018-04-29 23:37] rucuriousyet commented on #244
Any updates here? I am using badger for a cross-platform project that I am now trying to port to mobile. I would hate to have to rewrite my backend integration to use boltdb simply because it has mobile support. I think badger would be a much faster database for mobile given that it's optimized for SSD/NAND based systems, and most mobile systems use NAND storage...

[2018-04-30 11:43] rucuriousyet commented on #244
I might be able to get a demo of badger going on Android later today. I
don't have the tools to get iOS going tho.

-sent from my OnePlus X

On Mon, Apr 30, 2018, 4:23 AM gedw99 <notifications@github.com> wrote:

[2018-04-30 11:44] manishrjain commented on #464
I've implemented the update, and added ability to discard all older versions starting from the first deleted or expired version of the key.

Can you try with the https://github.com/dgraph-io/badger/tree/mrjn/removekeys branch?

[2018-04-30 12:07] JeanMertz commented on #339
I was looking for this as well.

In my case, this isn't needed for our production use-case, but since we have a wrapper around the database calls, we wanted to add sufficient tests to make sure what we're doing is actually working as expected. So, we write tests. We saw random failures, and were unsure what was causing this, until we noticed that Badger doesn't support sub-second TTLs. We fixed th

[2018-04-30 15:06] manishrjain commented on #469
Column families would require separate storage for key-value pairs in different column families. That's beyond the design goals of Badger.

[2018-04-30 15:06] #469 closed

[2018-04-30 15:08] manishrjain commented on #460
v2.0, which is in works, makes purging keys a lot nicer and more efficient. So, I'd suggest waiting a bit until v2.0 is released.

[2018-04-30 15:08] #460 closed

[2018-04-30 15:09] manishrjain commented on #459
Working on a change to discard invalid versions of keys. See #464 .

Closing this issue for now. Let me know if there's anything else that needs to happen here.

[2018-04-30 15:09] #459 closed

[2018-04-30 15:16] manishrjain commented on #456
@ghartz : SSTables are immutable. Once written, they are not modified. Only compaction can discard versions of keys. Working on a change to discard expired versions, as per this issue: #464 .

Thanks for pointing out the bug. I've made it part of my pending PR.

@rebootcode : As mentioned by @ghartz , you can use the `ErrKeyNotFound` error during Get to determine if the key exists or not. The erro

[2018-04-30 15:16] #456 closed

[2018-04-30 15:18] manishrjain commented on #451
Nice work! Raft is beyond the design goals of Badger, we do it at Dgraph level.

[2018-04-30 15:18] #451 closed

[2018-04-30 15:30] jiminoc commented on #464
awesome, I'll give it a try today. I also came across a good post from influx that describes the situation as well and what they've tried TLDR: for DB's like badger, shard the actual DB by time, for RocksDB use column families with time blocks and delete the column family after a period of time has passed this efficiently removes the data.

https://docs.influxdata.com/influxdb/v0.9/concepts/storag

[2018-04-30 15:37] manishrjain commented on #455
Hey @h3ku ,

Sorry for the delay. Every transaction commit adds data to value log. Value log acts like a write-ahead log, so every commit is first written to it, (optionally) synced, and only then applied to LSM tree and marked as committed.

Therefore, every write would increase the size of the DB. There's no such thing as updating value in place. An update is write new, which logically takes ove

[2018-04-30 15:37] #455 closed

[2018-04-30 15:45] manishrjain commented on #450
Done. c3ac2ff

[2018-04-30 15:45] #450 closed

[2018-04-30 17:57] Asarew commented on #460
Is there an estimation on when 2.0 is released?

[2018-04-30 18:54] rucuriousyet commented on #244
So I'm sitting in a coffeeshop messing with this now... I integrated a gomobile-producted .aar file and got it imported properly. Now I am encountering this error: `Unable to mmap RDWR log file: invalid argument` with the following code:

[code]
It's messy code, I don't have alot of time so Im just trying to get something basic working. If I find more time later this week, I plan to integrate Flut

[2018-04-30 18:56] rucuriousyet commented on #244
Also, If someone is interested in integrating Flutter with Golang, feel free to hmu as I'd be happy to help. Most of the setup is rather simple and only requires you to edit a few .gradle files, copy your .aar file over and then write the MethodChannel calls required to interop Dart/Flutter and Kotlin (or Java, I chose to use Kotlin).

[2018-04-30 20:10] jiminoc commented on #464
complete test code:
go build
./badger-test

[code]

[2018-04-30 22:01] rucuriousyet commented on #244
I do but I'm on the road and it's private. I would take a look at the
flutter docs... It's really easy to create a project from a template, then
you just gotta figure out how to import the gobind created library. On
Android it's an aar file

-sent from my OnePlus X

On Mon, Apr 30, 2018, 3:24 PM gedw99 <notifications@github.com> wrote:

[2018-04-30 23:03] manishrjain commented on #464
Compaction wouldn't happen if it is not required. That means if you're not writing new things, and causing the levels to overflow, they won't automatically compact away. And therefore, the SST files won't have a chance to discard keys as they get expired.

However, as keys are getting expired, value log GC would still churn away on them and cause value logs to be discarded/moved etc.

Note that if

[2018-04-30 23:04] jiminoc commented on #464
yea, I assumed that so I'm reworking the test now to do a continuous write at a slower pace to see if it maintains a consistent memory/disk profile. will have some data shortly, thanks again.

[2018-05-01 00:07] manishrjain commented on #244
@rucuriousyet : Maybe try by keeping the value log on disk. You can set that in the options. By default, value log is set to mmap, so you can change that.

Actually, tbh, I don't really know what to do for this issue. So, if someone wants to send a PR, I'm happy to accept it.

[2018-05-01 03:35] manishrjain commented on #464
Submitted as e597fb7. Based on my testing, this PR works. Would be good to hear from your end as well, considering you're running tests for a lot longer.

Btw, modified your code a bit to allow ctrl+c to be captured to close the DB gracefully, and a couple other changes. You can see my version here: https://gist.github.com/manishrjain/137b9849f2672a5fc3a106815d9d41d7

[2018-05-01 12:28] manishrjain commented on #379
Closing due to inactivity and lack of clarity on what needs to be done here.

[2018-05-01 12:28] #379 closed

[2018-05-01 13:18] manishrjain commented on #444
@tobiasrm : So, I created this code: https://gist.github.com/manishrjain/647cc6ea41d2c10769a61f8c517dddae

and tested the write-delete pairs, where all keys written are deleted. With the latest change #471, the SSTable compaction discards most keys leaving a 212 byte sstable.

[code]

Note that the value log is at 20MB. GC would not reclaim the latest value log, which is a read-write log. It only

[2018-05-01 13:18] #444 closed

[2018-05-01 16:16] jiminoc commented on #464
were there any changes in that commit from the previous branch /removekeys that I was testing against?

I did a 12 hour soak test and the good news is that memory stayed pretty constant (I slowed writes down to give compaction a chance to keep up in my test) but the load and disk usage steadily climbed of that time
full graph of 12 hour test https://imgur.com/a/6ZXstq8

disk usage steadily climbin

[2018-05-01 18:41] gaillard commented on #461
@manishrjain fair enough :) How does the PR look? https://github.com/dgraph-io/badger/pull/466

[2018-05-01 20:01] manishrjain commented on #464
I think you could try running value log GC more often -- most likely it's falling behind in reclaiming space as fast as writes.

[2018-05-01 20:09] jiminoc commented on #464
using the latest from master is looking much better. You can clearly see where space was reclaimed.
https://imgur.com/a/w41GlaU

Test: Write as fast as you can for 15 minutes with 15 minute TTL'd keys (200K per second+) then slow down to 10-25K per second to give compaction time to catch up.

it's on an uptrend right now, so I'm going to let it run for a while longer to see if we get to a steady s

[2018-05-01 21:11] manishrjain commented on #464
Another way to figure out when to run value log GC is to do it every time the size of value log increases by a gig or so (in addition to running it periodically). You can use this function to get the sizes: You can use this function to get the sizes:

https://github.com/dgraph-io/badger/blob/e1ead0093cf5add74b536edf72ce53e8a4898f0e/db.go#L1108

[2018-05-01 23:59] #352 closed

[2018-05-02 16:29] #464 closed

[2018-05-02 19:44] manishrjain commented on #444
If you can share a working code example, I could run it and see if I can reproduce it. Otherwise, it's hard to tell what's going on. My experimentation based on https://gist.github.com/manishrjain/647cc6ea41d2c10769a61f8c517dddae showed things working as expected.

[2018-05-04 06:25] kingluo commented on #463
I mean how many times I should retry in case of conflict? It seems impossible to predict.
But if I could lock the key in advance, it is supposed to be successful.

[2018-05-04 06:27] kingluo commented on #463
Why badger do not provide pessimistic locking just like rocksdb?

[2018-05-06 19:54] zippoxer opened #476 "Data corruption when not closing on Windows"
https://github.com/dgraph-io/badger/pull/470 describes and fixes a lock file issue on Windows. The author also describes a data corruption problem on Windows. I can reproduce this problem as well. Quite easily.

On my 64-bit Windows 10 machine, to simulate a crash (opening Badger and not closing it), I ran the following program three times:

[code]

The first time I ran it, it terminated gracefull

[2018-05-06 20:30] zippoxer commented on #476
The value log is actually 2,147,483,648 bytes long.

[2018-05-08 00:03] alash3al opened #478 "Replaying value log file issue "after a crash""
Dears,

I'm using badger in a long-running-service "that never stops", at some point in time we detected that badger cannot write data "resulting in server timeout" after some investigation "using badger info" from cli, we found that there is an error "Database was not properly closed, cannot open read-only", I think that our service maybe restarted from a crash that terminated badger.

So, how ca

[2018-05-08 00:35] manishrjain commented on #478
Looks like you're trying to open the DB with `ReadOnly` option set to true. You can set that to false. If there was a crash, it's also possible that the value log might need truncation, which Badger wouldn't do by default. You can set `Truncate` option to true to allow for that.

Closing the issue, as this is a general question.

[2018-05-08 00:35] #478 closed

[2018-05-09 13:06] schomatis commented on #450
Sorry, I completely forgot about this. I'll submit a PR to fix a couple more of these cases not addressed in the other commit.

[2018-05-09 15:55] djdv commented on #476
@manishrjain
I'm free to run tests on Windows machines if you need them. Ping me anytime.

[2018-05-09 17:25] manishrjain commented on #476
Hey @djdv , could you see if you can replicate this bug, and suggest/test solutions?

[2018-05-09 17:33] djdv commented on #476
The case above is the same for me, on the 3rd run I get

with a 2,147,483,648 byte vlog.

Unfortunately, I may not be much help on actually debugging the issue at the moment, but can certainly run tests.

[2018-05-09 20:28] djdv commented on #476
It seems as though something has to be done to handle dynamically sized memory-mapped files on Windows.
Probably by handling shrinking, growing, and migration manually.
I would assume that on vlog size changes, a new mapping would have to be created, the old data moved over, and references to it would have to be updated, as well as removing the old backing file.

Handling this without impacting pe

[2018-05-11 19:31] manishrjain commented on #476
Closing the issue. Feel free to reopen if there's an actual data loss.

[2018-05-11 19:31] #476 closed

[2018-05-11 20:58] manishrjain commented on #463
Doing explicit locks in advance means lower write throughput, less concurrency and more contention. Badger is built with the goal of high concurrency.

[2018-05-11 21:32] manishrjain commented on #460
I released v1.5.0 a couple of days ago, which removes the PurgeVersions API calls. It gets rid of keys during compactions. So, there's no need for that call anymore.

[2018-05-11 21:37] manishrjain commented on #339
Hey guys, I decided to not move to subsecond level TTL for the latest v1.5.0 release. The only thing which was a data level breaking change would have been this sub-second feature for TTLs, which would require us to move to 2.0. I'm not convinced there's a lot of need for it out there. Second level TTL should be sufficient for most users, I reckon.

A lot of changes have gone into v1.5.0, which be

[2018-05-11 21:37] #339 closed

[2018-05-11 21:47] manishrjain commented on #467
Yes, that's right. Each update is a new version of that key, and the latest version determines the behavior. So, your TTL would be based on the new version.

[2018-05-11 21:49] manishrjain commented on #469
I should add, you can easily segregate the keys by adding prefixes. Then when you need to get rid of the keys, you can iterate over that prefix, and mark all those keys as deleted. Compaction would then get rid of the keys (as of v1.5.0), and so would value log GC.

[2018-05-12 03:11] noorainp commented on #469
Prefix seems like a viable option. My only concern was that for larger
datasets, I would have to go through all the keys adding unnecessary
overheads. Having column families would definitely speed up the process.

On Sat, May 12, 2018, 3:19 AM Manish R Jain <notifications@github.com>
wrote:

[2018-05-12 20:44] stephane-martin opened #482 "Mutability of []byte in transaction methods"
Hi,

no really an issue with Badger, but rather a point of attention.

The Txn methods take *[]byte* arguments for keys and values. Byte slices are *mutable*.

For example, when performing a Delete(key), the Delete operation will not be completed right at the method call, but later on, when the transaction ends. In the meantime, the key is stored in an Entry object and lives inside the txn.

So wh

[2018-05-13 04:44] Kelindar opened #483 "Should deleted or expired entries be backed up?"
During the backup, deleted or expired items are written in, would it make sense to provide an option or default to skipping writing such entries ? Perhaps by simply adding a check  `item.IsDeletedOrExpired()` in the `Backup` method.

https://github.com/dgraph-io/badger/blob/c6f5a0e8190915f35cb2b98ca64c8013f1156c88/backup.go#L50

It makes sense for my personal use-case as I've noticed when using th

[2018-05-13 04:47] Kelindar commented on #483
I ended up doing something like this:

[code]

[2018-05-13 20:11] schomatis commented on #476
@manishrjain How then can the user differentiate if it's truncating because of how Windows works or because there was actually some data loss that resulted in an inconsistent DB?

[2018-05-13 20:55] manishrjain commented on #476
Hard to tell, honestly. The chance of actually losing confirmed data with sync writes on, is almost nil. Can only happen if the hard drive has issues and is flipping bits.

[2018-05-13 21:57] hofstaetter opened #484 "Can't get value if it will be greater than 31 bytes"
I have following simple code:

package main

import (
	"github.com/dgraph-io/badger"
	"log"
)

type Drive struct {
	database badger.DB
}

func NewDrive(dir string) Drive {
	d := Drive{}

	opts := badger.DefaultOptions
	opts.Dir = dir
	opts.ValueDir = dir
	db, err := badger.Open(opts)
	if err != nil {
		log.Fatal("[Drive::new]: %v", err)
	}

	d.database = *db

	/* prepare database */
	err = d.datab

[2018-05-14 06:15] schomatis commented on #484
@hofstaetter  You are making a copy of the DB control structure and some rather strange things are happening.

[code]

You should always handle the DB through the pointer returned by `Open()` instead of handling its value through the `*` operator.

So your `Drive` structure would look like this:

[code]

and then you could make the copy of the pointer (not the value) of the DB:

[code]

@manishrja

[2018-05-14 10:17] hofstaetter commented on #484
Thank you!
Everything works fine now!

[2018-05-14 10:17] #484 closed

[2018-05-15 01:43] manishrjain commented on #484
@schomatis : It would be good to add a couple of sections about proper usage of Badger. Copying keys, using values (or copying them), closing iterators, not using the same key (without copy) across loops, etc. Explaining the scope where a variable would be valid and where not, etc. In that section, we could also mention this particular pointer thing.

[2018-05-15 02:27] manishrjain commented on #483
You could simplify your logic by not setting `AllVersions=true`, and leave it to false. Then, you won't need to specifically handle the `IsDeletedOrExpired`.

[2018-05-15 02:27] #483 closed

[2018-05-15 02:29] manishrjain commented on #482
Yeah, we should mention them. Maybe you can send a documentation PR?

[2018-05-15 02:31] manishrjain commented on #478
I think you might not be closing your iterators, and trying to write data. Those iterators might be blocking the value log files from being closed, due to their read locks, which would block the write. Something on those lines.

[2018-05-15 02:37] manishrjain commented on #469
Dgraph key only iteration is blazing fast. So, the overhead is minimal. Anyways, deletion of throw-away column families doesn't sound like it would be in the path of main logic.

[2018-05-15 09:46] yudao opened #485 "Go dep ensure error"
Hi,

When I want to add badger as dep with go dep it return an error:

[code]
Is there a way to use go dep with badger?

Thanks a lot.

Yu.

[2018-05-15 14:01] dc0d opened #487 "Adding a BeforeCommit Option"
By adding a `BeforeCommit func(txn *Txn, key, val []byte) error` function to database options, implementing secondary indexes (and more interesting scenarios) will become easier and more straight forward.

I needed this for implementing an embedded document database (relatively small one) based on `badger` and have already sent a [pull request](https://github.com/dgraph-io/badger/pull/486).

[2018-05-15 16:12] stephane-martin commented on #482
Here you are

[2018-05-15 21:11] #485 closed

[2018-05-15 22:50] manishrjain commented on #482
Reviewed. One comment, and it should be good to go.

[2018-05-16 00:54] manishrjain commented on #487
I think secondary indices can be built from within your update functions. We do that in Dgraph as well. I doubt putting this in Badger adds anything of value that can't be done in the application layer.

[2018-05-16 00:55] #482 closed

[2018-05-16 05:37] dc0d commented on #487
A key-value store is rarely used without some sort of secondary indexes. And calling this manually is an error prone task and adds lots of clutter to the consumer code-base.

This event has no overhead over the current performance of badger (if it's `nil`) and passes all the tests.

It seems a convenient utility (IMHO) since one has to create some sort of secondary index in majority of cases.

[2018-05-16 07:27] #487 closed

[2018-05-16 15:25] schomatis opened #489 "Tove tests"
The [Tove](https://github.com/dgraph-io/tove) tests (that rely on the [ALICE](https://github.com/dgraph-io/alice) framework to perform crash analysis) have been [updated](https://github.com/dgraph-io/tove/pull/2) to work with the latest Badger release v1.5.0. A preliminary run would indicate that Badger may have deviated from "ALICE-compliance" (for lack of a better term) as some dynamic vulnerabi

[2018-05-16 16:59] schomatis opened #490 "Limit manifest's change set size"
(In a similar way as it was done for the [value log replay](https://github.com/dgraph-io/badger/pull/158/files#diff-1c18e563343128db9eb1948c03ced241R151).)

https://github.com/dgraph-io/badger/blob/dc0df253d239ff6abe3ffbbcdf3cb1e49e646369/manifest.go#L356-L357

[2018-05-16 17:01] manishrjain commented on #489
These results are a bit cryptic. I don't have much idea what they mean either. I've asked https://twitter.com/vj_chidambaram to see if he has any ideas. His team was behind ALICE.

[2018-05-16 17:04] manishrjain commented on #490
Reasoning?

[2018-05-16 17:14] schomatis commented on #490
The same as the one described in vulnerability number 1 of the ALICE [post](https://blog.dgraph.io/post/alice/) which the cited PR fixes.

[2018-05-16 17:18] manishrjain commented on #490
I see. Good catch.

[2018-05-16 17:32] manishrjain commented on #490
ALICE would have to see a lot of writes going into MANIFEST, which doesn't happen as often as writes which go into the value log. If run long enough, on a powerful machine, this might trigger, I reckon. There's a time gap between write and sync, a crash should happen at that time and must leave some garbage data appended to the file.

https://github.com/dgraph-io/badger/blob/dc0df253d239ff6abe3ffb

[2018-05-16 20:35] manishrjain commented on #489
@vijay03 : That sounds like something beyond the application's control. Appends are typically not atomic. A file would need to be synced by making an explicit call afterward.

Is there any documentation on the Operations? I'm trying to understand what these numbers mean, but can't find any explicit documentation.

[2018-05-16 21:04] manishrjain commented on #489
Got it. Thanks for the explanation. The test output in the first comment doesn't mention the operations, but I reckon the actual output from the program would.

@schomatis : I doubt there're any new-found vulnerability in Badger here. Also looking at the sequence of operations, it all looks pretty clean to me. You could test this on another file system, say XFS, which might give atomic appends, or

[2018-05-16 21:06] vijay03 commented on #489
So I'm not familiar with what Tove is doing here. If it is simply complaining that there is a checksum mismatch in Badger, there is no vulnerability. If instead, there is unexpected Badger behavior even with checksums, there might be something there.

[2018-05-16 21:55] manishrjain commented on #489
Based on the file ops presented in the test output, it's not replaying the value log; so I doubt it is testing value log replay, which uses the checksums. (Though, we have done checksum testing successfully before.)

[2018-05-17 01:13] delaneyj opened #491 "Update Transaction behavior seems wrong"
I'm pretty sure I must be using the txn.Update incorrectly.  Basically I have a global *best* key that multiple go routines could possibly be updating.  Have each in a loop if there is a conflict trying to update that record if its state it better.  Weird thing is that global value bounces around...

[code]

So I made an MVP showing the problem.

[code]

Note the sequential version is fine.  But t

[2018-05-17 01:47] manishrjain commented on #491
The code is a bit complicated to follow. But, general sense is that your `newBestFound` could be true, even if you didn't commit anything. If your had a ErrConflict in the txn which actually did the Set, and the next one just did a read and exited, it would end up printing your new best found if condition.

I doubt there's a bug in Badger, we have extensive tests for that. You should look deeper a

[2018-05-17 01:55] delaneyj commented on #491
Not sure I follow.  The `newBestFound` is only set to true after a `txn.Set()` call.  If the set failed with an ErrConflict that flag will never be true.

[2018-05-17 01:58] manishrjain commented on #491
The ErrConflict would be returned by txn.Update, not txn.Set. Update is the one which would try to commit the transaction, and run conflict detection. Set would just register what you intend to set.

[2018-05-17 01:58] schomatis commented on #489
@vijay03 Thanks for this clear explanation.

@manishrjain The checksum wouldn't seem to be the problem here because the [checker](https://github.com/dgraph-io/tove/blob/master/badger/checker/checker.go#L95) is actually testing for atomicity exactly as defined by @vijay03.

[code]

[code]

@manishrjain Bear in mind that (if I understand correctly) read operations are neither traced nor displayed in

[2018-05-17 02:05] delaneyj commented on #491
Ah, that makes more sense.  I don't think its in the README that the ErrConflict only happens at the txn.Commit().  I thought it would error out early.  I can make this work now, thanks.

[2018-05-17 02:25] #491 closed

[2018-05-17 02:37] schomatis commented on #489
The new `Truncate` flag was not present in the old Tove tests, this caused Badger to refuse to start in the cases where truncation was needed generating the errors reported as vulnerabilities. Adding the flag fixed them. I'll submit the PR to Tove.

Still, I'm leaving this issue open until someone else can replicate these (new) results without vulnerabilities.

<details>
 <summary>Full test output

[2018-05-17 18:41] manishrjain commented on #489
Typically, as a policy, unless an issue can clearly demonstrate a problem, or is a valid feature request, etc., we don't let it stay open for long. There must be a clear action that can be taken on the issue.

You could run these tests on XFS, or with journaled EXT4, to see if a different filesystem shows the same dynamic vulnerabilities. In particular, determine if Badger is indeed the cause of t

[2018-05-17 19:14] manishrjain commented on #489
Okay. To give you a bit more context, Badger's nature of dealing with file system has not changed since the last tests were run. That part is still the same. We added transactions, but those work at a higher level than the file system.

I also don't see why Truncation which happens only at the beginning is resulting in those dynamic vulnerabilities going away, which are happening as writes are hap

[2018-05-17 19:43] schomatis commented on #489
@manishrjain I'm answering some comments of the Tove PR here to unify this conversation.

That is *exactly* the type of behavior I want to test with Tove, I can't take that functionality for granted. The best example for me is the [Tove post](https://blog.dgraph.io/post/alice/) where vulnerability N°1 was found with a bug in that recovery mechanism.

With this I don't mean to discredit Badger (I'm

[2018-05-17 20:43] manishrjain commented on #489
I think you're taking what I'm saying the wrong way. I applaud the effort that you're putting here to make Badger work with ALICE again. But, I'm discouraging you from leaving behind issues which don't prove anything, just so someone else would come along and might work on them sometime later.

We proactively fix issues with Badger. But, for that, the issues must be fleshed out.

My comments here

[2018-05-17 20:50] manishrjain commented on #489
That's great.

I thought you are talking about the test log above. But, you might have moved on from there.

And thanks for your effort to bring it up to date.

[2018-05-17 23:34] schomatis commented on #489
I was talking about the test log output, I used the quotation marks because emphasize that vulnerability was the term used by ALICE but it actually meant an error reported by the checker (which may be an indication of an actual problem in the code).

----------------------------

As proposed before, I'm closing this issue to avoid any confusions and we can evaluate opening a different one to discu

[2018-05-17 23:34] #489 closed

[2018-05-18 22:16] briansorahan commented on #368
I typically use golang.org/x/sync/errgroup to run an arbitrary number of goroutines.  IMO packages should favor blocking calls over channels: e.g. the Wait method on errgroup

[2018-05-20 10:36] zerolocusta opened #492 "confusing about comment"
I am reading badger source code.
The comment of `db.go/writeLevel0Table` says that it will drop deleteValues,but`s.NewIterator()`will return a `skl.Iterator`,and this iterator will not drops deleteValues while traversing memtable,but `badger.Iterator` will drops deleteValues.
[code]
Wanna know where was wrong.
Thanks.

[2018-05-21 16:38] dolzenko opened #493 "PurgeOlderVersions still mentioned in docs"
https://github.com/dgraph-io/badger/blob/65cbaa2e25f7f04fbef4c37aa27554e85def4b6f/db.go#L930 mentions PurgeOlderVersions , while https://github.com/dgraph-io/badger/pull/475 says it was replaced with SetWithDiscard, can somebody clarify when do we need SetWithDiscard and if its safe to remove the calls to PurgeOlderVersions?

[2018-05-21 17:55] manishrjain commented on #493
Just pushed a change to master to remove that portion of the comment. PurgeOlderVersions is no longer available, you do not need it anymore.

[2018-05-21 17:55] #493 closed

[2018-05-21 18:52] manishrjain commented on #492
writeLevel0Table doesn't drop any value. That comment seems to be wrong. I'll push a fix.

`badger.Iterator` would skip over the deleted values, it doesn't modify the DB (add/drop key-values) in any way. However, a recent change to the DB that I committed, would now drop versions of keys which are deleted and/or older.

[2018-05-21 18:52] #492 closed

[2018-05-22 00:01] luma opened #494 "Deleted keys during iteration with PrefetchValues=false are visible to the next read"
## What I see

I was walking and deleting a subset of keys. I was doing this with `PrefetchValues=false`, as the deletion criteria is just based on a min and max key. I found that when using `PrefetchValues=false` some of the keys would not be deleted, but they are all deleted when values are prefetched.

## What I expect

All keys to be deleted, regardless of the value of `PrefetchValues`. I actu

[2018-05-22 01:14] manishrjain commented on #494
It doesn't matter what the value of `PrefetchValues` is. You need to do `k := it.Item().KeyCopy(nil)`, because you must pass a slice of key, which doesn't change to `txn.Delete`. I've tested your code successfully with this change.

[2018-05-22 01:14] #494 closed

[2018-05-22 05:58] luma commented on #494
thanks @manishrjain

[2018-05-22 17:00] stephane-martin opened #495 "Infinite recursion in Item.yieldItemValue ?"
Hi,

I face a difficult to debug problem with badger. It happens in the following situation:
- ingest a lot of data (say 1M key-values)
- delete that data
- stop the program (properly closing the badger database)
- relaunch the program

Then it can happen that when the program reopens the badger database, go panics with a "runtime: goroutine stack exceeds 1000000000-byte limit".

Further tries to

[2018-05-22 17:09] stephane-martin opened #496 "Iterating performance degrades when the database has a lot of deleted key values"
Hi,

1 - when iterating over a fresh empty database, the iteration is instantaneous
2 - after inserting quite a lot of key-values (say 1M), the iteration is slower (on my server it can be a few seconds). That's ok and understood.
3 - then delete the all the key values. Perform a GC. Iterate over the (empty again) database. The iteration is not instantaneous. A bit faster than in step 2, but still

[2018-05-22 17:56] stephane-martin commented on #496
There is some memory leakage too, probably linked to the recursive calls in yieldItemValue (see also issue 495).

[2018-05-22 18:12] stephane-martin commented on #495
Trivially replacing the recursive call in yieldItemValue by a for loop seems to solve the problem.

[2018-05-22 18:13] stephane-martin commented on #496
The memory leak problem is solved by removing the recursive call in yieldItemValue, but iterating seems to continue to be in linear complexity of *deleted* keys.

[2018-05-22 19:46] Phil192 opened #498 "Debug unreasonable "heavy" storage"
Hi everyone!

Surprisingly I've encountered that my dapp (that use ipfs, but have own badger storage) take all space on my ssd and succesfully crashed. I've found that heaviest file is a .vlog files - 26 Gb. My dapp really do not produce so much data.
Storage files:
[code]
How i can debug db transactions? Is there any tool to see all or trace recent records/versions? Thank you!

[2018-05-22 22:05] manishrjain commented on #498
Did you run garbage collection? https://github.com/dgraph-io/badger#garbage-collection

[2018-05-22 22:09] manishrjain commented on #496
So, garbage collection only works on the value log files. It would consolidate the valid keys, and then delete the old log file. However, what GC doesn't do is to run LSM tree compactions. These compactions are what you need to get rid of keys from the LSM tree. LSM tree compactions happen as new data pours in, and the level sizes increase beyond their limits. There's no other way to "force" a com

[2018-05-22 22:09] #496 closed

[2018-05-22 22:12] manishrjain commented on #495
Did you write the same key over and over again? Can you narrow it down to a Go main program to illustrate the steps one can take to reach this state?

[2018-05-22 22:54] Phil192 commented on #498
@manishrjain Nope. Should I do it manually?

[2018-05-22 23:02] manishrjain commented on #498
You should call it periodically so that Badger would clean up these value log files.

[2018-05-22 23:49] stephane-martin commented on #495
@manishrjain : no it was different keys and values each time. But truely that was not an "infinite recursion". Just the stack was overwhelmed by some many recursive calls. After pushing the stack size with debug.SetMaxStack to an insane level, the program terminated (consuming roughly 6GB of RAM). All of that is gone after eliminating the recursive call in https://github.com/dgraph-io/badger/pull/

[2018-05-23 00:13] Phil192 commented on #498
@manishrjain Could your give me advice, please, how often should I call GC? Thank you.

[2018-05-24 13:04] arctica commented on #226
Could you please expose a public function to force a full compaction? We have a DB that has grown quite a bit but then activity on it shrank again. Due to the low amount of writes right now, the LSM wont trigger a compaction in a long long time and therefor the value log GC also doesn't seem to want to collect any garbage. Right now the DB has 14 tiny entries but is 1.3GB on disk.

[2018-05-24 13:38] romansemko commented on #495
Had the same issue over the couple few days: written over 20M key-value pairs. Deleted a bunch of them. The recursion then happens on a Get method for specific keys. Always. Not all keys are affected. Only a few "landmines" trigger the infinite loop.

I can try narrowing down to a simple go program, but cannot promise. Will also try older badger release, since I updated a few days ago.

[2018-05-24 16:21] manishrjain commented on #495
If you can write up a program, where it triggers once in a while, I can run it in a loop on my machine and verify. Otherwise, I'll try and see if I can reproduce this on my own, over the next couple of weeks.

[2018-05-24 17:21] manishrjain commented on #300
No need for this issue. Can be made part of a badger defrag tool, #299 .

[2018-05-24 17:21] #300 closed

[2018-05-24 17:26] manishrjain commented on #299
Tasks for the defag tool:

- Run compactions through the entire LSM tree to get rid of all invalid keys.
- Then run value log GC through all the log files to get rid of these keys and reclaim space.

All this would be done offline with the aim to reclaim maximum space.

[2018-05-24 22:47] manishrjain commented on #498
That depends upon how quickly your data is coming in. You could use for e.g., `DB.Size` method to see the size of the DB, and every time it grows by some size, you could run the value log GC. You could also re-run it whenever value log GC is successful, i.e. returns nil error.

Or, you could just run it periodically based on a timer. There are many ways you can run this, all depends upon your appl

[2018-05-24 22:47] #498 closed

[2018-05-24 23:49] manishrjain commented on #495
So, based on my rough testing, yieldItemValue is never called more than once during recursion. Which then makes me wonder, what is causing your recursion stack to get cooked? I'm not sure.

[2018-05-25 03:57] arctica commented on #226
@manishrjain that issue talks about an offline tool. Not everyone (actually probably only a tiny minority of users) can take a database and therefor the whole service offline for maintenance that might need to happen regularily. Please consider providing a function to make this happen online and via API. As far as I understand, badger already supports online compaction and I assume the value log G

[2018-05-25 07:16] schomatis commented on #495
The moved item that is searched for (appending the `!badger!move` prefix) with the recursive call doesn't get its key updated, so new calls to `yieldItemValue` still look for the original key (instead of the moved key with the prefix). First generation moves will be found but further ones will not have the second move prefix added and it will keep looking for the first moved key in a infinite recu

[2018-05-25 07:31] arctica commented on #299
I'll reference my comment from https://github.com/dgraph-io/badger/issues/226#issuecomment-391934265 here because I saw several other tickets mentioning this ticket here.

In my comment, I argue for a way to compact a DB online via API instead of an offline commandline tool as suggested here.

[2018-05-25 07:37] schomatis opened #500 "Make sure all entries that are part of a transaction are written to the same value log file."
This [commit](https://github.com/dgraph-io/badger/commit/b5727f1b8485a1812e3e904216cc01de7346dce5) seems to break the `ValueLogFileSize` API. I'm failing to understand why was this modification introduced, I'm not seeing any comments in the commit, nor is it part of any encompassing PR that would explain its purpose. This should be documented.

[2018-05-25 07:44] schomatis commented on #442
Yes, and more important from my perspective, this undocumented and hard-coded value makes it much more difficult to:

1. Understand how GC works.

2. Debug GC at a small scale level, many of the bugs that can be found (e.g., #495) are of a logical nature and are pretty much independent of value log file sizes (e.g., from 1GB to 10KB).

[2018-05-25 08:14] nordinvannes commented on #424
Any follow up on this issue? Thanks in advance!

[2018-05-25 09:00] arctica commented on #442
The current code checks for vlog files to have at least 10k entries and 10MB in size. Instead of these arbitrary numbers, I would suggest to change the logic to:

If garbage > gc_threshold1 || (garbage > gc_threshold2 && last_modified > gc_minAge) { collect() }

So one could set that if a file has either 50% of garbage in it or has more than 10% garbage in it and has been last modified more than 2

[2018-05-25 15:32] schomatis commented on #442
Agreed.

[2018-05-25 16:18] manishrjain commented on #495
That's an incorrect understanding.

`yieldItemValue` is called after having done the lookup for the key in the LSM tree. That lookup returns a value pointer. The task of `yieldItemValue` is exactly to use that value pointer to look into the value log and retrieve that value.

You can look here: https://github.com/dgraph-io/badger/blob/744717d82b6d465963bf8cb6690fdeb8e176dfc9/iterator.go#L158 to se

[2018-05-25 16:26] manishrjain commented on #500
This is to ensure that all the changes for one transaction are part of the same value log file. That we don't split one transaction across two value log files. This is for correctness and simplicity.

[2018-05-25 16:26] #500 closed

[2018-05-25 16:42] arctica commented on #442
If a file is smaller than 10MB or has fewer than 10K entries then you effectively scan it in whole and have a 100% accurate number for the amount of garbage it contains. It doesn't invalidate the sample. To the contrary, it turns a sample into a 100% accurate measurement.

Allowing arbitrarily small value log files just would result in the GC being more precise and having to compact smaller files

[2018-05-25 17:01] manishrjain commented on #226
From what I gather, you're saying that we should compact a level (in LSM tree) even if it doesn't exceed the level size threshold; so that you can continue to achieve the minimum possible size requirement. Why do you have such a requirement (hard disk is cheap and plentiful)? Do you think an LSM tree based KV store the right solution for you? Maybe a B+ tree-based design would be better suited for

[2018-05-25 17:21] manishrjain commented on #442
Created a PR to fix the 10MB limit. Can you try this out?

https://github.com/dgraph-io/badger/pull/501

If you want to ensure that your value log GCs are efficient, you should tweak the `ValueLogMaxEntries` instead of the `ValueLogFileSize`. The former is the one which truly control how efficiently is a value log GCed.

[2018-05-25 17:32] schomatis commented on #495
[code]

<details>
 <summary>`main.go`</summary>

[code]
</details>

[2018-05-25 18:01] schomatis commented on #500
I understand *what* the commit is doing, I don't understand *why*. But anyway, this stills breaks API and should at least be documented (if not avoided).

(@manishrjain If it's not too much problem could you allow for some grace period for the author of the issue to respond before closing the issue? I understand that closing doesn't prevent the conversation from continuing, but if feels more natur

[2018-05-25 19:53] manishrjain commented on #495
Trying this.

[2018-05-25 19:58] manishrjain commented on #495
Thanks for that. I see the bug!

[2018-05-25 20:09] manishrjain commented on #495
Submitted: https://github.com/dgraph-io/badger/commit/2e3a32f0ccac3066fb4206b28deb39c210c5266f

Can you try again at your end too, @schomatis ?

[2018-05-25 20:31] manishrjain commented on #500
What API does it break? ValueLogFileSize isn't an API, it's just an indication for when we should wrap up the file and start a new one. Badger makes no guarantees that all the value log files must be lower than this number.

Regarding keeping the issue open, this seems more like a question or a discussion than an issue (judging from your opening comment). As you noticed, the discussion can continu

[2018-05-25 20:49] manishrjain commented on #424
If someone wants to help, ping me via Slack or Discuss.dgraph.io. I'd like to fix this issue, but I'm not a Windows guy.

[2018-05-25 20:51] CapacitorSet commented on #424
@manishrjain did you review #470?

[2018-05-25 20:53] manishrjain commented on #424
Hey @CapacitorSet , Thanks for the PR, first of all. The main issue I have with it is that it brings in a new dependency. Ideally, I'd like to see if we can just fix up the locking system directly in our own code base.

Could you potentially look at how others, like BoltDB, solve this problem? And then rationalize what Badger is doing wrong?

[2018-05-25 20:55] CapacitorSet commented on #424
I'll ping you on Slack.

[2018-05-25 20:57] manishrjain commented on #495
Can't spend too much time on this, but I just can't reproduce this at my end.

@stephane-martin , @romansemko : I'll leave it to you guys to create a reproducible example. I'll leave the issue around for a bit.

[2018-05-25 21:48] schomatis commented on #495
This should be tested by @stephane-martin and @romansemko who had actual production scenarios impacted by this bug, if you already tried the script provided above there's not much more value I can add here.

@manishrjain Respectfully, let me use this issue as a great example of the importance of documentation in the design and implementation of a product. There was a massive GC modification (https

[2018-05-25 21:57] schomatis commented on #500
Again, this should be clearly documented then. For me, everything the user has interaction with (like one of Badger's options) is part of the Badger API because if its behavior changes that will have a direct impact on the user's code which is expecting a specific behavior from it (like having a value log file within the size indicated with the `ValueLogFileSize` option), there is an implicit cont

[2018-05-25 22:02] manishrjain commented on #495
@schomatis : Please keep your comments short and precise. I'm not sure what you're suggesting.

[2018-05-25 22:04] manishrjain commented on #500
If so, please send a PR to add that documentation. If this is important to you, then you must make that effort.

[2018-05-25 22:05] stephane-martin commented on #495
@manishrjain : better documentation for design decisions, so that we better understand the code and contribute to debugging more efficiently. I'll try the fix tomorrow, thanks for the good work.

[2018-05-25 22:06] schomatis commented on #495
@manishrjain Sorry if I didn't explained myself more clearly, tl;dr, more comments in the code could make it easier to spot bugs like this one.

[2018-05-25 22:08] manishrjain commented on #495
@stephane-martin : That is not a fix for the actual issue that you mentioned (and what this issue is about). The commit was purely for the issue that @schomatis brought up.

@schomatis : If you feel documentation is lacking, please send some PRs. Documentation is a shared responsibility.

[2018-05-25 22:16] schomatis commented on #495
@manishrjain I totally agree, but keep in mind that the author of the PR (in this case you but could be anyone) is the one who actually knows *why* he is writing the code he is going to commit, the rest we can just guess.

Of course if I can contribute some documentation I will, but the author of what's being commited is in a unique position to write that documentation in the first place (which of

[2018-05-26 07:58] gedw99 commented on #487
@manishrjain
You can only do orchestration, but not choreography. @dc0d's BeforeCommit function allows choreography patterns and hence allows many more use cases and inside out architectures.

@dc0d You can always write a generic wrapper over badger and implement the needed Events ?

[2018-05-26 10:31] dc0d commented on #487
@gedw99 I wanted to implement a document database (based on badger) and so far most of it is done. Any feedback is most welcome! https://github.com/dc0d/dockage

[2018-05-26 13:58] gedw99 commented on #487
@dc0d see my comments on https://github.com/dc0d/dockage

[2018-05-28 06:50] JeanMertz opened #502 "Is it safe to store different values under the same key?"
I am using Badger for a stream sorting implementation. I use a timestamp-based byte array as the cache key when storing a value in Badger. This allows me to easily retrieve a set of keys from Badger at a later point in time, and have them sorted as expected.

Obviously, using a timestamp as key means duplicate entries can occur.

I can either implement some logic to append some incremental counter

[2018-05-28 14:15] stephane-martin commented on #495
@manishrjain

- the main.go by @schomatis looks like the minimal test case that you wanted. So I don't exactly get it when you say "The commit was purely for the bug that schomatis brought up".
- after applying your fix on the master branch I can't reproduce the infinite loop in my program.

[2018-05-28 20:51] manishrjain commented on #495
There were two things going on:

1. When moving a key during GC, the move prefix was being applied, even to the keys which were previously moved, and therefore already had the move prefix. That is, the move prefix was being applied repeatedly. That's the bug shown by the @schomatis 's main program, which I fixed.

2. When looking for a key, there seems to be some edge case which is causing infinit

[2018-05-28 20:57] manishrjain commented on #442
@arctica : Let me know if you intend to try this out (would be good if you do). Otherwise, I'll just submit this in a few days.

[2018-05-29 05:04] arctica commented on #442
@manishrjain Thanks for working on this. As far as I can see, this PR changes the skip conditions to "If we sampled less than 1000 entries AND less than 7.5% of the file". There are three conditions for sampling to stop: 1. We reached 10k entries 2. We've reached 10% of the file 3. It took more than 10 seconds

In order for the new skip conditions to be true, 1. and 2. must have not been the reaso

[2018-05-29 20:37] manishrjain commented on #502
AllVersions would show you whatever we have in the LSM tree. Now, as I mentioned before, during LSM tree compactions, these versions might be removed. So, don't count on them being present in your next iteration with AllVersions.

These settings are meant for advanced usage of Badger (Managed DB), and not typically recommended. That's why they're under-documented.

Yes. If you're using `SetWithDis

[2018-05-30 08:52] JeanMertz commented on #502
Thank you for the further explanation. And I should have clarified that I am indeed no longer pursuing this solution, as per your warning/advice. However, I still used `AllVersions` for logging/debugging purposes and to verify that no key collision occurs anymore with a high volume of data passing through the cache.

In relation to that; I did notice that with this pseudo-code:

[code]

At some po

[2018-05-30 13:49] manishrjain commented on #502
This is as expected -- those numbers might or might not match, because Badger only marks keys as deleted. All the LSM tables on disk are immutable. The actual removal of those keys happens during compactions, which run in the background. We also force compact level 0 during close, and looks like all your data is in Level 0 - Level 1, which is why you're able to perfectly match these numbers. If yo

[2018-05-30 22:16] JeanMertz commented on #502
Thanks again for the elaboration.

The only thing unclear to me is:

I _am_ using `IsDeletedOrExpired()` as you can see in the code snippet above, but it's (apparently) still counting those records, is that expected behaviour?

[2018-05-30 23:36] manishrjain commented on #502
Once a version is deleted or expired, all versions below it must also be discarded. Your iteration loop is just skipping the version that is deleted, not checking anything below.

[2018-05-31 08:09] ammmir opened #504 "Storm-like toolkit for Badger?"
[Storm](https://github.com/asdine/storm) is a toolkit for BoltDB that provides indexes and additional query capabilities. Is anyone working on or knows of a project like that for Badger?

[2018-05-31 17:39] manishrjain commented on #504
None that I know of.

[2018-06-01 18:34] adiabat opened #505 "tx.Set(array[:], array[:]) doesn't work without copy"
Hi- trying out badgerDB as it looks promising but had a difficult bug which I managed to figure out.  This may be a known aspect of the db package and not something that needs to be fixed -- but if so, I think a more prominent warning about this type of behavior would help a lot, as I didn't see anything about this and it took a while to figure out.

I've got a badger DB I've started, and I'm goin

[2018-06-01 20:06] manishrjain commented on #505
I've had this thing in my mind to add code samples which illustrate the common bugs while using Badger. If you'd like to contribute, I'd suggest adding a section for that, with these code samples up there, showing the wrong way of doing things and the right way. If you start this, I could extend it to include other common mistakes.

We do have some language in our comments about this. But, code sa

[2018-06-02 22:24] brianbwong opened #507 "Is DB.Close() necessary if SyncWrites=true?"
From the docs:

Is there any potential for data loss if Close() does not get called (eg because of runtime panic) if SyncWrites=true?

[2018-06-03 13:11] manishrjain commented on #507
No. There's no potential data loss with SyncWrites=true. Clean `Close()` is highly recommended though.

[2018-06-03 13:11] #507 closed

[2018-06-04 19:29] manishrjain commented on #495
This should be fixed by https://github.com/dgraph-io/badger/pull/503.

[2018-06-04 19:29] #495 closed

[2018-06-04 19:31] manishrjain commented on #442
This should be fixed by #501 .

[2018-06-04 19:31] #442 closed

[2018-06-04 19:32] manishrjain commented on #505
Let me know if you'd like to contribute to the documentation, @adiabat . Would be much appreciated!

[2018-06-05 04:55] kkshetty commented on #498
@manishrjain - This is an excellent tip, that should be part of the README.md. Turned out to be really useful for me.

[2018-06-05 17:44] manishrjain commented on #498
Done. Added a code sample as well.

[2018-06-05 23:26] ghost opened #508 "Dump / View data in the database ?"
What tooling exists to see current data in badger ?

[2018-06-06 01:30] brianbwong opened #509 "db.Close() is very slow (~1 second)"
Why does db.Close() take about 1 second even on empty db's? I don't know the details of the implementation, but this seems quite long given that opening and closing a file takes ~100 mics (and surely you're doing less work in Close() than opening 10,000 files). I have about 30 tests, each of which opens up a fresh badger db, so the test suite takes quite a while to run.

[code]

Output:
`Time to c

[2018-06-06 01:33] manishrjain commented on #509
DB.Close is a call done once when your program is exiting. We're using it to force an L0 compaction, among other clean up tasks. Optimizing that isn't a priority. Test suite taking over 30 seconds to run, is a pretty fast test suite, I'd say.

[2018-06-06 01:33] #509 closed

[2018-06-06 03:21] brianbwong commented on #509
Fair enough, thanks for the explanation.

As a follow-up: I realized that the tests run fine without db.Close() at the end of each test. I was expecting this to cause a "lock in use" error, but presumably what's happening is that when the db goes out of scope it relinquishes its lock. Could you shed more light on this (why it happens and whether it's behavior I can count on)?

[2018-06-06 11:33] jokerbo1 opened #510 "Slice bounds out of range error"
Hello sir:
  now  I use bager error:

Description:
   i use badger memory task info  ,before two month run well , today  i want get value by key ,prompt this message ,the key is a uuid ,value is a jsontext ,i dont know how to repeat this problem,wish help you solution this problem.

[2018-06-06 11:34] jokerbo1 commented on #510
@deepakjois @fjl @hnakamur @KevBurnsJr @maxpert

[2018-06-06 16:20] manishrjain commented on #510
The code lines mentioned here don't seem to match up. What version of Badger are you on? Also, how do we reproduce this.

[2018-06-06 17:20] manishrjain commented on #508
None right now. I have a branch with some changes, which I wanted to push to a new module under `badger` binary. But, haven't done that yet. It's in `mrjn/debug` branch if you want to contribute.

[2018-06-06 17:21] manishrjain commented on #509
Can't say. Going out of scope is something Go lang hides away from the application. So, we don't explicitly have a trigger to release file locks or anything.

[2018-06-07 02:40] jokerbo1 commented on #510
Sorry ,I dont know how to reproduce this.
[code]
the error prompt  this line get value slice range out.

[2018-06-07 13:20] pcjdean opened #511 "Enhance merge operator by putting one shared transaction as a member variable of merge operator"
Putting one shared transaction as a member variable of merge operator can enable merge operator to be used with other actions like Set in one transaction.

[2018-06-07 18:42] manishrjain commented on #510
Can you update your Badger version to the latest v1.5.1?

[2018-06-08 08:11] dc0d opened #512 "Key Not Showing Up in Prefix Scan"
Doing a prefix scan for a prefix like `^d91c3bef076f8580<^g` includes a key such as `^d91c3bef076f8580<^golang`.

But a prefix like `^d91c3bef076f8580<^n` does not include a key like `^d91c3bef076f8580<^nosql`.

Why is that so?

Code: I was playing around implement a generic way for secondary indexes and [here](https://github.com/dc0d/kvv/blob/024943ffb4082661092e11369cd3ad45a32102c0/kvv_usage_tes

[2018-06-08 10:53] Inkeliz opened #513 "Doubt about Prefix Scan performance"
I'm a little confusing how the Prefix Scan works, or maybe the Badger at all works. I'll try to explain my case of use,, but it can be completly wrong.

I would like to have "two values" as the key, suppositly like `[user_id][random_id]`, both have the same size (32 bytes), for simplicity consider: `AAABBB`. So, possible to access the value givin the `user_id` and `random_id`, which leads us to so

[2018-06-08 19:14] Phil192 commented on #508
Hi there! I'm struggling with fetching and reading all data from storage:
`
func viewAll(db *badger.DB) {
txn := db.NewTransaction(false)
defer txn.Discard()
iterOpts := badger.IteratorOptions{false, 0, false, true}
itr := txn.NewIterator(iterOpts)
defer itr.Close()
b := state.NewBucket(state.BucketRecords)
multiBuffer := capn.NewSingleSegmentMultiBuffer()
for itr.Seek(b.NewKey(nil).Bytes()); itr.

[2018-06-08 20:21] manishrjain commented on #513
Iteration would always be more expensive than a single key lookup. You could try it out and see if you can find the balance between functionality and performance.

[2018-06-08 20:21] #513 closed

[2018-06-08 21:35] dc0d commented on #512
@manishrjain Thanks for the follow up!

Here is the [code](https://gist.github.com/dc0d/85f9a556a7527b2620c8060f5332c5ed) and the badger commit is `cdf9ffb40fde980875360cf2b1f7d66946fdc769`.

[2018-06-08 22:29] manishrjain commented on #512
Badger is doing the right thing. You have two keys, you seek to the first one, which fails `ValidForPrefix`; so the iteration stops. The same happens twice. And then you seek to the keys specifically, with the same prefix as the key has, so it works.

I think you might be confusing `ValidForPrefix` functionality. It would stop on the first encounter with a key which doesn't have that prefix. It wo

[2018-06-09 03:51] #512 closed

[2018-06-11 04:56] jokerbo1 commented on #510
Ok ,after repeat this issue submit it,i will close.

[2018-06-11 04:56] #510 closed

[2018-06-11 14:08] gedw99 commented on #443
Is Encryption at Rest going through a Use case / Scoping stage ?

I am using badger in a prototype and Security at rest is critical for privacy reasons.

If a design RFP document is floating around let me know and i can comment

[2018-06-11 15:47] manishrjain commented on #443
There's no spec yet.

[2018-06-11 16:01] gedw99 commented on #443
Ok. Thanks for the feedback. I am working on government projects where
security at rest is mandatory and so can give requirements in general and
architecture approaches if you want.

Anyway .. let me know. Don't want to be pushy pushy :)

On Mon, 11 Jun 2018, 17:48 Manish R Jain, <notifications@github.com> wrote:

[2018-06-11 17:06] tsingson commented on #443
same req.
but i add  a crypto / de-crypto layer over badger, so it work fine.

[2018-06-11 22:03] gedw99 commented on #443
@tsingson
i was thinking of taking the same approach. Just do the encryption above Badger.
However, that means search will not work because the index is now encrypted ???

What i think has to happen is that the unencrypted data is indexed, and the encrypted data is stored.
SO when querying your hitting the clear data, and that index points to encrypted data.
Then higher app at your application lay

[2018-06-12 16:20] zllak opened #514 "badger and 32bit arch"
__Problem__:
- The default configuration for `ValueLogFileSize` is `1<<30`.
- Call to `mmap` is made doing `2 * ValueLogFileSize`.
- On a 32bit arch, 2147483648 overflows an integer, because `unix.Mmap` takes an integer as parameter, making the call fail.

badger.Open returns:
[code]

There should be a difference for 32bits arch, because badger with a default configuration just can't work on 32bit

[2018-06-12 19:36] manishrjain commented on #514
Happy to accept a PR to that extent.

[2018-06-12 22:21] AaronVasquez commented on #441
I'm running into this issue too. What is the recommended txn size?

[2018-06-13 23:19] manishrjain opened #515 "Potential deadlock in value log"
Saw this happening. This could be due to some other bug (move keys), or due to improper logfile locking in value log.

[code]

[2018-06-14 08:42] zllak commented on #514
A possible fix would be to substract 1 to the `2 * ValueLogFileSize` to be sure it won't overflow, but not sure this is what should be done.
What do you think ? A fix like that would be acceptable to you ?

[2018-06-14 13:56] manishrjain commented on #514
That sounds like a one-line change. Sure, send it my way, I'll consider it.

[2018-06-15 13:06] rebootcode commented on #436
He wanted to get the last item in bucket not the first, @manishrjain - I think, you mis understood his statement.

[2018-06-15 20:00] msackman commented on #409
IMHO, the intent of an iterator is to iterate over the entire database, regardless of the content. So your readset is the database, not the content. This is the expected, correct, and intuitive behaviour. Anything else will lead to a more complex and less friendly API, or surprising behaviour, or both.
I'd be surprised if benchmarks really show that locking the database has a crippling impact on p

[2018-06-17 12:45] tsingson commented on #443
@gedw99  I do not  crypto the key.  value be crypto only when key-value save to badger.
and a LRU / LFU cache layer over the crypto layer, so it's fast search ( index and shading for Concurrency access ) .

so, it's work stable in business field.

[2018-06-19 19:49] prune998 commented on #515
I never had an error log for that but I can confim that after 1.4.0 release I started having some deadlocks.
After adding some more debug I found it was during the closing of a vlog file/ re-opening it read only.
Specificaly the `doneWriting` func in `value.go`, line 155. Sometimes the `lf.lock.Lock()` never return.

I can't see what's preventing it though...

[2018-06-19 20:51] manishrjain commented on #515
Can you try from master? I just pushed a change y'day, which would panic on multiple / unclosed iterators in a txn, which is what could be causing this deadlock. It would help find issues in your code (it did in Dgraph).

[2018-06-19 20:52] manishrjain commented on #515
Update: I think this commit solves this issue: https://github.com/dgraph-io/badger/commit/b1ad1e93e483bbfef123793ceedc9a7e34b09f79

[2018-06-19 23:59] manishrjain commented on #515
Made a release v1.5.2 with these fixes. Closing the issue for now.

@prune998 : If you see this with v1.5.2, feel free to reopen the issue.

[2018-06-19 23:59] #515 closed

[2018-06-20 10:37] prune998 commented on #515
seems to be working as expected ! thanks !

[2018-06-20 11:05] prune998 commented on #515
Sorry @manishrjain I responded too early. The issue on my side is still there. At some point Badger tries to close a vlog file and stays waiting for the mutex lock.
I reach no error or pannic...

As this operation is supposed to be running in a single goroutine, I don't see where it could be. Obviously a `-race` gave nothing too.
Changing GOMAXPROCS to 1 sometimes solve the issue but it really dep

[2018-06-20 11:25] valinurovam opened #516 "How to purge database after delete keys?"
How to purge database after delete all keys? Simple example and result below
**Example**
[code]
**Results**
[code]
If I run example above without delete part
[code]
Size is less than with delete part
 **Expected**
Size of db on the disk is clear to 0Kbs, not 200Mb

[2018-06-20 18:18] manishrjain commented on #515
Any way to reproduce it?

[2018-06-20 18:51] manishrjain commented on #516
Badger won't immediately purge the data. You can run Value log GC at the end of your program, and if it returns nil, then re-run it until it doesn't. That should help reclaim space back.

Overall, disk is cheap. So, Badger is not trying to be the smallest in terms of disk space consumption.

[2018-06-20 18:51] #516 closed

[2018-06-20 18:59] prune998 commented on #515
Sadly not really... We parse some OpenstreetMap Protobuf files and index them in transactions. The deadlock happen with any file, whatever size it is.

Badger is opened (created as I remove the DB files between each run) like :
[code]
Then we have 3 indexing passes. Each pass read the Protobuf file and index some points using `Txn.Set(key,val)`. Then every 2000 point we `Txn.Commit(nil)` and `KV.N

[2018-06-20 19:01] manishrjain commented on #515
Are you using the latest version 1.5.2? If it's locking when a value log is being rewritten, that indicates that some read has failed to release the read lock on the file, which might be due to an unclosed iterator, or another open long-running transaction.

[2018-06-20 19:14] prune998 commented on #515
What I understand is that Badger have a goroutine that is responsible to trigger the vlog change when the size is reached, independently of the current transactions, right ?

I do use 1.5.2 for testing since yesterday.

We're not using `txn.NewIterator()` at all, so I think I can eliminate this issue.
I do have opened transactions (I think), but Badger should be able to write everything that was c

[2018-06-20 19:55] manishrjain commented on #515
If you can provide a way to reproduce this, I can have a look. I haven't seen this happen otherwise.

Maybe I can run your code if you'd like to share it with me privately.

[2018-06-20 21:33] manishrjain commented on #436
It's all about the choice of seek key. If you want the first data from reverse, you can just call Rewind after setting Reverse option.

[2018-06-20 21:56] valinurovam commented on #516
Thank you

[2018-06-20 22:04] manishrjain commented on #441
Badger would tell you when the txn size is too big by returning that error. In general, a txn should not exceed the size of a single memtable.

[2018-06-21 12:00] prune998 commented on #515
@manishrjain that's something I did some weeks ago, and it worked. But as my issue seems to disappear when the code is changed, I wasn't sure it was due to the mmap.
My guess is still that it is...
In all the tests I made, one was to unlock before lock (which lead to a panic, obviously) just to prove the file wasn't locked before...
[code]

Here is how I changed the code in `vendor/github.com/dgra

[2018-06-23 11:54] rebootcode commented on #436
There is no way to `seek`  reverse and rewind based on prefix.

[2018-06-24 14:04] JAicewizard opened #517 "out of memory error when opening specific database"
I updated my server stuff that uses badger today, when running badger on a specific database it crashed.
Since this system is relatively new, and the database is still empty I removed the database from that folder and tried again, even that failed.
This is the third database opened by our program, this used to work fine before.
This is the output of the program, up until it crashes.
https://pasteb

[2018-06-25 19:29] manishrjain commented on #517
You're running out of memory. To decrease memory, you can tweak the Badger options. Look at https://github.com/dgraph-io/badger#memory-usage

[2018-06-25 19:29] #517 closed

[2018-06-25 19:55] JAicewizard commented on #517
this exact same solution worked before, it uses 80-90MiB for the first 2 (populated) databases, only the completely empty, and the freshly generated database uses over 1GiB of RAM.
I dont see how that is something you want.

[2018-06-25 20:07] manishrjain commented on #517
Each Badger instance would have some overhead in memory usage. Again, you can use the options to try to decrease that.

[2018-06-25 21:05] manishrjain commented on #515
I'd say that you should try to isolate this from your application, by creating a standalone program which can reproduce this. Most likely, this might be because of how you're using transactions, as opposed to a bug in Badger itself.

[2018-06-25 21:06] manishrjain commented on #436
You can set reverse and then Seek to prefix + 0xFF byte. That'd bring you to prefix.

[2018-06-27 00:31] leighmcculloch commented on #441
What's the right way to determine that error has occurred? From what I can see the error returned is `errors.fundamental` which isn't exported, so there's no way of doing `if err == badger.ErrTxnTooBig` to make a programatic decision to try again.

[2018-06-27 01:07] manishrjain commented on #441
https://github.com/dgraph-io/badger/blob/a6f0866f06a0ef6ac612e427ffe5d081db4e6fab/errors.go#L38

This is the error that gets returned. It is exported. Here's the documentation around retrying:

https://github.com/dgraph-io/badger#read-write-transactions

[2018-06-27 01:12] leighmcculloch commented on #441
Ah, thank you!!!

[2018-07-01 11:14] mkhennoussi commented on #504
A Storm-like toolkit for badger could be very interesting :) Is it on the roadmap ?

[2018-07-01 18:13] TandyCorp commented on #443
This seems like a valuable addition, a Transparent Data Encryption scheme would probably be the easiest to implement. Encrypting and decrypting data at the file read & write stages, this would solve the problem of someone having access to the file system and copying the database files from disk. The standard go encryption library could be used to implement it, it just a question of how to store th

[2018-07-01 19:55] gedw99 commented on #443
Keep the key in the key store the OS provides ? Just like what VPN clients
do..

On Sun, 1 Jul 2018, 20:13 TandyCorp, <notifications@github.com> wrote:

[2018-07-01 20:19] cretz commented on #443
No, key management and generation should be caller concerns. If people want to make helpers for management, derivation, etc so be it. Sqlite encryption impls just take a key and rekey (see a Go wrapper I wrote [here](https://github.com/cretz/go-sqleet).

Also since this is pure Go, the crypto algo should be a sensible default but allow callers to provide their own `crypto.Block` builder.

[2018-07-02 13:49] pcjdean commented on #511
Close this issue asince no one is interested.

[2018-07-02 13:49] #511 closed

[2018-07-02 13:56] pcjdean opened #520 "Is MergeOperator safe with limited options.NumVersionsToKeep?"
Is that possible the data not compacted by MergeOperator are compacted by compactBuildTables? Therefore, there is data loss.

[2018-07-03 10:38] jpincas commented on #504
I started working on one this weekend: https://github.com/jpincas/tormenta

Its very early days and I have a specific use case in mind (ERP/Ecommerce database), so it might not be exactly what you are looking for.

[2018-07-03 10:47] Scapal opened #521 "bug: backup / restore creates zombies"
When restoring a backup, previously deleted keys are back, just without a value.
They should stay deleted.

[2018-07-07 00:19] PaluMacil commented on #424
This is pretty difficult to work with, since on Windows I get "Value log truncate required to run DB. This might result in data loss." after deleting the lock file. I don't understand what I can do at the moment short of deleting the database if I get a panic and can't close the database on exit. Is this still being discussed? It seems like this is pretty severe, but I don't have any relevant expe

[2018-07-09 23:10] justinfx opened #522 "Question about misleading "unclosed iterators" error"
Hi. I had a question about some confusing behaviour I saw after I updated a project to use BadgerDB instead of BoltDB. I had some crashes in my unittests and the error message seemed to be a bit misleading: https://gist.github.com/justinfx/37d2d2a3d44a9e8f97a1adad4bee824c

[code]

The problem is that my defers are set up in a way that the Close would happen before the Update. I get that this is wr

[2018-07-09 23:53] manishrjain commented on #522
Given that Go doesn't allow applications to directly control object destruction, it's hard to plan for what sort of error you'd run into if you call `Update` after `db.Close`.

I removed the panic that you're seeing, and still saw this stack trace which is also present in your logs. The nil pointer dereference gave it away for me. Not sure if there's something we can do.

[code]

[2018-07-09 23:53] #522 closed

[2018-07-10 23:06] schomatis opened #523 "Enable truncation in non Windows environments"
During a corrupted database `Replay()`, where a truncation operation is needed, there is an extra check (besides the `--truncate` flag) for Windows environments, that the value log is not loaded with `mmap`: [`len(lf.fmap) == 0`](https://github.com/dgraph-io/badger/blob/master/value.go#L327). In a Linux environment this check still holds (it's not discriminated) and it would appear to prevent a DB

[2018-07-10 23:09] schomatis opened #524 "Truncation error: invalid argument"
During a truncation call in a corrupted DB the following error was encountered,

[code]

leaving the DB in an unrecoverable state. See https://github.com/ipfs/go-ipfs/issues/5213#issuecomment-403937390.

[2018-07-12 08:16] jpincas commented on #504
https://github.com/jpincas/tormenta is a bit more advanced now.  Still more testing and benchmarking needed, but I think it can mostly do what @ammmir was asking for.

[2018-07-12 21:26] manishrjain opened #526 "Allow a way to call value log sync every N writes"
Currently, we have a boolean option to do either SyncWrites or not. We could make this a bit more configurable by allowing sync every N writes, where N is specified by the user. This would perform better while also providing more control over the durability guarantees.

[2018-07-14 13:42] baumgarte commented on #424
just tried dgraph and ran into the same problem - do you have suggestions how to terminate dgraph processes friendly?

[2018-07-14 14:43] PaluMacil commented on #424
@baumgarte Since my visit to this thread, I've added a couple things to help this. I'm just scribbling out a personal website in my free time and work in C# by day, but the ideas might help.

Make sure you close your database. I do that in my automated tests even though I also delete the database afterwards (shrug). If you close the application with an interrupt (ctrl-c or a signal from another pr

[2018-07-16 17:14] brianbwong opened #527 "Are writes supposed to take"

[2018-07-16 17:28] brianbwong opened #528 "Why does the first write take 20 times as long as the second one?"
When doing a series of synchronous write, I find that the first one is quite slow at ~10ms and the subsequent ones are faster. Why is this? Is there some warm-up operation that can be moved into db initialization?

Not a huge deal, but I got a little worried when I just benchmarked one write and thought that every write might be taking 10ms.

[code]

Output: `8673625 390764 349725 439390 368219 34

[2018-07-16 18:46] manishrjain commented on #524
Need more details.

[2018-07-16 21:16] schomatis commented on #524
Yes, on it.

[2018-07-17 00:34] sathyanarayanant opened #529 "Callback when a key expires"
I would like to keep track of the number of keys in the database. When a key is created it may be created with a TTL. Is there a way to specify a callback function that will be called when a key is going to deleted because of expiry ?

I looked at the documentation, and could not find this feature.

[2018-07-17 01:52] guijun opened #530 "calculateSize Crashed"
<img width="687" alt="wechatimg1223" src="https://user-images.githubusercontent.com/4198234/42792258-07f61b30-89a7-11e8-8fb8-01ba52ab00f9.png">

[2018-07-17 01:52] guijun commented on #530
btw, OS is macosx 10.13.5

[2018-07-17 02:34] manishrjain commented on #529
There's no exact moment in time when a key is deleted. If a key is expired, Badger would just not return it anymore, and later when compaction happens, that key would be discarded. So, there's no way for Badger to make a callback on the exact moment when a key "expires".

You could, however, do a key-only iteration over Badger periodically, asking for `AllVersions` during iteration. That'd return

[2018-07-17 02:34] #529 closed

[2018-07-17 02:34] #527 closed

[2018-07-17 02:36] manishrjain commented on #528
Hard to say why you're seeing the first write having more latency than others. But, in general, if you intend to do benchmarking of writes, I'd highly recommend using callbacks for dur commits.

`txn.Commit(cb)`, instead of nil. I'll add an example for how to use callbacks, they produce the highest write throughput achievable via Badger.

[2018-07-17 03:00] manishrjain commented on #528
Updated the question about writes being slow:
https://github.com/dgraph-io/badger#frequently-asked-questions

[2018-07-17 09:27] gutweiler opened #531 "Deadlock at logFile.doneWriting"
If a valuelog reaches its filesize limits, `logFile.doneWriting` will obtain a RWLock for reopening the file in read-only mode.

If there are iterators currently accessing the values, the file will never be closed, and all read/writes to this store are blocked.

only happens with `ValueLogLoadingMode: options.MemoryMap` and iteration option `opts.PrefetchValues = false`. (at least i cannot reprodu

[2018-07-21 02:42] manishrjain opened #532 "Use channel to run txn callbacks"
Currently, we just spin up goroutines for every txn.Commit with callback. Instead, push these to a channel, and just use a few goroutines to run them.

[2018-07-21 02:48] manishrjain opened #533 "Got error when iterating move keys"
Got error while iterating move keys: Invalid API request. Not allowed to perform this action using ManagedDB

[2018-07-23 13:12] paulftw commented on #531
hi @gutweiler thank you for a well documented bug report. we will take a look

[2018-07-25 01:35] pzhao5 opened #534 "More document on how to integrate with Prometheus"
I am a little confused by the expvar in Badger that it expose.

What is the right way to integrate that value into Prometheus? Any sample code will help a lot

[2018-07-25 03:35] shengery opened #535 "How can I estimate the maxmemory ?"
Greetings,
Thanks to badger, such an excellent  embeded kv store,  I am working in a game company, now we are planning to use badger as an in  process cache service (like memcached), so as to reduce pressure of the center data server, the procedure is :
1. fetch the data from data server,
2. store into the process's badger
3. fetch from badger
4. write back to data server as needed
my main purpose

[2018-07-25 05:59] SwarnimRaj opened #536 "Badger release assets should include binaries"
@manishrjain Could you please include badger binaries for Linux and Darwin OS as part of release assets so that Go installation is not required if all one needs is to use badger as a utility program.

[2018-07-25 08:55] robinchesterman commented on #476
I have a similar issue running dgraph on a Windows VM. Anytime the VM is restarted i.e. forces dgraph to stop unexpectedly, I am unable to restart dgraph server. Lock files exist (which can be deleted), but then I get:

` Error while creating badger KV WAL store error: Value log truncate required to run DB. This might result in data loss.`

I don't know about any data loss. What I don't know how t

[2018-07-25 10:32] gedw99 opened #537 "Readme wrong..."
Zerotier no longer uses badgerdb . They moved on to a custom db of their own

[2018-07-25 17:31] sathyanarayanant opened #538 "Changing expiry/metadata without changing value"
Hi,

Is there a way to just update the expiry/metadata of the key without changing the value ?

I could so something like -
[code]

but this incurs the cost of Getting the value even though I am not changing it.

Is there a better way ?

[2018-07-26 01:46] manishrjain commented on #538
LSM trees are immutable. You can't update anything in place.

[2018-07-26 01:46] #538 closed

[2018-07-26 01:49] manishrjain commented on #537
There is no Zerotier in the list of users. There is 0stor. Their Github page mentions that they're using Badger.
https://github.com/zero-os/0-stor

[2018-07-26 01:51] manishrjain commented on #531
https://github.com/dgraph-io/badger#frequently-asked-questions

Have a look at the top question there: My writes are getting stuck. It seems like that's what you're experiencing.

[2018-07-26 01:52] manishrjain commented on #530
Closing this issue for now. Feel free to reopen, if you think there's something wrong at Badger end.

[2018-07-26 01:52] #530 closed

[2018-07-26 01:52] #528 closed

[2018-07-26 01:56] manishrjain commented on #524
Any more details here? I'm not sure how to even start to debug this. Most likely, this is an issue with the file system, which might not be supporting truncate.

[2018-07-26 02:12] schomatis commented on #524
I'm waiting on @lgierth to provide more information but he may be too busy at the moment so I'm going to close this and we'll reopen when we can provide you more details to work on.

[2018-07-26 02:43] manishrjain commented on #476
Hmm... we'll have to set the truncate option in Dgraph. I'll raise a PR.

[2018-07-26 02:49] manishrjain commented on #476
I've submitted a change, would be part of v1.0.7 release:
https://github.com/dgraph-io/dgraph/commit/6648f14d09e28a67c83af2dbd9c64a28cead06c2

[2018-07-26 02:58] manishrjain commented on #535
You can get the total size of key-values stored in Badger, by doing a key-only iteration, and then use EstimateSize in Item to get the size. Not sure if that's what you're looking for.

[2018-07-26 02:59] manishrjain commented on #534
Think those values should be in `/debug/vars` or something. Prometheus should be able to parse them from that page.

[2018-07-26 03:09] shengery commented on #535
Thanks
My purpose is to limit the memory usage when I used badger as a cache layer, the total items maybe vary,
However I hope I can control the maxmemory of the badger by setting some parameters of the Option , if it's not possible I hope there is a way to figure out the memory usage according to the total number of items, key size and value size along with the number of the most frequent accesse

[2018-07-26 06:54] gedw99 commented on #537
But they are not anymore.

On Thu, 26 Jul 2018, 03:49 Manish R Jain, <notifications@github.com> wrote:

[2018-07-26 21:33] manishrjain commented on #537
Emm... link to some PR which removes Badger?

[2018-07-26 23:10] gedw99 commented on #537
sorry my mistake. Its another one of their clients that stopped using it.

[2018-07-26 23:10] #537 closed

[2018-07-27 10:50] C-ollins opened #539 "Transaction Conflict"
Hello, I ‘set’ to a transaction multiple times and ‘get’ once before committing and I got a conflict for doing that. I’m not sure what I did wrong here and I’m confused on how to fix this error. What is causing the conflict here?