[2019-05-31 16:11] jarifibrahim opened #846 "Improve compaction speed by finding the most efficient table to perform merge"
When compactions happen, we find the overlap of between tables (one table from top-level overlap with multiple tables of bottom level). This overlap isn't always minimal.
We should find the least overlap between the tables and then perform the merge between the tables. This would increase the compaction speed.

[2019-05-31 17:11] jarifibrahim commented on #793
Drop Prefix race failure with data race (https://teamcity.dgraph.io/downloadBuildLog.html?buildId=12993&plain=true) and deadlock (https://teamcity.dgraph.io/downloadBuildLog.html?buildId=12955&plain=true)

[2019-05-31 18:21] campoy commented on #842
I wonder if @danielmai or @manishrjain know about this.

[2019-05-31 18:24] campoy commented on #843
This is not a bug.

The program you wrote should not use `db` when `err` is not nil.
The correct code should be:

[code]

[2019-06-01 18:13] wvh commented on #526
I've been using a ticker to write batches with a deadline, like in this example:
https://blog.gopheracademy.com/advent-2013/day-24-channel-buffering-patterns/#putting-it-together

The desired logic is to write 1 second batches, that is, if a record comes in, a ticker is started to batch any further writes up to one second and everything is then written in one batch operation.

I'm not sure if that

[2019-06-02 10:34] ToWorld opened #847 "Does badger support range scan directly or indirectly?"
I try to use badger as an embeddable kv store to test write performance, and we also need to test the performance of range scan, but I couldn't find out the API of range scan. Could anyone please point me in the right direction?

[2019-06-03 05:43] jarifibrahim commented on #843
@campoy The issue is reproducible even with your script. The issue here is that `db` and `err` both are `nil`.

[2019-06-03 07:02] #843 closed

[2019-06-03 08:12] nnsgmsone opened #848 "deadlock of badger"
### What version of Go are you using (`go version`)?

<pre>
$ go version
</pre>

go 1.12 and go 1.11

### What version of Badger are you using?

latest master

### Does this issue reproduce with the latest master?

yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?

ubuntu18.04

### What did you do?

I run the following code:
[code]
### What did you expect to see?

I hop

[2019-06-03 09:45] nnsgmsone commented on #848
gc forced caused the dead end，the specific reasons are confusing.

[2019-06-03 12:04] jarifibrahim commented on #847
@ToWorld How about doing something like this?
[code]

[2019-06-03 21:36] gitlw commented on #848
Hi @nnsgmsone

I tried this program, and the numbers are always increasing in the output. Hence I'm not sure how to reproduce the problem.
If you still believe you are getting a deadlock, can you please try to locate the process id, use the command
`kill -3 <process id>`
to trigger a goroutine dump, and post the dump here? That should help shed some light on the real problem.

[2019-06-04 01:45] nnsgmsone commented on #848
I found this to be a problem with golang. Thank you.

[2019-06-04 02:55] nnsgmsone commented on #848
Ok, this is a problem with golang. This is the link: https://github.com/golang/go/issues/10958

[2019-06-04 03:46] ToWorld commented on #847
Thank you for your response. And there is an obvious mistake to be corrected that you should use the function of Compare instead of Equal when the endKey is absent.

[2019-06-04 05:52] #848 closed

[2019-06-04 08:00] jarifibrahim commented on #847
Yes, that's correct.

Closing this.

[2019-06-04 08:00] #847 closed

[2019-06-04 08:44] nnsgmsone commented on #848
@gitlw That will take a few minutes to trigger, and it will take the gc force to divide the deadlock.

[2019-06-07 13:31] tegk commented on #833
Badger 1.x is approximately 78% faster than Mongo DB for writing 1 million key value pairs for my use case. Waiting for the v2 release and the stream writer to test out again.

[2019-06-07 22:49] danielmai commented on #563
As per the rules of the data-loss challenge, we expect reports to include reproducible instructions that demonstrate data loss with Badger. However, given the specifics of this issue, being specific to macOS, and that this has been fixed in Go 1.12 thanks to your report, I don't see a need for reproducible steps with Badger per-se.

@networkimprov I'll be happy to reward you a partial bounty amoun

[2019-06-09 07:35] iwind commented on #768
I met the same situation, even my database has no items, it.Rewind() still cost 1.8 seconds.

The code is very simple:
[code]

[2019-06-09 08:11] justinfx commented on #768
@iwind if your situation is similar to mine, then a [`db.Flatten()`](https://godoc.org/github.com/dgraph-io/badger#DB.Flatten) or GC might drop that into the hundreds of ms range. And my problem was that I couldnt get any lower than that in the running database.

[2019-06-12 05:02] ashish-goswami commented on #842
Hey @tegk, we have recently started using stream writer in **fill** command to write sorted data https://github.com/dgraph-io/badger/blob/b5fb93ccbae3847592bef7d2eb94863496f2f91c/badger/cmd/fill.go#L75 Please have a look, if it can of any help.

[2019-06-13 09:52] #801 closed

[2019-06-13 21:42] campoy commented on #838
Closing since it works as intended.

[2019-06-13 21:42] #838 closed

[2019-06-13 22:47] campoy commented on #705
It seems we could use multiple iterators as long as it's not concurrently, would that be enough or do we need to change anything in our code?

[2019-06-13 23:11] campoy commented on #629
Closing as there's a work around using `TxnWriter`.

Please, reopen if the workaround is not sufficient.

[2019-06-13 23:11] #629 closed

[2019-06-13 23:33] campoy commented on #810
Ping @ashish-goswami

[2019-06-13 23:54] campoy commented on #433
Issue closed after long period of inactivity.

Please reopen if issue is still relevant, thanks!

[2019-06-13 23:54] #433 closed

[2019-06-13 23:55] campoy commented on #370
Hey @martinmr and @manishrjain,

Is this something that StreamWriter allows us to do easily?
If not, should this issue be kept open?

[2019-06-14 01:23] campoy commented on #758
Once #646 has been merged giving support for modules for badger v1.5.4 we can create a branch to support v2.

[2019-06-14 02:13] huangnauh opened #864 "retry indefinitely when disk errors occurred"
[retry indefinitely when disk errors occurred](https://github.com/dgraph-io/badger/blob/master/db.go#L923)

* Let the user control retry flush times.
* Receive error events from badger.

This gives the user a chance to stop badger or do something else when disk errors occurred.

This is useful for databases built on top of Badger.

[2019-06-14 06:52] thedevsaddam commented on #758
@campoy I just pushed the dependency updates on #646

[2019-06-14 13:40] timshannon commented on #705
I don't see why that would be an issue.

[2019-06-14 23:55] campoy commented on #758
Go modules is now supported for v1.5.5 and will soon be supported for v2.0.0 as soon as we tag it.

The release will be tagged once all the issues in the milestone are closed https://github.com/dgraph-io/badger/milestone/5

[2019-06-14 23:57] campoy commented on #830
Hey @jarifibrahim, this issue is blocking the release of v2.0.0.

Could you give an estimate of when it could be solved? Or maybe, is this bug not important and can be fixed in later releases?

[2019-06-16 03:34] postables opened #866 "Difference Between Options.Dir and Options.ValueDir"
### What version of Go are you using (`go version`)?

<pre>
go version go1.12.4 linux/amd64
</pre>

The documentation isn't very clear on what the difference is between these two options. When `Dir` and `ValueDir` are the same value, I see the following types of files:

[code]

Based off a guess, I would say the `.vlog` are the location of the "value files", where `ValueDir` stores things, and eve

[2019-06-16 10:03] jarifibrahim commented on #830
@campoy We have https://github.com/dgraph-io/badger/pull/858 almost ready to merge. We should be able to get in merged tomorrow.

[2019-06-16 12:20] lengrongfu opened #867 "Inaccurate prompt"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.4 darwin/amd64
</pre>

### What version of Badger are you using?
v1.5.4

### Does this issue reproduce with the latest master?
no

### What are the hardware specifications of the machine (RAM, OS, Disk)?
disk

### What did you do?

I set opts.ValueThreshold = 65520

### What did you expect to see?

I hope ti

[2019-06-16 17:20] recoilme commented on #833
I may find some benchmarks here (Put/Get/Concurrency):
https://github.com/recoilme/pogreb-bench

Currently it supports:

* [pogreb](https://github.com/akrylysov/pogreb) Embedded key-value store for read-heavy workloads written in Go
* [goleveldb](https://github.com/syndtr/goleveldb/) LevelDB key/value database in Go.
* [bolt](go.etcd.io/bbolt) An embedded key/value database for Go.
* [badgerdb](ht

[2019-06-16 20:19] sch00lb0y opened #868 "use trie to prefix match for the subscriber API"
use trie datastructure to prefix match in publisher for the faster search.

[2019-06-17 01:39] nnsgmsone opened #869 "Optimize serial writes"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

go version go1.11.4 linux/amd64

### What version of Badger are you using?

newest

### Does this issue reproduce with the latest master?

yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?

16GB, ntel® Xeon(R) CPU E3-1225 v6 @ 3.30GHz × 4, 256G SSD

### What did you do?

I run the followin

[2019-06-17 10:41] jarifibrahim commented on #869
@nnsgmsone The code works slowly because you're committing each entry individually. You can use `write batch` API if you want to perform bulk insert. Also, take a look at the second question in the FAQ https://github.com/dgraph-io/badger#frequently-asked-questions

Take a look at this example
[code]
[code]

[2019-06-17 10:55] jarifibrahim commented on #866
@postables Badger has two main types of files
1. `SST` file which stores the keys in sorted order (it might optionally store the values also)
2. `Value Log (vlog)` file which stores all the values. The vlog file serves as a Write Ahead Log (WAL) for badger. All the entries inserted into Badger are first written to the WAL and then inserted into the LSM Tree.

The `Options.Dir` stores `SST` files w

[2019-06-17 10:55] #866 closed

[2019-06-17 17:15] #690 closed

[2019-06-17 17:24] jarifibrahim commented on #772
@campoy Yes, we were able to reproduce the issue.
We store `bloom filters` in memory for each table. If there are too many tables, the `bloom filters` will consume too much of memory and badger will crash with a `OOM` error. We gave some thought to it and decided that we can limit the memory usage of bloom filters if we were to have a cache.
We would need a cache any way when we support compressio

[2019-06-17 18:02] ashish-goswami opened #870 "Making block size based and implement binary search in it"
Currently, the size of a single block is not fixed inside the SST table. Block is based on the number of entries present in it. It can have a maximum of 100 entries. Idea, here is to make blocks based on size, so that we can have more control over memory usage(like having a cache for hot blocks) of Badger.
Also currently, **Seek** inside a block is a linear scan of the block. Implementing a binary

[2019-06-17 18:15] jarifibrahim commented on #786
Adding `Last()` is fairly straight forward but adding `Prev()` might be quite complicated.
Right now we store a `min heap` of iterators which helps in determining the next item to fetch from the DB.

Adding a `Prev()` would mean we need another heap which stores the same keys sorted in the opposite order and this heap would have to be built while we remove entries from the min heap. This would be

[2019-06-17 18:17] jarifibrahim commented on #792
@campoy We don't have any concrete plans for the compression right now. This is something we would need in the future.

[2019-06-17 18:24] campoy commented on #563
Working on a work around while complaining on https://github.com/golang/go/issues/26650#issuecomment-502792459.

[2019-06-17 19:10] campoy commented on #842
After looking into this, the question has been answered and new documentation will be written.

[2019-06-17 19:10] #842 closed

[2019-06-18 02:14] nnsgmsone commented on #869
Thanks, I have packaged the redis protocol on the badger. If i use batch, then different commands will affect each other?

[2019-06-18 02:25] manishrjain commented on #869
Hey @jarifibrahim , for fun, can we actually determine why serial writes are slow. Maybe we can identify some optimizations to be had. We use channels internally, maybe they cause some slowdown here; or maybe it's something else.

One thing to immediately try out would be to set `SyncWrites` to false and see how fast that makes the serial writes.

Optimizing serial writes isn't a priority, but thi

[2019-06-18 02:30] nnsgmsone commented on #869
@manishrjain i think so

[2019-06-18 08:24] #830 closed

[2019-06-18 09:31] lengrongfu opened #876 "Cannot acquire directory lock on"
### What version of Go are you using (`go version`)?

<pre>
$ go version
 go version go1.12.4 darwin/amd64
</pre>

### What version of Badger are you using?
v1.5.5

### Does this issue reproduce with the latest master?
no

### What are the hardware specifications of the machine (RAM, OS, Disk)?
disk

### What did you do?

func main(){
       opts := badger.DefaultOptions
	opts.Dir = "./db1"
	opts.

[2019-06-18 12:21] jarifibrahim commented on #876
@lengrongfu The `LOCK` file ensures two that two difference processes cannot access badger at the same time. You can delete the `LOCK` file if you're sure the process accessing it is no longer running.

[2019-06-18 12:35] jarifibrahim commented on #699
I spent some time today looking into this failure but couldn't find anything relevant. The issue is with how windows deals with sync on volumes.

From https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-flushfilebuffers#remarks

This means we might have to flush all the files individually. It might also require administrator privileges which might not be feasible every time.

[2019-06-18 13:11] hudbrog commented on #869
Is there any reason batch is not included in 1.5.x releases?

[2019-06-18 14:13] #876 closed

[2019-06-18 17:18] #563 closed

[2019-06-18 18:58] jarifibrahim commented on #699
Spent some more time digging into the failure and it's easily reproducible using the following script
[code]
`f.Sync()` internally uses [FlushFileBuffers](https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-flushfilebuffers) system call which seems to fail with **INVALID DEVICE REQUEST** but works perfectly fine for a directory on the local disk.
![Untitled](https://user-images

[2019-06-18 21:17] campoy commented on #699
This is now the last "actual" issue in the v2.0.0 milestone 🎉

Let me know if you need someone with Windows expertise to look into this, happy to see who can help.

[2019-06-19 16:32] jarifibrahim commented on #699
@campoy It would be great if someone with windows expertise can have a look at this issue.
According to https://docs.microsoft.com/en-us/windows/desktop/fileio/directory-management-functions there isn't a way to synchronize a directory. I'd suggest we add a no-op `SyncDir` method for windows.

[2019-06-19 18:19] campoy commented on #699
It seems like this will be harder to fix than initially expected and is definitely not a release blocker.
Dropping it from v2.0.0 and moving it into v2.1.0 just in case we can get it fixed by then.

Thanks for all the investigation work, @jarifibrahim!

[2019-06-20 18:29] jarifibrahim commented on #699
From [Syncing Network Mapped Directory MSDN ticket](https://social.msdn.microsoft.com/Forums/Windowsdesktop/en-US/847a735b-f21a-4be2-880b-12660e5b98b4/flushfilebuffers-system-call-fails-on-network-mapped-drive) and [Syncing Local Directories MSDN ticket](https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/0e0b734b-2b73-414d-8833-8d2eed7043f6/sync-directories-on-windows) I understand that

[2019-06-20 21:10] #758 closed

[2019-06-20 21:19] campoy commented on #717
A new release has been cut, @arctica!

You can now download the latest version v2.0.0-rc1 for testing, we should release the final version next week after some testing

[2019-06-20 21:48] campoy opened #883 "Document badger.Loader"
badger.Loader has absolutely no documentation

We need to fix that and explain what it is for and how to use it.

Exported identifiers missing documentation:

- [ ] https://godoc.org/github.com/dgraph-io/badger#DB.NewLoader
- [ ] https://godoc.org/github.com/dgraph-io/badger#Loader
- [ ] https://godoc.org/github.com/dgraph-io/badger#Loader.Finish
- [ ] https://godoc.org/github.com/dgraph-io/badger

[2019-06-20 22:24] martinmr commented on #833
Used pogreb-bench to compare badger v1.5 against badger v2:

v1.5
[code]

v2
[code]

I ran the benchmarks and the results are consistent. v2 puts are slower. I couldn't use the stream writer because the keys are randomly generated and the stream writer requires that they are in order.

[2019-06-20 22:58] martinmr commented on #833
@recoilme Hi. I opened https://github.com/recoilme/pogreb-bench/pull/1

It contains some minor fixes, and adds support for go modules, which is being used to use version 2 of the badger API.

[2019-06-20 23:28] jin-tron opened #886 "Go build broken, missing tag v2.0.0-rc.2"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.5 linux/amd64
</pre>

### What version of Badger are you using?
v2.0.0-rc.2

### Does this issue reproduce with the latest master?
yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
AWS EC2, x86_64 GNU/Linux

### What did you do?
Install ipfs cluster,

git clone https://github.com/

[2019-06-20 23:32] jin-tron commented on #886
In ipfs-cluster master branch, go.mod has,
github.com/dgraph-io/badger v2.0.0-rc.2+incompatible

[2019-06-21 02:21] postables commented on #866
Excellent that clears up my confusion. Thank you.

[2019-06-21 06:18] jarifibrahim commented on #886
@jin-tron Looks like we've tagged the release incorrectly. I see tag `v2.0-rc1` but I think it should be `v2.0.0-rc1`.

https://github.com/ipfs/ipfs-cluster.git will have to be updated anyway.

[2019-06-21 06:35] jin-tron commented on #886
Thank you for your quick response!

[2019-06-21 07:57] sanderpick commented on #886
Possibly an old tag was deleted?

[2019-06-21 08:15] recoilme commented on #833
@martinmr lgtm, thank you!

[2019-06-21 08:24] manishrjain commented on #833
pogreb bench is alright for very serial writes which don't know anything about the usage behavior. But it isn't a great way to actually benchmark Badger.

It doesn't use anything in Badger, which makes it faster. For e.g., for serial writes, we'd typically use a batch writer. Instead pogreb uses one txn per write, which is slower because no batching of writes can happen.

Similarly, the values can

[2019-06-21 13:14] MichaelMure commented on #886
Huu, I don't want to be annoying beyond measure, but it seems that the last stable version of `go-ipfs` can't be built because of this, and that's kinda very annoying.

[2019-06-21 13:21] Kubuxu commented on #886
The branch that had the tag got deleted. This means that our builds are broken. Master of go-ipfs should be fixed soon (see https://github.com/ipfs/go-ipfs/pull/6461).

[2019-06-21 17:17] martinmr commented on #833
@recoilme: I opened another PR (https://github.com/recoilme/pogreb-bench/pull/2) to use the WriteBatch in badger instead of using a separate transaction each time. Performance is greatly improved so you might want to rerun your benchmarks and update the results for badger.

@manishrjain I noticed that and tried to change it to use the StreamWriter but it didn't work because the keys are not in ord

[2019-06-21 17:59] campoy commented on #886
Hi there and sorry for the inconvenience!

I was the person that deleted that tag since didn't make any sense (we had not release v2.0.0-rc1 so it was kind of weird that we had a tag for rc2!).

I already pushed the tag back on pointing to v2.0.0-rc1 and I will keep it there for now.

Out of curiosity, how did you end up using that tag, @jin-tron?

Thanks for the report, and again sorry for breaki

[2019-06-21 18:00] campoy commented on #886
Also, please let me know if pushing that tag again fixed your build, @jin-tron!

[2019-06-21 18:11] martinmr commented on #883
Loader should not be a public API. It's used to load a backup file and it's only used internally by the backup file. I'll open a PR to refactor it into an unexported type.

[2019-06-21 18:24] jin-tron commented on #886
Looks tag has been added back and the ipfs-cluster build fixed.
No worry, I would say maybe we need better dependency management tools than Go mod.

[2019-06-21 18:24] #886 closed

[2019-06-21 18:49] #883 closed

[2019-06-21 18:50] campoy opened #888 "Add Windows and MacOS agents to TeamCity then drop TravisCI"
Currently TeamCity only tests Go 1.12.4 on Linux ([source](https://github.com/dgraph-io/badger/pull/879#issuecomment-503773501)), we should add agents to test on other platforms (Windows and MacOS) and other Go version (Go 1.11 and tip).

This should be done before we release v2.0.0, as we need to make sure this version works well on all platforms.

[2019-06-21 19:02] campoy commented on #886
I think Go mods is not bad, but that tag should have never existed in the first place.

[2019-06-21 19:10] campoy commented on #705
Why would using multiple iterators concurrently would be an issue? Data races, unfortunately.

Why do you need multiple non-read-only iterators concurrently?
Is there a specific algorithm you're trying to implement?

[2019-06-21 19:41] campoy commented on #526
I think this is something that could implemented on top of badger, by using the `badger.WriteBatch` API added in v2.0.0 (about to be released).

Have a look at this [gist](https://gist.github.com/campoy/a494cb382aeb487063440f99fde55e09) which I hope helps you understand what I mean.

[2019-06-21 19:43] campoy commented on #793
I totally forgot about this issue.

Is anyone working on it? @danielmai or @jarifibrahim, maybe?

Adding it to the v2.0.0 milestone just in case this is something serious.

[2019-06-21 19:45] campoy commented on #562
Thanks, @jiminoc 😄

[2019-06-22 07:38] Kubuxu commented on #886
I agree that the tag shouldn't have existed. I think what has happened is go modules picked it up as the newest version when we were updating `go-ds-badger` at some point.

I think it will still cause failed builds on our side but we already resolved these by releasing `go-ds-badger@0.0.4`.

[2019-06-22 12:36] MichaelMure commented on #886
As of now, the stable (that is, frozen) version of `go-ipfs` still fail to compile with:

[code]

Any chance you would restore the tag to the exact commit ? You might be able to retrieve the hash with `git reflog`.

[2019-06-22 12:48] Kubuxu commented on #886
I was able to find the tag in my own repo: https://github.com/Kubuxu/badger/releases/tag/v2.0-rc1

As you can see it is signed.

[2019-06-22 22:57] cbalano opened #889 "Errror Downloading in Go 1.12.6"
<pre>

go version go1.12.6 linux/amd64

</pre>

go: github.com/dgraph-io/badger@v2.0.0-rc.2+incompatible: go.mod has post-v2 module path "github.com/dgraph-io/badger/v2" at revision v2.0.0-rc.2
go: error loading module requirements

[2019-06-23 00:08] cbalano commented on #889
After further investigation, it turns out that this fails on any go version I tried, not just 1.12.6
OS'es tried: Alpine Linux 3.9, 3.10

go version go1.12.4 linux/amd64

go: finding github.com/gorilla/context v1.1.1
go: github.com/dgraph-io/badger@v2.0.0-rc.2+incompatible: go.mod has post-v2 module path "github.com/dgraph-io/badger/v2" at revision v2.0.0-rc.2
go: finding github.com/beorn7/perks v

[2019-06-24 07:18] recoilme commented on #833
Hello, @martinmr ! Thank you for your PR! Please take a look at https://github.com/recoilme/pogreb-bench/pull/2#issuecomment-504889315

[2019-06-24 08:03] #867 closed

[2019-06-24 08:41] jarifibrahim commented on #889
@cbalano Can you confirm if the issue is still reproducible? We fixed this issue two days ago and I don't get an error when I run `go get -v github.com/dgraph-io/badger`.

[2019-06-24 13:17] jarifibrahim commented on #869
@hudbrog We recently released badger v1.5.5 which includes the Write batch API https://github.com/dgraph-io/badger/compare/v1.5.5...master

[2019-06-24 20:05] cbalano commented on #889
The issue went away after I rm-rf the vendor directory. So I guess it can be closed.

[2019-06-25 05:26] #889 closed

[2019-06-25 08:06] #699 closed

[2019-06-25 14:35] ansermino commented on #886
I'm still experiencing this issue.
[code]
[code]

Running `go1.12.6`,  not using vendoring, repo is outside `$GOPATH`. I've tried clearing my `$GOPATH` and emptying `go.mod` without any luck. Does anyone know of a solution/workaround?

[2019-06-25 15:38] Kubuxu commented on #886
Try running `go clean -modcache` and then for applications that depend on the tag that was messed up set `export GOPROXY='https://proxy.golang.org'`.

proxy.golang.org which will be default in 1.13, contains correct source code for the tag that was removed and then re-added. Unfortunately, when the tag was readded it was updated to latest/master which is not compatible with the code that was there

[2019-06-25 16:00] ansermino commented on #886
@Kubuxu The proxy seems to have resolved the issue for me. Many thanks!

[2019-06-25 19:51] yangzh-deepmap commented on #751
thanks, @campoy, I didn't check messages earlier.

DeleteWithMeta might be a misnomer, what I wanted is to delete entry that has the key, and with certain Meta data only, so Txn.DeleteByMeta would be more appropriate name.

I'm not sure if the updated API supports this feature: it would be great if you already provide that (or consider adding it).

The use case is that I might have Entries with th

[2019-06-27 09:23] lengrongfu opened #902 "Nvme SSD ？"
![image](https://user-images.githubusercontent.com/15009201/60254243-21585e80-9900-11e9-95bd-7cfebb868b90.png)

badger是否支持Nvme SSD 设备？

[2019-06-27 10:18] manishrjain commented on #902
Badger works really well with NVMe drives.

[2019-06-27 11:48] jarifibrahim commented on #902
Manish has answered the question. Closing this issue.

[2019-06-27 11:48] #902 closed

[2019-06-27 17:30] Kubuxu opened #904 "Don't modify tags!"
Hi,
the badger is great KV-store, it really is, but I have to say after two build breaking event I'm getting tired by it.

The first one was the removal of the original `2.0.0-rc.2`. Then you've pushed master to it (that was incompatible).
Now, again, you modified `v2.0.0-rc2` to point to https://github.com/dgraph-io/badger/pull/896, which again breaks our builds (and builds for a lot of people wh

[2019-06-27 18:17] campoy commented on #904
Hi there,

First of all apologies for the inconvenience. We have not published any version of Badger for a while and getting the repo back in shape for v2 is proving harder than we expected.

I personally deleted this tag because there had never been any v2.0.0-rc.1 at all, so the tag itself didn't really make sense from a semantic versioning point of view. We quickly realized with #886 that some

[2019-06-27 18:21] Kubuxu commented on #904
Hi, It was an automatic choice made by Go when doing: `go get github.com/dgraph-io/badger@latest`.

It was pointing to https://github.com/Kubuxu/badger/releases/tag/v2.0-rc1

[2019-06-27 18:27] campoy commented on #904
Oh, that's bad indeed because that's actually really far from being the latest tag.

I will be tagging a `v2.0.0-rc3` later today which points to the right commit and will be seen as latest, but in the meantime, I'd like to provide a fix.

I'm wondering whether it's better to modify the tag once more and just set it back to what it was pointing to, or if that could cause even more issues for those

[2019-06-27 20:25] campoy commented on #904
OK, I've decided to leave this tag as is.

If you need to go back to what the code looked like before any backwards incompatible change was made I recommend using `v1.5.5` which is the actual latest release we've done.

`v1.6.0` will be coming up soon, followed by `v2.0.0` (and their corresponding `rcX`).

We will directly jump to `v2.0.0-rc3` to avoid confusion with the existing `rc2` and `rc.2`

[2019-06-27 20:25] #904 closed

[2019-06-27 21:43] brandonwestcott commented on #904
Sorry to jump in late here after this is already closed, but our team is also running into this. As far as I can tell, leaving the tag pinned as is really doesn't help anyone. Those of use who are using this renegade tag (largely the ipfs community) have chains of projects depending on that tag at the original commit. Our team did start the process of changing to `v1.5.5`, but there are a couple o

[2019-06-27 22:11] campoy commented on #904
We will not skip v2.0.0, since it would just make it more confusing for everyone in the future.

If the consensus is to point `v2.0.0-rc.2` back to that old comit, I'm happy doing so but that might cause extra breakages for others.

Please @Kubuxu and @brandonwestcott, could you assess whether that would help you?

[2019-06-27 22:20] Kubuxu commented on #904
Let's not mangle the tags anymore, what is done is done. I think it will be just worst if we keep poking at it.

GOPROXY is a workaround we can use for the moment.
I would suggest releasing `-rc3` just so there is a fresh tag with all the code in a stable state between github and `proxy.golang.org`.

[2019-06-27 22:27] campoy commented on #904
You are then migrating to v2.0.0 which will use a different file format to the one you're currently using.

I can't stop you from doing so, but please be aware that you are jumping from ~`v1.5.3` to `v2.0.0`.
This is *not* a backward-compatible change neither on API or data format on disk, so users that already have badger databases stored in disks will not be able to open them with this new versi

[2019-06-27 22:54] campoy commented on #904
I just released a new version `v1.6.0-rc1` which corresponds to the old `v2.0.0-rc2`.

Also sent PR https://github.com/ipfs/go-ds-badger/pull/65 to ipfs to fix their build issues.

[2019-06-28 08:32] postables commented on #904
I dont think this actually fixed anything, I'm getting an error that I haven't seen before:

[code]

whoever was responsible for this decision, really needs to have a stern talking too. The amount of man hours being collectively burnt by everyone effected by this, is probably worth tens of thousands of dollars. This is a *royal screwup*

[2019-06-28 09:05] Kubuxu commented on #904
@postables try cleaning the modcache: `go clean -modcache`.
You can also try running all of your builds with: `export GOPROXY='https://proxy.golang.org'`
And if you are using it, updating `go-ds-badger` to `v0.0.5`.

[2019-06-28 09:12] postables commented on #904
Interesting, I'll try running the builds with `export GOPROXY`, however I'm on `go-ds-badger` `v0.0.5` and `go clean -modcache` didn't appear to work entirely, and the only thing that worked were the `replace` directives.

Even a complete nuke of `GOPATH/pkg` didn't help :/

[2019-06-28 16:30] simonxw opened #907 "Value log gc doesn't work due to too large txn"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go1.12.1
</pre>

### What version of Badger are you using?
1.5.4

### Does this issue reproduce with the latest master?
yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
Linux, 32GB, SDD

### What did you do?
With default db options,  vlog file size 1GB, memtablesize = 64MB, keep writing keys with

[2019-06-28 16:41] simonxw commented on #907
After reading the code, the issue happens during rewrite, it buffers valid key values until 64MB (hardcoded) and batch writes to new log file.  There is a fomula about maxBatchSize: opt.maxBatchSize = (15 * opt.MaxTableSize) / 100.  Here maxtablesize is 64MB. That's why issue happened. After change the buffer size to 5MB vlog gc worked well.

One option is to enlarge maxtablesize but we don't want

[2019-06-28 16:47] dwoske opened #908 "upon restart after crash 100% cpu is being used"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.4 darwin/amd64
</pre>

### What version of Badger are you using?
github.com/dgraph-io/badger v2.0.0-rc.2.0.20190626232749-b116882676f2+incompatible

### Does this issue reproduce with the latest master?
Yes, as far as I can tell.  I did an update a few days ago.

### What are the hardware specifications of t

[2019-06-28 17:01] simonxw commented on #907
wrongly close the issue. reopening

[2019-06-28 17:03] campoy commented on #751
I see, so you'd be using the Meta as a way to select all the keys you want to delete?

If I understand that correctly, this should be doable iterating over the keys yourself and deleting the ones that have the given meta value. Is that accurate?

[2019-06-28 17:17] yangzh commented on #751
@campoy, thanks for the response, your response is right.

Previous I thought about reusing "Meta" as another independent dimension for data modeling. However, that doesn't seem to be the case for badger as you cannot have data entries with the same key (and version, for that matter), but different "Meta". "Meta" is more like half dimension in this sense.

If I were to have a full dimension suppor

[2019-06-28 17:17] #751 closed

[2019-06-28 18:09] campoy commented on #904
Hi @postables,

I am the person responsible for the changes done and I apologized profusely.
Please, stop depending on `v2.0.0-rc2` as this tag was not intended to be used by most people.

Unfortunately, Go Modules surprisingly provided a tag that we had never released officially (and of which I wasn't even aware) as the `latest` branch, driving loads of our users into a situation where semantic v

[2019-06-28 18:24] campoy commented on #776
Hey @achille-roussel,

Since this would indeed make the database slower for all cases, I want to better understand the reasoning behind the feature itself.

Do you think it'd be possible to somehow convert your keys instead of modifying the way we compare them? What is exactly the use case you're implementing?

Thanks!

[2019-06-28 19:03] campoy commented on #907
Thanks for the issue report, @simonxw

If I understand correctly, the garbage collection process does not succeed and an error is logged or actually returned?

[2019-06-28 19:09] campoy commented on #908
Thanks for the report, @dwoske

We'll investigate the issue soon, but in the meantime, I wanted to propose a quick fix by catching `ctrl+c` using the signal package. That should allow you to make sure any deferred statements are called before leaving the program.

I know that doesn't guarantee that the program won't ever crash without closing the database, so we will still make sure the bug is fix

[2019-06-28 19:11] n-ozerov opened #909 "Some good strategies to implement"
Recenty, i've found report about MongoDB engine based on RocksDB: https://pgday.ru/presentation/178/5964963da443b.pdf

Google Translated version is here: https://drive.google.com/file/d/1JL2XbYTQFm7favk77TuX9We36ZFAHU2p/view?usp=sharing

There were mentioned two good things -- how to reclaim space and column families:

Deletion:

1. Collecting stats about tombstones during iteration on range.
2. I

[2019-06-28 20:35] simonxw commented on #907
Yes, an error returned and the message was "Txn is too big to fit into one request"

[2019-06-28 20:57] campoy commented on #909
Hi there @n-ozerov,

The second link is broken, and unfortunately, I do not speak Russian.
Could you provide more info about the features?

Thanks

[2019-06-28 21:14] n-ozerov commented on #909
Updated link. I've just found that many of text\images rely on https://github.com/facebook/rocksdb/wiki/Compaction

The most interesting pages are 44-64, 75-87.

I've found a few feature requests where people asked about column families and got rejected, so it would be better to focus on LSM compaction.

As far as i understood, if iterator notices huge range of tombstones it forces compactions in

[2019-06-28 22:59] danielmai commented on #793
These three issues are still happening on master (d562bfa6aa1fec24f377dcc72f069a96cca95a8b).

They don't happen all the time. I see them after running the tests continuously after a few minutes.

[code]

[code]

[2019-06-29 02:18] thepudds commented on #904
I haven't fully followed the history here, so big, big apologies in advance if I add to any confusion.

Some quick observations:

1. The current [go.mod](https://github.com/ipfs/ipfs-cluster/blob/4c16675a39b382e69b02bef578bd77a524262f6c/go.mod#L9) on master of `ipfs/ipfs-cluster` is still depending on the `v2.0.0-rc2` of badger, and `ipfs/ipfs-cluster` is still using the `/v2` in the path for badg

[2019-06-29 05:50] Kubuxu commented on #904
Yes, ipfs-cluster has to update to go-ds-badger v0.0.5.

[2019-06-29 15:40] n-ozerov commented on #909
Well, i tried to think by myself and i realized how we can make offline compaction:

1. We have Flatten function which brings all tables\keys\versions to same level. We apply that function.
2. Then change level number to highest possible which fits into max level space.

Example:
Level: 0.      0 B Size.      0 B Max.
Level: 1.      0 B Size.   268 MB Max.
Level: 2.   233 MB Size.   2.7 GB Max.

T

[2019-06-29 19:50] achille-roussel commented on #776
The use case I have is using variable length integers as keys (big.Int encoded as a little-endian byte sequence). To have the sequence of keys be ordered by the value of the big.Int I need to provide a different comparison function.

Currently the program is using rocksdb which supports configuring a custom comparison function, but it comes with its own set of issues which is why I’m exploring bad

[2019-06-30 15:46] lengrongfu opened #910 "Why is the value of p in the skip list 1/3?"
![image](https://user-images.githubusercontent.com/15009201/60398933-68f51980-9b90-11e9-9f3a-1f61fe9377bd.png)

I think that when `p` in the skip list as `1/2` is better to do a binary search, why do `1/3`?

[2019-06-30 15:53] lengrongfu commented on #902
@manishrjain Hello, Does the badger implement the `NVMe` driver protocol itself, or tell me how badger supports `NVMe`, thank you。

[2019-07-01 16:52] jarifibrahim commented on #908
@dwoske When a DB crashes and we replay logs (stored in vlog file) from a specific point called as `head`. The head is updated every time we flush memtables. In your case, since the values and keys are very small, it might be possible that it takes too long to fill a memtable completely and they are never flushed. If the DB crashes before memtables are flushed, we recreate the memtables on start u

[2019-07-01 17:03] jarifibrahim commented on #908
Looks like `waterMark.Process` is taking up too much CPU even it shouldn't be running in managed mode. Let me dig deeper and get back.

[2019-07-01 18:14] campoy commented on #776
I understand it, would encoding your keys in a different format be too penalizing for your performance, or are there other issues you're concerned about?

Let us get v2.0 released and then we can reconsider this PR - I think it does have merit but I want to make sure we don't introduce any performance hit for our existing users.

Do you have a deadline in mind for this project?

[2019-07-01 18:16] campoy commented on #793
Do they also occur in previous versions (e.g 1.5.5) or is it something we introduced recently?

[2019-07-01 18:24] campoy commented on #904
Hey @Kubuxu, let me know if there's any way we can help you with the migration.

Also, thanks @thepudds for the compilation of facts, I think you got all the details right and we'll be out of this situation soon!

[2019-07-01 19:45] achille-roussel commented on #776
For now we can continue with rocksdb, the switch to badger would be part of research we do for optimization purposes so we don’t have a strict deadline for this part of the work, if it brings improvements we can ship this later.

I’m the mean time, I’ll dig into the benchmarks that show performance regressions to see if there are ways to optimize the change to make it more acceptable.

[2019-07-01 21:43] danielmai commented on #793
The TestDropAllRace data race does not happen in v1.5.5 (and DropPrefix isn't in v1.5.5).

[2019-07-01 22:18] campoy commented on #910
That's a great question, indeed.

The value of p in a skip list doesn't need to be two, and the trade-offs of choosing its value are very well documented on the original paper: http://homepage.cs.uiowa.edu/~ghosh/skip.pdf

I recommend the section actually titled "choosing p"

[2019-07-01 22:18] #910 closed

[2019-07-02 00:11] danielmai commented on #793
This is what the race detector found for TestDropAllPrefix.
[code]

[2019-07-02 02:18] campoy commented on #793
Hey @ashish-goswami,

Could you please fix this? According to @manishrjain this should help:

[code]

[2019-07-02 06:01] ashish-goswami commented on #793
@campoy Sure. I will check this today.

[2019-07-02 15:55] jarifibrahim commented on #908
@dwoske Can you share your badger directory? I would like to understand why `watermark.process` was utilizing 100% CPU when it shouldn't be doing much work in case DB is opened in managed mode.

[2019-07-02 17:00] dwoske commented on #908
[cpupeg.tar.gz](https://github.com/dgraph-io/badger/files/3351135/cpupeg.tar.gz)

This has a pprof dump and my badger directory.    I open the DB like this:

[code]

I have also seen a problem where if the process exits without doing a DB.Close() -- then upon process restart, open the database, then do a DB.Close() - that DB close never returns.  This only happens after a process exit without doin

[2019-07-02 18:34] campoy commented on #908
Hi @dwoske, that does seem like a different issue.

I tried to write a little program that gives the option to crash without closing the database and everything work correctly with v1.6.0.

Could you confirm your problem still occurs with that one and, if so, file a new issue?

Thanks!

[2019-07-02 18:36] campoy commented on #793
I think @jarifibrahim is already on it with #915, so coordinate with him

[2019-07-02 18:39] campoy commented on #776
Thanks for understanding, @achille-roussel

[2019-07-03 13:43] jarifibrahim opened #916 "DropPrefixRace test should not wait indefinitely"
### What version of Badger are you using?
Master

### Does this issue reproduce with the latest master?
Yes

### What did you do?
[code]

### What happened?
The `TestDropPrefixRace` gets stuck into finitely loop. See the logs below
[code]
See https://slack-files.com/T9TBKDGN6-FKWNE1FB3-1fdb7dc8a5 for complete logs.

Badger gets stuck at the following for loop
https://github.com/dgraph-io/badger/bl

[2019-07-03 13:46] jarifibrahim commented on #793
`DropAllRace` and `DropPrefixRace` have been failing because of different issues. `DropPrefixRace` fails because of https://github.com/dgraph-io/badger/issues/916.

 `TestDropAllRace` should be fixed by https://github.com/dgraph-io/badger/pull/915

[2019-07-03 13:54] jarifibrahim commented on #916
@sch00lb0y is looking into this.

[2019-07-03 14:38] dwoske commented on #908
I do still see the problem with 1.6  .. I've published my little test program here : https://github.com/dwoske/btest with the pprof.

The behavior I saw with 1.6, which I didn't notice with the current master was that the first time stopping the program without a close the cpu pegged for about 30 seconds, I ran it again without cleaning my badger directory, it pegged for what seemed a little longe

[2019-07-03 14:50] dwoske opened #917 "v1.6 : upon restart after crash 100% cpu is being used"
This is related to issue #908

### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.4 darwin/amd64
</pre>

### What version of Badger are you using?

1.6

### Does this issue reproduce with the latest master?

yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?

MacBook Pro (13-inch, 2016, Four Thunderbolt 3 Ports)
2.9 GHz Intel Core

[2019-07-03 18:17] campoy commented on #917
Thanks for the report

Indeed, this looks like a duplicate of #908, so I'll close this one and we'll make sure we fix this ASAP.

[2019-07-03 18:17] #917 closed

[2019-07-04 15:30] dwoske commented on #908
FWIW, this did happen on a different Mac.  Same kind of behavior, the first couple of times the CPU dropped to normal after some 30+ seconds, and the third time it stayed pegged for several minutes before I stopped the process.  Sounds like you may have recreated this as well since the issue is accepted.  Thanks.

[2019-07-04 19:26] #907 closed

[2019-07-04 21:33] #782 closed

[2019-07-04 21:33] #756 closed

[2019-07-04 22:26] #908 closed

[2019-07-04 22:33] #721 closed

[2019-07-04 22:33] #710 closed

[2019-07-04 22:33] #535 closed

[2019-07-04 23:33] #703 closed

[2019-07-05 00:27] manishrjain commented on #443
This feature is planned for Q3 2019.

[2019-07-05 17:35] #868 closed

[2019-07-07 16:18] 256dpi opened #922 "Drop/Delete Range of Keys"
**TL;DR**

It would be wonderful if badger would support some sort of optimized way to handle deletion of a range of keys. Inspiration can be taken from other projects like RocksDB which implements a special range delete tombstone: https://rocksdb.org/blog/2018/11/21/delete-range.html.

**Use Case**

I'm currently working on [quasar](https://github.com/256dpi/quasar) which builds on badger to impl

[2019-07-08 08:16] jarifibrahim commented on #769
The access denied error was returned by `db.Sync()` because `vlog.MaxFid` would be read to find the file which should be synced, but before the file sync could start, it would be marked as read only by `vlog.write` method.
If we try to fsync a read only file, windows returns a Access Denied error.

[2019-07-08 09:17] jarifibrahim commented on #790
This issue has been fixed by https://github.com/dgraph-io/badger/pull/881. https://github.com/dgraph-io/badger/pull/881 removes the `loadToRam` call which was the bottle neck at DB startup.

[2019-07-08 09:17] #790 closed

[2019-07-08 23:33] #717 closed

[2019-07-08 23:34] campoy commented on #793
Closing this issue, since the remaining fix is being tracked by #916

[2019-07-08 23:34] #793 closed

[2019-07-09 10:41] #870 closed

[2019-07-10 14:05] jarifibrahim commented on #869
The serial writes are slower because we don't batch entries. We write individual entries to the value log and the file write system call takes most of the time. We should batch entries while writing them to the vlog.
![profile002](https://user-images.githubusercontent.com/12949454/60975510-bff5ae00-a349-11e9-82d6-6195eb6cd0c0.png)

[2019-07-10 14:16] jarifibrahim commented on #869
@nnsgmsone You can set `options.SyncWrites=false` if you want to achieve better performance. Setting sync writes to false means we won't sync every write to the file. This would improve badger performance but it might cause data loss in case of a crash.
With sync writes => about 6 minutes
Without sync writes => about 4.2 seconds

[2019-07-11 07:12] 256dpi opened #926 "panic: failed to read value pointer from vlog file"
I just ran into this when I restarted a service a bunch of times:

[code]

Since I'm running badger with `SyncWrites=false` is it possible that `RunValueLogGC` deleted a vlog that still was referenced by a persisted table?

I'm using `go1.12` and badger `v1.6.0`.

[2019-07-11 08:21] jarifibrahim commented on #926
@256dpi Can you check if your badger directory has vlog file with id `143`? Also can you share your badger directory? Did the DB crash by any chance?

This can't be the case. We fix the reference before removing the vlog fie.
Here's how GC works
1. Find list of entries to move.
2. Insert the new entries into DB (these will be pushed to LSM tree and vlog).
3. Delete the old vlog file.

[2019-07-11 08:45] 256dpi commented on #926
I wasn't able to recover any data as I purged the directory right away to get the service running again... Next time I'll do that first! Here are the logs tough:

[code]

As you can see the process crashed due to a `send on closed channel` which is a bug in my application.

Again I was running the database with `SyncWrites=false`. One goroutine was running every second and calling `db.RunValueLogG

[2019-07-11 16:29] jarifibrahim commented on #926
I have a wild guess about what might have happened.
1. The discard map is stored in a file say `1.vlog` which is on disk.
2. Vlog GC reclaims space by removing `1.vlog` and inserting all the valid entries in `2.vlog`. But these entries are not yet flushed to the disk since `syncWrites=false`.
3. The DB crashes at this point.
4. On Re-opening, the DB looks for `discard stats`. Badger returns the ol

[2019-07-11 17:53] kidjersey opened #927 "about creating bloom filters, and memory usage"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.11

</pre>

### What version of Badger are you using?
1.5.4

### Does this issue reproduce with the latest master?
it's not a bug so honestly i haven't tried but looked at the code and seems the same there

### What are the hardware specifications of the machine (RAM, OS, Disk)?
suse linux, 64gb, ssd

### What did you do?
w

[2019-07-11 17:53] kidjersey commented on #927
hi all, not submitting a bug but rather an enhancement request of sorts.

i am trying to really limit the memory my application is using and would like to try and keep it as stable as possible, avoiding any sudden spikes.
during sst compaction i see dramatic increase in memory usage.  as far as i understand what is happening is in table builder buf will mostly only contain the byte difference from

[2019-07-12 06:56] 256dpi commented on #926
@jarifibrahim It happened again! This time even with `SyncWrites=true`!! I was able to get all the data and logs. I'm happy to share them with your privately as the db contains customer data.

[2019-07-12 09:34] jarifibrahim commented on #926
Thanks @256dpi! Can you please send the badger directory to ibrahim@dgraph.io?

[2019-07-12 14:57] jarifibrahim commented on #926
This issue does not depend on the value of `syncWrites`. I was able to reproduce this issue using the following test (with some modification to the value.go file so that GC works)
[code]
I'm still trying to figure out why the discard key is pointing to the wrong value log file.

[2019-07-13 04:54] iamtoc opened #928 "Can Badger DB be used as a database server in a client/server web based model?"
From the [badger docs](https://github.com/dgraph-io/badger): "Please note that Badger obtains a lock on the directories so multiple processes cannot open the same database at the same time."

Does this mean that only one client would be able to view/(CRUD) a web page that depends on badger, at a time? Or, is badger basically designed for stand alone/installable apps (ie., where sqlite is normally

[2019-07-13 10:08] #928 closed

[2019-07-15 06:56] nnsgmsone opened #930 "The database has crashed. . ."
### What version of Go are you using (`go version`)?

<pre>
$ go version

go 1.11.4
</pre>

### What version of Badger are you using?

master

### Does this issue reproduce with the latest master?

yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?

8GB, ubuntu18.04, 18 SSD
### What did you do?
I complete the redis protocol and implemented some functions. The project add

[2019-07-15 07:19] jarifibrahim commented on #930
@nnsgmsone Badger keeps the file descriptors open for SST and vlog files. There is a limit on the maximum number of file descriptors.
On Linux and Mac, you can check the file descriptor limit with `ulimit -n -H` for the hard limit and `ulimit -n -S` for the soft limit. A soft limit of `65535` should be enough. Set it using `ulimit -n -S`. This should fix your issue.

[2019-07-15 07:25] nnsgmsone commented on #930
Can add some judgment when the file descriptor is not enough? Or add a lru algorithm to the file descriptors, so that the file descriptors that are not commonly used can be recycled. . @jarifibrahim

[2019-07-15 07:43] nnsgmsone commented on #930
![2019-07-15 15-42-59 的屏幕截图](https://user-images.githubusercontent.com/31609524/61201483-3d893780-a717-11e9-8454-83cb43ca144f.png)
I think my setup is big enough, but it will still crashed @jarifibrahim

[2019-07-15 07:44] jarifibrahim commented on #930
@nnsgmsone Can you check the soft limit? `ulimit -n -S`?

[2019-07-15 07:47] nnsgmsone commented on #930
@jarifibrahim  soft limit is 1024，I will try again after modifying it.

[2019-07-15 07:51] nnsgmsone commented on #930
@jarifibrahim
![2019-07-15 15-49-29 的屏幕截图](https://user-images.githubusercontent.com/31609524/61201801-30207d00-a718-11e9-9184-43b257a141d7.png)
![2019-07-15 15-49-34 的屏幕截图](https://user-images.githubusercontent.com/31609524/61201804-31ea4080-a718-11e9-9e21-c65c665c46a0.png)
This phenomenon will still occur. Does it need to release the fd that is not commonly used?

[2019-07-15 10:22] jarifibrahim commented on #930
@nnsgmsone How many SST file and value log files do you have? The `ulimit` you've set should be more than enough.

Right now, badger doesn't release the file descriptors until the db (or the file) is closed. Reusing the file descriptors is something we might add to badger in future.

[2019-07-15 13:32] jarifibrahim commented on #916
Fixed via https://github.com/dgraph-io/badger/pull/918

[2019-07-15 13:32] #916 closed

[2019-07-15 13:50] ashish-goswami commented on #785
@zerjioang Is it still happening for you? If yes, please tell a way for us to reproduce it?

[2019-07-15 13:59] ashish-goswami commented on #810
Currently writes to DB using transaction APIs are slow. This exercise is to find bottleneck in skiplist implementation, so that writes using transaction API can be improved. Because of slow writes, we implemented StreamWriter, which directly writes data to LSM levels

[2019-07-15 15:58] thomashargrove opened #932 "Badger Mock"
Just wondering if there is a mock/fake implementation of Badger that we can use for testing our code that integrates with badger.  Possibly one that is backed by a simple in-memory store?

If one does not already exist and we make one, would there be interest in contributing it to this repo?

[2019-07-16 00:35] campoy commented on #864
This issue should be part of our next release, just waiting for #861 to be merged.

[2019-07-16 00:41] campoy commented on #932
This is an interesting idea.

What client are you currently using? I wonder if we could create a gRPC server that can be easily started for this kind of tests.

[2019-07-16 01:53] thomashargrove commented on #932
We are just using badger directly in our process.  There is no real client that I see.

[2019-07-16 02:43] nnsgmsone commented on #930
@jarifibrahim  Well, in fact, in addition to badger, tcp also takes up some fd. Then the badger crashed when the file descriptor is not enough. . .

[2019-07-16 09:41] arsham commented on #932
Until badger provides mock/fake constructs, you can do this. I'm not sure if this would work for you, but I've had good results:
[code]

In your application accept an interface that implements `Badger` (from above code) and stub that one.

[2019-07-16 10:38] zerjioang commented on #785
I did an update using latest version available, an no errors so far. So we can close the issue

[2019-07-16 10:38] #785 closed

[2019-07-16 13:00] manishrjain commented on #932
The way our unit tests work is they create a temporary directory, run Badger itself, optionally close it and finally that directory gets deleted. If that's slow, you could use `/tmp` which is typically run off RAM.

[2019-07-16 16:51] campoy commented on #932
Sorry, @thomashargrove

I somehow thought this was on the dgraph repo - therefore my question about clients.
As Manish mentions, we don't use mocks ourselves since it's quite easy to run off disk or RAM.

Does that solve your problem, or are you interested on something else?

[2019-07-16 19:36] thomashargrove commented on #932
Thanks for all the replies.  While spinning up badger on a RAM disk is not terribly slow, it still would be an issue for a lot of tests.  We will build the memory back fake and share it when finished to see if others find it useful.

[2019-07-16 21:17] thomashargrove commented on #932
Also @arsham thanks for the snippet.  We will use that as well for a subset of our tests where it works better than a fake.

[2019-07-17 09:48] jarifibrahim commented on #930
@nnsgmsone This doesn't look like a badger issue to me. Double check your ulimit. Maybe it's an issue with your TCP connection.
I'm going to close this issue since I don't think there's anything we can fix in badger. Feel free to reopen.

[2019-07-17 09:48] #930 closed

[2019-07-17 17:40] manishrjain commented on #772
Should we mark it as accepted, considering @ashish-goswami is working on a change to allow people to limit the bloom filter memory usage.

[2019-07-17 19:45] manishrjain commented on #792
We need compression in Badger. It's a common theme which keeps coming up.

[2019-07-18 05:15] jarifibrahim commented on #772
Assigned to @ashish-goswami.

[2019-07-18 09:13] nnsgmsone commented on #869
@jarifibrahim ok, Is it possible to use a dedicated goroutine to periodically refresh data to disk when sync is off?

[2019-07-18 09:25] jarifibrahim commented on #869
@nnsgmsone You run `db.Sync()` method periodically https://github.com/dgraph-io/badger/blob/afa8faea28202a295f48846f6f61fd1931eed9ab/db.go#L482-L486

[2019-07-19 01:52] nnsgmsone commented on #869
@jarifibrahim ok

[2019-07-19 07:06] jarifibrahim commented on #926
This has been fixed via https://github.com/dgraph-io/badger/pull/929 . Closing it.

[2019-07-19 07:06] #926 closed

[2019-07-19 07:07] jarifibrahim commented on #769
This is fixed via https://github.com/dgraph-io/badger/pull/923.

[2019-07-19 07:07] #769 closed

[2019-07-19 08:05] 256dpi commented on #926
Awesome! Thanks!

[2019-07-19 17:47] campoy commented on #932
Thanks, I'll close this issue then.

Please do share your fakes if you'd be ok with them being part of the project!

[2019-07-19 17:47] #932 closed

[2019-07-21 01:11] #409 closed

[2019-07-21 01:11] #373 closed

[2019-07-22 21:23] elagergren-spideroak opened #938 "make event logging configurable"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.12.7
</pre>

### What version of Badger are you using?
v1.6.0

### What did you do?

Ran benchmarks using badgerdb.

### What did you expect to see?

I *didn't* expect to see logging appear on the CPU profile.

### What did you see instead?

It did, and there's no way to turn it off.

In some of my benchmarks ~10% of the ti

[2019-07-22 21:32] ashish-goswami commented on #938
Hey @elagergren-spideroak, how were you running benchmarks?
You can try to avoid logging by calling **options.WithLogger(false)**.

[2019-07-22 21:33] martinmr commented on #938
This is how you configure the logger: https://github.com/dgraph-io/badger/blob/1496af939d8533779f7b6b3f3a6cd251abf5c598/options.go#L231

In your case you'd create a logger that takes the input but returns immediately without doing anything with it.

[2019-07-22 21:37] elagergren-spideroak commented on #938
The issue isn't that logger, it's the  *event* logger. See:

<img width="298" alt="Screen Shot 2019-07-22 at 2 36 36 PM" src="https://user-images.githubusercontent.com/36516532/61667179-2b1a7b00-ac8e-11e9-9855-4db57c214a17.png">

[2019-07-22 21:37] elagergren-spideroak commented on #938
I've set the `WithLogger(nil)` option already.

[2019-07-23 13:22] timshannon commented on #705
Sorry, I've been busy, and I just revisited this and realized that in my glibness my response may have been interpreted differently than I intended.  I meant I didn't see any reasons why changing to multiple non-concurrent iterators would cause me any problems.  I meant that I'm fine with that change.

Sorry for the confusing.

[2019-07-23 15:24] burmanm commented on #738
I think the second option is what most use, because of the (assumed at least) design of Badger and the original paper. Thus, key only searches are pretty common and they should perform a lot better. In Jaeger, we can write dozens of keys per single value. Index seeks are usually done against multiple keys and then intersected to find the one value to be fetched.

Thus, optimization of key-only sce

[2019-07-23 15:31] manishrjain commented on #738
I had a cursory look. But, I don't fully understand this issue. Is the question: If my key-value pair has nil value, why does it get written to value log? The answer is: Value log acts as a write-ahead log. So, everything is first written there, synced to disk and then makes their way to LSM tree. One can run Value log GC to reclaim the space. If we don't write it to value log first, there's a cha

[2019-07-23 15:54] burmanm opened #939 "1.6.0 perf regression compared to 1.5.3?"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.6 linux/amd64
</pre>

### What version of Badger are you using?

1.5.3 and 1.6.0

### Does this issue reproduce with the latest master?

### What are the hardware specifications of the machine (RAM, OS, Disk)?

Haswell & Sandy Bridge, both tested. Linux 5.1.11-200.fc29 and 5.1.15-1-MANJARO. 12GB / 16GB machi

[2019-07-24 18:07] tmm1 commented on #741
Are there still plans to compress values inside badger?

[2019-07-24 19:17] simonxw opened #942 "keyBuf for bloom filter takes too much memory"
### What version of Go are you using (`go version`)?

<pre>
$ go version 1.12

</pre>

### What version of Badger are you using?
1.5.5

### Does this issue reproduce with the latest master?
no test yet but I guess so

### What are the hardware specifications of the machine (RAM, OS, Disk)?

### What did you do?

This is related to the issue #927, with different angles. There was a change about wri

[2019-07-24 19:43] ashish-goswami commented on #942
@simonxw If we have count of keys in advance, bloom filters can be created with desired false positive rate. Thats why we have all the keys in keyBuf. At the end when Finish() is called on table builder, bloom is created and all keys are put into it.
We are working on a solution to have hashes of keys in memory instead of actual keys.

I am closing this issue. Feel free to comment on #927

[2019-07-24 19:43] #942 closed

[2019-07-25 09:08] Asarew opened #943 "unexpected Valid() == true for Single Key iteration"
[code]
will print:
[code]

While iterating over all the versions of key `foo`, on the last version the iterator steps to the key `foobar` when calling next.
I expected that the next `itr.Valid()` call would return `false` as this is a different key. But instead it returns `true` because of the shared prefix for this next key.

So to sum it all up, shouldn't this be:
https://github.com/dgraph-io/ba

[2019-07-26 12:02] jarifibrahim commented on #812
This has been fixed via https://github.com/dgraph-io/badger/pull/893

[2019-07-26 12:02] #812 closed

[2019-07-26 18:27] yangzh opened #944 "badger.WriteBatch doesn't work well with managed table."
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12 darwin/amd64
</pre>

### What version of Badger are you using?
badger@v2.0.0-rc.2+incompatible

### Does this issue reproduce with the latest master?
Not tested

### What are the hardware specifications of the machine (RAM, OS, Disk)?
Mac, Version 10.14.3, 16GB

### What did you do?

I'm using a managed tabl

[2019-07-28 05:39] cedricfung commented on #926
I'm using v2.0.0-rc2 and has the same bug

[2019-07-28 12:48] jarifibrahim commented on #926
@cedricfung The fix wasn't part of v2.0.0-rc2 release. Please use the master branch for now.

You might need to backup and restore your current badger directory to use it with the latest master.
If you want to use your current badger directory with the latest master -
1. Create a backup (you can use the command line).
2. Update badger to latest master.
3. Restore the backup using the latest master

[2019-07-28 15:41] cedricfung commented on #926
I ported the fix to the release 2.0 branch, and it works.

[2019-07-28 20:21] #526 closed

[2019-07-29 04:51] connorgorman opened #946 "Unexpected page fault on iteration"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.7 darwin/amd64

Note: issue was also seen on linux
</pre>

### What version of Badger are you using?
1.6.0

### Does this issue reproduce with the latest master?

A different issue manifests
[code]

### What are the hardware specifications of the machine (RAM, OS, Disk)?
8GB, Ubuntu, SSD

### What did you do

[2019-07-29 06:33] jarifibrahim commented on #946
A different issue manifests
panic: Unclosed iterator at time of Txn.Discard.

@connorgorman If you look at the first line of the error you saw on master, it clearly states that you have an unclosed iterator at transaction discard. All open iterators should be closed when the transaction is discarded.

Yes, we do unmap the memory when we close the DB. The user isn't expected to use the DB after clo

[2019-07-29 06:33] #946 closed

[2019-07-30 10:50] jarifibrahim commented on #943
@Asarew Thanks for reporting the issue and finding the fix. https://github.com/dgraph-io/badger/pull/950 should fix this issue.

[2019-07-30 11:09] jarifibrahim commented on #927
This should be fixed by https://github.com/dgraph-io/badger/pull/940.

[2019-07-30 11:53] jarifibrahim commented on #846
Fixed via https://github.com/dgraph-io/badger/pull/894.

[2019-07-30 11:53] #846 closed

[2019-07-30 14:14] kidjersey commented on #927
thanks @jarifibrahim !

[2019-07-31 15:04] davidsteed opened #953 "Compiling for 32 bit"
### What version of Go are you using (`go version`)?1.12.5

<pre>
$ go version

</pre>

### What version of Badger are you using?latest

### Does this issue reproduce with the latest master?yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?N/A

### What did you do?Compile 32 bit

### What did you expect to see?

### What did you see instead?
./../github.com/dgraph-io/bad

[2019-08-01 06:59] divyakoshy commented on #938
This seems to work:
[code]

[2019-08-01 13:53] #943 closed

[2019-08-01 14:19] Asarew commented on #943
Thnx for the support on this

[2019-08-01 17:19] yangzh commented on #944
Hey, @jarifibrahim Thanks for taking on this report so promptly.

I know you guys are celebrating, etc, (and congratulations on Dgraph getting new round of funding, by the way). but may I ask when I can see this bug get fixed? I was blocked by this, and was hoping this can get resolved as soon as possible.

[2019-08-01 23:01] ashish-goswami commented on #772
PR https://github.com/dgraph-io/badger/pull/940 adds an option to DB, BloomFalsePositive. Lower the value of BloomFalsePositive higher is the memory used by Blooms. Hence to minimise memory usage, BloomFalsePositve can be set to a large value.

[2019-08-01 23:11] #927 closed

[2019-08-01 23:15] ashish-goswami commented on #772
Closing this for now. Feel free to reopen it if required.

[2019-08-01 23:15] #772 closed

[2019-08-02 18:52] jarifibrahim commented on #944
Hey @yangzh, the PR https://github.com/dgraph-io/badger/pull/948 is almost ready. We should be able to merge it today.

[2019-08-03 06:47] #944 closed

[2019-08-03 16:26] yangzh commented on #944
@jarifibrahim Thanks for the fix, I'm wondering if you can patch this into v2.0.0 branch as well.
We are using v2.0.0 and would like to stick to that.

[2019-08-05 05:10] ericlagergren commented on #938
Note that I’m not talking about general logging, I’m talking about event logging.

https://github.com/dgraph-io/badger/blob/e627d49fa7e9ddf9c31a833e83c4b3937bb81c66/db.go#L280

See also my screenshot.

[2019-08-05 23:44] campoy commented on #738
The way I understand this issue, please @alecthomas feel free to correct me, is that even when badger is not storing values the value logs can get quite large.

I'd like to fix two independent things:

1. answer the question: do we need so much data in vlogs for a key only dataset? it seems the answer is yes

2. answer the question: is having a second database the best way to create indices on an

[2019-08-05 23:45] campoy commented on #705
In that case, I think this issue can be closed?
Let me know if there's any other questions you might have and thanks for contributing :)

[2019-08-05 23:45] #705 closed

[2019-08-05 23:46] campoy commented on #370
Hey @martinmr,

Please answer my question above.

[2019-08-06 00:02] #953 closed

[2019-08-06 00:05] campoy opened #966 "Provide migration tool from v1 to v2 and viceversa"
As we are going to release the first data backward-incompatible changes we should also provide an easy way to transform a dataset from v1 to v2 and back.

This should be an easy task and it doesn't need to even be part of badger, it could be `badger-migrate` repository that imports badger at v1 and v2 and does the necessary transformations.

[2019-08-06 00:09] martinmr commented on #370
The stream writer is used to create the backups but not to restore them. For that the Load function in backup.go is used.

Like @manishrjain said, all the tools to be able to do this are already there.

* Incremental backups can already be done.
* Loading a single backup can already be done.

Seems like we could exted the existing restore command to allow multiple files to be restored. This would

[2019-08-06 00:15] campoy commented on #938
Are you running pprof while running your benchmarks?
In that case this is expected and a side effect of pprof itself, rather than a bug in badger.

Could you share the whole pprof trace you obtained? Both web and top -cum output would be great

[2019-08-06 00:18] campoy commented on #370
Thanks, @martinmr!

According to this, @mperham you should be able to backup all of your data by using [Stream Writer](https://godoc.org/github.com/dgraph-io/badger#DB.NewStreamWriter) first and then load all values into a new instance very quickly with [Load](https://godoc.org/github.com/dgraph-io/badger#DB.Load).

Feel free to reopen this issue if this answer is not satisfactory or you have any

[2019-08-06 00:18] #370 closed

[2019-08-06 00:22] martinmr commented on #966
I checked the code and the backups are written in the KV proto format so as long as that doesn't change, backups should work between versions. That proto has not changed since December 2018. I think we can close this for now.

[2019-08-06 00:23] campoy commented on #741
Hi there, yes @tmm1 - we have plans to add encryption and compression to our datasets.

[2019-08-06 00:24] campoy commented on #939
Thanks for the report, @burmanm!

I know @martinmr ran some benchmarks - I wonder if we can reproduce this regression too.
Can you give it a try, Martin?

[2019-08-06 00:43] campoy commented on #966
Thanks for the update, @martinmr.

In that case I don't think this tool is that useful anymore, as one could migrate from one version to the other by following these steps:

1. start with a dataset in vX and with the `badger` binary installed for the same version
2. run `badger backup --dir bak`
3. download the `badger` binary for vY
4. run `badger resotre --dir -bak`
5. this will generate a new d

[2019-08-06 00:43] #966 closed

[2019-08-06 01:55] manishrjain commented on #966
Yes, doing a backup and then restoring should work. But, it would be slow and a lot more resource intensive. Instead, we can use the stream framework to directly load data and write it back at the speed of disk, i.e. >200MBps -- that'd be much faster. Simple script like this can save many hours cumulatively for our users.

[2019-08-06 01:59] manishrjain commented on #370
Sorry, didn't see me getting tagged. But, yeah, we do already have backup and restore tools. This issue would have to be more specific about what is needed beyond them.

[2019-08-06 02:08] ashish-goswami commented on #966
I also made a change in commit https://github.com/dgraph-io/badger/commit/4e5cbcc8574b8258c0146d4d01539b6d48212f4a, which changes backup file format(marshal entry list instead of single entry). Hence backups taken before this commit cannot be restored using current code.

[2019-08-07 04:15] alinnert opened #969 "question: recommended usage of sequences in an http server"
I hope it's okay to remove the issue template because it doesn't fit questions.

I know how to use sequences in general. I just wonder how and where do I store and/or get sequences in the context of an http server. Let's take for example following keys:

[code]

This involves one sequence, plus another one for every user.

**user ID sequence**

This is pretty much a global sequence. Now, do I stor

[2019-08-07 14:01] abrosimov opened #970 "CompactL0OnClose fails on closing db"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.7 linux/amd64
</pre>

### What version of Badger are you using?
github.com/dgraph-io/badger v2.0.0-rc2+incompatible

### Does this issue reproduce with the latest master?
Didn't test, but I think yes, see below

### What are the hardware specifications of the machine (RAM, OS, Disk)?
CentOS, 256GB RAM, 2TB S

[2019-08-08 12:03] sch00lb0y commented on #970
Hey @abrosimov,
Got the issue, I just need info. So, that I can narrow down the cause. Are you folks using DropAll or DropPrefix?

[2019-08-08 12:53] abrosimov commented on #970
Hi, @sch00lb0y.
No, we use badger only for putting new keys and reading them. There is no del/drop operations at all. Also, when i call db.Sync in my example there is no reads/writes to db too.
Maybe this chain of calls will help you:
DB.Close() -> db.close() ->
	1) atomic.StoreInt32(&db.blockWrites, 1)
	2) if db.opt.CompactL0OnClose { run compaction } -> db.lc.doCompact() -> s.runCompactDef() ->

[2019-08-08 18:19] kung-foo opened #974 "question: space reclamation with entry TTL"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.4 linux/amd64
</pre>

### What version of Badger are you using?
v1.6.0

### Does this issue reproduce with the latest master?

### What are the hardware specifications of the machine (RAM, OS, Disk)?
Linux Mint 19.1, 8GB RAM, SSD

### What did you do?

1. Create several million entries with a TTL of ~30 minu

[2019-08-09 08:04] #820 closed

[2019-08-09 13:33] alinnert commented on #744
@manishrjain shouldn't this at least be documented? The readme doesn't mention the word "truncate" at all. The only options documented are about memory usage.

This happens every time you kill a process that has a badger store still open. I'd say this happens to everyone who starts tinkering around with BadgerDB on Windows. In order to avoid that you need to implement a "graceful shutdown" first,

[2019-08-09 13:57] rohanil opened #979 "Does badger GC remove overwritten entries?"
### What version of Go are you using (`go version`)?
go1.12.5

### What version of Badger are you using?
master branch

I have badger store with 15 vlog files and I overwrite the data with same entries. The number of vlog files gets doubled. Now if I run GC with discard ratio 0.5, it picks file randomly, which is mostly from first 15 files but GC returns with ErrNoRewrite. I was expecting that fil

[2019-08-09 14:46] connorgorman commented on #966
I think this issue is still relevant as @ashish-goswami has mentioned. However, I think a simple solution could be to write some magic and version at the beginning of the file (kind of like the manifest magic) and then branch off to choose the proper backup mechanism

[2019-08-10 20:42] SaleProperly opened #980 "SIGILL on macos 10.13.6 when trying to set a key value pair."
EDIT: The code works with "release/v1.6", but not with the current master.
EDIT 2: Simplified code a little and regenerated error.

I am using commit 9d7b751e85c981d34e6351520919f5c0547c1379 from Aug 9, 2019. The error also happens with the current commit 74ed6da2c776a6b4941596df9da3ff84a0703c70.

**Doesn't** work on:
macos 10.13.6, 16GB ram, SSD
go version go1.12.7 darwin/amd64 **or** go version

[2019-08-12 16:48] alinnert commented on #744
Okay, I just stumbled over issue #434. This explains why truncation shouldn't be done automatically.

[2019-08-13 01:37] SaleProperly commented on #980
I've narrowed it down to the breaking commit.

7372ede1e54baea176e38ffdda4839e5a8bef55c is the first commit where this error appears.

[2019-08-13 03:11] ashish-goswami commented on #980
Hey @SaleProperly, above program is working fine for mac 10.13.4. Let us try on 10.13.6 as well.

[2019-08-13 07:39] ashish-goswami commented on #980
Hey @SaleProperly, I tried to run above code in mac 10.13.6 with go1.12.7, its working fine. I am not seeing any SIGILL.

[2019-08-13 11:11] vgtom commented on #922
Which parts of the code would i need to look to get started on this??

[2019-08-13 12:18] SaleProperly commented on #980
@ashish-goswami could it be related to the model of hardware I am using? (2010 mid year MacBook pro)

This error definitely persists for me on any commit after switching to aeshash.

Is there any trouble shooting you can suggest I do on my end to help us narrow down the cause?

[2019-08-13 14:05] ashish-goswami commented on #980
@SaleProperly This looks like hardware issue. My mode is early 2015 macbook pro.
We run tests on travis also. It passes there too.

[2019-08-13 19:30] elliotcourant opened #981 "Question: Multiple iterators on a read-write transaction."
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.6 darwin/amd64
</pre>

### What version of Badger are you using?
master @ 74ed6da2c776a6b4941596df9da3ff84a0703c70

What is the limiting factor of the transaction or iterator object being thread-safe? Is it the pending writes map/iterator that isn't safe if there are multiple iterators at the same time as da

[2019-08-14 13:03] #979 closed

[2019-08-16 09:54] dreamflasher opened #984 "Feature Request: Add python interface/binding"
Please make this great project available to python users by adding a python interface.

[2019-08-16 16:21] KBassford opened #985 "Export "options""
### What version of Go are you using (`go version`)?

<pre>
$ go version go1.12.7 linux/amd64

</pre>

### What version of Badger are you using?
latest master, 2019-08-14

### Does this issue reproduce with the latest master?
Yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
N/A

### What did you do?
Attempt to import your "option" enum tables.

Problem:
badger.options.

[2019-08-17 07:29] ehsannm opened #988 "Remove FLOCK or make it optional"
Hi,

We are using badger as our data storage in our project. We run badger on Android and iOS devices. We have problem on some androids, which it seems they have problem with the FLOCK. When we ignore the err in Open method [db.go - line: 232] then we have no problem.

dirLockGuard, err = acquireDirectoryLock(opt.Dir, lockFile, opt.ReadOnly)
	if err != nil {
		return nil, err
	}

for the moment we

[2019-08-17 17:20] jarifibrahim commented on #988
Hey @ehsannm, what's the error you see on android? The directory lock prevents multiple badger instances from accessing the same data directory (unless badger is in read-only mode). Making it optional would be easy but I'd like to understand the problem first.

I do not have much experience with android. Any links or references would be appreciated. :)

[2019-08-17 17:49] jarifibrahim commented on #974
@kung-foo Can you show the meta value of the move keys? The info tool shows the meta for each key.

I see only one value log file. The value log GC wouldn't do anything if you have only one value log file. GC needs at least 2 files to work.
See https://github.com/dgraph-io/badger/blob/31395c2c16b393536f9e1d7a83fa9f58525d646a/value.go#L1138-L1141

[2019-08-19 05:15] ehsannm commented on #988
Hi @jarifibrahim, Thanks for your response.
Basically this error does not happen on all the androids but a good few of them crash when calling Flock.

avc: denied { lock } for path="/data/data/com.ronaksoftware.river.beta/files/databases/river/badger" dev="vdc" ino=15589 scontext=u:r:untrusted_app:s0:c512,c768 tcontext=u:object_r:app_data_file:s0:c512,c768 tclass=dir permissive=0

It seems that fl

[2019-08-19 05:28] jarifibrahim commented on #988
@ehsannm Could it be possible that the android device has some other app (maybe an anti-virus) which acquire the lock on the same file?
Can you try running on the app on a clean android device and see if the error persist?
Alternatively, could you check which process is acquiring the lock (https://unix.stackexchange.com/questions/85994/how-to-list-processes-locking-file should help) ?

[2019-08-19 05:49] ehsannm commented on #988
@jarifibrahim It is not happen on all androids, some of them. But our app needs to be compatible with all androids. It may be because of SELinux on some androids. We temporary fixed by changing the code in the badger, but we think if you provide it as an option then we don't need to fork the project for such a little change, or may be another lock mechanism ?!!

[2019-08-19 05:53] jarifibrahim commented on #988
@ehsannm I still feel the issue is with android. The `flock` system call should've worked for you.

@manishrjain what do you think? Can we make the file locking optional?

[2019-08-19 06:10] yanchenghust commented on #698
I have the same issue. Have you fixed this problem?

[2019-08-19 06:52] ehsannm commented on #988
@jarifibrahim I think so too, but what could we do? we cannot force users to update their phones, Internally we are making sure that we do not access the badger concurrently because it is in our code but forcing users to update their phone is not practical

[2019-08-19 09:49] andreyromancev opened #990 "Linear disk writes"
Hi there!

Is there any way to achieve linear disk writes? Im storing fixed-size records without updates. Can I expect them to be stored on disk in the same order?

[2019-08-19 10:01] kung-foo commented on #974
example key: `Key: 21626164676572216d6f766570642f416c6c546167732f32303139303831362f37312f302f30303030303030303030303562623435	version: 4028	size: 118	meta: b0000`

[2019-08-19 10:15] jarifibrahim commented on #974
@kung-foo The badger info tool doesn't show all keys (which include deleted or expired) by default. Can you check once again if badger has any keys by `badger info --history --show-keys`

[2019-08-19 10:41] kung-foo commented on #974
[code]

Example key: `Key: 70642f416c6c546167732f32303139303831362f37312f302f30303030303030303030303662663465	version: 4740	size: 105	meta: b0000	{deleted}`

note, the cli output above is from a _different_ db than in the original post. but the behavior is still the same.

[2019-08-19 13:42] ashish-goswami commented on #990
@andreyromancev I am not very sure of your usecase here. Badger sorts batch of records(by inserting them in memtable) before storing those to disk.
Why do you want those record to be stored in the same order?

[2019-08-19 14:21] jtacoma opened #992 "Using badger.IteratorOptions.Prefix can hide data if certain keys have been written"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.11.6 linux/amd64
</pre>

### What version of Badger are you using?

I have tried with v1.6.0 as well as latest master (7a7dd17559ae0262a8ce9ec0bc1ce91d6f7ec942 at time of writing).

### Does this issue reproduce with the latest master?

Yes.

### What are the hardware specifications of the machine (RAM, OS, Dis

[2019-08-19 14:56] jarifibrahim commented on #974
Hey @kung-foo, the results you're seeing are as expected.

You have `deleted entries` in your DB which will be removed on compactions.
You have `move keys` in your DB which will be marked for deletion when the log file they're in (I guess its 0004.vlog) is garbage collected and the `move keys` will actually be removed from badger when they're compacted.

[2019-08-19 15:03] kung-foo commented on #974
When should compaction occur? I GC every 5 minutes, and have tried closing and flattening multiple times.

[2019-08-19 15:14] jarifibrahim commented on #974
The compactions are triggered with a random delay and each compactor picks up a level to compact based on a `priority`
https://github.com/dgraph-io/badger/blob/7a7dd17559ae0262a8ce9ec0bc1ce91d6f7ec942/levels.go#L389-L392

GC would clean up the value log only if you have more than one vlog file and it finds some data to GC

https://github.com/dgraph-io/badger/blob/7a7dd17559ae0262a8ce9ec0bc1ce91d6f

[2019-08-19 17:39] kung-foo commented on #974
I've made a test harness that partially replicates the behavior I see in our real code.

https://gist.github.com/kung-foo/66317e4b274ec456a92270e32d692ff7

Summary: write 1000 keys per second with a 256 byte value. GC every minute. Set an absolute TTL of 5 minutes on every key (each block of 1000 keys expires at the exact same time).

Measurements:

valid = number of _my_ keys I see
internal = num

[2019-08-19 19:48] kung-foo commented on #974
Letting it run for two hours (and with key size bump up to ~100 bytes):

![badger2](https://user-images.githubusercontent.com/1357571/63294513-cc671200-c2ca-11e9-96a2-ed08e3538282.png)

[2019-08-19 20:58] simonxw opened #993 "dead lock in updateDiscardStats on master"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### What version of Badger are you using?
master

### Does this issue reproduce with the latest master?
yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?

### What did you do?

keep writing keys and do vlog gc every 5 mins

### What did you expect to see?

### What did you see instead?
pro

[2019-08-19 21:01] simonxw commented on #993
look at this code below in value.go,  you can find the lock lfDiscardStats is recursively called.

func (vlog *valueLog) updateDiscardStats(stats map[uint32]int64) error {
        vlog.lfDiscardStats.Lock()
        defer vlog.lfDiscardStats.Unlock()

        for fid, sz := range stats {
                vlog.lfDiscardStats.m[fid] += sz
                vlog.lfDiscardStats.updatesSinceFlush++

[2019-08-20 09:04] jarifibrahim commented on #993
Thanks for reporting the issue @simonxw. This should be fixed by https://github.com/dgraph-io/badger/pull/976

[2019-08-20 13:43] simonxw commented on #993
Great. Thanks

[2019-08-20 13:50] simonxw opened #995 "Nil value returned due to movekey version mismatch"
### What version of Go are you using (`go version`)?

<pre>
$ go version

</pre>

### What version of Badger are you using?
v1.5.5

### Does this issue reproduce with the latest master?

### What are the hardware specifications of the machine (RAM, OS, Disk)?

### What did you do?

1. keep writing keys
each round writes 1.5 million keys (768 bytes for key and 1024 for value) and repeatedly update

[2019-08-20 13:56] simonxw commented on #995
After tracing in code. the reason it returns nil value is that the original key has new version v2 in lsm tree. move key only has older version v1, v2 is lost.

see iterator.go: yieldItemValue
		if vs.Version != item.Version() {
			return nil, nil, nil
		}

[2019-08-20 14:07] simonxw commented on #601
I think #995 is a DL issue.

[2019-08-20 14:25] manishrjain commented on #995
@Ibrahim can you look into this?

[2019-08-21 05:40] jarifibrahim commented on #995
@simonxw Can you share the test program?

[2019-08-21 13:57] ashish-goswami commented on #981
@elliotcourant Currently limiting factor is pending write map in transaction. It is not thread safe.
That's the reason, you cannot have multiple iterators in RW transaction.
I am not following the second part you asked. Are you trying to run two iterators in RW transaction? Also are entries are written in same transaction?

[2019-08-21 15:50] simonxw commented on #995
[main.txt](https://github.com/dgraph-io/badger/files/3526142/main.txt)

[2019-08-21 15:51] simonxw commented on #995
Just uploaded test code. rename it to .go.

[2019-08-22 08:32] jarifibrahim commented on #995
@simonxw I ran your program twice. The first time it kept running for 10 hours and then again for 3 hours. I didn't see any nil values. Can you try running the program again and confirm the issue?

[2019-08-22 09:29] omercnet commented on #443
Hi @manishrjain any update on ETA? we'd love to get this sooner than later :)

[2019-08-22 09:49] #992 closed

[2019-08-22 09:50] jarifibrahim commented on #992
@jtacoma I've merged the fix. Please try out the master branch and let me know how it goes.

[2019-08-22 10:54] ashish-goswami commented on #980
Hey @SaleProperly, closing this for now. Feel free to open it if required.

[2019-08-22 12:28] cbalano opened #999 "Cannot Iterate Through Prefixed Keys in Reverse Order - Can I?"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.12.7
</pre>

### What version of Badger are you using?
1.6

### Does this issue reproduce with the latest master?
yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
Alpine Linux Docker container 32GB RAM, 6 CPU cores

### What did you do?
Tried to read a set of prefixed keys in reverse order. When

[2019-08-22 13:42] ashish-goswami commented on #999
@cbalano can you share sample code? I think it should work fine.

[2019-08-22 16:16] mjgarton commented on #938
I seem to have the same issue.

@campoy can you explain what you mean by "running pprof while running your benchmarks"?

In my case, the application calls `pprof.StartCPUProfile` at the start and `pprof.StopCPUProfile` at the end.  Is that what you mean?

[2019-08-22 16:17] mjgarton commented on #938
Also

[2019-08-22 18:39] simonxw commented on #995
I ran it 3/4 times and got nil value every time. but from 3 hours to 15 hours. Also which version are you running on? I ran it on 1.5.4 + the patch for #907.

You may have to run it longer.

[2019-08-23 01:30] cbalano commented on #999
<pre>
package main

import (
  "fmt"
  "github.com/dgraph-io/badger"
  "time"
  "encoding/json"
  "os"
)

type Data struct {
  TS string `json:"ts"`
}

func TimeNow() string {
  t := time.Now()
  return  fmt.Sprintf("%d-%02d-%02d %02d:%02d:%02d.%03d", t.Year(), t.Month(), t.Day(), t.Hour(), t.Minute(), t.Second(), t.Nanosecond()/1000000)
}

func main() {

  fmt.Println("START")
  opts := badger.De

[2019-08-23 02:37] liaonaibo commented on #980
The error also happens to me with the current master. I was trying to use the "release/v1.6" and got the same error. I can not fix it.

[2019-08-23 03:09] peterbourgon opened #1001 "Support disk-less mode"
Can BadgerDB support a pure in-memory mode, where there is no disk access at all?

[Related discuss.dgraph.io thread](https://discuss.dgraph.io/t/badgerdb-without-touching-disk/4945).

[2019-08-23 08:38] Lesterpig opened #1002 "Disable debug/vars by default"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13rc1 linux/amd64
</pre>

### What version of Badger are you using?

v1.6.0

### What did you do?

Access `/debug/vars` from http endpoint of web application

### What did you expect to see?

404 error

### What did you see instead?

The debug page provided by the `expvar` variable.
This page contains lots of c

[2019-08-23 09:00] jarifibrahim commented on #974
@kung-foo I ran your script for about 18 hours and I see that the move keys are not being removed. I'll try to figure out why that's happening. I see the same behaviour on v1.6.0 and master
![Move keys- v1 6 0](https://user-images.githubusercontent.com/12949454/63579929-50621800-c5b1-11e9-8762-29c09b214fd1.png)
![Move Keys - Master](https://user-images.githubusercontent.com/12949454/63579935-52c47

[2019-08-23 09:11] jarifibrahim commented on #1001
@peterbourgon We don't support this right now. The value log acts as a WAL which has to be written to the disk.
We might support a memory-only mode in future.

[2019-08-23 09:19] jarifibrahim commented on #995
I tried it on v1.5.5 (as mentioned in the issue). I'll try it once again with 1.5.4.

[2019-08-23 09:25] kung-foo commented on #974
Is the vlog+lsm file size really that different between 1.6.0 and master? Or is that more due to the move key leak?

[2019-08-23 09:31] jarifibrahim commented on #974
We have made some changes to the latest version of badger which should reduce the DB size.

Move keys leak would also add to the size of LSM since they're just like any other key in badger.

[2019-08-23 10:32] ashish-goswami commented on #980
Hey @liaonaibo, what Mac model are you using?

[2019-08-23 10:49] jarifibrahim opened #1003 "Stale values in discard stats map"
### What version of Badger are you using?
Master

### Does this issue reproduce with the latest master?
Master

### What are the hardware specifications of the machine (RAM, OS, Disk)?
N/A

### What did you do?
Run this script  https://gist.github.com/kung-foo/66317e4b274ec456a92270e32d692ff7 (from https://github.com/dgraph-io/badger/issues/974)

### What happened?
The logs show discard stats map

[2019-08-23 11:10] animesh2049 opened #1004 "Dgraph crashes after pressing ctlr-c becasue of badger"
### What version of Go are you using (`go version`)?
v1.1.0-rc1

<pre>
$ go version
go1.12.5
</pre>

### Does this issue reproduce with the latest master?
Yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
General

### What did you do?
I ran 6 node cluster (dgraph), flock, flock client **earlyoom**.

### What did you see instead?
Panic.

[code]

[2019-08-23 16:06] manishrjain commented on #999
https://github.com/dgraph-io/badger#frequently-asked-questions

See reverse iteration question there.

[2019-08-23 16:09] manishrjain commented on #1001
I think @balajijinnah is working on making it so that if writes don't need to be present in value log (values are already stored in the LSM tree), they won't be written to the log. That change along with setting very high ValueThreshold should give us the ability to not write to value log at all. Then all we need to do is to keep Tables in memory, which is already an option.

Furthermore, if no pe

[2019-08-23 16:14] manishrjain commented on #980
Let's figure out what does Go team do for AESHash on older platforms. We could also introduce build flags to use either AESHash or something more platform agnostic.

[2019-08-23 16:29] SaleProperly commented on #980
Hey @manishrjain, do you think we could craft the shortest bit of code that would cause this error on affected hardware?

If I had that, I would open an issue on aeshash itself.

[2019-08-23 18:32] Stebalien opened #1005 "Bbloom is unsafe"
* It moves locks (https://github.com/AndreasBriese/bbloom/pull/8)
* It mis-uses unsafe (https://github.com/AndreasBriese/bbloom/issues/9).
* It ignores unmarshal errors.

The IPFS project has a fork (https://github.com/ipfs/bbloom) that fixes these issues but we've made some significant API changes that make these fixes a bit difficult to upstream. These changes should either be upstreamed manuall

[2019-08-23 19:33] AndreasBriese commented on #1005
...
using math/bits means using unsafe anyway. I prefer doing things transparent instead of obfuscating it.
I will look into the speed comparison.

[2019-08-23 20:40] Stebalien commented on #1005
It uses the unsafe _package_ internally but it uses it correctly. I only suggested switching libraries assuming that the changes from our bbloom fork aren't upstreamed. You appeared to be busy so I didn't want to block fixing these issues on upstreaming the necessary changes.

[2019-08-23 22:58] Stebalien commented on #1005
@AndreasBriese has fixed upstream so updating to the latest master (of AndreasBriese/bbloom) should fix the issue.

[2019-08-24 03:36] cbalano commented on #999
I see what you are saying there, Manish; all respect, by the way.

I tried the '~' trick because all my key bytes are standard ASCII, and it worked.

May I suggest adding the '0xff' trick into the Badger code base, so the customer does not have to do the it.seek() yoga on reverse iterators.

[2019-08-24 03:36] #999 closed

[2019-08-24 04:21] jarifibrahim commented on #1004
I saw the same error yesterday while running badger.

[2019-08-24 05:36] jarifibrahim commented on #974
@kung-foo I've raised https://github.com/dgraph-io/badger/pull/1006 to fix this. With the PR, I see move keys being removed.
![Move Keys - New Patch (2)](https://user-images.githubusercontent.com/12949454/63633041-26672f00-c65f-11e9-80fd-b97c51676ae0.png)

[2019-08-24 10:38] cedricfung opened #1007 "v2.0.0-rc3 is incompatible with rc2"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.9 linux/amd64
</pre>

### What version of Badger are you using?

v2.0.0-rc3

### Does this issue reproduce with the latest master?

Yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?

### What did you do?

Update v2.0.0-rc2 to v2.0.0-rc3 in go.mod

### What did you expect to see?

[2019-08-26 03:09] ToWorld opened #1008 "When the space is not enough, badger throws a panic"
Branch: v2.0
We used badger as the basic storage and we found that the badger threw out a panic when the space was not enough. Is it ok?

[2019-08-26 09:09] jarifibrahim commented on #1004
In case of the failure that I observed, the error was thrown because DB was being closed when a transaction was active.

It possible that Dgraph too is trying to close DB on CTRL-C while a transaction was still active.

[2019-08-26 09:13] jarifibrahim commented on #1005
Badger uses `dgraph-io/ristretto/z/bbloom` - a fork of `AndreasBriese/bbloom`. https://github.com/dgraph-io/ristretto/tree/master/z should be updated accordingly.

[2019-08-27 06:10] ashish-goswami commented on #980
Hey @SaleProperly @liaonaibo can you check if **_aes_** instruction set is available on your system?
For mac you can try: **_sysctl -a | grep cpu.feat_**
For linux you can try: **_lscpu_**

[2019-08-27 09:12] fpessolano opened #1011 "Why a pointer issue?"
### What version of Go are you using (`go version`)?
1.12

### What version of Badger are you using?
1.5.3 to 1.5.5

### Does this issue reproduce with the latest master?
I cannot upgrade to 1.6 since it breaks the API and this is a released product

### What are the hardware specifications of the machine (RAM, OS, Disk)? Tried on several machines running windows and ArchLinux

### What did you do

[2019-08-27 09:37] fpessolano commented on #1011
Please delete, this is not an issue related to badger or so it seems

[2019-08-27 09:43] jarifibrahim commented on #1011
Thanks @fpessolano. I'm closing this issue.

[2019-08-27 09:43] #1011 closed

[2019-08-28 09:54] #1005 closed

[2019-08-28 14:11] ashish-goswami commented on #993
Fixed by https://github.com/dgraph-io/badger/pull/976

[2019-08-28 14:11] #993 closed

[2019-08-28 17:37] yangzh opened #1016 "merge operator with managed db"
### What version of Go are you using (`go version`)?

It doesn't matter for this, it's a feature request.

### What version of Badger are you using?

2.0 pre.

### Does this issue reproduce with the latest master?

N/A.

### What are the hardware specifications of the machine (RAM, OS, Disk)?

### What did you do?

It seems merge operator currently is only available for non-managed db.
For feature

[2019-08-28 20:26] williamsandytoes commented on #926
I'm having the same problem with v1.0.16 after a crash. How can I recover the data? I just need Dgraph to start so that I can run a backup - which I will then restore to a :master version.

[2019-08-31 09:38] manishrjain commented on #909
Let's accept this issue. We should have a mechanism to compact tables based on some heuristics.

[2019-09-01 00:22] elliotcourant commented on #981
I am trying to run two iterators but I don't think I will get the performance benefit that I thought that I would. I was mostly just curious about what the limiting factor was. Thank you very much!

[2019-09-01 00:57] manishrjain commented on #981
We could easily make the txn run iterators concurrently. Thread unsafe was just seemed simple enough for the utility when originally written.

[2019-09-03 05:34] campoy commented on #888
Hey @danielmai, could you update on this issue?

[2019-09-03 07:35] Marreck opened #1019 "github.com/dgraph-io/ristretto/pull/37 breaks badger"
https://github.com/dgraph-io/ristretto/pull/37 Removes AESHash(data []byte) uint64 for MemHash(data []byte) uint64 which Badger relies on.

[2019-09-03 09:10] jarifibrahim commented on #1019
This should be fixed by https://github.com/dgraph-io/badger/pull/1018.

[2019-09-03 09:17] ashish-goswami commented on #1019
Hey @Marreck, we have just fixed Badger to avoid breaking. It should work fine.

Feel free to reopen this if required.

[2019-09-03 09:17] #1019 closed

[2019-09-03 09:19] ashish-goswami commented on #980
Hey @SaleProperly @liaonaibo We have just merged fix for the issue. Please check if you are still facing this issue.

[2019-09-03 10:42] #974 closed

[2019-09-03 12:45] kung-foo commented on #974
Hi @jarifibrahim, two questions:

1) Will this be cherry picked in 1.6?
2) Is there a recommended way of cleaning up the broken keys in a production system?

[2019-09-03 19:30] markadev commented on #995
Hi, I'm a colleague of @simonxw. I think that we were hitting a bug in 1.5 that was fixed with this commit: https://github.com/dgraph-io/badger/commit/af99e5f9ec18aca5d8ff40d2cfd909f7d21f392d

After upgrading to 1.6.0, I no longer see the nil value problem with this test program any more.

[2019-09-03 19:52] markadev opened #1023 "DB can't be opened after crash"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.6 linux/amd64
</pre>

### What version of Badger are you using?

1.6.0, with local patches to fix value log GC (TxnTooBig) and bloom filter memory use.  (Without the local patches, vlog GC doesn't work and memory use OOMs the machine way to easily)

### Does this issue reproduce with the latest master?

Dunn

[2019-09-04 02:01] SaleProperly commented on #980
@ashish-goswami I just updated both badger and ristretto. Everything is working. No more error.

Thanks.

I am using commit fbcd608981982d2d8c1612d310ac491d01dbde96 for badger and eb48d2f7 for ristretto.

[2019-09-04 02:01] #980 closed

[2019-09-06 14:05] markmssd commented on #832
Not sure where to drop this, so I'll put the link here. Just wanted to share it. I was wondering how well `badger` would run on that new `Key-Value SSD` https://www.anandtech.com/show/14839/samsung-announces-standardscompliant-keyvalue-ssd-prototype... a Key-Value DB running alongside a Key-Value SSD... you know...

[2019-09-07 00:41] danielmai opened #1025 "badger info: Add flag to open DB in read-write / truncate mode"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.7 linux/amd64
</pre>

### What version of Badger are you using?
v1.6.0

### Does this issue reproduce with the latest master?
Yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
N/A

### What did you do?

I tried to get information about a Badger DB directory using the `badger info`

[2019-09-08 11:45] rebootcode opened #1026 "Garbage Collection breaking app"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.9 linux/amd64
</pre>

### What version of Badger are you using?
probably 1.6.0 - I am not sure, how to find badger version, but I did - go get yesterday

### Does this issue reproduce with the latest master?
Yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
8 GB RAM, Linux, 512 GB

[2019-09-08 13:17] jarifibrahim commented on #1026
@rebootcode Can you share the code for your application?

[2019-09-09 08:59] mjgarton commented on #938
FWIW these same Printf calls are also responsible for a good chunk of allocations in some of my applications.

Also, if someone can suggest what the API for this configuration should look, I may take a stab at implementing it.

[2019-09-09 12:08] rebootcode opened #1030 "ContainForPrefix iterator use case"
Hi Team,

`ContainForPrefix` is I believe a useful iterator situation against available `ValidForPrefix` function only.

Currently, badger only has `ValidForPrefix` which in back checks if the key has specific "prefix". It is completely OK, but it becomes difficult in reverse key situation. Where we might need certain prefix to exist in key but we want them to be listed in "reverse order" as well.

[2019-09-09 12:37] kshitij10496 commented on #1025
Hey @danielmai !
I would like to work on this if it's fine by you.

[2019-09-09 12:57] kshitij10496 commented on #1025
The reason this is failing currently is because we are opening the DB in read-only mode via `WithReadOnly`. As it's documented behaviour that opening the DB after a crash with some vlog data to be replayed will fail with `ErrReplayNeeded` error, this should be expected.

https://github.com/dgraph-io/badger/blob/a44139040bb686239ecfda106fd7bc300f43e9c8/badger/cmd/info.go#L90-L97

In order to resolv

[2019-09-09 13:33] markadev opened #1031 "Thousands of "WARNING: This entry should have been caught." log messages"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.6 linux/amd64
</pre>

### What version of Badger are you using?

master (badger 2.0 prerelease hash a1ff34882564dee1f92d0b0ef13346d57f85abd7)

I also have added a few extra log messages in the GC functionality to try to figure out what's going on, but no other changes to the code.

### Does this issue reprod

[2019-09-09 14:01] rebootcode commented on #1030
I can provide more use cases as I have multiple use case right now and I believe - "system administrator" as well as people migrating from "other relational database" will find this extremely useful.

Having `it.Seek` and `ValidForPrefix` both doing almost the same thing makes not much sense, `ContainForPrefix` does little different.

[2019-09-09 14:03] manishrjain commented on #1031
@jarifibrahim please look into this urgently.

[2019-09-09 14:42] markadev commented on #1031
I did a little analysis last week so I'll post what I have so far.

In the 2 reproductions I've dug into so far (1.6.0 and master), I saw that the versions and vlog ptr reported in the log statement were retrieved from an entry down in an L2 table and that L2 table was fairly old. The key was also always a `!move` key, if that makes any difference.

The LSM compaction code caught my eye and I'm wo

[2019-09-09 15:39] ashish-goswami commented on #1025
Hey @kshitij10496, I think flag name can be **ReadOnly**, with its default value as **true**. This can avoid dropping data if the user is not aware of this option and runs info tool on Badger dir.
If **ReadOnly** have value false, Badger can automatically truncate corrupt data.
Feel free to send PR for this.

[2019-09-09 17:56] rebootcode commented on #1030
@ashish-goswami - I just found this iteration is pretty slow, the performance difference between `ValidForPrefix` and `ContainForPrefix` is huge.

Any idea to improve its performance or use better function / way?

[2019-09-10 10:05] jarifibrahim commented on #1026
@rebootcode Ping.

[2019-09-10 10:09] jarifibrahim commented on #1023
Related to https://github.com/dgraph-io/badger/issues/1031

[2019-09-10 11:28] rebootcode commented on #1026
@jarifibrahim - I will re-write the code and send it to you today!

Thanks

[2019-09-10 12:34] tony2001 opened #1032 "deadlock when writing into Badger using multiple routines"
go version go1.13 linux/amd64
github.com/dgraph-io/badger v2.0.0-rc3+incompatible
I have to admit I didn't try latest master, but I've seen this issue since early versions of Badger 2.0 and it's still there with rc3.
The server is running on 56-core Intel Xeon E5-2660, no idea about the disk.

I'm reading several multi-gigabyte files in their own binary format and "converting" them into Badger, wr

[2019-09-10 13:57] balajijinnah commented on #1032
Hey @tony2001, we fixed the deadlock issue. https://github.com/dgraph-io/badger/pull/976

Please check with the master.

[2019-09-10 15:56] tony2001 commented on #1032
Just tested it with 398445a29fa79e38366ae4f29da1ba133778ff25 and it still hangs here:

[code]

[2019-09-10 16:29] tony2001 commented on #1032
Still waiting for test results with the latest master, but I guess it'll still fail.
I believe this should fix it:
[code]

[2019-09-10 20:12] connorgorman commented on #1032
This commit fixes the issue on latest master:
https://github.com/dgraph-io/badger/commit/398445a29fa79e38366ae4f29da1ba133778ff25

[2019-09-11 09:22] tony2001 commented on #1032
@connorgorman latest master also deadlocks in the same place:
[code]

[2019-09-11 11:04] balajijinnah commented on #1032
Hi @tony2001,

Thanks for checking it out. do you have any snippet which could reproduce this issue?

It'll be very helpful to debug :)

[2019-09-11 11:15] tony2001 commented on #1032
The patch above still makes sense to me (release the lock before Wait()'ing), but it didn't fix the issue either.

[2019-09-11 11:17] tony2001 commented on #1032
Unfortunately, no, I don't have a reproduce case and it takes more than 2 hours to reproduce it.
I can provide full backtraces, would that help in any way?

[2019-09-11 11:23] balajijinnah commented on #1032
Yeah, please share it.

[2019-09-11 11:28] tony2001 commented on #1032
https://gist.github.com/tony2001/0e97a7bb36b97970cf401394e5362b93 all routines backtraces for badger/master with the patch above ^^

[2019-09-11 14:04] tony2001 commented on #1032
So it looks like this (correct me if I'm wrong):
- flusher needs to update stats stored in the db
- flusher sends a request to the writer and is waiting on the request to be done
(see updateDiscardStats() in value.go)
- writer (writeRequests() in db.go) is trying to execute the requests, but finds out that it doesn't have enough room to write them to the disk, so it just Sleep()'s in a cycle waiti

[2019-09-13 10:35] jarifibrahim commented on #1031
Hey @connorgorman I was able to reproduce this issue using the provided script. Interestingly, if I change any of the DB options in that script, the issue is no longer reproducible.
I also noticed that the warnings automatically disappeared after some time ( > 30 hours). I think we could be leaving away stale move keys which are eventually being cleaned up by the compaction (I can't be sure until

[2019-09-13 14:23] markadev commented on #1031
Thanks @jarifibrahim , you're right about the overlap checking.

I also agree that there's not really any functional impact (no data loss or unavailability in this case for sure).  In my application I can't have thousands of spurious warning messages clogging up my logs though.  For a temporary workaround I think I will just make a local modification to turn the log message into a counter and log

[2019-09-13 15:13] jarifibrahim commented on #1031
@markadev That makes sense, please make a temporary change in the logs. I'll send a PR to fix this as soon as I am able to build a test for it :thought_balloon:

Since this isn't a data loss or a crash issue, I've reduced its priority to P1.

[2019-09-13 18:28] connorgorman commented on #1023
@jarifibrahim @markadev Did you branch by any chance have this change? https://github.com/dgraph-io/badger/pull/929. Looks like the same error

[2019-09-13 18:52] jarifibrahim commented on #1023
This issue is fixed in master via https://github.com/dgraph-io/badger/pull/929.

@markadev Please try the master branch.

[2019-09-13 18:52] #1023 closed

[2019-09-16 13:03] jarifibrahim commented on #1025
Adding only a read-write flag might not be enough. We'll need to set the truncate flag also.

[2019-09-16 13:06] jarifibrahim commented on #1026
Hi @rebootcode. The issue needs some more information. Please add sample code/error messages.

[2019-09-16 15:28] kshitij10496 commented on #1025
Sorry, I was occupied with some stuff so couldn't reach back earlier. 😅

If I understand correctly from the [documentation](https://godoc.org/github.com/dgraph-io/badger#Options.WithTruncate), the DB can only be opened in "truncate" mode, if its not in ReadOnly mode i.e. specifying read-only will override an explicit truncation.
Can we not use this fact to create a sensible default with just a sin

[2019-09-17 15:35] campoy opened #1040 "Should we be Key Value Storage API compatible?"
This is a request coming from @markmssd in https://github.com/dgraph-io/badger/issues/832#issuecomment-528868327.

Taking into account that Samsung has announced a new SSD compatible with [Key Value Storage API Specification](https://www.snia.org/tech_activities/standards/curr_standards/kvsapi) ([announcement](https://www.anandtech.com/show/14839/samsung-announces-standardscompliant-keyvalue-ssd-p

[2019-09-17 15:35] campoy commented on #832
This doesn't belong here, but it is really interesting!

I created #1040 to track this.

[2019-09-17 16:10] campoy commented on #909
I'd like to have an idea of how much work this entails.

Could you @manishrjain, or maybe @jarifibrahim, give an estimate?

[2019-09-17 16:11] campoy commented on #443
@balajijinnah is currently working on this in #1020 which has been LGTMed today.

The change should go into master soon and into the next release

[2019-09-17 16:30] campoy commented on #938
Yes, that's what I meant.
Thanks for the extra info, @mjgarton.

@jarifibrahim, please have a look and see whether there's any improvements we can make and how you can guide Martin with his implementation

[2019-09-17 16:47] campoy commented on #985
Hey @jarifibrahim , can you have a look at this?

Does it makes sense to you? I"m not sure I follow what it's being requested.

[2019-09-17 16:48] campoy commented on #984
We're definitely open to contributions here!
Anyone with the skills and interest to implement this?

[2019-09-17 16:56] KBassford commented on #985
It's pretty basic, if you want to change "WithTableLoadingMode" or "WithValueLogLoadingMode", then you have to cast your value as a "val.(bdoptions.FileLoadingMode)".  Pretty senseless to force a user to cast their value with an unexported enum.

BTW, your latest updates broke "WithBlockSize", "WithBloomFalsePositive" and "ChecksumVerificationMode", though I can't see where they broke from the mas

[2019-09-17 16:59] jarifibrahim commented on #985
@KBassford What do you mean by `latest update broke them`?

[2019-09-17 17:00] KBassford commented on #985
Exactly as stated.  Would not compile, had to comment them out in my code.

[2019-09-17 17:03] jarifibrahim commented on #985
Interesting. Could you give me some more information about this @KBassford ? The CI build seems to be working fine so I guess the failure could be because of something in your code.

[2019-09-17 17:03] KBassford commented on #985
Maybe this will make it a bit clearer ...
""""
func ConfigureDatabase(path string, options map[string]interface{}) bool {
	if len(path) == 0 {
		loglib.Notify(severity.Err, "ConfigureDatabase called without path!")
		return false
	}
	badgerCfg = badger.DefaultOptions(path)
	if len(options) == 0 {
		return true
	}
	for key, val := range options {
		// For those unexported types
		switch key {
		cas

[2019-09-17 17:04] KBassford commented on #985
Dang I hate when it drops the tabs.

[2019-09-17 17:09] KBassford commented on #985
From my Gopkg.toml ...
 name = "github.com/dgraph-io/badger"
 version = "1.6.0"

[2019-09-17 17:12] markmssd commented on #1040
Thank you! Glad to see it taken into consideration 😄

[2019-09-17 20:13] yangzh-deepmap opened #1041 "When will badger v2.0 be released?"
### What version of Go are you using (`go version`)?

### What version of Badger are you using?
N/A

### Does this issue reproduce with the latest master?

### What are the hardware specifications of the machine (RAM, OS, Disk)?

### What did you do?

### What did you expect to see?

badger v2.0 release pretty soon.

### What did you see instead?
v2.0 has been pending for 2+ months, and we are blo

[2019-09-17 21:59] manishrjain commented on #1041
I think we should now be ready for a v2.0 cut. Both Encryption and Compression are almost done features.

[2019-09-17 22:37] manishrjain commented on #832
@campoy : Can you clarify what the issue is? I'm not sure what disk usage issues are you seeing with key-only datasets. Setting value to nil should already be allowed by Badger.

[2019-09-17 22:39] manishrjain commented on #738
The purpose of this issue is still unclear to me. Value logs get created, because they are WAL. But, they should get GCed easily if the values are below options.ValueThreshold.

[2019-09-18 00:25] alecthomas commented on #738
I no longer use Badger, but IIRC the file listing at the top of this issue was after a compaction. I filed the issue because I would expect the vlogs to be completely empty, but they weren't. @campoy 's summary is accurate.

Feel free to close this issue.

[2019-09-18 09:40] #938 closed

[2019-09-18 10:02] jarifibrahim commented on #1026
Closing issue because of inactivity.

[2019-09-18 10:02] #1026 closed

[2019-09-18 10:04] jarifibrahim commented on #1003
The stale values were because I intentionally crashed the DB. I don't think it's an actual issue.

[2019-09-18 10:04] #1003 closed

[2019-09-18 10:07] jarifibrahim commented on #995
Thanks @markadev. Since this issue is no longer reproducible on 1.6.0 I'm going to close this issue.

[2019-09-18 10:07] #995 closed

[2019-09-18 10:09] jarifibrahim commented on #988
@ehsannm Feel free to send a PR for this.

[2019-09-18 10:10] jarifibrahim commented on #970
This issue has been fixed via https://github.com/dgraph-io/badger/pull/976 .

@abrosimov Please try running latest badger.

[2019-09-18 10:10] #970 closed

[2019-09-18 10:48] jarifibrahim opened #1044 "TeamCity should fail on compilation errors"
The following build succeeded even where there were compilation errors. https://teamcity.dgraph.io/viewLog.html?buildId=24566&buildTypeId=Badger_UnitTests&tab=buildLog#_state=110

[2019-09-18 10:48] jarifibrahim commented on #1044
@danielmai Please look into this.

[2019-09-18 15:18] tony2001 commented on #1032
Any news on this? Deadlock (or endless cycle) looks fairly critical to me

[2019-09-18 16:00] ehsannm commented on #988
@jarifibrahim I created a pull request #1046

[2019-09-18 22:53] yangzh-deepmap commented on #1041
Thanks, and looking forward to official v2.0 release!

way to go, team!

[2019-09-18 22:53] #1041 closed

[2019-09-19 09:22] #1025 closed

[2019-09-19 13:14] PaluMacil commented on #1041
Thanks both of you for the question and answer! I keep checking the releases page every couple days since the blog post seemed to indicate it would be sooner but it makes sense that this was an extraordinarily busy last two months from everything the company has been working on! 😁 Congrats on everything. Looking forward to more

[2019-09-19 21:51] danielmai commented on #1044
Fixed by adjusting the TeamCity config for Badger. Compilation errors now fail the build: https://teamcity.dgraph.io/viewLog.html?buildId=24807&tab=buildLog&_focus=327#_state=327

[2019-09-19 21:51] #1044 closed

[2019-09-20 13:46] roganov opened #1047 "Panic when flushing StreamWriter"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13 darwin/amd64
</pre>

### What version of Badger are you using?
Tried both 1.6.0 and master

### Does this issue reproduce with the latest master?
Yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
MacBook Pro 2016 (16GB/Darwin/SSD)

### What did you do?

I'm streaming around 45_000

[2019-09-20 14:30] jarifibrahim opened #1048 "Bank test fails but teamcity shows status as success"
See build https://teamcity.dgraph.io/viewLog.html?buildId=24863&buildTypeId=Badger_BankTest&tab=buildLog&branch_Badger=%3Cdefault%3E#_state=1015

The bank test crashed but team city reported success.

[2019-09-20 14:30] jarifibrahim commented on #1048
@danielmai Please look into asap.

[2019-09-20 22:19] danielmai commented on #1048
Yikes. This is now fixed by setting `set -o pipefail` as bash options for test runner.

[2019-09-20 22:19] #1048 closed

[2019-09-22 11:06] nordicdyno opened #1049 "Badger open data directory without any error with vlog file what contains broken value data"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.13
</pre>

### What version of Badger are you using?

* v1.6
* v2.0.0-rc2

### Does this issue reproduce with the latest master?

yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?

MacBook Pro (15-inch, 2018), 2,2 GHz i7, 16Gb, APPLE SSD AP0256M

### What did you do?

I've spoiled data in vlog fi

[2019-09-23 06:06] balajijinnah commented on #1032
@tony2001 we found the issue. we're working on the fix. Will update you after it gets merged. :)

[2019-09-23 12:40] jarifibrahim commented on #1049
@nordicdyno The test you're referring to corrupts a bit in the middle of the file. This is an unlikely scenario. AFAIK, a file cannot be corrupted in the middle. It can be corrupted only from the end.

If the corruption was at the end, badger would've recognized it. We perform checksum verification of the entries in vlog after a specific point (called as `head` point).

[2019-09-23 12:41] jarifibrahim commented on #1047
Hey @roganov, do have steps to reproduce this? Looks like you had tables which weren't sorted.

[2019-09-23 12:59] jarifibrahim commented on #985
I don't think I understand the issue.
[code]
can't you do this?

[2019-09-23 13:10] KBassford commented on #985
Not unless you do this under imports...
[code]
and change "options" to "bdoptions" because you didn't make "options" enums exportable, only the functions are exported (using: 	badger "github.com/dgraph-io/badger", also under imports).

[2019-09-23 13:13] KBassford commented on #985
Trying a more readable version of the code, with includes ...
[code]

[2019-09-23 15:03] nordicdyno commented on #1049
I disagree. It's very likely scenario if we speak about disk corruption after badger stop*. I don't see any reason why it could NOT happen. And problem is what we never know about it as badger users.

 _* I don't want to speak about probability here, but real world could be a messy place_

[2019-09-24 08:16] roganov commented on #1047
@jarifibrahim I'll try to create a small repro. What do you mean by "you had tables which weren't sorted"? The DB didn't exist before streaming data via StreamWriter.

[2019-09-24 09:17] jarifibrahim commented on #1047
The error you've posted shows that the tables on level 1 weren't sorted. On level 1,
the biggest of table 0 (`64448ca4-7175-4554-841f-c671addd4a9d........`) is **bigger** than
the smallest of table 1 (`00000187-c4f9-462d-93ac-0883b6caa7d2........`).
This shouldn't happen.

[2019-09-24 12:22] nordicdyno commented on #1049
Why not just add checksum for every item in vlog and checking it against replayed values on start? (or smth like that)

[2019-09-24 14:55] jarifibrahim commented on #1049
This should be fixed by https://github.com/dgraph-io/badger/pull/1052 .

Thanks for writing a test @nordicdyno :)

[2019-09-25 08:43] wangleiin opened #1053 "A suggestion of SST compaction for better space reclaim."
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.11.4 linux/amd64
</pre>

### What version of Badger are you using?
v1.6

### Does this issue reproduce with the latest master?
Yes

Recently I saw a increasing memory usage as well as data accumulation of WAL in dgraph raft progress. Then I export KVs  and find most of which are deleted records. As dgraph raft

[2019-09-25 09:05] afiskon commented on #1049
For the record - this might be not a problem if the data  is corrupted before the checkpoint (meaning the record that means that everything before it was synced to the disk), e.g. the record will not be used anyway during the recovery process after the restart. If the vlog entry is used during the recovery then I agree with @nordicdyno it's checksum should be checked.

While working on PostgreSQL

[2019-09-25 15:04] #990 closed

[2019-09-25 16:04] #969 closed

[2019-09-25 19:20] markmssd commented on #1040
Dropping their official document where they compare RocksDB performance on their KV SSD https://www.samsung.com/semiconductor/global.semi.static/Samsung_Key_Value_SSD_enables_High_Performance_Scaling-0.pdf

[2019-09-28 02:32] thachvan commented on #556
Logger of Badger now can be disabled:
[code]

[2019-09-28 05:32] anacrolix commented on #663
Any plans for this now that Ristretto is released?

[2019-09-28 21:18] AkbaraliShaikh opened #1057 "Badget multiple goroutines Panic"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go1.12.7
</pre>

### What version of Badger are you using?
latest

### Does this issue reproduce with the latest master?
maybe

### What are the hardware specifications of the machine (RAM, OS, Disk)?
16GB RAM, Ubuntu 19.04 and SSD

### What did you do?

[code]

### What did you expect to see?
test passed

### What did you se

[2019-09-29 10:04] #1002 closed

[2019-09-30 07:28] jarifibrahim commented on #1057
@AkbaraliShaikh The code sample uses the same transaction across multiple goroutines, is there a reason for doing that?
Using the same transaction across multiple goroutines will panic because transactions aren't thread-safe.

[2019-09-30 07:37] jarifibrahim commented on #1057
@AkbaraliShaikh Your code is using the same transaction accross multiple go routines. The following changes seem to work.
[code]

[2019-09-30 07:37] #1057 closed

[2019-09-30 09:29] jarifibrahim commented on #1049
Even if the record before the checkpoint (`head`) is corrupted, we'll have the same problem.
The record might not be replayed, but if the value is stored in the vlog then the user might get corrupted data. Badger stores the value in either the SST or the value log depending upon the value of `ValueThreshold` https://github.com/dgraph-io/badger/blob/64eb1dfea763090885bd6468f0ec75a6ca31aec1/options.

[2019-09-30 11:30] #792 closed

[2019-09-30 13:14] AkbaraliShaikh commented on #1057
@jarifibrahim then how can I do a bunch of insert in a single transaction?

[2019-09-30 13:16] AkbaraliShaikh commented on #1057
@jarifibrahim  same thing I have tested with PostgresSQL, I'm able to do it.

The way you are suggesting can cerate huge transactions and slow, Let me know what is the best way to insert/update bunch of statements in single transaction?

The library should not panic, instead should throw error I belive.

[2019-09-30 13:20] jgoodall commented on #926
Similar to @williamsandytoes - same problem with dgraph 1.0.17. Is there any way to recover data?

[2019-09-30 13:54] jarifibrahim commented on #1057
@AkbaraliShaikh `WriteBatch` should work https://github.com/dgraph-io/badger#my-writes-are-really-slow-why

https://github.com/dgraph-io/badger/blob/e7d0a7b722ef7351aad3dd5b5ba70f147497e309/batch.go#L40

[2019-09-30 14:01] AkbaraliShaikh commented on #1057
@jarifibrahim let me try this.

[2019-09-30 14:47] cedricfung commented on #926
In `value.go`, make the `populateDiscardStats()` do nothing.

[code]

[2019-09-30 18:27] adamstruck opened #1058 "Panic during WriteBatch"
### What version of Go are you using (`go version`)?

<pre>
go version go1.12.7 linux/amd64
</pre>

### What version of Badger are you using?

https://github.com/dgraph-io/badger/tree/v2.0.0-rc3

### Does this issue reproduce with the latest master?

### What are the hardware specifications of the machine (RAM, OS, Disk)?

Ubuntu 18.04.2 LTS (GNU/Linux 4.15.0-45-generic x86_64)
1.5 TB RAM
2.5 TB S

[2019-10-01 04:49] jarifibrahim commented on #1058
@adamstruck Do you have any more badger logs?

[2019-10-01 18:38] jarifibrahim commented on #1058
@adamstruck Yes, that would be helpful.
It would also be useful if you can give me steps to run https://github.com/bmeg/grip and reproduce the error.

[2019-10-01 21:48] thomashargrove commented on #932
Here is the mock we built for the subset of the API we use:

https://github.com/salesforce/sloop/tree/master/pkg/sloop/store/untyped/badgerwrap

It contains a fake in-memory implementation in mock.go and pass-through in badger.go.  This helps us in making fast self-contained unit tests for code that works on badger transactions.

Also, if anyone is interested in a visual tool to debug historic iss

[2019-10-02 15:40] adamstruck commented on #1058
[Here](https://gist.github.com/adamstruck/772bd87f70384708f762a3a882300e08) is a snippet of the process again with debug level logging. Logs from badger contain `"namespace": "badger"`.

I am beginning to think our loader script is using WriteBatch  incorrectly. A single WriteBatch transaction is being opened for loading the entirety of the database.

I tried to replicate the error with [this scri

[2019-10-02 23:24] #1008 closed

[2019-10-03 10:47] jarifibrahim opened #1062 "Write batch crash with OOM error"
### What version of Badger are you using?
Master

### Does this issue reproduce with the latest master?
Yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
N/A

### What did you do?
[code]
### What did you expect to see?
I expected the program to run without any errors.

### What did you see instead?
The program crashed with out of memory error.

[2019-10-03 13:47] jarifibrahim commented on #1062
There are two reasons for the OOM crash
1. OOM error when writing data to value log file.
We create a new bytes.buffer for every call to writeRequests. Since there are multiple big request calls, we allocate a lot of memory for each request call and go runtime doesn't free up this memory soon. Eventually, badger crashes with OOM error
https://github.com/dgraph-io/badger/blob/b20e8b6e8b742236f4a88f

[2019-10-03 13:58] jarifibrahim commented on #1062
There are two reasons for the OOM crash
1. OOM error when writing data to value log file.
We create a new bytes.buffer for every call to writeRequests. Since there are multiple big request calls, we allocate a lot of memory for each request call and go runtime doesn't free up this memory soon. Eventually, badger crashes with OOM error
https://github.com/dgraph-io/badger/blob/b20e8b6e8b742236f4a88f

[2019-10-03 13:58] jarifibrahim commented on #1058
@adamstruck You program crashed with Out of Memory error because you were unnecessarily creating too many byte slices. With the following changes, write batch works fine
[code]

Also, please change the `MaxTableSize` to at least 110 MB. The `wb.Flush()` call might crash if you set the max table size to less than 110 MB.

[2019-10-04 02:29] AgentZombie opened #1063 "Backup/Restore v1.5.5 -> v2.0.0 fails with"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13 linux/amd64
</pre>

### What version of Badger are you using?
v1.5.5, v1.6.0, v2.0.0

### Does this issue reproduce with the latest master?
Yes (ish)

### What are the hardware specifications of the machine (RAM, OS, Disk)?
x86-64

### What did you do?
Trying to use the instructions [here](https://github.com

[2019-10-04 09:30] #1049 closed

[2019-10-04 18:45] manishrjain opened #1068 "Separate Value Log from WAL"
The idea is to only use Value Log when the value length exceeds the ValueThreshold. For all other values, we use the WAL, which can be discarded much more readily, without invoking a Value Log GC.

[2019-10-04 18:46] manishrjain commented on #738
We have an issue which would provide a separate WAL for values which are smaller than the threshold. That should also help here. #1068 .

[2019-10-04 18:46] #738 closed

[2019-10-07 19:47] nonpcnpc opened #1071 "handling of sequences"
I need to key all incoming messages sequantially, essentially having a uint64 primary key. I wonder if it is ok to simply keep the last sequence in a variable like vars/_seq = 123 and just have data as seq/{sequence} = value while using transactions, or if the db.GetSequence() handles this on its own(ie. single consecutive list of ids, **persisted in badger on its own**) that can continue on next

[2019-10-08 08:36] cobolbaby opened #1072 "How to support Windows XP/2003"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.11.12 linux/amd64
</pre>

### What version of Badger are you using?

v1.6.0

### Does this issue reproduce with the latest master?

### What are the hardware specifications of the machine (RAM, OS, Disk)?

Windows XP/2003

### What did you do?

[code]

### What did you see instead?

[code]

[2019-10-08 08:38] cobolbaby commented on #1072
The same problem: https://discuss.dgraph.io/t/issue-running-badger-on-windows-mapviewoffile/2492

[2019-10-08 08:53] nonpcnpc opened #1073 "Synchronizing master->slave"
I have an append-only database and I want to split it into single master for writes and multiple slaves for reads. I have looked at the streams but I fail to see how to communicate to the slave the newest records so it knows it is healthy and can server or if it needs to catch up before signaling it is healthy. I can do this with manual logic but I was wondering if there is a way to do this with t

[2019-10-09 04:57] jarifibrahim commented on #1072
@cobolbaby Is there a reason for using Windows XP/2003?

[2019-10-09 05:51] cobolbaby commented on #1072
In many factories, some client operating environments are XP/2003.

[2019-10-09 06:42] cobolbaby commented on #1072
@jarifibrahim

[2019-10-09 12:46] jarifibrahim commented on #1071
@nonpcnpc https://github.com/dgraph-io/badger#monotonically-increasing-integers can be used to generate.
The `db.Sequence` leases `bandwidth` numbers from badger but

[2019-10-09 13:08] jarifibrahim commented on #1072
@cobolbaby I'm not sure why it's failing for you. The failure might be related to windows XP/2003.
Can you try to run badger on a different directory and see if that works?
Can you also try running latest version of badger? I fixed a bunch of issues with badger on windows in  https://github.com/dgraph-io/badger/commit/cbdef65095c7c34544963f31eb1f7867c49d6725

It will be tough for me to reproduce t

[2019-10-09 13:13] jarifibrahim commented on #1063
Thanks @AgentZombie, this is indeed an issue with documentation. I didn't realize we had changed the backup format between v1.5.5 and v1.6.0.

[2019-10-09 13:38] jarifibrahim opened #1075 "Add missing documentation about the Subscribe API"
The subscribe API
https://github.com/dgraph-io/badger/blob/f50343ff404d8198df6dc83755ec2eab863d5ff2/db.go#L1510-L1516

was added in badger via https://github.com/dgraph-io/badger/commit/26128a761d2639840a238a54d812c1a386ae4fa0 but there is no documentation about it. We should also have an example of how to use the Subscribe API.

https://github.com/dgraph-io/badger/blob/f50343ff404d8198df6dc83755e

[2019-10-09 13:38] jarifibrahim commented on #1075
cc @balajijinnah

[2019-10-09 13:41] jarifibrahim commented on #1073
@nonpcnpc You could try using the `Subscribe` API for this https://github.com/dgraph-io/badger/blob/f50343ff404d8198df6dc83755ec2eab863d5ff2/db.go#L1510-L1516

Here's an example of how to use it https://github.com/dgraph-io/badger/blob/f50343ff404d8198df6dc83755ec2eab863d5ff2/db_test.go#L1939-L2002

You can add replication logic in the callback passed to the subscribe API which would allow you to

[2019-10-09 15:04] #1063 closed

[2019-10-09 16:45] nonpcnpc commented on #1073
the subscribe() is a local method, external instance has no access to it so i fail to see how is that relevant to my question.
as for replication, that's what the streams are for, as I mentioned, so I fail to see what you're getting at with this 🤷🏻‍♂️

[2019-10-09 17:51] fpessolano commented on #740
Sorry to reopen this case, but on a product database we had an hard crash (electrricity went out) and we lost data. Truncate is true and syncwrite are botjh true, how can we prevent this from happening again?
Thanks

PS: as this is deployed we have to stick to version 1.5.5

[2019-10-09 18:05] fpessolano opened #1076 "Data lost on fatal crash (electricity loss)"
### What version of Go are you using (`go version`)?
1.13

### What version of Badger are you using?
1.5.3

### Does this issue reproduce with the latest master?
I cannot move to a API breaking version since the database is deployed

### What are the hardware specifications of the machine (RAM, OS, Disk)?
Arch Linux server, Intel x86 arhcitecture

### What did you do?
Badger data was lost due to l

[2019-10-09 18:46] fpessolano commented on #1076
These are my currention options, what should change in order to prevent data loss due to such a crash.

0: Dir string = dbs/current
1: ValueDir string = dbs/current
2: SyncWrites bool = true
3: TableLoadingMode options.FileLoadingMode = 1
4: ValueLogLoadingMode options.FileLoadingMode = 2
5: NumVersionsToKeep int = 1
6: MaxTableSize int64 = 67108864
7: LevelSizeMultiplier int = 10
8: MaxLevels int

[2019-10-09 18:48] manishrjain commented on #740
It used to be the default, but we heard a complain from IPFS folks. They wanted to have an option to not truncate and get involved manually.

Shouldn't be the case for any write which has executed successfully. Unless the disk itself got corrupted?

[2019-10-09 19:21] fpessolano commented on #740
I opened a new issue with all the settings i use, just in case. We are exploring if the client disk got corrupted as well.
Just in case

[2019-10-10 10:11] #1062 closed

[2019-10-11 07:31] cobolbaby commented on #1072
- Can you try to run badger on a different directory and see if that works?

It doesn't work after I switch to different directories.

- Can you also try running latest version of badger? I fixed a bunch of issues with badger on windows in `cbdef65`

When I used the latest version, there was a compilation problem. Maybe I need to set the `WithValueLogLoadingMode` to `options.FileIO` to circumvent

[2019-10-11 09:04] nonpcnpc opened #1077 "Conflicting transactions"
I wrote a small script to test transactions in Badger where I spin up 1000 goroutines, each running 1000 transactions with 100 values, and I am getting transaction conflict for every single one of them.

Which makes me think that Badger does not really support non-blocking transactions?

Also, does that mean that in order to process many transactions I would have to have a centralized batching pro

[2019-10-14 01:01] Stebalien opened #1079 "The log picking logic in RunValueLogGC is funky"
### What version of Badger are you using?

### Does this issue reproduce with the latest master?

Yes.

### Description

This function is supposed to pick the best log to garbage collect. However:

1. It _claims_ to pick a random log when it can't find a good candidate in the discard stats. However, this is incorrect. It _always_ picks a random candidate, even if it finds a candidate in the discar

[2019-10-14 01:41] manishrjain commented on #1079
It picks one from the discard stats and one randomly. It would then first try to garbage collect on the discard starts pick. And only if that does not result in any collection, it would move to the random selection.

[2019-10-14 01:42] manishrjain commented on #1077
There is a batch write option you can use.

[2019-10-14 01:43] manishrjain commented on #1076
Can you elaborate more with some logs from badger. Or perhaps, if you have the directory, you could privately share it with us.

[2019-10-14 03:09] Stebalien commented on #1079
Ah, thanks! That makes sense.

If you don't mind my asking, why does it pick a random log? Is it possible for the discard stats to be wrong?

[2019-10-14 07:21] cobolbaby commented on #1072
@jarifibrahim

[2019-10-14 08:42] nonpcnpc commented on #1077
The issue with it is that it does not allow me to read AI primary key:
`Note that WriteBatch API does not allow any reads. For read-modify-write workloads, you should be using the Transaction API.`

[2019-10-14 09:08] jarifibrahim commented on #1072
@cobolbaby The `github.com/DataDog/zstd` requires `cgo`. Your makefile sets `CGO_ENABLED=0` which means `DataDog/zstd` won't compile.
[code]
from https://github.com/cobolbaby/log-agent/blob/71f7f9fb2219c802fffd4f21619a3aecd885f3c3/Makefile#L15-L16

File I/O mode should not affect compilation. You can set the table loading to `LoadToRam` and you can set value log file loading mode to `FileIO`. Plea

[2019-10-14 09:23] jarifibrahim commented on #1073
The subscribe function accepts a callback that can be used to do something with the updates. You could post the updates to an endpoint or a file and push the updates on a new badger instance. Isn't that what you're looking for?

Streams would help you stream data (not updates). The stream framework doesn't know anything about the updates happening in the system. For that, we have ths subscribe API

[2019-10-14 11:01] nonpcnpc commented on #1073
OK, I get what you are trying to say. But I think you have missed the main point of my question:

In other words, with the built-in methods(whether streams or updates) I have no way of telling the slave that it is up-to-date with the master and can server reliable not out-of-date data to the clients.

Hence, I was looking into writing a manual syncer that would keep track of the last primary key(o

[2019-10-14 12:14] #1079 closed

[2019-10-14 17:18] yangzh commented on #1041
Hey, badger:

It has been almost one month, and if there any progress on this issue? thanks.

[2019-10-15 00:11] akhenakh opened #1081 "master can't compile without CGO_ENABLED=1 (zstd)"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.1 darwin/amd64

</pre>

### What version of Badger are you using?
master v1.6.1-0.20191012010444-dbe1cb90c815

### Does this issue reproduce with the latest master?
yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
macbook pro

### What did you do?
updated badger from 1.6.0 to mas

[2019-10-15 02:15] cobolbaby commented on #1072
The largest size is less than 1G

[2019-10-15 02:36] cobolbaby commented on #1072
@jarifibrahim
From: https://github.com/dgraph-io/badger#comparisons

Is `zstd` a strong dependency? I haven't found any exception when I don't package the library. Under what circumstances will it be used?

For the current biz, the largest size is less than 1G.

[2019-10-15 04:19] cobolbaby commented on #1072
And when I'm trying to cross compile from linux to windows 64/32, the following error has occurred
[code]
Is there any solution?

[2019-10-15 08:22] jarifibrahim commented on #1081
@akhenakh Its by choice. ZSTD requires CGO. I'll update the README to reflect this https://github.com/dgraph-io/badger/#comparisons .

[2019-10-15 08:22] #1081 closed

[2019-10-15 12:08] akhenakh commented on #1081
FIY Sarama just replaced datadog/ztsd by https://github.com/klauspost/compress

Not being full native is a huge change, a stopper for some, especially for a library ...

[2019-10-15 18:39] Think7 opened #1083 "Compressing k/v pairs under 1KB."
Greetings,

I'm trying to improve the compression ratio of data store in BadgerDB log. According to the below blog post, only data pairs which exceed 1KB are actually compressed and that this threshold can be adjusted by the user.

https://blog.dgraph.io/post/badger/

`To deal with this, Badger does two things. It allows compressing values in value log. Instead of compressing multiple key-values t

[2019-10-16 10:38] #1032 closed

[2019-10-16 11:41] ashish-goswami commented on #1032
@tony2001 I have merged fix in `master`, please verify if change fixes the deadlock.

[2019-10-16 12:00] jarifibrahim commented on #1083
Hey @Think7, I think the key-value compression was removed in https://github.com/dgraph-io/badger/commit/ec0f11d0de3502e422abdad7665cb49dc762c291 . We don't support single key-value compression anymore.

[2019-10-16 12:00] #1083 closed

[2019-10-16 12:02] Think7 commented on #1083
Understood. Is there some way to reduce the size of the log files / database as a whole?

[2019-10-16 12:54] jarifibrahim commented on #1083
We recently added compression to badger. That should reduce the SST file sizes. You can also run `garbage collection` periodically. That will clean up some old value log files.

[2019-10-16 12:56] cstlaurent commented on #1072
Golang itself do not support XP/2003 for 1.11+, so I'm not sure there is anything we can do here. See https://github.com/golang/go/wiki/MinimumRequirements

[2019-10-16 14:08] cobolbaby commented on #1072
@cstlaurent After testing, we found that Go 1.11 also supports XP/2003. The go.mod above is not accurate.

[2019-10-16 19:01] #1030 closed

[2019-10-17 01:38] cobolbaby commented on #1072
@cstlaurent Even if I downgrade to version 1.10, the `MapViewOfFile` error would be reported.

[2019-10-17 08:03] chengjing1181122598 opened #1084 "Why on linux slower than on win10?"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.13
</pre>

### What version of Badger are you using?
v1.6.0

### Does this issue reproduce with the latest master?
yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
win10 : i5-7500, 16G RAM, SSD
linux : Intel(R) Xeon(R) CPU E5-2637 v3 @ 3.50GHz, 64G RAM, SSD
### What did you do?
	db, err := badge

[2019-10-17 13:58] jarifibrahim opened #1087 "ExampleDB_Subscribe test is flaky"
The test `ExampleDB_Subscribe` https://github.com/dgraph-io/badger/blob/00039ea84781c1c5a219dd22a2e420d082bf4f0f/db_test.go#L1904-L1963
doesn't always work. See https://ci.appveyor.com/project/manishrjain/badger/builds/28179570 for failure.
[code]

[2019-10-19 06:31] ehsannm commented on #988
@jarifibrahim is anything else i need to do ?

[2019-10-21 10:11] amurchick commented on #1081
I am understand correctly - the badger will now never can be build without CGO?

Or is there a plan to return the build without a CGO?

[2019-10-21 17:30] asdine opened #1093 "Multiple iterators in read-write transactions"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13 darwin/amd64
</pre>

### What version of Badger are you using?
v1.6.0

### Does this issue reproduce with the latest master?
Yes

_I'm opening a new issue because the existing ones are all closed for different reasons, please let me know if you prefer to move the conversation elsewhere._

There is currently

[2019-10-22 15:37] jarifibrahim commented on #1081
@akhenakh @amurchick  https://github.com/klauspost/compress is not in stable state https://github.com/klauspost/compress/tree/master/zstd#status . We might switch to  https://github.com/klauspost/compress once it is more stable.

No. CGO will be optional once https://github.com/dgraph-io/badger/pull/1094 is merged. Badger can be build with or without CGO.

[2019-10-22 22:04] campoy opened #1096 "checkptr issue found"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version devel +7d891d5e4d Tue Oct 22 21:23:03 2019 +0000 linux/amd64
</pre>

### What version of Badger are you using?

Tip (be6402f83d3126230c7fc51543abe7c691e94ed6)

### Does this issue reproduce with the latest master?

Yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?

Linux, N/A

### What d

[2019-10-23 19:47] jarifibrahim commented on #1032
Hey @tony2001 did you get a chance to try fix?

[2019-10-24 18:25] #810 closed

[2019-10-24 18:25] #864 closed

[2019-10-25 10:53] jarifibrahim commented on #1096
The following test also fails
[code]

In both the failures, we're copying over data from slice into a struct and we might run into issues if they are not aligned properly.

[2019-10-25 13:35] jarifibrahim opened #1100 "Race condition in replay and flush memtables"
The   `TestGCL0Bug` test https://github.com/dgraph-io/badger/blob/48934e9df8b06ff8a98f047b653a2258f90b7301/db2_test.go#L593
shows there is a race condition between replay and flush memtable. The test
creates a badger DB with the following options
[code]
As a result of this, when the DB crashes (which is done intentionally) there are too many value log files to replay. This leads to the following s

[2019-10-25 14:14] tony2001 commented on #1032
Unfortunately, no. We've solved the task with a different storage engine, so I'll have to implement a synthetic test to try it.

[2019-10-25 18:08] #1100 closed

[2019-10-29 05:44] aschmahmann commented on #1084
I was able to reproduce this as well. The problem seems to be related the way sync writes are handled in linux.

Running this on an HDD takes ~6 seconds on an HDD in Windows 10 + NTFS, and takes a very long time on the same HDD with Ubuntu 19.10 + ext4 (I'm at 10 minutes now, but gave up).

However, if I change the badger options to include `SyncWrites=false` then it takes ~6 seconds on Linux. The

[2019-10-29 10:25] zanicar opened #1104 "Pure Go? Requires gcc for zstd"
Utilizing badger master branch as of 2019-10-29

For BadgerDB to be classified as Pure Go the dependency on zstd should be removed, or optional, as it requires gcc to build. Systems with pure Go installations are not able to install or build when including "github.com/dgraph-io/badger" as a result of this dependency. I only noticed this when operating in my Windows (pure Go) environment that, unli

[2019-10-29 10:44] jarifibrahim commented on #1104
ZSTD/CGO is optional. You can disable it via `CGO_ENABLED=0` flag. See https://github.com/dgraph-io/badger/pull/1094.

[2019-10-29 10:48] jarifibrahim commented on #1084
@aschmahmann `syncWrites=false` would speed up writes because the file is no longer opened in `sync` mode. Writes in sync mode are expensive. But the issue here seems to be that writes in linux are much slower on HDD compared to windows.

I'll try to verify this against windows and Linux. Thanks for reporting!

[2019-10-29 12:33] jarifibrahim commented on #1104
From https://github.com/dgraph-io/badger/pull/1094#issuecomment-547373672

@zanicar You can do `go get -d ...` for now to get around the issue. I'll work on fixing this.
Thanks for reporting :+1:

[2019-10-30 13:49] #985 closed

[2019-10-30 13:54] jarifibrahim commented on #1084
It looks like writes are actually much faster on windows. The write syscall takes up 26% of the time on Linux while it takes only 9.8% on windows.

![prof_windows](https://user-images.githubusercontent.com/12949454/67863697-627cab80-fb4a-11e9-96de-ded9e0b00217.png)
CPU profile on Windows

![cpu_linux](https://user-images.githubusercontent.com/12949454/67863755-7e804d00-fb4a-11e9-9586-b1759bf3e7f6.

[2019-10-30 14:46] aschmahmann commented on #1084
@jarifibrahim is it possible that there are semantic sync flag differences between Linux and Windows here? From my cursory look following the Go Windows write code it looks like the sync flag might be totally ignored, haven't had a chance to look at the Linux Go code yet.

[2019-11-01 20:36] #1040 closed

[2019-11-04 06:27] darionyaphet opened #1106 "Unresolved reference `Open` and `DefaultOptions`"
### What version of Go are you using (`go version`)?

<pre>
$ go version

`go version go1.13.3 darwin/amd64`

</pre>

### What version of Badger are you using?

Check source code from github

When I try the get start

`db, err := badger.Open(badger.DefaultOptions("/tmp/badger"))`

can't resolved reference `Open` and `DefaultOptions`

and report

[code]

[2019-11-04 06:36] vmihailenco commented on #1104
Sorry to interfere, but what is the plan regarding ZSTD? Will it be removed completely or supported optionally?

Some options:
- https://github.com/valyala/gozstd which comes with pre-compiled ZSTD
- https://github.com/klauspost/compress/tree/master/zstd - pure Go variant with beta status

[2019-11-04 08:57] jarifibrahim commented on #1106
@darionyaphet does running `go get -v ` in badger directory help? It should pull all the dependencies.

[2019-11-04 21:15] aschmahmann commented on #1084
It looks like the issue is related to https://github.com/golang/go/issues/34681 (see https://github.com/golang/go/issues/34681#issuecomment-538177394 for confirmation about O_SYNC).

Until Golang decides to support Windows `CreateFile` flags in `Open` as it does Unix flags that we may need to copy-paste the `Open` function call and modify it to support O_SYNC.

What do you think @jarifibrahim ?

[2019-11-05 05:51] darionyaphet commented on #1106
It doesn't seem to work ...

[2019-11-06 07:34] jarifibrahim commented on #1106
@darionyaphet Can you show me the output of `go get -v`? By default badger requires `gcc` to build the `zstd` library. If you don't have gcc, `go get -v` would fail. You can do `CGO_ENABLED=0 go get -v` to pull badger without ZSTD.

[2019-11-08 09:35] jarifibrahim commented on #1058
hey @adamstruck can you help me with the steps to run https://github.com/bmeg/grip so that I can reproduce the issue?

[2019-11-08 18:15] adamstruck commented on #1058
Build grip binary:
[code]

Download the data and manifest from: https://bmeg.io/data/rc4/

Make vertex manifest:

[code]

Run the loader:
[code]

[2019-11-10 22:18] unknwon commented on #953
I'm seeing this error again with v2.0.0-rc4:

[code]

[2019-11-11 14:22] RobHumphris opened #1112 "Delete removes Keys but not data"
### What version of Go are you using (`go version`)?

<pre>
go version go1.12.10 linux/amd64
</pre>

### What version of Badger are you using?
<pre>
v1.5.4
</pre>

### Does this issue reproduce with the latest master?
Not sure

### What are the hardware specifications of the machine (RAM, OS, Disk)?
<pre>
Dell Edge 3001 Gateway
2GB RAM, Ubuntu 18.04, 8GB eMMC
</pre>

### What did you do?
Deleted a

[2019-11-11 15:09] #1096 closed

[2019-11-12 10:21] sneko commented on #394
@pawanrawal did you do internal progress to debug Badger with any type of UI? Thanks

[2019-11-12 17:55] jarifibrahim commented on #1106
@darionyaphet Ping!

[2019-11-12 18:01] jarifibrahim commented on #1112
Hey @RobHumphris, badger has a write-ahead-log called `value log (.vlog files)`. When you perform the delete, the delete is also saved on to the disk. So the disk size is expected to increase on deleted.

Also, `RunValueLogGC(..)` might not always reclaim space. We perform sampling on value log file before we GC it. If the sampling doesn't find enough stale data, it might not delete it. You can ch

[2019-11-12 18:01] #1112 closed

[2019-11-12 18:14] RobHumphris commented on #1112
This is strange because I'd not seen the disk size grow. I'm using your system on an embedded gateway in an IoT project, so I have to free up space.

What would the correct way to deal with the space issue be?  If you can give me some pointers I'll write a section on deletion in the README.md file as its an area that may assist others,

[2019-11-12 19:25] jarifibrahim commented on #1112
You can try by reducing the `ValueLogFileSize` value. The smaller the size of the value log file, the better are the chances of finding stale data in sampling. https://github.com/dgraph-io/badger/blob/e68feb1d553aab9c5c9d44a47c901c1a934285a8/options.go#L399-L407

You should also reduce the value of `discard ratio `. `RunValueLogGC(0.7)` means GC the file only if `70%` of the data is stale. Try set

[2019-11-12 21:42] AgentZombie commented on #1001
I'm interested in this capability for the purpose of writing unit tests for code that uses badger and would like to avoid those tests depending on having access to write to the disk.

[2019-11-13 02:09] darionyaphet commented on #1106
Sorry for late reply.

[code]

[code]

[2019-11-13 10:12] jarifibrahim commented on #1104
gozstd also requires cgo/gcc. So it's no good than `datadog/zstd`.

The library is in beta state and it clearly says `there may still be subtle bugs, but a wide variety of content has been tested` https://github.com/klauspost/compress/tree/master/zstd#status

You can build/run badger without CGO/GCC by using the `CGO_ENABLED` flag. Please see https://github.com/dgraph-io/badger#note-badger-does-no

[2019-11-13 10:12] #1104 closed

[2019-11-13 10:35] jarifibrahim commented on #1106
Hey @darionyaphet this seems like some kind of misconfiguration on your side. I tried to reproduce this but didn't have any luck.

Here's what I tried.
1. `docker run -it golang:1.13 bash`
2. `go get github.com/dgraph-io/badger/...`
3. Create `main.go` with
[code]
and it worked fine.

@darionyaphet do you have a repository that I can look at?

[2019-11-13 11:11] jarifibrahim commented on #953
@unknwon I've raised a PR to fix this https://github.com/dgraph-io/badger/pull/1118

[2019-11-13 11:24] darionyaphet commented on #1106
I move it into a new repo seems could find `Open` and `DefaultOptions`

[code]

[2019-11-13 11:30] jarifibrahim commented on #1106
Do you have a `dataDog/zstd` directory inside `$GOPATH/pkg/mod/github.com/` path?

[2019-11-13 14:06] darionyaphet commented on #1106
No Should I download it ?

[2019-11-13 15:21] jarifibrahim commented on #1106
Yeah. Download it manually and see if it fixes your issue. Ideally, `go get github.com/dgraph-io/badger` should've downloaded `DataDog/ZSTD`.

[2019-11-13 16:15] darionyaphet commented on #1106
Nice ! It work well :)  But I meet another question.

[code]

[2019-11-13 18:21] jarifibrahim commented on #1073
Hey @nonpcnpc apologies for the delayed reply. I don't think we have anything in badger that would help you achieve this. We have streams that can help you replicate data and we have the subscribe API which can send updates. But I don't think either of these would help you achieve what you're looking for.

[2019-11-13 18:21] #1073 closed

[2019-11-14 05:41] unknwon commented on #953
Thanks @jarifibrahim!

[2019-11-14 05:45] jarifibrahim commented on #1106
Can you confirm if go mod is actually being used? The error shows you have an older version of ristretto. If go mod was being used, you should've got a newer version of ristretto.

You can do a `go get -v github.com/dgraph-io/ristretto` to fix this but I suggest you delete everything and start fresh. Ideally, all these dependencies should've been installed automatically.

[2019-11-14 06:04] darionyaphet commented on #1106
thanks a lot for your help. I have remove them and reinstall. It's useful and work well now.

[2019-11-14 06:36] jarifibrahim commented on #1106
@darionyaphet Badger does not have a c++ client. I found this [article](https://medium.com/learning-the-go-programming-language/calling-go-functions-from-other-languages-4c7d8bcc69bf) which says you can compile go code and use it in a C program. See if it helps.

[2019-11-14 06:36] #1106 closed

[2019-11-14 10:19] RobHumphris commented on #1112
I have set a smaller Log file size (`options.WithValueLogFileSize(1<<28 - 1)`), and discard ration of `0.001`
data/dir/ looked like
[code]
The output from badger showed:
[code]
But we've not reduced the file overhead at all
[code]
I must be missing something as other more heavy processing would be filling people's disks.

[2019-11-14 12:26] jarifibrahim commented on #1112
Hey @RobHumphris, your directory structure shows you don't have a lot of SSTs. We don't remove the data until it is written to SST files on the disk. You have only `4.4KB` of data in SST. So you can do two things to force the generation of more SSTs.
1. Set MaxTableSize to a smaller value which would mean you have multiple SSTs and the data would be pushed to the lower levels faster
https://github

[2019-11-14 13:52] jarifibrahim commented on #1058
Hey @adamstruck I'm getting forbidden error on https://bmeg.io/data/rc4/ctrp/ (or any other link). Is there any other way to download the data? I was able to download the manifest file.

[2019-11-14 19:53] sergebezborodov opened #1120 "Picking random key from badger"
Hi all!

We built our queue system based on Badger. Our main problem, for now, is picking a random item from queue (similar to SRAND  in redis)
How we do it now:
1. get keys count
2. generate rand number up to keys count
3. iterate over the keys to the random number.

Now the algorithm is looking to so well.
Is it exists another more optimized way to pick a random key?

thank you

[2019-11-15 09:15] jarifibrahim commented on #1120
Hey @sergebezborodov,

How do you get the key count? Do you iterate over all the keys in the db?

You can try using the Stream framework https://github.com/dgraph-io/badger#stream to get random keys.
Here's an example of how you can pick 10 random keys.
[code]

I think this should be faster than your way of picking keys but I haven't done any benchmarks. If it turns out to be slower, please let me

[2019-11-15 12:54] #1071 closed

[2019-11-15 14:24] tsellers-r7 commented on #1084
Are there data loss concerns related to O_SYNC not working as expected on Windows?

[2019-11-15 16:39] aschmahmann commented on #1084
@tsellers-r7 yes. In general you're expecting data loss during a crash if you don't use O_SYNC. If you thought you had O_SYNC, but you didn't (i.e. on Windows) then you might not be accounting for potential loss as well as you could.

Also worth noting that data loss is always possible depending on how the crash occurs. For example, IIUC some hard drives lie to the OS about when something is on di

[2019-11-18 13:34] jarifibrahim opened #1122 "TestGoroutineLeak test is flaky"
Multiple builds have been failing because `TestGoroutineLeak` test is flaky. See https://ci.appveyor.com/project/manishrjain/badger/builds/28826396 for example of a failed build.

The logs show that the wait group on line https://github.com/dgraph-io/badger/blob/eef7c122607e5c2cc60e14eb20c883efa3e6855b/db_test.go#L1602 waits indefinitely. See the following link for the important part of the logs
h

[2019-11-18 13:54] jarifibrahim commented on #1058
Hey @adamstruck I need your help to reproduce the issue. How do I download the data files? I'm getting forbidden error.

It would also be helpful if you can make the following change in `badger/db.go` file
[code]
and share the logs with me.

[2019-11-18 14:04] rjasonadams opened #1124 "TTL isn't working as expected"
### What version of Go are you using (`go version`)?

<pre>
go1.13
</pre>

### What version of Badger are you using?
Tried v1.6 and v2.0

### Does this issue reproduce with the latest master?
Tried with v2.0.0, haven't tried master

### What are the hardware specifications of the machine (RAM, OS, Disk)?
e5-2695v2, 384G ram, nvme

### What did you do?

We create a database with the following optio

[2019-11-18 14:13] rjasonadams commented on #1124
We run GC quite often. There are only a few (<5) .vlog files since our values are stored in the SST tables.

[2019-11-18 14:16] jarifibrahim commented on #1124
You can reduce the size of the `vlog` file via `options.MaxValueLogFileSize` . Every call to `GC` might not actually free up disk space.

Are you saying the disk space didn't reduce even after `GC` worked successfully?

[2019-11-18 14:18] rjasonadams commented on #1124
The vlogs are not the issue:
[code]

[2019-11-18 16:22] adamstruck commented on #1058
Sorry for the delay, the permissions issues should be fixed. I'll make the change above and share the logs.

[2019-11-18 21:45] kaustubhmallik commented on #1075
@jarifibrahim is this still available to grab?

[2019-11-18 23:12] kaustubhmallik commented on #1075
@jarifibrahim By documentation, you mean adding explanations and usage (code example) in the README directly, correct? As far as I have understood, this feature enables you to add a post-update behaviour (callback function) for certain set of keys, configured using the key's prefix.

Also, as you said, the example can be directly quoted from the test you have written.

[2019-11-19 18:59] ForCraft2013 opened #1126 "Data loss while reading from DB"
Hello. I have an issue. Badger loses data while reading data when app suddenly stops, via Ctrl+C (for example). And this happenes when I read data just through **db.View** (_read only mode_).

Go: 1.13.4
Badger: 2.0.0
Windows 10 build 1903

After stop, vlog file becomes too big (2 147 483 646 bytes aka 2 GB). And if i run app again, Badger gives an error
`During db.vlog.open: Value log truncate re

[2019-11-19 19:02] markadev opened #1127 "VerifyValueChecksum functionality is broken"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.6 linux/amd64
</pre>

### What version of Badger are you using?
v2.0.0

### Does this issue reproduce with the latest master?
master is the same as v2.0.0

### What are the hardware specifications of the machine (RAM, OS, Disk)?

Ubuntu 18.04 VM

### What did you do?

I set `VerifyValueChecksum` to `true` in

[2019-11-19 19:04] ForCraft2013 commented on #601
Maybe this can prove the issue?
[https://github.com/dgraph-io/badger/issues/1126](url)

[2019-11-19 19:17] 1337hax opened #1128 "[question] How to add value to already stored uint64, without periodical goroutine"
I'm using Badger 1.6 and have following situation:
1)  I have stored value like this: db["somekey"] = 1000; // some uint64
2) I would like to be able to add as quickly as possible some value to that stored uint64 (another number, e.g. 1000 + 200 = 1200). Quickly in terms of performance, but also to minimize contention - as there might be many threads adding to that value, and I would like to minim

[2019-11-19 23:55] manishrjain commented on #791
We should do something to avoid bloom filter size growing linearly as the number of tables grow.

[2019-11-20 05:40] shekarm commented on #1126
ForCraft2013,

Thank you for reporting the issue. I will see if one of our engineers can take a look at it.

Shekar

[2019-11-20 05:44] shekarm commented on #1128
Hi,

Thank you for the question. One of our engineers is looking at this question and you should have a response soon.

—
Shekar Mantha

https://dgraph.io

--- original message ---
On November 19, 2019, 2:17 PM EST notifications@github.com wrote:

I'm using Badger 1.6 and have following situation:

I have stored value like this: db["somekey"] = 1000; // some uint64

I would like to be able to add

[2019-11-20 10:09] #1077 closed

[2019-11-20 12:59] #1122 closed

[2019-11-20 13:25] jarifibrahim commented on #1127
Thanks for reporting @markadev. I'll look into this.

[2019-11-20 17:07] ntrrg opened #1129 "Can't run race condition tests"
Hello, I am using Bleve v2.0.0 on linux without zstd for compression, but running race condition tests requires `CGO_ENABLED=1` and that gives me a gcc ld error. I already set compression to snappy manually, but it keeps printing gcc ld errors. Is there a way an fix this?

[2019-11-20 17:16] #490 closed

[2019-11-20 18:42] jarifibrahim commented on #1129
The tests like these https://github.com/dgraph-io/badger/blob/fb0cdb858c78004b9db8f08e91bb713780b20445/table/builder_test.go#L36-L42 require ZSTD since it's hardcoded it.

You can replace ZSTD with Snappy if you're trying to run the tests locally. Something like `sed -i 's/old-text/new-text/g' input.txt` should help.

Feel free to reopen if you think there's something we can do in badger.

[2019-11-20 18:45] jarifibrahim commented on #1087
Fixed via https://github.com/dgraph-io/badger/pull/1123

[2019-11-21 00:54] ntrrg commented on #1129
Sorry, I didn't explain that very well :sweat_smile: I was using Badger v1 in my project and running my tests with the `-race` flag worked, now with Badger v2 it prints the gcc errors, but I am not using ZSTD

[2019-11-21 13:39] burmanm commented on #1128
1337hax, wouldn't it be enough to keep all versions and then when fetching the value, fetch all the versions? You could manual merging at some points by doing a read-write transaction thus making sure the transaction boundaries will return conflict if something updated the values meanwhile (and then retry).

[2019-11-21 22:54] 1337hax commented on #1128
@burmanm, unfortunately, I would like to have multiple threads updating this value quite frequently (adding various numbers to already stored number). So, if I would be doing full read-write transaction, many threads would get their transactions rejected, then they would need to try again, get rejected again etc. However, the feature of badger I mentioned in the original post (GetMergeOperator), s

[2019-11-22 09:34] jarifibrahim commented on #1126
Hey @ForCraft2013

During db.vlog.open: Value log truncate required to run DB. This might result in data loss
And finally, If I run Badger with WithTruncate(true) option, data loses. Vlog file size becomes 20 bytes.

Badger uses vlog files to store data and vlog files are `memory-mapped`. On windows, we cannot map a file more than its size, so we increase the size of value log file (2 GB in this c

[2019-11-22 11:09] TangsWang opened #1130 "close issue."
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.13.4
</pre>

### What version of Badger are you using?
latest

### Does this issue reproduce with the latest master?
yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
8G,win10,ssd

### What did you do?
when not exec db.Close() before exit process, it will occur "Value log truncate required to run

[2019-11-22 11:12] jarifibrahim commented on #1058
Hey @adamstruck I couldn't run GRIP because of OOM error https://github.com/bmeg/grip/issues/222 . Is there any way I can reproduce the failure?

[2019-11-22 11:38] ForCraft2013 commented on #1126
arifibrahim, hello. i've tried your code and it's working fine. Even when I removed "crash db on third iteration" and increased number of inserts to 10000.
But when I modified my code to "one insert - one transaction", i still get an error. Maybe the problem in something different? Key-value encoding for example. It's wierd that your code is working fine but my code is not. Сonsidering that code b

[2019-11-22 11:49] jarifibrahim commented on #1130
Hey @TangsWang , when DB crashes all your data might not be saved. When such a `crashed DB` has to be re-opened, you need to set the `truncate` options to `true`. The truncate option only removes the corrupted data. If your data was written to the vlog before the crash. It will replay the file and insert the data back into the DB.

[2019-11-22 11:49] #1130 closed

[2019-11-22 11:51] jarifibrahim commented on #1126
@ForCraft2013 What kind of error?

It's hard to tell what might be going on without looking at the code. Can you share your code?

[2019-11-22 12:31] ForCraft2013 commented on #1126
@jarifibrahim, i've found the cause of the problem! If **value** length is more than **31 bytes** then  error occurs.

In your example badger gives the error (without truncate options):

[code]

With truncate option:
[code]

[code]

[2019-11-22 13:22] #1076 closed

[2019-11-22 16:03] adamstruck commented on #1058
I am aware of the OOM error and working on patching it. I have only been able to reproduce the error on our high memory (1.5 TB) machine mentioned in the original error report.

[2019-11-23 03:19] #1072 closed

[2019-11-25 09:57] jarifibrahim opened #1131 "TestDropAllWithPendingTxn is flaky and fails with seg fault"
`TestDropAllWithPendingTxn` fails on TeamCity intermittently. It seems like we have a bug in vlog locking and unlocking. The `buf` used by `header.Decode` becomes invalid while it is in use.

[code]
The complete log can be found here https://gist.github.com/jarifibrahim/0b5c7830a5c4450aa9280a9101f44d34
Example of a failed build https://teamcity.dgraph.io/viewLog.html?buildId=32704&buildTypeId=Badg

[2019-11-25 10:02] jarifibrahim commented on #1131
The first failure was seen on PR https://github.com/dgraph-io/badger/pull/1052.

[2019-11-25 16:18] adamstruck commented on #1058
As mentioned in https://github.com/bmeg/grip/issues/222:

The OOM error described above is due to a memory leak in badger's WriteBatch method. It appears that if you present the method will a large number of KV pairs where the value is large, that these pending writes accumulate in memory thus causing the OOM error.  Digging in your source code, I think that it has to due with the calculation in h

[2019-11-25 18:04] yangzh opened #1133 "port replication from Dgraph down to badger"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13 darwin/amd64
</pre>

### What version of Badger are you using?
2.0.0rc

### Does this issue reproduce with the latest master?
didn't test and doesn't apply here.

First of all, thanks for creating and maintaining such a great piece of software (with elegant design and solid implementation): it has been a joy

[2019-11-25 20:04] #1001 closed

[2019-11-25 21:46] shekarm commented on #1133
Thank you for the questions. Someone from our team will respond soon.

[2019-11-26 02:22] danielmai commented on #1133
This is a duplicate of #451. Our answer today is the same as before: Raft is beyond the design goal of Badger.

Etcd has been useful for many as a distributed KV store. It's possible to have Badger as a backend for etcd as evident from this PR https://github.com/etcd-io/etcd/pull/10311. That'd be a great way to have a distributed version of Badger.

[2019-11-26 03:54] unknwon opened #1135 "High memory consumption"
Hi, I know it's a common and vague title, if some tuning options could easily help with it, would be very much appreciated!

### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 darwin/amd64
</pre>

### What version of Badger are you using?

v2.0.0

### Does this issue reproduce with the latest master?

Yes

### What are the hardware specifications of the ma

[2019-11-26 05:12] jarifibrahim commented on #1135
@unknwon Badger uses a 1 GB cache by default to keep blocks in memory. The `ristretto` thing is because of the cache. You can reduce the cache size by setting `maxCacheSize` option. If you don't need a cache, I suggest you set the `maxCacheSize` to 10 (you can't have a value less than 10).

[2019-11-26 05:16] jarifibrahim opened #1136 "Seg fault in header.Decode"
Related to https://github.com/dgraph-io/badger/issues/1131 and https://github.com/dgraph-io/dgraph/issues/4288

The `header.Decode()` call is failing with a segfault. This might happen if we `un-mmap` a buffer which was being used.

[code]
Copied over from https://github.com/dgraph-io/dgraph/issues/4288#issuecomment-558141993

[2019-11-26 05:20] unknwon commented on #1135
Thanks @jarifibrahim! It's dropped to 88MB which is more acceptable for my use case :)

[2019-11-26 05:20] #1135 closed

[2019-11-26 05:31] jarifibrahim commented on #1129
Hey @ntrrg ! Do you have a test I can look it? If you're not using badger with CGO, it shouldn't complain about `gcc`.

Please point me to a test that fails with the `gcc` error and I'll try to figure out why it's failing.

[2019-11-26 08:41] manishrjain commented on #1136
Hey Ibrahim, nice diagnosis. Please make this your top priority to fix.

[2019-11-26 08:43] manishrjain commented on #869
I think this issue has been sufficiently diagnosed. Long story short, turn off SyncWrites and serial writes are much faster.

[2019-11-26 08:43] #869 closed

[2019-11-26 16:54] ntrrg commented on #1129
Actually it is working now, I set the crompession in the wrong place, so it was my mistake, sorry about that. Thanks for your time! :)

This fixed the issue: https://github.com/ntrrg/usersd/blob/master/pkg/sdb/options.go#L49

[2019-11-26 16:54] #1129 closed

[2019-11-26 18:33] danielmai commented on #1126
@ForCraft2013 Thanks for reporting and reproducing this data loss issue on Windows. Please email me (the email in my GitHub profile) and we can discuss the next steps for your data-loss bounty reward.

[2019-11-27 06:23] ForCraft2013 commented on #1126
I've sent you an email. And I made my real email public in my GitHub profile so you can be sure that i'm writing to you. I'm really glad that problem will be solved soon.

[2019-11-27 14:31] jarifibrahim commented on #1058
@adamstruck I've replied on the OOM issue. I don't agree that the OOM is because of badger. The following is the memory profile I had attached to the original issue on GRIP which doesn't even show badger https://github.com/bmeg/grip/issues/222#issue-527110504
[code]

@adamstruck I agree that the code here https://github.com/dgraph-io/badger/blob/3eb4e723d3ae4cdde80434ba8cf57b1d19c3fb38/structs.go#

[2019-11-27 14:37] jarifibrahim commented on #1058
Unfortunately, I haven't been able to reproduce the original issue. I'm going to mark this issue as `not reproducible` and close it for now. @adamstruck If you face this issue again, please feel free to re-open.

As for the OOM issue you mentioned, I don't think it's an actual issue and we should do something about it. If you feel otherwise, please create a new issue for it and I'd be happy to hel

[2019-11-27 14:37] #1058 closed

[2019-11-27 18:30] #1093 closed

[2019-11-28 02:24] cedricfung opened #1139 "RunValueLogGC crashed"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 linux/amd64
</pre>

### What version of Badger are you using?
v2.0.0

### Does this issue reproduce with the latest master?
Never tried

### What are the hardware specifications of the machine (RAM, OS, Disk)?
Linux 64 SSD

### What did you do?

[code]

### What did you expect to see?
Run value log gc shou

[2019-11-29 11:24] leogr opened #1141 "[question] Can I iterate in Insertion Order?"
Is that possible and if so which is the best way?

In my use case I need to fetch the last inserted key, so it's actually reverse insertion order.

Thanks in advance.

[2019-11-29 22:16] bonedaddy opened #1142 "BUG: constant 4294967295 overflows int on certain platforms (Badger V2 effected, Badger V1 OK)"
### What version of Go are you using (`go version`)?

<pre>
go version: 1.13.4
</pre>

### What version of Badger are you using?

v2.0.0

### Does this issue reproduce with the latest master?

yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?

unsure, this error occurs in travis ci

### What did you do?

build my backend service against certain 32bit, and linux based pl

[2019-11-29 23:05] bonedaddy commented on #1142
wrong version of badger, it is fixed on master.

[2019-11-29 23:05] #1142 closed

[2019-12-05 23:08] danielmai opened #1144 "Cannot open encrypted DB after writing with StreamWriter"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.3 linux/amd64
</pre>

### What version of Badger are you using?
Badger v2.0.0

### Does this issue reproduce with the latest master?
Yes (407e5bde06c44e5503dc1eaf5a11cc9f2f348ac4)

### What are the hardware specifications of the machine (RAM, OS, Disk)?
Ubuntu Linux

### What did you do?

I'm using StreamWri

[2019-12-06 10:57] #1127 closed

[2019-12-06 13:49] jarifibrahim commented on #1126
This has been fixed in badger via https://github.com/dgraph-io/badger/commit/969a8e86294e164180aabd630313a06b97827081 .

Thank you for helping with the issue @ForCraft2013 :tada:

[2019-12-06 13:49] #1126 closed

[2019-12-06 13:55] jarifibrahim commented on #1120
Closing this issue since this was a question and I've replied to it.

[2019-12-06 13:55] #1120 closed

[2019-12-06 14:33] jarifibrahim commented on #1141
Hey @leogr, I don't think there's a way to directly get items in the order of insertion. However, you could add some prefix which allows you to iterate in the order of insertion.

Let's say you want to insert `B`, `A`, `C`. then you could add integer prefix to your keys like `1B`, `2A`, `3C`. Now if you iterate over the entire DB in reverse order, you should get keys in the insertion order.

There

[2019-12-06 14:33] #1141 closed

[2019-12-06 14:37] jarifibrahim commented on #1139
Hey @cedricfung , does the issue reproduce after a couple of hours? And do you have more badger logs? The logs you've posted show only the line on which the crash happened but I'd like to understand what the state of badger was when the crash happened. Logs would definitely have some more information.

[2019-12-06 16:40] leogr commented on #1141
Hi @jarifibrahim ,

Thanks for your answer.

Just another idea: assuming all values are stored into the vlog (I know they could be skipped, but `ValueThreshold` can be set to 0), would it be possibile to iterate over the vlog directly?
Values are stored in insertion order, aren't?

[2019-12-06 17:27] jarifibrahim commented on #1141
@leogr Not really. Each transaction is written to the vlog file. Inside the transaction, the entries could be out of order. This might be easy to fix by writing only one entry in a single transaction.

We have  `vlog.iterate` but it's not exposed and it won't be easy to expose it since it uses some internal objects like the log file.

https://github.com/dgraph-io/badger/blob/1ee50f7900277ea1c153ce

[2019-12-06 17:40] leogr commented on #1141
@jarifibrahim I was aware that inside the transaction, the entries could be out of order, but it's not an issue (at least for my use case).

It would be awesome to have a public API for that, but I perfectly understand that's not so easy to expose.

Thank you.

[2019-12-06 18:00] #1144 closed

[2019-12-07 07:43] ForCraft2013 commented on #601
@danielmai how can I contact with you? In the already closed issue https://github.com/dgraph-io/badger/issues/1126 you said to email you, but there was no response for long time (10 days). Maybe my emails got into spam... 😔

[2019-12-07 08:02] jarifibrahim commented on #1141
@leogr I'd like to better understand why do you need to iterate entries in the order of which they were inserted. What are you trying to accomplish with this?

[2019-12-07 09:15] leogr commented on #1141
We're evaluating to build a tamper-evident history system on top of badger. Basically, KV pairs are always appended and never deleted, then a Merkle Tree is used to prove that data has been not changed.

Implementing that would require to fetch KV pairs by insertion index, also to iterate in insertion order over a range of KV pairs or the full db (e.g. to check the consistency after a crash).

Atm

[2019-12-07 13:33] cedricfung commented on #1139
Hi, I have tried again, it crashes. Our code is https://github.com/MixinNetwork/mixin

[code]

Above is the full log

[2019-12-08 09:22] fengyanliang opened #1148 "Why badger don't need a Bucket ?"
I am used boltdb for a long time , I found Bucket is a useful function of it. Now I changed to use Badger.
Why badger don't need a Bucket?

[2019-12-08 15:11] ForCraft2013 commented on #1148
You can use key prefixes instead of Buckets. It's not as bad as it seems

[2019-12-09 06:36] danielmai commented on #601
I've replied to your recent email @ForCraft2013. I never saw the older ones, so thanks for reaching out again.

[2019-12-09 08:00] jarifibrahim commented on #1139
@cedricfung are you inserting `nil` values? Something like `txn.Set("key", nil)`

[2019-12-09 08:32] fengyanliang commented on #1148
Thanks for your replay, ForCraft2013.
But I don't think Prefix scan in badger can be as fast as foreach in a bucket. How can we use it on this condition?

[2019-12-09 12:36] cedricfung commented on #1139
I have checked my code and find no nil inserting, only txn.Set("key",
[]byte{})

On Mon, Dec 9, 2019 at 4:00 PM Ibrahim Jarif <notifications@github.com>
wrote:

[2019-12-09 12:49] jarifibrahim commented on #1139
The `txn.Set("key", []byte{})` seems to be causing the issue. We have a check which ensures value length is greater than zero. That check seems to be causing the failure.

[2019-12-09 13:09] jarifibrahim commented on #1139
Hey @cedricfung, just out of curiosity, why are you inserting empty values? What are you trying to accomplish with key-only badger?

[2019-12-09 15:22] hikingpig opened #1151 "Go module is still not supported"
### What version of Go are you using (`go version`)?
go 1.12

### What version of Badger are you using?
v1.5.5, v2.0

### Does this issue reproduce with the latest master?
main.go
[code]
go.mod
[code]
### What did you do?
1. go mod init app3
2. modify go.mod to add version
3. go build .

### What did you expect to see?
app3 should be built successfully

### What did you see instead?
go: finding gi

[2019-12-09 15:51] danielmai commented on #1151
Have you tried putting v2.0.0 instead of v2.0 in your go.mod file and changing the import path to github.com/dgraph-io/badger/v2?

[2019-12-10 02:13] cedricfung commented on #1139
Hi @jarifibrahim, I want to maintain many states to indicate that we have those keys set. So they are actually some bool values. I have thought those key only writes and reads would be faster with badger.

[2019-12-10 02:41] zendern commented on #722
@campoy We just hit this in our project https://github.com/sonatype-nexus-community/nancy. See the mentioned issue above. Where you can find a strace output from us running our application and it blowing up on WSL with the same error mentioned here when it is trying to mmap the LOCK file i believe.

Here is the part of the strace that i believe is important. We are currently on badger 1.5.5. Worki

[2019-12-10 07:54] jarifibrahim commented on #1139
@cedricfung how can I run https://github.com/MixinNetwork/mixin and reproduce the issue?

[2019-12-10 10:03] cedricfung commented on #1139
1. git clone https://github.com/MixinNetwork/mixin
2. git checkout fd33f483f7b5d0
3. mkdir ~/mixin-data
4. cp config/genesis.json config/nodes.json ~/mixin-data
5. cp config/config.example.json ~/mixin-data
5. go build
6. ./mixin kernel -dir ~/mixin-data -port 7239
7. Ctrl+C to stop the process
8. rm -rf ~/mixin-data/snapshots
8. Get the data http://35.188.235.212/snapshots.tar
9. tar xvf snapshot

[2019-12-10 13:25] zendern commented on #722
We were able to resolve the issue by upgrading our application to Badger 2.0. See comments here. This probably doesn't need to be re-opened but if you see the issue try 2.0 and further branch if you have any issues.

https://github.com/sonatype-nexus-community/nancy/issues/64#issuecomment-564030168

[2019-12-10 13:27] jarifibrahim opened #1153 "Behaviour difference between old and new merge iterator"
Commit https://github.com/dgraph-io/badger/commit/73ea6e6e7c333ff069ec4d82f1f8ed9cdcad3202 introduced a tree-based merge iterator. The existing merge iterator was a heap-based iterator.

The following test (taken from [here](https://github.com/dgraph-io/badger/blob/master/table/merge_iterator_test.go#L137))shows different behavior on the heap-based merge iterator and the tree-based iterator. The t

[2019-12-10 15:21] #1136 closed

[2019-12-10 15:22] jarifibrahim commented on #1131
This issue has been fixed via https://github.com/dgraph-io/badger/pull/1150

[2019-12-10 15:22] #1131 closed

[2019-12-10 17:55] DarthHater opened #1154 "Badger 2.0.0 uses vulnerable version of golang.org/x/crypto"
# What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.4 darwin/amd64
</pre>

### What version of Badger are you using?
Currently 1.5.5 but trying to upgrade to 2.0.0

### Does this issue reproduce with the latest master?
Yes.

### What are the hardware specifications of the machine (RAM, OS, Disk)?
N/A.

### What did you do?
We use Badger in  https://github.com/s

[2019-12-10 18:43] #1148 closed

[2019-12-10 22:23] danielmai commented on #1154
Thanks for raising this issue. At first glance, it seems like a simple fix. Badger doesn't use golang.org/x/crypto directly, but other dependencies do. According to `go mod graph`, these are github.com/spf13/viper and golang.org/x/net.

[code]

Both of those packages' latest releases use golang.org/x/crypto from before the date of the fix on 2019-03-20:

- github.com/spf13/viper as of 2019-12-06:

[2019-12-10 22:28] DarthHater commented on #1154
@danielmai yeah, I didn't think there was a serious issue, but I wanted someone more informed to tell me that :)

It's likely worth sending some updates to viper (I can raise an issue over there, too, if you'd like), and I THINK the /x/net issue will go away if the projects use a newer version of golang, yeah? From what I understand, timestamps on those versions indicate you are using a specific v

[2019-12-10 23:17] danielmai commented on #1154
golang.org/x packages are not tied to a particular Go release, so updating to a newer version of Go won't resolve this warning. Each package's dependencies need to be updated.

[2019-12-11 16:45] DarthHater commented on #1154
Interesting. I had always wondered about that @danielmai , thanks for shedding some light!

[2019-12-12 00:09] hpucha opened #1156 "`Flatten` leaves behind 2 or more versions"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.1 darwin/amd64
</pre>

### What version of Badger are you using?
release/1.6

### What did you do?
We are experiencing an issue with badger GC (release 1.6) not being aggressive enough, and was hoping to get some help.

We start with an ingest phase of loading ~17GB of data (unique keys) and then receive upd

[2019-12-12 18:31] connorgorman opened #1158 "Unbounded disk growth when lots of additions and deletions of keys"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.13.3
</pre>

### What version of Badger are you using?
1.6 with backports

### Does this issue reproduce with the latest master?
AFAIK, no change has fixed this

### What are the hardware specifications of the machine (RAM, OS, Disk)?
Not applicable for this question

### What did you do?

Wrote millions of keys and values

[2019-12-13 00:19] connorgorman commented on #1158
@jarifibrahim @manishrjain Sanity check, if I have MaxVersions=1, Flatten the LSM into one level and then stream out the keys. I can safely ignore the ones that are tombstoned because there will only be one version of the key in the LSM correct?

[2019-12-13 15:07] notduncansmith opened #1159 "Doesn't report error that indicates data loss"
### What version of Go are you using (`go version`)?
`go1.13 darwin/amd64`

<pre>
$ go version
go version go1.13 darwin/amd64
</pre>

### What version of Badger are you using?
github.com/dgraph-io/badger v1.6.0 h1:DshxFxZWXUcO0xX476VJC07Xsr6ZCBVRHKZ93Oh7Evo=

### Does this issue reproduce with the latest master?
Haven't checked

### What are the hardware specifications of the machine (RAM, OS, Dis

[2019-12-13 19:21] sleto-it commented on #443
Hi all,

This has been implemented and released in BadgerDB v2.0.0, which is available for download ([Release](https://github.com/dgraph-io/badger/releases/tag/v2.0.0) | [Blog post](https://blog.dgraph.io/post/releasing-badger-v2/)) . Dgraph users will get encryption in v1.1.1 which is currently in RC ([v1.1.1-rc2 announcement](https://discuss.dgraph.io/t/dgraph-v1-1-1-rc2-release-candidate/5622)

[2019-12-13 19:21] #443 closed

[2019-12-13 21:22] hpucha commented on #1156
Here is a test to reproduce this issue.

https://gist.github.com/hpucha/b080bbbe3fefacaf8852596cc19753cb

[2019-12-15 20:30] networkimprov commented on #1084
Can someone submit a patch to Go adding O_SYNC support in Windows syscall.Open()?

[2019-12-16 09:56] SumanthPuram opened #1161 "BadgerDB open() call takes long time (> 2 min) to complete"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.3 linux/amd64
</pre>

### What version of Badger are you using?
github.com/dgraph-io/badger v1.6.0

### Does this issue reproduce with the latest master?
Yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
RAM - 16GB
OS - Ubuntu 16.04
Disk - SSD

### What did you do?

We are using B

[2019-12-16 11:42] narqo opened #1162 "Use pure Go zstd implementation"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 darwin/amd64
</pre>

### What version of Badger are you using?
latest master

### Does this issue reproduce with the latest master?
Yes

As it was mentioned in #1081 #1104 BadgerDB consider switching to a pure Go implementation of zstd ([github.com/klauspost/compress](https://github.com/klauspost/compress/

[2019-12-16 12:20] jarifibrahim commented on #1161
Hey @SumanthPuram, can you show me the logs also? I suspect that your DB crashed and the entire `level 0` along with the `memtables` had to be replayed.

[2019-12-16 13:47] jarifibrahim commented on #1139
@cedricfung Is there any way I can reproduce this without using your `snapshot` directory? The issue is visible on your directory but I'm trying to figure out how did such an entry (which has `bitvaluepointer` set and has zero length) was inserted into badger.

[2019-12-16 14:29] jarifibrahim commented on #1159
Hey @notduncansmith , thanks for reporting this. The problem here is that all writes are kept in memory and then eventually flushed to a disk. These flushes run periodically and we don't report the error if it fails because the flush will be retried after some time.

However, in your case, the flush will never succeed since the directory does not exist. Badger wouldn't complain if you do a 	`rm -r

[2019-12-16 14:34] jarifibrahim commented on #1158
@connorgorman How about using the stream framework to stream out the keys. You can ignore all versions after the first one. That should give you unique versions. You can set the key to list function in stream framework to just use the first version it receives.
https://github.com/dgraph-io/badger/blob/1b0c0742acd3b9d0db8e55e1fb6768ea07909069/stream.go#L58-L67

Flatten wouldn't remove the old keys

[2019-12-16 20:10] notduncansmith commented on #1159
I would agree that this is the problem. Is there any way to request that BadgerDB not return until the write is committed? If the files or directory have been removed, I want to get back an error from BadgerDB.

[2019-12-17 10:19] jarifibrahim commented on #1156
Hey @hpucha , `Flatten` is supposed to consolidate all tables on a level, it doesn't give any guarantee about the number of version/keys.
In your case, you're seeing two or more version because all those versions might not be below the discard timestamp (think of discard timestamp as a point in time before which all data can be deleted and it wouldn't affect the current state of the database)
http

[2019-12-17 11:11] lokey commented on #1161
Hi @jarifibrahim, I work with @SumanthPuram. These are the badger DB logs when it took 2.5 minutes.

[code]

[2019-12-17 11:54] jarifibrahim commented on #1161
Hey @lokey , the problem here is that you have many tables and badger v1.6 would load all of them into memory and then try to initialize them.

https://github.com/dgraph-io/badger/blob/2fa005c9d4bf695277ab5214c1fbce3735b9562a/table/table.go#L146-L149

We've made significant changes to how tables are opened in badger v2. Can you please try to migrate your data directory from badger v1.6 to badger v

[2019-12-17 14:39] cedricfung commented on #1139
I don't know yet. Which entry is that?

[2019-12-17 15:50] jarifibrahim commented on #1139
Sorry, I wasn't clear. My question is does the issue show up every time you run your `mixin` project? There is an invalid entry in your badger directory and I'm trying to figure out how was that entry inserted.

[2019-12-17 17:03] hpucha commented on #1156
That does make sense wrt the discard timestamp. However, when I logged what was happening, I observed that in a large majority of cases it was below the discard timestamp but was still being retained because of the overlap check. This is the change I am running locally with
https://gist.github.com/hpucha/a5168affa99248fd69f69b0c5f723c72/revisions?diff=unified

So in the above example, assuming a `

[2019-12-18 03:56] xiangzhao632 opened #1163 "BulkLoader becomes very slow after updating Badger to V2.0.0"
### What version of Go are you using (`go version`)?
go1.13.5

### What version of Badger are you using?
v2.0.0

### Does this issue reproduce with the latest master?
yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
linux/amd64

### What did you do?
I run bulk loader

### What did you expect to see?
bulk loader runs fast as usual

### What did you see instead?
Before B

[2019-12-18 04:16] ashish-goswami commented on #1163
@xiangzhao632 Badger V2.0.0, has compression enabled and it uses ZSTD compression by default. Badger also exposes one option called ZSTDCompressionLevel, which is 15 by default(This option is not exposed at bulk loader). Having higher compression level means more compressed data at the expense of more computation. This is the reason for slowness. You can try to reduce compression level and check t

[2019-12-18 07:03] xiangzhao632 commented on #1163
thank you ! Have you planned to expose compression option at bulk loader ?

[2019-12-18 07:04] xiangzhao632 commented on #1163
@ashish-goswami thank you ! Have you planned to expose compression option at bulk loader ?

[2019-12-18 09:19] cedricfung commented on #1139
It only produces the error on that snapshots data, for a fresh start it won't occur.

[2019-12-18 10:40] jarifibrahim commented on #1156
@hpucha I understand what you're trying to say but even if there is an `overlap` for a key, the `skip key` will be set and all the following versions will be discarded. If the number of versions is set to 1, there will be only one version of the key. This might not happen after the first compaction because keys can be on multiple levels but they will be cleaned up eventually.

Here's a test to pro

[2019-12-18 10:49] cedricfung commented on #1139
Forgot to mention that the snapshots directory is converted from an old version. I upgraded badger from an 2.0-rc version to the latest 2.0 version, following the guide of upgrade from v1.6 to v2.0

[2019-12-18 10:49] jarifibrahim commented on #1163
Hey @xiangzhao632 I've created an issue on dgraph to track this https://github.com/dgraph-io/dgraph/issues/4439 .

[2019-12-18 10:49] #1163 closed

[2019-12-18 11:07] jarifibrahim commented on #1159
@notduncansmith `transaction.commit` call is blocking. We waiting until all writes are successful.
But if the directory is removed, there is no way badger can recover from the error. We have `value log` which serves as `write ahead log`. If your DB crashes before the memtable was flushed, we replay the value log to get the entries back. But if you lose the entire directory, badger cannot recover f

[2019-12-18 11:09] jarifibrahim commented on #1162
We're working on this @narqo. I'll try to make this change as soon as possible.

[2019-12-18 13:14] #1153 closed

[2019-12-19 08:18] jarifibrahim commented on #1154
@DarthHater it looks like there's nothing to be done on badger's side of things. Can we close this issue?

[2019-12-19 08:19] jarifibrahim commented on #1151
@hikingpig Please try using `github.com/dgraph-io/badger/v2` as the import path.

[2019-12-19 08:19] #1151 closed

[2019-12-19 08:20] jarifibrahim commented on #1053
I wonder if we're actually keeping keys when they have overlap as mentioned in the original post. I'll verify this with a test and get back.

[2019-12-19 08:42] rickyHuang1986 opened #1164 "DropAll() error"
badger 2019/12/19 15:30:19 INFO: DropAll called. Blocking writes...
panic: close of closed channel

goroutine 127483 [running]:
github.com/dgraph-io/badger/y.(*Closer).Signal(...)

[2019-12-19 10:33] jarifibrahim commented on #1164
@rickyHuang1986 Can you share the complete stack trace? What were you trying to do with badger when it crashed? Any information would be useful.