[2019-12-19 12:17] rickyHuang1986 commented on #1164
Concurrent request DropAll produce an accident ,Because Implementation of delete File size unchanged So I used this method

[2019-12-19 16:43] morningsend opened #1165 "Using Badger for storing immutable, append-only logs, FIFO compaction strategy?"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 darwin/amd64
</pre>

### What version of Badger are you using?
v2.0

Hi, we are comparing Badger and RocksDB and are building a distributed database. I am wondering what is the options in badger to optimise the key-value store for append-only log storage. The log entries would be appended in order and neve

[2019-12-20 02:45] rickyHuang1986 commented on #1164
Concurrent request the method of DropAll,and using the method of Delete to delete the file of key which will cause the size of key don’t change by accident.So I add ‘db.Update(func(txn *badger.Txn) error {’ in the method of DropAll

[2019-12-20 05:28] ashish-goswami commented on #1165
Hey @morningsend, currently Badger doesn't have much options to tweak compaction(other than number of threads running compaction concurrently). Badger follows level tiered compaction strategy(with `minimum overlapping file picking first` strategy).

[2019-12-20 07:43] jarifibrahim commented on #1053
I wrote a bunch of test to verify this and it seems like you were correct @wangleiin . I've raised https://github.com/dgraph-io/badger/pull/1166 to fix this. Thank you :)

[2019-12-20 08:08] wangleiin commented on #1053
@jarifibrahim I'm glad to know that and thanks for your replying :)

[2019-12-20 08:29] SumanthPuram commented on #1161
Hi @jarifibrahim
I ran a test with latest v2.0.0-rc2.

Please check out the test repo here
https://github.com/SumanthPuram/badger-test

I generated some load for a few hours. It generated 22GB data and DB took 36 secs to open. This is much better than the earlier version. But we are planning to use badgerDB for deduplication, and this needs to be started before starting our HTTP server. So, we can

[2019-12-20 17:47] morningsend commented on #1165
@ashish-goswami  Thanks for your advice.

[2019-12-22 15:07] jarifibrahim commented on #1164
@rickyHuang1986 why do you need to call `dropAll` concurrently? Calling it once vs calling it concurrently would have the same outcome.

[2019-12-25 06:44] jarifibrahim commented on #1161
@SumanthPuram You can try increasing the table size. The less number of tables you have, the less work badger has to do while opening them. The default size is 64 MB, try setting it to a higher value (opt.MaxTableSize).

There are other side effects of this change.
 - Badger will consume more memory because all L0 tables are stored in memory (you can change this by setting the KeepL0InMemory optio

[2019-12-25 06:46] jarifibrahim commented on #1139
Ah! Maybe backup is doing something mischievous. I'll look into the backup code and get back to you.

[2019-12-25 18:58] kernle32dll opened #1174 "Add streaming read capabilities"
### What version of Badger are you using?

2.0

### Does this issue reproduce with the latest master?

Yes

### What did you do?

I'm using BadgerDB as a versioned document-storage system. It was only after implementing most of my code around it, that I realized that BadgerDB is designed to load values completely into memory, before passing it to the caller.

For my case, that is not quite optimal

[2019-12-26 07:17] jarifibrahim commented on #1174
@kernle32dll what do you mean by `not optimal`? Do you mean the memory usage is high because your values are large? How big are your values?

[2019-12-26 12:31] jarifibrahim commented on #1165
@morningsend In FIFO style compaction the oldest table is deleted first. Badger supports only leveled compaction for now. By default, we keep only a single version of a key. Older versions are dropped by compactions automatically. This means old stale data will be cleaned up eventually.

[2019-12-26 12:31] #1165 closed

[2019-12-26 13:48] nonpcnpc commented on #1174
https://github.com/dgraph-io/badger/issues/710 🤷🏻‍♂️

[2019-12-26 15:10] kernle32dll commented on #1174
Right now, I don't have anything, as the project is in active development. Its a private project though, so "I don't know" is the best answer I can give.

But its not only memory that is my concern. The problem with the way value pulling is implemented right now, the complete value has to be read to memory by Badger, before I can start streaming it out to the caller (in my case, an RESTful HTTP en

[2019-12-28 23:35] #1128 closed

[2019-12-30 15:24] sleto-it commented on #836
Hi,

The account of the original author has been deleted. As a result this issue has been associated with the GitHub ghost user (https://help.github.com/en/github/setting-up-and-managing-your-github-user-account/deleting-your-user-account)

As we have not received other comments, I am now closing this issue. Please comment if needed and we will reopen

Many thanks,

[2019-12-30 15:24] #836 closed

[2019-12-30 22:53] martinmr opened #1178 "badger.Open copies the options."
I was trying to fix some of the warnings in dgraph about copied arguments. Some of them involved the `badger.Options` object but I didn't fix them because `badger.Open` is invoked later and the options are passed as a copy. Why is this the case? From the code there doesn't seem to be a good reason and `badger.Options` is a fairly big struct. I assume that changing the signature of `badger.Open` is

[2019-12-31 09:19] gane5hvarma commented on #1161
Hi @jarifibrahim, i have used two versions [v2.0.0-rc1](https://github.com/dgraph-io/badger/tree/v2.0.1-rc1) and [v2.0.0-rc2](https://github.com/dgraph-io/badger/tree/release/v2.0) and generated around 6gb of data. below are the stats for both versions.

- rc1
took around 300 sec for badger.Open(badger.DefaultOptions(path)) and no of tables are around 29

![cpu_v2 0 0-rc1](https://user-images.gith

[2020-01-01 18:57] templexxx opened #1180 "Proposal: Data integrity check (Silent data corruption detection)"
Proposal: Data integrity check (Silent data corruption detection)
---

### Abstract

This proposal describes an approach to implement data integrity check based on NVMe driver with low overhead & no breaking changes.
 
### Background

#### Silent Data Corruption Do damge the data safety

We usually think the hardware is reliable because there are checksums everywhere,
but in rare situations, the p

[2020-01-02 02:24] cedricfung commented on #1139
Any updates on this? How could we enable RunValueLogGC again?

[2020-01-02 04:36] #1133 closed

[2020-01-02 21:50] kernle32dll commented on #1174
On a related note, I realized that a `io.Reader` for write-streaming would be useful. But I haven't looked at the code yet. I suppose this would be much more difficult, as a broken write stream might result in corrupted data.

Nevertheless - would be cool.

[2020-01-03 19:21] lgalatin commented on #1031
@jarifibrahim is working on this.  re-opening.

[2020-01-03 23:13] danielmai commented on #663
Ristretto has been added to Badger with #1066 and released in Badger v2.0.0.

[2020-01-03 23:13] #663 closed

[2020-01-03 23:31] thomashargrove commented on #1112
@jarifibrahim You mention that you can add a HTTP server and get more info on what was garbage collected.  Any pointers on how to do that?

[2020-01-04 09:35] bonedaddy opened #1182 "Int Overflow Bug Reoccurs - Please Add Better Testing"
This is the second time in less than two months that an issue with integer overflow happens, breaking builds on 32-bit platforms.  Given that this is the second occurrence of such a bug, I think testing needs to be improved to catch this, because if it has already happened twice in 2 months, it will probably happen a 3rd, and a 4th if testing isn't improved to catch this.

Previous bug report http

[2020-01-06 08:55] jarifibrahim commented on #1174
@manishrjain @campoy what do you guys think about this?

[2020-01-06 09:03] jarifibrahim commented on #1182
Thanks @bonedaddy . We should be able to add build options for 32-bit platforms to our travis.yml file

[2020-01-06 09:04] bonedaddy commented on #1182
@jarifibrahim could also that a look at https://github.com/mitchellh/gox it's how I handle this stuff and its been working pretty well.

[2020-01-06 09:07] jarifibrahim commented on #1182
@bonedaddy https://github.com/mitchellh/gox looks great but I think it might an overkill for us. I think if we just add a `GOARCH=386 go build` it should be enough :)

[2020-01-06 09:10] jarifibrahim commented on #1178
I agree @martinmr . I think when the `db.Open(..)` function was added `badger.Option` was a small struct. We've added too many new options in recent times and so we might want to use pointers now.

This could definitely be fixed in badger 3.x release.

[2020-01-06 09:13] jarifibrahim commented on #1180
Hey @templexxx Thank you so much for writing such a detailed proposal. I don't have a lot of knowledge about NVMe driver or other hardware in general. I'll try to read more about this and get back to you.

Thank you once again :)

[2020-01-06 09:20] jarifibrahim commented on #1139
@cedricfung Unfortunately, I haven't been able to find a test to produce this. I can, however, write a patch for you which will drop the key which seems to be crashing badger. You can run badger with that patch and GC should work fine.

NOTE - You might lose data. I think you just have one key which has the wrong bits set and we'll have to drop it.

Do you think this would unblock you for now?

[2020-01-06 09:32] jarifibrahim commented on #1161
Hey @gane5hvarma , I'm sorry I forgot to mention. please run your test/benchmarks against `badger v2` (`rc1` and `rc2` are very different from each other).

From the profiles, it seems like compression seems to be taking a lot of time (compression algorithms are slow). So please set the compression option to `None` and that should improve your startup speed.

Can you share your data generation scr

[2020-01-06 09:35] cedricfung commented on #1139
Which key is that? I'm sure that we have many keys with empty values, because we have code like `err = txn.Set(key, []byte{})`

[2020-01-06 10:03] gane5hvarma commented on #1161
Hi @jarifibrahim you can find the data generation script [here](https://github.com/SumanthPuram/badger-test/blob/master/main.go)

[2020-01-07 10:27] mangalaman93 opened #1183 "Provide options for disabling Cache"

[2020-01-07 13:28] jarifibrahim commented on #1156
This should be fixed by https://github.com/dgraph-io/badger/pull/1166

[2020-01-07 16:01] damz opened #1184 "nil pointer dereference in valueLog.write"
### What version of Go are you using (`go version`)?

<pre>
% go version
go version go1.13.5 linux/amd64
</pre>

### What version of Badger are you using?

465f28aba5fee9a4dac132ccbebaaae6a1d711dd

### What did you do?

I just hit the following nil pointer dereference:

[code]

This is on the database closing path.

[2020-01-07 16:07] damz commented on #1184
In the use case I'm working on, we have multiple badger database instances in the same process. As far as I can tell, there should  be no concurrent writes happening to the database that was closing at the point of the crash.

[2020-01-07 16:10] damz commented on #1184
Chances are I'm doing something stupid here. But I would love a second pair of eyes on this.

[2020-01-07 16:17] damz commented on #1183
Adding an option to disable the bloom filter would be interesting too. We have a use case where we do not do any single-key lookups, and my understanding is that it means we have no use for neither the cache nor the bloom-filter.

[2020-01-07 17:45] jarifibrahim commented on #1183
@damz Bloom filters are used for single key look ups https://github.com/dgraph-io/badger/blob/0f2e6297a34efdb07001eba8531ed85e8b42189e/level_handler.go#L263-L268

Cache is also used for single key look ups (we fetch the block that has the key) https://github.com/dgraph-io/badger/blob/0f2e6297a34efdb07001eba8531ed85e8b42189e/table/iterator.go#L223

[2020-01-07 17:50] jarifibrahim commented on #1184
@damz Are you closing the same badger instance multiple times?
Your program got a nil exception on this line https://github.com/dgraph-io/badger/blob/0f2e6297a34efdb07001eba8531ed85e8b42189e/value.go#L1365

The `curlf` which is the current vlog file being written would not be nil under normal circumstances.

[2020-01-07 17:54] damz commented on #1184
@jarifibrahim Not that I know of. And `DB.Close` runs into a `sync.Once` anyway. From the look of it, it feels like `valueLog.write` is called concurrently. But that is not something that should be happening.

I reproduced the issue a second time, basically at the same point. It seems to be happening when `Close` has to run a big L0 compaction.

[2020-01-08 10:23] damz commented on #1184
I tracked it down: it is crashing because it failed to create a vlog file on the previous iteration:

[code]

Once this happens, the next call to `valueLog.write` will crash.

[2020-01-08 12:11] #1053 closed

[2020-01-08 17:31] jarifibrahim commented on #1031
This has been fixed via https://github.com/dgraph-io/badger/pull/1170 .

[2020-01-08 17:31] #1031 closed

[2020-01-09 11:26] anjannath commented on #1182
@jarifibrahim So no need to add unit tests, just a build on i386 platform is enough for the test?

[2020-01-09 11:33] jarifibrahim commented on #1182
Yes. Adding a `GOARCH=386 go build` would ensure we don't break badger for 32-bit platforms.

[2020-01-09 11:39] jarifibrahim commented on #1184
The problem seems to be over here (and a few other places where we create vlog file)
https://github.com/dgraph-io/badger/blob/2a90c665f1e57fdc48256f222ed5d826c554043c/value.go#L1388-L1394

We've updated the `maxFid` but if we fail to create the `vlog` file we should decrement the `maxFid` which we're not doing right now.

Thanks for digging into this @damz . I'll send a patch to fix this.

[2020-01-09 11:42] jarifibrahim commented on #1178
@martinmr, @ashish-goswami pointed out that there might be issues if we accept a pointer to the option struct in `Open`. Once the options are passed to badger, we use only pointers to it everywhere in the system. If the user `accidentally` changes any of the passed options, we might run into issues.

I think it's safe to make one copy of the option struct and use pointers to it inside badger.

[2020-01-09 11:42] #1178 closed

[2020-01-09 11:44] jarifibrahim commented on #1164
@rickyHuang1986 I'm closing this issue as it is invalid. Calling `dropAll` concurrently has no benefit and you shouldn't be doing it.

Feel free to reopen if you think there's something we should fix in Badger.

[2020-01-09 11:44] #1164 closed

[2020-01-09 11:46] jarifibrahim commented on #1158
Hey @connorgorman, we've made some changes in https://github.com/dgraph-io/badger/pull/1166 which would drop invalid keys sooner now. Please try it out.

I'm closing this issue because I don't think there's anything to be done here. Feel free to reopen.

[2020-01-09 11:46] #1158 closed

[2020-01-09 13:11] damz commented on #1184
It is difficult for me to make sense of this `maxFid` property. It seems like the only place it is accessed in a concurrent context (not locked) is really the assertion on top of the `valueLog.Read` method.

The code there looks massively racy: it is accessing the `maxFid` value and then reading the `offset` (which might at this point relate to a new vlog file. It then proceeds to actually locking

[2020-01-09 14:11] jarifibrahim commented on #1184
`maxFid` is the `vlog` file actively being written. All new writes will be added to vlog file with `id=maxFid`.

I guess this is the code you're talking about
https://github.com/dgraph-io/badger/blob/2a90c665f1e57fdc48256f222ed5d826c554043c/value.go#L1465-L1470

The `woffset` might have changed between line `1465` and `1466` but it doesn't matter here because the `vp.offset` will not change and th

[2020-01-09 14:27] damz commented on #1184
Unless I am missing something, this is actually really bad. If the new log file is created between line 1465 and 1466, the offset will reference to the new file, and as a consequence will be reset to the size of the header by `valueLog.createVlogFile`.

These two checks ("is this the last file" and "is the offset within the bounds of that last file") need to happen atomically. One way of doing tha

[2020-01-10 17:11] qrpike commented on #534
This would really be great to see how to implement. A very basic example would be extremely helpful.

[2020-01-10 17:19] qrpike opened #1188 "Very High Disk Reads"
### What version of Go are you using (`go version`)?
1.12.3

### What version of Badger are you using?
2.0.0

### What are the hardware specifications of the machine (RAM, OS, Disk)?
CoreOS Stable, 10gb ram for this service ( 128gb ram total ), RAID0 2tb samsung SSDs

### The issue
The disk writes are normal and consistent when writing data to the DB. However the disk reads spike dramatically ( I

[2020-01-10 19:43] jarifibrahim commented on #1156
This has been fixed via #1166

[2020-01-10 19:43] #1156 closed

[2020-01-13 12:16] jarifibrahim commented on #1162
Hi @narqo , we've decided to not use the pure go based ZSTD because of performance issues. Please see https://github.com/dgraph-io/badger/pull/1176#issuecomment-573635053 and the benchmarks in https://github.com/dgraph-io/badger/pull/1176#issue-356949512 .

You can build badger with `CGO_ENABLED=0` to use badger without `CGO` in which case `Snappy` would be the default compression algorithm.

[2020-01-14 10:55] jarifibrahim opened #1193 "Replace eventlog with normal logs"
Badger uses [`eventLog`](https://godoc.org/golang.org/x/net/trace#EventLog) to keep track of long-running background operations.
 https://github.com/dgraph-io/badger/blob/2a90c665f1e57fdc48256f222ed5d826c554043c/levels.go#L38-L42

https://github.com/dgraph-io/badger/blob/2a90c665f1e57fdc48256f222ed5d826c554043c/value.go#L828-L832

These `eventLogs` are expensive as seen in https://github.com/dgrap

[2020-01-14 10:58] jarifibrahim commented on #1087
Reopening this since a build failed with the same error https://ci.appveyor.com/project/manishrjain/badger/builds/30080823#L9364

[2020-01-14 12:58] jarifibrahim commented on #1188
Hey @qrpike
How big are your values? For value sizes less than 32 bytes we keep them in the LSM tree. The LSM Tree is stored in the memory (memory-mapped mode) which means if you read the value from LSM tree, you should get very low disk reads (or none).

Here's a list of options you should tweak
- Set `KeepL0InMemory` - if you keep `level 0` in memory, you would see higher memory usage but there

[2020-01-14 21:58] skerkour opened #1194 "Support modern encryption"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go1.13.5
</pre>

### What version of Badger are you using?

`2.0.1`

### Does this issue reproduce with the latest master?

yes

### What do you expect to see?

Hi, we are evaluating to migrate from embedded SQLCipher to Badger. As I understand Badger can enable AES encryption using ` Options.EncrpytionKey`.

Is it envisaged

[2020-01-15 08:41] jarifibrahim commented on #1139
Hey @cedricfung, I haven't been able to find the root cause for this issue but you can use the following diff to clean up the invalid bit set. Here's how you can use it
(Please make a copy of your original data before you run the following commands. I've tested them but in case something goes wrong, we'll still have the original data)

1. Fetch badger and make sure you have the latest master
2. `g

[2020-01-15 08:42] jarifibrahim commented on #1139
Closing this issue since it is not reproducible. The invalid entries might have been added somehow in the older version of badger (I guess).

Please re-open this issue if it shows up again.

[2020-01-15 10:09] jarifibrahim commented on #1194
Hey @z0mbie42

I couldn't find any valid argument for using `XChaCha20Poly1305` against `AES` . Can you please point me to some other references?

A quick google search landed me on
https://crypto.stackexchange.com/questions/34455/whats-the-appeal-of-using-chacha20-instead-of-aes and what I understand is
- Chacha20 would be faster on CPU which does not have dedicated `AES Instruction`
- Chach20 is

[2020-01-15 10:15] jarifibrahim opened #1196 "Remove coveralls.io integration"
`Coverall.io` integration fails frequently which leads to a failed build. We should remove it.

See example build https://travis-ci.org/dgraph-io/badger/jobs/636936733?utm_medium=notification&utm_source=github_status

https://github.com/dgraph-io/badger/blob/5870b7b1975e031549f8a3d4309335f6b03f0fa4/.travis.yml#L24-L29

[2020-01-15 10:23] jarifibrahim opened #1197 "TestPageBufferReader2 test is flaky"
Travis build randomly fails with
[code]
see https://travis-ci.org/dgraph-io/badger/jobs/636936684#L9192

I've seen the test fail multiple times on various PRs.

[2020-01-16 02:19] whyrusleeping opened #1199 "Segmentation fault when the disk runs out of space"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go 1.13.6
</pre>

### What version of Badger are you using?
2

### Does this issue reproduce with the latest master?
probably

### What are the hardware specifications of the machine (RAM, OS, Disk)?
64GB ram, 1TB nvme

### What did you do?
used badger, probably ran out of disk space

### What did you expect to see?
no crashe

[2020-01-16 08:16] jarifibrahim commented on #1199
Hey @whyrusleeping do you have more badger logs? If the machine was out of disk space, badger would've logged it in the logs (the background tasks don't have a way right now to propagate the error)

[2020-01-16 12:44] z0mbie42 commented on #1194
The two principal reasons are what you mentioned:
* use in mobile/low end SBCs (like raspberry pi) which does not have `aes ni`, Google also switched to `XChaCha20-Poly1305` for disk encryption (https://github.com/google/adiantum)
* I feel really better using `XChaCha20-Poly1305` rather than AES, because it's a lot simpler to understand and it is a modern [AEAD](https://en.wikipedia.org/wiki/Authe

[2020-01-16 13:18] #1183 closed

[2020-01-19 15:56] gabru-md commented on #1193
Hi @jarifibrahim
I've started writing Go quite recently. Can I work on it?

[2020-01-20 02:47] cedricfung commented on #1139
Hi @jarifibrahim will this process remove any entries? We need to keep all entries, even empty entries.

[2020-01-20 08:19] jarifibrahim commented on #1139
@cedricfung No. It would not. The code above would take a backup of your current badger directory and unset the bit which was causing the issue. We're reinserting all the entries when you restore that backup.

The process should not cause any data to be lost since your values are `nil`. However, please make a copy of your existing data. It might help if something goes wrong :)

[2020-01-20 08:20] #1154 closed

[2020-01-20 08:21] #1159 closed

[2020-01-20 09:39] jarifibrahim commented on #1193
Hey @gabru-md, feel free to work on it. We use https://godoc.org/golang.org/x/net/trace#EventLog which we don't really need. The task here to is to replace all the `eventlog.Printf` with `logger.Debugf(..)` statements.

[2020-01-20 09:50] cedricfung commented on #1139
Thank you. I'm curious about the backup file size, my data is 47GB, and the backup is only 11GB, but the backup of v1.6 is 37GB. Is this normal?

[2020-01-20 09:54] cedricfung commented on #1139
After I restored the data, the directory is only 20GB. And my program can't start with this new data set.

[2020-01-20 10:16] jarifibrahim commented on #1139
The size reduction is expected because backup uses protobuf to store data which is supposed to reduce the disk space.

There shouldn't be such a huge size difference between v1.6.0 and v2.0.0
How did you take the backup? The directory you've shared in https://github.com/dgraph-io/badger/issues/1139#issuecomment-563959632 wouldn't work with badger v1.6.

Are you able to open badger directory? Can y

[2020-01-20 10:33] cedricfung commented on #1139
I have kept the old backup from v1.6, so I compared the size.

I tried the steps again and get the same error. The database opened, but I think some value lost. The error is:

[code]

So it means the ival has zero length, it should have at least 32 bytes.

[2020-01-20 10:48] jarifibrahim commented on #1139
Was this value read from badger? If badger has zero-length values, why does this code need 32 bytes?

[2020-01-20 10:59] cedricfung commented on #1139
This value read from badger. This value should have 64 bytes before those steps. It has 64 bytes in the original dataset.

[2020-01-20 11:30] gane5hvarma commented on #1161
Hi @jarifibrahim. any update on this issue and workaround's do you want me to try?

[2020-01-20 14:02] jarifibrahim commented on #1161
@gane5hvarma Did you try with `WithCompression(options.None)`? This should have significant speed improvement.

[2020-01-21 09:37] jarifibrahim commented on #1139
@cedricfung Can you check the length of the `value` returned by badger? If badger is returning an empty value, your code should work fine. Is that right?

[2020-01-21 12:00] cedricfung commented on #1139
I'm inserting []byte{} entries, but it is not this entry. I'm sure that this entry should have at least 32 bytes value. This exact entry is not empty.

[2020-01-21 15:45] jarifibrahim commented on #1161
I have a badger directory with around 300 GB of data (740 SST) and I see that the `JSON Unmarshal` of the bloom filter takes up most of the time.
![Screenshot from 2020-01-21 18-55-20](https://user-images.githubusercontent.com/12949454/72819247-f2864900-3c92-11ea-8236-fc4d9eeb5ca7.png)

I think we can do either of two things here
1. Optimize the bloom filter read from the file (store bloom filters

[2020-01-22 06:22] gane5hvarma commented on #1161
@jarifibrahim how can I disable bloom filter

[2020-01-22 09:41] jarifibrahim commented on #1161
@gane5hvarma Badger doesn't support disabling bloom filters right now. We might add this in the future. We'll be more than happy to accept a PR :)

[2020-01-22 22:43] janisz commented on #1196
How about replacing it with https://codecov.io/
Integration is much simpler
[code]

[2020-01-23 02:31] gane5hvarma commented on #1161
@jarifibrahim how much did it took for badger.Open() for 300 GB of data and 740 sst ?

[2020-01-24 10:22] jarifibrahim commented on #1199
This would be fixed by https://github.com/dgraph-io/badger/pull/1187 .

[2020-01-25 11:37] kernle32dll commented on #1174
Just wanted to ring in here, so this doesn't go stale.

[2020-01-25 21:02] damz commented on #1183
@jarifibrahim Do you want a PR for disabling the bloom filter?

[2020-01-27 08:58] #791 closed

[2020-01-27 09:19] jarifibrahim commented on #1161
@gane5hvarma I don't remember correctly but it took more than 7 minutes. Also, I was running it on a hard disk so it would take some time to open the files.

You can do `opt.MaxCacheSize = 0` to disable cache. Once the cache is disabled, we won't load the bloom filters on DB open. They will be read from the SST on demand.

I would suggest you disable compression and encryption if you've disabled t

[2020-01-27 09:43] #1184 closed

[2020-01-27 10:44] jarifibrahim commented on #1199
This has been fixed via https://github.com/dgraph-io/badger/commit/3e25d771067d933c88674f26e5a11ef75c492e90

[2020-01-27 10:44] #1199 closed

[2020-01-27 18:29] andhe commented on #1197
I just ran into this and looking at https://sources.debian.org/src/badger/2.0.1-2/y/y_test.go/#L179 I think there's an off-by-one. The problem can be reproduced by setting `randOffset` to the biggest number that randInt31n may return statically like:

[code]

This makes the problem reliably reproducible as the offset is now pointing at EOF.

Thus hopefully changing the line to this should solve th

[2020-01-27 18:32] jarifibrahim commented on #1197
That could actually fix the issue. Can you send a PR @andhe? We'll be more than happy to accept it :)
Thank you for looking into this.

[2020-02-02 02:13] dopey opened #1208 "Guidance on Badger migration from v1 to v2"
### What version of Go are you using (`go version`)?

<pre>
$ go version go1.13.4 darwin/amd64
</pre>

### What version of Badger are you using?
1.6

I work on an OSS project (https://github.com/smallstep/certificates) that uses a database abstraction layer allowing the user to select different databases at run time. One of our users recently opened a ticket asking us to support badger v2. I thoug

[2020-02-03 13:28] andhe commented on #1182
I've uploaded badger to Debian a while ago, which means it gets built on a number of different architectures. Full logs available here (click red/green status column for full build logs):
https://buildd.debian.org/status/package.php?p=badger

As can be seen by cherry-picking the already committed fix, badger builds on 32bit architectures but testsuite has multiple failures and even crashes and eve

[2020-02-03 16:14] andhe commented on #1182
I've created a patch that seems to make everything build and testsuite pass for me on (atleast) 32bit (arm).
See: https://salsa.debian.org/go-team/packages/badger/blob/master/debian/patches/fix-32bit.patch

Please scream at me if I'm messing something up in badger with my changes. Please feel free to apply my patch (as I don't think it reaches https://en.wikipedia.org/wiki/Threshold_of_originality

[2020-02-04 09:31] peter-kyu opened #1209 "rarely, nil pointer panic in doCompact go-routine when a badger open."
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.11.5 linux/amd64
</pre>

### What version of Badger are you using?
v1.5.4

### Does this issue reproduce with the latest master?
i think it will happen too.

### What are the hardware specifications of the machine (RAM, OS, Disk)?
128g/CentOS Linux release 7.6.1810 (Core)/ssd

### What did you do?
just open a b

[2020-02-05 09:52] cedricfung commented on #1139
Hi @jarifibrahim any updates on this?

[2020-02-05 10:00] #1197 closed

[2020-02-06 00:57] whyrusleeping opened #1211 "Badger returning empty buffers instead of the right data for some keys"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go1.13.6
</pre>

### What version of Badger are you using?
github.com/ipfs/go-ds-badger2 v0.0.0-20200123200730-d75eb2678a5d

### Does this issue reproduce with the latest master?
hard to reproduce

### What are the hardware specifications of the machine (RAM, OS, Disk)?
256GB of ram, linux, 2TB nvme, amd 3970x

### What did y

[2020-02-06 09:37] choleraehyq opened #1263 "Consider using xorfilter to replace bloomfilter"
From its paper, xorfilters are faster and more concise alternative to bloomfilters.
https://github.com/FastFilter/xorfilter

[2020-02-06 11:16] jarifibrahim commented on #1211
Hey @whyrusleeping, can your data directory? I'd like to have a look at it. I can't figure out why you might be getting empty values without looking at the directory.

If you cannot share your data directory, please run the following script and check how many keys have `zero` length value.
[code]

[2020-02-06 11:22] jarifibrahim commented on #1209
@peter-kyu I think you're correct. You're using v1.5.4 which is missing a lot of bug fixes and features. Is there are a reason for using the old version?

[2020-02-06 11:50] jarifibrahim commented on #1208
Hey @dopey, thanks for reporting the issue. I see the following issue while trying to use badger v1.6 and v2 in the same project
[code]
This looks like an issue is with the protobuf files that we generate.

As of now, I can't think of a way for you to support both the versions. I'll try to find a fix for this (maybe we're versioning the protobuf file incorrectly?) and get back to you.

[2020-02-06 20:30] jiapengliu613 opened #1212 "Block size may exceed max block size specified in options"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go1.13

</pre>

### What version of Badger are you using?
master

### Does this issue reproduce with the latest master?
yes

### What did you do?

I started reading badger's source code recently and noticed that in the part of building sst blocks, there is a potential bug where block size might exceed the max specified in the

[2020-02-07 09:52] jarifibrahim commented on #1212
Hey @jiapengliu613, the actual size of the checksum stored in the block is 6 bytes. You can easily find the size by adding a print statement.
[code]

There's no side effect if the table size exceeds the limit. Usually, the table size is less than the limit. If the user has set a `4 KB` limit, the block would not have `4 KB` of actual data.

[2020-02-07 09:52] #1212 closed

[2020-02-07 09:54] luca-moser commented on #1182
Any updates on this? Version v2.0.1 can not be compiled on 32 bit systems.

[2020-02-07 09:57] jarifibrahim commented on #1139
Hey @cedricfung , sorry it took me so long to reply.
Can you help me understand what do you mean by
[code]

Initially, I understood that you're inserting zero-length values in badger, but I guess that's not the case.
Are you saying that you inserted `32 bytes` long values and received `zero-length` values back?
I tried to look at the code of https://github.com/MixinNetwork/mixin to figure out what

[2020-02-07 10:24] jarifibrahim commented on #1182
@vardhanapoorv ^^

[2020-02-07 12:53] cedricfung commented on #1139
Hi, badger works very well. It's your modified patch that doesn't work. The
patch backup our data, and lost some data. Because I'm sure that the
original data has more than 32 bytes for that key, but the data restored
from your patch is zero length or just lost.

On Fri, Feb 7, 2020 at 5:57 PM Ibrahim Jarif <notifications@github.com>
wrote:

[2020-02-08 10:26] gladkikhartem opened #1218 "v2: opts.ZSTDCompressionLevel stalls writes under load."
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13beta1 linux/amd64
</pre>

### What version of Badger are you using?
v2.0.1

### Does this issue reproduce with the latest master?
No

### What are the hardware specifications of the machine (RAM, OS, Disk)?
Ryzen 5 2600x
16GB 3200Mhz RAM
Linux Mint 19
Samsung NVMe

### What did you do?
Just load badger with l

[2020-02-09 10:24] hbbio commented on #1209
I'm seeing a maybe related bug using v1.6.0:

[code]

This also happens rarely, while doing millions of read/write operations. In my case, my caller code is when accessing the value in a transaction:

[code]

[2020-02-09 14:03] hbbio commented on #1209
Update: The bug I encounter rather relates more to #1136 apparently.

I tried again with `v2@master` and haven't reproduced it yet, but it is crashing with another bug:
[code]

[2020-02-10 02:34] peter-kyu commented on #1209
@jarifibrahim
hi~. it was latest version when i released my application.
i will upgrade with migration code from 1.x to 2.x  soon.
but i think that bug still is in latest version, isn't it?

[2020-02-10 14:20] jarifibrahim commented on #1218
@gladkikhartem Compression is a CPU intensive task and we stall writes if there are too many tables in the memory. Badger v2.0.2 was using ZSTD compression Level 15 which is super slow. We recently decided to disable compression by default https://github.com/dgraph-io/badger/pull/1191.

I suggest you disable the compression (set compression to options.None) or use level 1 to 3 compression level.

[2020-02-10 14:20] #1218 closed

[2020-02-10 14:22] jarifibrahim commented on #1218
On a side note, you can use `WriteBatch` to bulk load data. `WriteBatch` is much faster than using transactions.

[2020-02-10 14:40] jarifibrahim commented on #1139
Hey @cedricfung, I ran the following patch (I made one small change so that we don't delete any key. We'll keep even the deleted/discard ones on restore) on the `snapshots.tar` you had sent.
I can confirm the number of keys in the snapshots directory before clean up and after clean up is the same.

In your snapshots directory
[code]
 - Total Number of keys: 177,148,831
 - Total Number of Unique Ke

[2020-02-10 14:43] jarifibrahim commented on #1139
You can use this test to count the number of keys (put it anywhere in the badger directory)
[code]

[2020-02-12 07:56] vardhanapoorv commented on #1196
@janisz the code coverage isn't a reliable metric, hence it would be better to remove it.
Feel free to send a PR.

[2020-02-18 10:37] jonknight73 commented on #988
Are there any updates on this please?

[2020-02-19 10:51] janisz commented on #1196
@vardhanapoorv test are not working :(

[2020-02-19 16:26] bzon opened #1220 "table/table.go:357:7: assignment mismatch: 1 variable but z.JSONUnmarshal returns 2 values"
### What version of Go are you using (`go version`)?

go version go1.13.4 darwin/amd6

### What version of Badger are you using?

v2.0.1

### What did you do?

[code]

### What did you expect to see?

Successful install.

### What did you see instead?

The error above.

[2020-02-19 17:10] bm0 opened #1221 "Question about iterators"
Hello. My question is how iterators work.

In the real task, I need to continue iterating from the last known key. At the same time, new entries can be added to the storage at this moment.
As keys for the records, I use the following construction `%namespace%:%uint%:%uuid%`, in practice it looks like this: 10: `tasks:23543:ddbfd53a-d8ca-42f9-8871-9bf838c9145c`.

In my test code, I iterate through

[2020-02-20 10:15] mjentsch commented on #551
Badly needed! Even SyncWrites set to true keeps leaving corrupt databases behind when Badger panics. We have 1.6.0 crashing from time to time during compaction and no easy way to upgrade to v2 due to the DB sizes (and no idea if v2 would not crash because of the same weakness). All we can do is removing the complete DB and reshard from the other cluster members.

[2020-02-20 10:32] mjentsch opened #1222 "panic on compaction"
### What version of Go are you using (`go version`)?
<pre>
$ go version
go version go1.13.3 linux/amd64
</pre>

### What version of Badger are you using?
1.6.0

### Does this issue reproduce with the latest master?
can't test due to incompatible file formats

### What did you do?
flatten + runGC

### What did you expect to see?
no crash

### What did you see instead?
Feb 20 09:40:03 s0eu store: ba

[2020-02-20 10:53] mjentsch commented on #1221
Keys are stored as sorted strings. You are using random number based UUIDs. The order they are stored and with that returned by the iterators are not related to the order they were added.
We use time.UnixNano() as (part of) the key for the use case you describe.

[2020-02-20 11:36] #1087 closed

[2020-02-20 12:23] bm0 commented on #1221
Thanks! I think I understand you.
Can you give me some links to the code where you use it?

[2020-02-20 12:59] mjentsch commented on #1221
That code isn't public, sorry!
In your test code above you could replace
key := []byte(uuid.NewV4().String())
with
key := []byte(time.Now().Format("2006-01-02T15:04:05.999999999"))

[2020-02-20 13:36] #1188 closed

[2020-02-21 09:58] Dieterbe opened #1224 "question wrt transactions and consistency semantics for string interning use case"
Hello,
I'm looking to use badger as a way to reduce the memory footprint of a program
(https://github.com/grafana/carbon-relay-ng)
This program deals with many objects that have a string key (graphite metrics), typically sized between 50 and 100 Bytes. These keys are typically referenced live a handful of times or more, compounding the space needed.(just the pointer alone is 8B on 64bit) and putti

[2020-02-21 15:13] bm0 commented on #1221
I get it. Thank you.

[2020-02-21 15:13] #1221 closed

[2020-02-21 16:03] bm0 opened #1225 "Question about conflict of transactions"
Hello.
I have code in which transaction conflicts occur (`ErrConflict`), and I can't understand why they are happening.
I wrote snippet that must reproduce problem, but it works fine.

I ask you to explain in what cases this error occurs and why my snippet does not reproduce it.

<details>
  <summary>Snippet</summary>

[code]

</details>

[2020-02-24 08:07] jarifibrahim commented on #1220
Hey @bzon, can you try once again on a clean directory? I see Badger@v1.6.0 was trying to use badger/v2/table. v1.6 and v2 are incompatible.

I tried the same thing on a fresh installation and it seems to work for me.
[code]

[2020-02-24 08:18] jarifibrahim commented on #1222
Hey @mjentsch, the fix for this issue is already in the `release/v1.6` branch https://github.com/dgraph-io/badger/compare/v1.6.0...release/v1.6 . You can try updating your go mod to use the `release/v1.6` branch. Run `go get -v -u github.com/dgraph/badger@587c8113304dde4ce6052a77ee5cb341c1266bea`.

[2020-02-24 08:18] #1222 closed

[2020-02-24 10:25] jarifibrahim commented on #1209
@peter-kyu I've raised https://github.com/dgraph-io/badger/pull/1226 to fix this in master.

[2020-02-24 10:28] jarifibrahim commented on #1209
@hbbio your error doesn't seem related to this issue. Can you please create a new issue with all the related information? The error in your case is a serious one. We use head keys to keep track of where to replay the value log file and the pointer should always keep increasing. In the error you've posted it seems like you got a smaller pointer after inserting a bigger one (which should not happen)

[2020-02-24 12:39] #1182 closed

[2020-02-24 12:40] jarifibrahim commented on #1182
Hey @bonedaddy and @luca-moser, I've merged the fix for this issue https://github.com/dgraph-io/badger/pull/1216. Hopefully, the 32-bit overflow issue won't reappear :)

[2020-02-25 10:35] adwinsky opened #1228 "GC doesn't work? (not cleaning up SST files properly)"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.13.8
</pre>

### What version of Badger are you using?

v1.6.0

opts := badger.DefaultOptions(fmt.Sprintf(dir + "/" + name))
opts.SyncWrites = false
opts.ValueLogLoadingMode = options.FileIO

### Does this issue reproduce with the latest master?

With the latest master GC becomes much slower

### What are the hardware speci

[2020-02-25 10:39] adwinsky commented on #1228
I should also add that before I patched GC I was suffering the same issues.

[2020-02-25 13:57] bzon commented on #1220
It works when using it on a fresh project. I think the problem is also because I'm using the ristretto package. I'm trying to use `opt := badger.DefaultOptions("").WithInMemory(true)`. Anyway, I'm closing this issue now. Thanks!

[2020-02-25 13:57] #1220 closed

[2020-02-25 16:18] dstreppa opened #1229 "Unable to use Badger on Raspberry"
Hi all,
I am trying to use Badger on a Raspberry but with no results.

### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.6 linux/arm
</pre>

### What version of Badger are you using?

<pre>
github.com/dgraph-io/badger v1.6.0
</pre>

### Does this issue reproduce with the latest master?

### What are the hardware specifications of the machine (RAM, OS, Disk)

[2020-02-26 12:35] jarifibrahim commented on #1225
@bm0 The code snippet you've provided doesn't have conflict. Conflict happens when you have a stale read. This means the value of a key was changed between the time you read and you rewrite it. Here's a sample program to demonstrate it
[code]

[2020-02-26 12:35] #1225 closed

[2020-02-26 13:25] jarifibrahim commented on #1229
Hey @dstreppa, you can one of the following two things
1. Reduce the value log file size. By default, it is set to 1 GB and we memory map it to 2 GB. My guess is your raspberry pi doesn't have enough memory and that's why badger crashed trying to mmap 2 GB of memory.
2. Set the value log loading mode to `FILEIO`. If your raspberry has limited memory, you shouldn't keep the value log in memory.

Yo

[2020-02-26 13:57] jarifibrahim commented on #1228
Hey @adwinsky, the GC definitely works :) The GC doesn't instantly clean up space (which we should definitely improve) but the disk space should eventually decrease. Here's a related issue which shows that GC works https://github.com/dgraph-io/badger/pull/1006

I've replied to your original discuss post https://discuss.dgraph.io/t/how-to-clean-up-values-for-old-versions-of-items/6020/4

[2020-02-26 14:12] jarifibrahim commented on #1224
Hey @Dieterbe , If you need strong consistency, you will have to commit very often. Your reads from other transactions would succeed once the commit completes.

You can set the `opt.SyncWrites=false` to reduce the time taken by `txn.Commit`. Commits aren't super expensive but if you create a new transaction for every and commit it, it will definitely be slower. You might want to consider writing m

[2020-02-26 14:13] jarifibrahim commented on #1208
I don't think there's anything to be done here. Closing this issue.

[2020-02-26 14:48] dstreppa commented on #1229
Yeah thank you very much @jarifibrahim. It is working now. Its has been enough to set the loading node to `FILEIO`.

[2020-02-26 15:15] Dieterbe commented on #1224
ok, i will think about ways to amortize the commit cost. maybe with wip-batches in memory.

ristretto is purely in-memory, no?

[2020-02-26 16:33] adwinsky commented on #1228
Hello @jarifibrahim, I opened second ticket here because I am pretty sure I see a bug here.

I made a backup of the database for which I added histogram in my previous post. In the meantime most of the entries has expired. I changed the value of RunGC function to RunValueLogGC(0.001). I started a script running GC in a loop for this database (without any modifications of the badger code), in the b

[2020-02-26 16:53] #1229 closed

[2020-02-26 19:45] #1193 closed

[2020-02-27 09:56] mschneider82 opened #1231 "question database replace like redis swapdb"
Hi,

i have a usecase where i get a big database snapshot as json and want to stream store it into badger so i can get values quickly from memory&disk.

How is the best way to update the badgerdb with a new database json snapshot in background?

start transaction
dropdb
insert
commit?

Will the reads still work in background or is a readlock needed?
Or is it better to use a prefix and dropprefix?

[2020-02-27 16:47] #1209 closed

[2020-02-27 17:17] jarifibrahim commented on #1196
Hey @janisz . I am aware of the test failure. There seems to be some configuration issue with the build. We'll fix it soon :)

Thank you for your PR.

[2020-02-28 13:54] jarifibrahim commented on #1231
Hey @mschneider82, you can use `badger.WriteBatch` API to bulk load the data. You can do a `DropAll` followed by a `badger.WriteBatch` call.

If you need reads to work instantly after insertion, use a `transaction` and commit it often. The `commit` call would block until the `key` is actually inserted in the `LSM Tree` and can be read after the commit completes. If you're okay with some delay in y

[2020-02-28 15:26] jarifibrahim commented on #1161
Hey @gane5hvarma, I've raised a PR to improve the startup speed https://github.com/dgraph-io/badger/pull/1233 . Can you try this PR and let me know how it goes?

[2020-02-28 15:33] jarifibrahim commented on #1161
The original report says it took more than 2 minutes to open 270 tables and on this PR https://github.com/dgraph-io/badger/pull/1233 I was able to open 497 tables in around 10 seconds.

I think the major performance difference is because I tested on the latest master branch while @SumanthPuram did their tests on v1.6 release.

[2020-02-29 11:36] dpgarrick opened #1234 "WithInMemory(true) panic: runtime error: index out of range [0] with length 0"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.8 darwin/amd64
</pre>

### What version of Badger are you using?
2.0.2

### Does this issue reproduce with the latest master?
Yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
  Model Identifier:	MacBookPro16,1
  Processor Name:	6-Core Intel Core i7
  Processor Speed:	2.6 GHz
  Nu

[2020-03-02 07:25] elagergren-spideroak commented on #1194
Instead of baking in encryption, please provide an API so that users can supply their own cryptographic primitives. There are business reasons why a particular encryption package might be used instead of the stdlib's crypto.

[2020-03-02 09:26] jarifibrahim commented on #1234
Thanks for raising this @dpgarrick. This definitely looks like a bug to me. I'll look into it.

[2020-03-02 11:23] mschneider82 commented on #1231
Ok thanks

so the best strategy would be to create two badger directories and keep one directory clean for a new writebatch, and switch the db Client between the dirs once the `WriteBatch` with new data is written, and then `Close` the old client and delete the dir

[2020-03-02 11:43] jarifibrahim commented on #1231
Yes. That should work. If your data (key-value) are sorted by keys, you can also try to use `stream writer` to bulk insert data. Here's a test which shows how to use it
https://github.com/dgraph-io/badger/blob/617ed7c7db9d618b6511adfff5d22dcde2233049/stream_writer_test.go#L57-L64

Please note that stream writer would require data in sorted order and in case you have duplicate keys, you'll have to

[2020-03-02 11:43] #1231 closed

[2020-03-02 12:17] jarifibrahim commented on #1234
@dpgarrick I've raised https://github.com/dgraph-io/badger/pull/1235 to fix this. The issue was that I had set a hard limit of 1 MB on the maximum size of value in in-memory mode. Your code was inserting value of size 2 MB and that's why badger crashed. I've changed the code so that the maximum size of value in in-memory mode will be math.MaxInt32 (around 2 GB).

[2020-03-02 12:25] jarifibrahim commented on #1224
@Dieterbe Ristretto won't work for you. Ristretto will drop cached data if it doesn't have enough space to store it. And yes, Ristretto is in-memory.

I suggest you try using WriteBatch which should be fast enough to load your data. You can also try having an in-memory batch (using a map?) from which you can read data while write batch is in progress. But if write batch is fast enough for you, thi

[2020-03-02 19:17] dpgarrick commented on #1234
@jarifibrahim Great thanks, I wondered if it was something simple like that.

2GB should be more than enough but also nice to know I can just increase the options.ValueThreshold to address.

[2020-03-02 19:19] jarifibrahim commented on #1234
@dpgarrick If you're running badger in in-memory mode, the value of `ValueTheshold` will not be used. We over-write it while opening DB.

https://github.com/dgraph-io/badger/blob/617ed7c7db9d618b6511adfff5d22dcde2233049/db.go#L309-L312

[2020-03-02 19:24] dpgarrick commented on #1234
@jarifibrahim Ahh right, thanks for the clarification.

[2020-03-02 20:41] wood-jp opened #1236 "Feature Request: Back By Kafka (Changelog Topic)"
We (my company) extensively use RocksDB (in memory) and have it backed by a Kafka changelog topic to persist across service restarts (ie on startup we read in the changelog topic to get into the correct state before continuing to process data).

![Example](https://user-images.githubusercontent.com/3757184/75715841-1b3f2c80-5c9c-11ea-87c3-986fed39d0ef.jpg)

Badger seems like an excellent option to

[2020-03-02 20:56] mangalaman93 opened #1237 "Badger throws nil pointer exception"
[code]

[2020-03-03 03:38] popbones opened #1238 "Potential memory leak in oracle"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 darwin/amd64
</pre>

### What version of Badger are you using?
<pre>
github.com/dgraph-io/badger v1.6.0
</pre>
### Does this issue reproduce with the latest master?
Not tested yet

### What are the hardware specifications of the machine (RAM, OS, Disk)?
[code]

### What did you do?

Basically we have a com

[2020-03-03 06:34] jarifibrahim commented on #1237
@mangalaman93 This looks similar to the DB Close we had before. Can you check if this error shows up only while closing the DB?

[2020-03-03 08:03] #1234 closed

[2020-03-03 09:02] jarifibrahim opened #1239 "Decompression uses too much memory"
Badger uses compression to reduce disk space. When the block are decompressed, it takes up too much memory.
https://github.com/dgraph-io/badger/blob/5b4c0a65cdf94a30f63b87c7b1db7931ee6d4f4c/table/table.go#L625-L629

The crux of the problem is that the decompression call allocates new block every time we want to decompress an existing block. An ideal fix here would be to find a way to reuses the bl

[2020-03-03 10:17] adwinsky commented on #1228
I figured the version I am using (1.6.0) was not including the #1006 fix you liked to. I cherry picked that and now it seems vlog files are cleaned up correctly. I see an issue with sst files though. In my database I have:

15 vlog files, 124 sst files

Histogram shows me following stats:

[Summary]
Level 0 size:          0 B
Level 1 size:        17 MB
Level 2 size:          0 B
Level 3 size:

[2020-03-03 11:29] jarifibrahim commented on #1228
What was slow? The GC? It would be very useful if you can file another issue so that I can look into this slowness issue.

The total index size is the total amount of data stored in the SSTs. You have 7.7 GB of data in the SST which includes
1. Internal keys (move keys if GC was running)
2. Older versions of the key (badger will store version along with each key and these older versions are eventu

[2020-03-03 21:58] harikb opened #1240 "Updating only the metadata byte on an existing entry"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14 darwin/amd64
</pre>

### What version of Badger are you using?
v2.0.1
<pre>
% grep badger go.*
go.mod:	github.com/dgraph-io/badger/v2 v2.0.1
go.sum:github.com/dgraph-io/badger v1.6.0 h1:DshxFxZWXUcO0xX476VJC07Xsr6ZCBVRHKZ93Oh7Evo=
go.sum:github.com/dgraph-io/badger/v2 v2.0.0 h1:Cr05o2TUd2IcLbEY0aGd8mbjm1YyQp

[2020-03-04 09:21] jarifibrahim commented on #1240
@harikb We don't have any other way to update meta bits right now. The only way to do this is to fetch the (key, value) and reinsert it in badger with the new meta.

[2020-03-04 09:21] #1240 closed

[2020-03-04 09:27] jarifibrahim commented on #1211
@whyrusleeping Ping!

[2020-03-04 09:34] jarifibrahim commented on #1237
The nil pointer exception was thrown when the following code was running.
[code]
from https://github.com/dgraph-io/dgraph/blob/0e3c4b0d20aa5ec479ac2dc8f461999a03fe838d/worker/mutation.go#L124-L126

It might be possible that the badger instance running in Dgraph was closed while the retries were in progress. This would mean the GET operation was performed on a closed DB and there would be a nil poi

[2020-03-04 09:34] #1237 closed

[2020-03-04 09:48] adwinsky commented on #1228
My application reads events from Kafka streams. If event is new, it writes it into Badger DB with TTL 1h, if event exists it bumps its TTL to 24h. Only about 1% of event has a duplicate, so 99% of events in DB will expire after an hour.

Both. GC is way slower, with 1.6.0 it takes about 4s to run GC over the segments that doesn't need compaction (returning ErrNoRewrite). For 2.0.1 sometimes it eve

[2020-03-04 13:56] jarifibrahim commented on #1236
Hey @wood-jp, what does this `change log` store?

[2020-03-04 14:04] #1196 closed

[2020-03-04 18:20] wood-jp commented on #1236
@jarifibrahim It's a direct copy of what is stored in RocksDB. Ie (Key, Value) pairs that are a mirror of the store.

[2020-03-05 06:30] zhiqiangxu opened #1242 "Is it possible to get rid of ErrTxnTooBig ?"
[code]

The above is the expected shape of code when implementing something generic like clearing a list structure.

But when implementing it on top of badger, the size of the list is not known, so in theory every call to `t.txn.Delete` may return `ErrTxnTooBig`,

 in which case the only thing one can do is to commit the old transaction and create a new one,

this will make the resultant code very

[2020-03-05 09:10] jarifibrahim commented on #1242
@zhiqiangxu How about using `WriteBatch`? It internally uses multiple transactions to commit the result. https://github.com/dgraph-io/badger/blob/8dbc982d4975a76318b42525adc670b80b491f63/batch.go#L40

You can also try to increase the size of your tables. The transaction too big is returned when the skiplist (in-memory table) doesn't have enough space. Try increasing the size of `opt.MaxTableSize`.

[2020-03-05 09:18] zhiqiangxu commented on #1242
@jarifibrahim No matter how big `MaxTableSize ` is, the **correct** code still needs to handle `ErrTxnTooBig `.

[2020-03-05 09:20] jarifibrahim commented on #1242
@zhiqiangxu In that case use `WriteBatch`.

[2020-03-05 09:28] zhiqiangxu commented on #1242
@jarifibrahim But if I replace all such generic implementation with `WriteBatch`, it has no transaction guarantee, which will cause data inconsistency. That's why I suggested the possibility of getting rid of `ErrTxnTooBig` completely.

[2020-03-05 09:37] jarifibrahim commented on #1242
@zhiqiangxu `WriteBatch.Flush()` will commit all the underlying transactions. Wouldn't that be enough for your usecase?

[2020-03-05 09:46] zhiqiangxu commented on #1242
@jarifibrahim Data consistency is a very important factor for serious usage, which is only guaranteed by a `transaction`. I think `WriteBatch` can only be used where data consistency is not very important.

[2020-03-05 09:55] jarifibrahim commented on #1242
@zhiqiangxu  `WriteBatch.Flush()` calls `writeBatch.commit()` which commits the underlying transactions. `WriteBatch.Flush()` also waits for all the underlying transactions to complete by calling `throttle.Finish()`. So `write batch` should provide all the same transactional guarantees provided by `transactions`

https://github.com/dgraph-io/badger/blob/8dbc982d4975a76318b42525adc670b80b491f63/bat

[2020-03-05 10:01] zhiqiangxu commented on #1242
@jarifibrahim Data consistency means ACID, which is only guaranteed by transaction.

[2020-03-05 10:18] jarifibrahim commented on #988
Hey @jonknight73 @ehsannm the issue got closed because of

[2020-03-05 10:37] jarifibrahim commented on #1242
@zhiqiangxu ah, I see what you mean. The `ErrTxnTooBig` allows us to limit what could be the worst-case increase in the size of in-memory tables. Right now this limit is at 15%

https://github.com/dgraph-io/badger/blob/8dbc982d4975a76318b42525adc670b80b491f63/db.go#L195-L196

Removing the error would mean a user could easily cause an `Out Of Memory` error if they use a single transaction and keep

[2020-03-05 10:45] zhiqiangxu commented on #1242
@jarifibrahim It's nice that the limit ensures all updates made in a single transaction have the same commit timestamp and they are stored in the same table, but trouble is that because of the existence of `ErrTxnTooBig`  the caller never knows whether the whole batch is executed in the same transaction. I can understand the point of `ErrTxnTooBig` though, it seems there's no win-win solution...

[2020-03-05 10:57] SumanthPuram commented on #1161
We did our tests on v2.0.0-rc1 and v2.0.0-rc2 as well. Anyway, we will give it a shot sometime soon and get back to you @jarifibrahim

[2020-03-05 11:00] jarifibrahim commented on #1161
@SumanthPuram Please run your tests against v2.0.2 or master. The v2.0.0-rc1 and v2.0.0-rc2 don't have newer fixes. We don't have any breaking changes on the v2 release so the same data directory which works for v2.0.0-rc* should work for v2.0.2 or master.

[2020-03-05 15:40] connorgorman opened #1248 "Potential Read Performance Regression"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.13.4
</pre>

### What version of Badger are you using?
master (https://github.com/dgraph-io/badger/commit/bce069c3875ec704fee689857d47d241199daf46)

### Does this issue reproduce with the latest master?
yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
8GB, Ubuntu, 100GB HDD

### What did you do?

[2020-03-05 16:48] jarifibrahim commented on #1248
@connorgorman were you running badger with default options? You might want to disable compression, encryption, and cache and then run your benchmarks.

[2020-03-05 20:13] connorgorman commented on #1248
@jarifibrahim I was running with the default options, but with NumLevelZeroTables = 2 and NumLevelZeroTablesStall = 5. I believe those other features are off by default (except the cache), but I will set the flags and comment again. Thanks

[2020-03-05 22:12] connorgorman commented on #1248
@jarifibrahim So I ran it again with
[code]
and I'm getting similar results in terms of performance regressions. In fact, it looks like reads and writes are generally slower (though some cases appear faster).

Are there any internal metrics in Badger I can use? Do all those options make sense?

[2020-03-06 07:52] jonknight73 commented on #988
Thank you very much. I'll be delighted to be able to move off my fork back into the main repo.

[2020-03-06 08:18] makediff opened #1250 "Unclosed iterator at time of Txn.Discard"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.1 darwin/amd64
</pre>

### What version of Badger are you using?
github.com/dgraph-io/badger v1.6.0

### Does this issue reproduce with the latest master?

### What are the hardware specifications of the machine (RAM, OS, Disk)?

### What did you do?

this is my code
[code]

when I press Ctrl+C stop program,

[2020-03-06 08:27] #1250 closed

[2020-03-06 09:53] jarifibrahim commented on #1248
@connorgorman The options make sense. Let me try to run some benchmarks and see what results I get. Ideally, v2 should be faster than v1.6.

It would be useful if you can share your benchmarks.

[2020-03-06 12:09] Gauthamastro opened #1251 "BadgerDB Installation Error in Linux Instance (EC2 t2.micro)"
### What version of Go are you using (`go version`)?

<pre>
$ go version go1.10.4 linux/amd64

</pre>

### What version of Badger are you using?
v2.0.2

### Does this issue reproduce with the latest master?
Yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
I am building my code in an AWS EC2 t2.micro Instance

### What did you do?
BadgerDB outputs the following error du

[2020-03-06 16:12] wood-jp commented on #1236
Hi @jarifibrahim, I've been thinking more about this and I believe that I was mistaken in thinking that this support should be part of Badger - I was just thinking about how Rocks and Kafka have such a tight relationship and figured it would make sense to mirror that. However, if I want to back the state of Badger with a Kafka topic, then I should just write a wrapper that does that by always writ

[2020-03-06 20:39] z0mbie42 commented on #1194
It can be a solution also.

One more reason to allow other ciphers:
-> https://news.ycombinator.com/item?id=22500231

Hardware can be backdoored to produce faulty cryptography (The recent story of CryptoAG prove it) thus pure software crypto (like XChCha20-Poly1305) is safer and more auditable.

[2020-03-08 03:23] zhiqiangxu commented on #663
@danielmai @jaipradeesh Does the block cache have consistency guarantee like mentioned in this thesis ?

: https://dspace.mit.edu/bitstream/handle/1721.1/75448/818331182-MIT.pdf?sequence=2

[2020-03-08 04:07] zhiqiangxu opened #1252 "Does badger cache guarantee data consistency?"
Does the block cache have consistency guarantee like mentioned in this thesis ?

https://dspace.mit.edu/bitstream/handle/1721.1/75448/818331182-MIT.pdf?sequence=2

This is a follow up question of https://github.com/dgraph-io/badger/issues/663 , but since that issue is closed, it's better to discuss here.

I've check the diff in https://github.com/dgraph-io/badger/pull/1066 , but didn't find relate

[2020-03-08 15:34] andhe commented on #1182
Hi @jarifibrahim, sorry for not finding the time to get back to you earlier. I just wanted to report back that I've uploaded badger 2.0.2 to Debian (with all my previous local patches dropped) and the test suite doesn't pass (failing the Debian build).

For full build/test logs click the red box at https://buildd.debian.org/status/package.php?p=badger

My previous patches that actually both built

[2020-03-09 09:09] jarifibrahim commented on #1251
Hey @Gauthamastro, `fastrand` might not be available in g1.10. Can you switch to go1.13 or go 1.12?

[2020-03-09 14:04] dougdonohoe opened #1253 "Badger 2.0.2 go module not found"
### What version of Go are you using (`go version`)?

`go version go1.12.7 darwin/amd64`

### What version of Badger are you using?

On `	github.com/dgraph-io/badger v1.6.0` trying to upgrade to Badger 2, specifically the latest release: `v2.0.2`

### What did you do?

I'm trying to update my project to use Badger 2.0, but I'm having trouble finding the right version to get go modules to work.

Wi

[2020-03-09 14:19] dougdonohoe commented on #1253
Update.  I ran this:

[code]

It says `go: extracting github.com/dgraph-io/badger/v2 v2.0.2` and now my `go.mod` looks like this:

[code]

And also

[code]

So things may be okay, but this is still confusing.  It isn't clear how to cleanly upgrade to the next version (e.g., `v2.0.3` when it comes out).

[2020-03-09 16:31] danielmai commented on #1253
This is the right way to import BadgerDB v2. That is, you'll specify the semantic import path (ending in /v2) and you can also specify the version tag by adding `@v2.0.2` to the end. `go get github.com/dgraph-io/badger` gets the latest Badger v1 and `go get github.com/dgraph-io/badger/v2` gets the latest Badger v2.

There's a lot of information about how to use Go Modules in their [wiki](https://g

[2020-03-09 16:31] #1253 closed

[2020-03-09 16:40] dougdonohoe commented on #1253
Thanks for update.  I needed to do this:

[code]

One other thing that isn't clear.  Do I also need to change my imports to

[code]

from

[code]

?

[2020-03-09 17:08] danielmai commented on #1253
Yeah, the dependencies in your `go.mod` file will say `github.com/dgraph-io/badger/v2`, and you'll need to use `import "github.com/dgraph-io/badger/v2"` for your import paths as well.

[2020-03-09 18:28] dougdonohoe opened #1254 "Performance regression 1.6 to 2.0.2"
### What version of Go are you using (`go version`)?

go version go1.12.7 darwin/amd64

### What version of Badger are you using?

2.0.2 (upgrading from 1.6.0)

### Does this issue reproduce with the latest master?

Haven't tried.

### What are the hardware specifications of the machine (RAM, OS, Disk)?

GCP 8 CPU (Intel Haswell), 32 GB RAM, 750 GB local ssd

### What did you do?

Running code whi

[2020-03-09 18:32] dougdonohoe commented on #1254
FYI, this is the code that is the subject of my [GopherCon talk|https://www.gophercon.com/agenda/speakers/608793].  The extract program shown above successfully extracts 57+ million records in under 4 hours using Badger 1.6, at a fairly consistent 200-400ms per 1000 (variability mostly due to size of messages coming in from Kafka).

[2020-03-09 20:46] dougdonohoe commented on #1254
[cpu-2.0.pdf](https://github.com/dgraph-io/badger/files/4308833/cpu-2.0.pdf)

I profiled 5000 records.

[2020-03-09 20:51] dougdonohoe commented on #1254
[cpu-2.0-10k.pdf](https://github.com/dgraph-io/badger/files/4308861/cpu-2.0-10k.pdf)

Here's 10,000 records.  Seems to be spending a crazy amount of time doing JSON.

[2020-03-10 14:57] jarifibrahim commented on #1254
hey @dougdonohoe, the bloom filters stored in the table seem to take up most of the time in your profile (that's where the json comes from). Can you show me the output of https://godoc.org/github.com/dgraph-io/badger#DB.CacheMetrics ? The bloom filters are loaded on DB startup into the cache and read from the cache.

The default size of the cache is 1 GB so it should have enough space to hold a lo

[2020-03-10 15:28] dougdonohoe commented on #1254
When do you want me to fetch the metrics?  After db startup, or during processing?  It seems like things get slow after some processing?

Also, what is a bloom filter?  Is this new in 2.0?  Is it necessary?

[2020-03-10 16:43] connorgorman commented on #1254
@jarifibrahim It's also worth noting when I ran the benchmarks in https://github.com/dgraph-io/badger/issues/1248 and set `WithBloomFalsePositive(1)`, then the performance is much more similar to 1.6, which is the opposite of what I would expect 🤔. These two tickets are probably describing the same issue

[2020-03-10 16:51] dougdonohoe commented on #1254
Here are stats at beginning and every 1000 records:

[code]

Note that I have two tables I'm listing metrics for.

* "Uri -> Id" table maps a NYT URI to a unique Id (an integer generated via a sequence).  Our URIs are something like `nyt://article/c178e916-68b1-547e-aba6-2f48f9e15221`.
* "Id -> Uri" is a reverse lookup of Id back to Uri

In our application, these tables will have 23+ million entri

[2020-03-10 18:02] dougdonohoe commented on #1254
The access pattern that causes this is as follows:

* Inserting a stream of values with new keys (our Uris)
* Interspersed  are lookups of existing values.

Psuedo code for this has 3mm new keys being created, and for each new key doing 10 random lookups of previous keys.

After about 2022000 records (after 1st flush), things start getting really slow.

[code]

Under the covers, GetId(s) eventuall

[2020-03-11 12:52] adwinsky opened #1255 "v2 much slower then v1.6.0"
### What version of Go are you using (`go version`)?

<pre>
$ go version
1.13.8
</pre>

### What version of Badger are you using?

v2.0.2
opts := badger.DefaultOptions(fmt.Sprintf(dir + "/" + name))
opts.SyncWrites = false
opts.ValueLogLoadingMode = options.FileIO

### Does this issue reproduce with the latest master?

Yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?

[2020-03-11 13:39] jarifibrahim commented on #1255
Duplicate of https://github.com/dgraph-io/badger/issues/1254 . Thanks @adwinsky. I'll look at this issue.

[2020-03-12 08:05] jarifibrahim commented on #1251
As mentioned over here https://github.com/dgraph-io/badger#installing,

[2020-03-12 08:05] #1251 closed

[2020-03-12 13:47] jarifibrahim commented on #1255
Hey @adwinsky, I've raised https://github.com/dgraph-io/badger/pull/1257 to fix this.
Major performance improvement comes from https://github.com/dgraph-io/badger/pull/1256 and #1257  also improves the performance.

[2020-03-12 13:49] jarifibrahim commented on #1254
Hey @dougdonohoe, I've raised https://github.com/dgraph-io/badger/pull/1256 to fix this.
Major performance improvement comes from https://github.com/dgraph-io/badger/pull/1256 and #1257  also improves the performance.

Can you please run your application against #1257 and let me know how it goes?

[2020-03-12 13:50] jarifibrahim commented on #1248
Hey @connorgorman, I've raised https://github.com/dgraph-io/badger/pull/1256 to fix this.
Major performance improvement comes from https://github.com/dgraph-io/badger/pull/1256 and #1257  also improves the performance.

Please try out #1257 and let me know how it goes.

[2020-03-12 14:07] dougdonohoe commented on #1254
Sure.  Can you remind me how to get this version using `go get`?

[2020-03-12 14:21] jarifibrahim commented on #1254
Here you go.
[code]
[code]

[2020-03-12 15:33] dougdonohoe commented on #1254
I ran it, and performance is better (possibly slightly slower than 1.6, but hard to gauge).  Unfortunately, at first flush i got this error:

[code]

Never seen an error like this before.

[2020-03-12 17:04] dougdonohoe commented on #1254
I'm re-running from fresh start to see if the above repeats.

[2020-03-12 17:04] jarifibrahim commented on #1254
@dougdonohoe Can you check how many vlog files you have? Badger keeps track of the `max vlog file` id it knows about. This error means you have a vlog file with id equal to max vlog file id.

[2020-03-12 17:09] dougdonohoe commented on #1254
In Badger 2.0, the `*.vlog` files seem to be named differently.  They are no longer sequentially increasing.  Is this expected:

[code]

[2020-03-12 17:14] connorgorman commented on #1248
Running with the above metrics and taking the performance improvements, it looks like v1 and v2 are fairly comparable. V2 may be slightly slower, but hard to tell with any certainty. Feel free to close this issue. I'll reopen or open a new one if I have any more insights! Thanks for fixing this!

[2020-03-12 17:33] jarifibrahim commented on #1254
@dougdonohoe The files could be missing because they got garbage collected.

The error you mentioned before is a strange one. The code here https://github.com/dgraph-io/badger/blob/b13b927102f0c25b777a594686239105c2b66cae/value.go#L893 is supposed to find the max fid and then start creating file from that ID onwards. In your case, badger was trying to create file from id=2 which already exists. Ca

[2020-03-12 17:37] jarifibrahim commented on #1248
@connorgorman The code in #1257 is definitely faster than v1.6.0
with #1257 read bench tool (badger/cmd/read_bench.go) read 3.3 GB in 1 minute
[code]

For v1.6.0, it read 2.8 GB
[code]

[2020-03-12 17:37] jarifibrahim commented on #1254
As for the performance, the code in #1257 is definitely faster than v1.6.0
with #1257 read bench tool (badger/cmd/read_bench.go) read 3.3 GB in 1 minute
[code]

For v1.6.0, it read 2.8 GB
[code]

[2020-03-12 17:49] dougdonohoe commented on #1254
@jarifibrahim - sorry, I deleted the data and started again.  It's working so far (aside from the odd numbering of vlog files noted above).    What I'm doing in this phase is mostly writing.  I'll have better numbers to compare to 1.6 when it finishes (takes 4-5 hours).

[2020-03-12 18:42] dougdonohoe commented on #1254
It happened again, after several hours:

[code]

Here are all the files:

[code]

What would you like to know next?

[2020-03-12 18:49] jarifibrahim commented on #1254
@dougdonohoe How are you inserting the data? Stream writer?

[2020-03-12 18:54] dougdonohoe commented on #1254
I'm using `badger.WriteBatch`.  This smells like a race condition bug.

[2020-03-12 19:34] dougdonohoe commented on #1254
In other news, I ran my test program to create 22,000,000 entries (with random lookups done for each one).  In 1.6, it ran in 25m22s.  In 2.0.2 with patch, it ran in 20m40s.  So that is a positive sign.

OTOH, I was trying to compare the re-world performance of my Kafka extraction program, but it died due to the above filename bug.  At the time of the crash, it had been running for 1h45m.  At the

[2020-03-12 19:46] dougdonohoe commented on #1254
I don't know much about the code, but I noticed this:

1.6 `value.go:1013`

[code]

2.0 `value.go:1405`

[code]

Seems suspicious to have removed the atomic add.

[2020-03-13 13:38] dougdonohoe commented on #1254
I spent a little more time trying to understand the Badger code base.  It's a lot to come up to speed on.  It is obvious the `maxFid` logic changed substantially from 1.6 to 2.0 so my point above may not be relevant.

However, one thing I don't understand in 2.0 is why the `*.vlog` file timestamps aren't monotonically increasing.

In 1.6, `ls` by timestamp shows timestamps increasing along with fi

[2020-03-13 14:39] adwinsky commented on #1255
Many thanks for quick reaction @jarifibrahim. The performance is much better with your fix

[2020-03-13 14:55] dougdonohoe commented on #1254
Note that both occurrence of this bug happened well after startup.  To summarize previous info:

* Using `WithSyncWrites(false)`
* Using `badger.WriteBatch` with a batch size of 1000

I've been looking through the code a bit more, and it must be failing in the `toDisk()` anonymous function.  In `write`:

[code]

AFAIK, aside from open, the only place that `vlog.maxFid` is changed is when `vlog.cre

[2020-03-13 14:55] adwinsky commented on #1228
https://github.com/dgraph-io/badger/pull/1257 fixed my performance problems and I was able to switch to v2 badger. Unfortunately the problem with increasing SST files happens also in this version. I am creating events with short TTL. After reaching that TTL time, the number of VLOG files stays constant but SST files keep growing linearly

[2020-03-13 15:35] #988 closed

[2020-03-16 12:35] adwinsky commented on #1228
I created small script that reproduces the problem:

https://gist.github.com/adwinsky/058a9972db502899b9fa097d76d04c70

After running it for 35 mins, it shows me these stats:

<pre>
Adams-MBP:sandbox3 adwinsky$ go run main.go 2> /tmp/errs  | grep ==
==== sst files: 0 vlog files: 1, 250.288µs
==== sst files: 8 vlog files: 5, 5m0.000977494s
==== sst files: 12 vlog files: 3, 10m0.003889869s
==== sst

[2020-03-17 10:59] xiusin opened #1261 "go1.14 panic"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14 windows/amd64
</pre>

### What version of Badger are you using?
[code]

### Does this issue reproduce with the latest master?

### What are the hardware specifications of the machine (RAM, OS, Disk)?
windows10

### What did you do?

open once, closed, next open will see panic
[code]

### What did you see ins

[2020-03-17 11:01] xiusin commented on #1261
sorry,

[2020-03-17 11:01] #1261 closed

[2020-03-17 15:19] adwinsky commented on #1228
@jarifibrahim  I narrowed down the issue and I hotfixed it for myself.

The problem is that during the compaction none of the records are not marked as 'to skip'.

I am using NumVersionsToKeep = 1 and because of that in this line:

https://github.com/dgraph-io/badger/blob/91c31ebe8c22bf0098d152128402acaf98b1def0/levels.go#L582

lastValidVersion is always true.  So instead of skip the record here:

[2020-03-17 18:21] sana-jawad commented on #698
I am also seeing similar issue. Any insights would be appreciated.

[2020-03-18 07:46] jarifibrahim commented on #1228
@adwinsky Thank you so much for debugging the issue and nailing down the bug. I'm will try to find some time and look at it.

This definitely looks like something that should be fixed. The SST size should drop after compaction.

[2020-03-18 07:51] jarifibrahim commented on #1255
@adwinsky I've merged PRs https://github.com/dgraph-io/badger/pull/1257 and https://github.com/dgraph-io/badger/pull/1260 which have fixed to a performance issue in latest badger. We'll soon release v2.0.3 with these fixes.

Thanks for profiling the code. It's much easier to fix issues when there's a profile attached to it. :)

[2020-03-18 07:51] #1255 closed

[2020-03-18 07:52] jarifibrahim commented on #1248
Hey @connorgorman  I've merged PRs https://github.com/dgraph-io/badger/pull/1257 and https://github.com/dgraph-io/badger/pull/1260 which have fixed the performance issue in latest badger. We'll soon release v2.0.3 with these fixes.

Thanks for filing the issue :)

[2020-03-18 07:52] #1248 closed

[2020-03-18 07:57] jarifibrahim commented on #1238
Hey @popbones, I'm aware of this issue but I don't have a fix for it yet. @damz was kind enough to send a PR to fix this https://github.com/dgraph-io/badger/pull/1198 but we haven't been able to merge it yet because I am supposed to make some changes to transaction which might affect his PR.

I will try to find some time and fix this.

[2020-03-18 08:00] jarifibrahim commented on #1238
@popbones if you're running 8 transactions parallelly, you will end up with multiple conflicts. I don't completely understand which part of your program is supposed to run parallelly, but if the parallelism is to insert data into badger faster, you might want to use a single `badger.WriteBatch` which will internally use multiple goroutines to speed up the insertions.

Also, it is expensive to crea

[2020-03-18 08:01] jarifibrahim commented on #1211
Closing this issue because of inactivity.

[2020-03-18 08:01] #1211 closed

[2020-03-18 08:05] jarifibrahim commented on #1161
Hey @SumanthPuram, with PR https://github.com/dgraph-io/badger/pull/1260 , we've added a new flag `LoadBloomsOnOpen`. When this flag is set to false, the bloom filters won't be loaded at DB startup. This should improve the DB startup time.

Thank you for filing the issue and helping debug it :)

[2020-03-18 08:05] #1161 closed

[2020-03-18 11:08] jarifibrahim commented on #974
@kung-foo Apologies for the late reply. Github doesn't send me notifications for closed issues.

This change will be added to v1.6.1 (we'll be releasing next week).

I can't think of a way right now. Those keys are move keys which means they're internal to badger and you cannot access them. Even if you were to figure out which are those keys, you'd have to reinsert the keys into the DB marking the

[2020-03-18 11:09] jarifibrahim commented on #698
Hey @sana-jawad @yanchenghust do you guys also have keys with TTL? Maybe there's an issue with how GC handles TTL.

@sana-jawad @yanchenghust what version of badger are you using? TTLs had some issue with GC https://github.com/dgraph-io/badger/issues/974 but this is fixed in Badger v1.6 (we are yet to release v1.6.1 which has the patch) and v2.0.

[2020-03-18 11:11] jarifibrahim commented on #1261
@xiusin FYI, badger v1.6.0 has a data loss issue on windows https://github.com/dgraph-io/badger/pull/1134 . The issue is fixed in latest release of badger v2.0.2 but v1.6.0 doesn't have this patch.

We'll soon be releasing v1.6.1 which includes https://github.com/dgraph-io/badger/pull/1134

[2020-03-18 11:30] jpkrohling opened #1262 "Nil pointer in iterator.Item()"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 linux/amd64
</pre>

### What version of Badger are you using?
v2.0.2

### Does this issue reproduce with the latest master?
Not sure.

### What are the hardware specifications of the machine (RAM, OS, Disk)?
Fedora 31, SSD, 16GiB RAM

### What did you do?
In Jaeger, we [have a code](https://github.com/jaeg

[2020-03-18 12:18] jarifibrahim commented on #1262
@jpkrohling Here's what `iterator.Valid()` function does
https://github.com/dgraph-io/badger/blob/91c31ebe8c22bf0098d152128402acaf98b1def0/iterator.go#L509-L517

`iterator.Item()` is supposed to be used only when `iterator` is `Valid` (in other words, the `item` is not`nil`)

[2020-03-18 12:18] #1262 closed

[2020-03-18 13:32] xiusin commented on #1261
@jarifibrahim thinks

[2020-03-18 13:46] jpkrohling commented on #1262
Thanks for the quick clarification!

[2020-03-18 16:27] jarifibrahim commented on #1263
This looks like a nice improvement over the bloom filters used in badger. I'll run some benchmarks to confirm the performance.

[2020-03-18 18:18] sana-jawad commented on #1228
@adwinsky can you please share your fix?

I am running into a similar issue and contemplating the right fix. In my scenario we don't use TTL. We have a space limitation condition and whenever the db gets bigger than it we collect all the keys that need deletion in batch using
keyToDel := it.Item().KeyCopy(nil)

and then in a separate transaction call delete on all these items.
err := txn.Delete(ke

[2020-03-18 22:33] popbones commented on #1238
Thanks for the reply. The program performs the `get` function posted in the description concurrently. The get function basically tries to do a check and update operation on a batch of keys, so I'm not sure how to do the check part with `badger.WriteBatch` without explicit locking.

Could you please elaborate on the multiple conflicts part in your comment. I was under the impression the transaction

[2020-03-19 16:50] jarifibrahim commented on #1182
Hey @andhe I see
[code]
on https://buildd.debian.org/status/package.php?p=badger .

What version of go are you using? I've seen the `missing fastrand` issue on go 1.10 and befow.

`fastrand` is loaded from the standard go libray.

[2020-03-19 16:52] jarifibrahim commented on #1182
I don't think I understand this correctly. Why does the application which uses badger consume all the memory?

[2020-03-20 04:31] zhiqiangxu opened #1265 "Consider export txn.addReadKey ?"
It can be used to pretend that a txn `read` some key.

If user prefer to cache value of a specific key(which changes infrequently), it would be very useful to export `addReadKey`, so that when the key changed in badger, the txn will fail.

[2020-03-20 14:13] guelfey opened #1266 "deadlock with two writing transactions"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.10.2 linux/amd64
</pre>

Cross-compiled for ARM, however.

### What version of Badger are you using?

`acce481eab83cd96f2d5470802f8f8ab8d793431`

### Does this issue reproduce with the latest master?

Not tried yet since it's hard to reproduce.

### What are the hardware specifications of the machine (RAM, OS,

[2020-03-20 16:13] jarifibrahim commented on #1266
Hey @guelfey, do you have more badger logs? It could be possible that your writes are blocked because of either
1. The `drop` operation or
2. The writes are stalled.

Badger logs might have some more information about what was going on.

[2020-03-20 16:30] ou05020 commented on #1228
Should `lastValidVersion` be set true if the value has been deleted or expired?

After updating the code to only set `lastValidVersion` if not deleted, the number of SST files did not grow during testing.

The test performed the following steps:

1. Add 250K entries with 8 byte keys and 1K values.
2. Delete previous 250K entries.
3. Flatten
4. ValueLog GC w/0.001 Discard Ratio
5. Scan all entries

[2020-03-21 17:38] gonzojive opened #1268 "Provide simple option for limiting total memory usage"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14 linux/amd64
</pre>

### What version of Badger are you using?
v1.6.0

### Does this issue reproduce with the latest master?
As far as I know, yes.

### What are the hardware specifications of the machine (RAM, OS, Disk)?

32 GB RAM
AMD Ryzen 9 3900X 12-core, 24-Thread
1 TB Samsung SSD

### What did you do?
U

[2020-03-22 15:46] guelfey commented on #1266
Hi @jarifibrahim,

we sadly don't have any further logs as this issue only comes up rarely, and in the one case where we were able to get the trace, there were no additional logs. We'll enable the event logging and see if we can get more logs related to the issue. But I can already tell you that we don't use `Drop` at all and the writes shouldn't be stalled by other reads - only the two goroutines

[2020-03-22 18:28] coder543 opened #1269 "Project Status update?"
### What did you do?

Viewed the README

### What did you expect to see?

A "Project Status" section that doesn't seem at odds with the latest blog posts

### What did you see instead?

I see that Badger 2.0 has been released. Is it recommended to use Badger 2.0, or should we still be using the 1.x series?

If it would be possible to update this Project Status section sometime, that would be great

[2020-03-23 01:01] dbolkensteyn opened #1270 "How is the merge operator intended to work?"
* Go version: `go1.12.1 windows/amd64`
* Badger version 1.6.0
* Not tested against master version

I am new to Badger and trying to get a better understanding of what the merge operator does and how it works. Note that I am using v1.6.0.

Here is the evaluation code I am using:
[code]

To my initial surprise, this program prints `FBAECD`.

After some digging, here is what I believe is happening.
1

[2020-03-23 10:22] jarifibrahim commented on #1269
Hey @coder543, it is recommended to use badger v2.
I'll update the readme. Thanks for pointing it out :)

[2020-03-23 11:41] jarifibrahim commented on #1270
Hey @dbolkensteyn

There seems to be a bug in the `v1.6.0` release. If you run your program against master (or v2.x) it dumps `FBA`. Please be aware that the updates `B` and `A` were inserted via a normal transaction and they could be dropped if compaction happens before the merge compaction runs. Merge compactions are different from LSM Tree compactions.

The entries inserted via merge operator a

[2020-03-24 00:33] #1252 closed

[2020-03-24 08:51] muXxer commented on #1238
We also have the same problem, several batchWriter that run in parallel.
RAM used in newCommitTs keeps growing until the app crashes with OOM.

Any idea when #1198 will be merged?

[2020-03-25 10:22] molon opened #1276 "Custom comparator for comparing keys?"
https://github.com/dgraph-io/badger/blob/91c31ebe8c22bf0098d152128402acaf98b1def0/y/y.go#L131-L136

Sometimes we have certain requirements on the order of storage.
Is it possible to provide a callback that can be customized like this
https://github.com/syndtr/goleveldb/blob/166222840a9a83a65c1e314fda00121fb6719c99/leveldb/opt/options.go#L246-L251

Or provide a score for entry?

[2020-03-25 12:07] MarcErdmann opened #1277 "Feature Request: Allow custom transactional Ristretto caches"
It would be great, if one can add custom Ristretto caches to a database and access them within transactions. This will allow applications to cache computed values in memory.
If the same use case can be solved with Badger's existing features, a guide would be helpful. Thanks!

[2020-03-25 17:54] dougdonohoe commented on #1254
FYI:  I've moved on to other things and have put on hold our upgrade to 2.0.  This intermittent issue where the `vlog` files already exist is a huge blocker for us.  I've seen it happen twice, but it takes a non-deterministic amount of time for it to occur.  In 1.6, I never had any issues running long running imports before (some over 24 hours long).

[2020-03-26 00:28] Kleissner commented on #1268
Agree. We use it for a simple key-value lookup with a couple of billion records (database directory is 700 GB).

It uses about 200 GB of RAM which is unacceptable. Good thing we have a lot of RAM, but there should be an easy well-defined max memory limit to set.

[2020-03-26 15:29] gonzojive commented on #1268
I am attempting to restore from backup and running out of memory. Here's a memory profile:
![memprofile25s](https://user-images.githubusercontent.com/83831/77664685-d2496380-6f3b-11ea-9605-e3b0901f7e3f.png)

latest options:

[code]

[2020-03-26 15:48] jarifibrahim commented on #1268
@gonzojive I will have a look at the high memory usage. What is the size of your data directory and the size of the backup file?

[2020-03-26 15:49] jarifibrahim commented on #1276
Duplicate of https://github.com/dgraph-io/badger/issues/776

[2020-03-26 15:49] #1276 closed

[2020-03-26 15:56] jarifibrahim commented on #1254
Hey @dougdonohoe, do you some specific time/pattern between the `missing` vlog file issues? I tried doing the same thing using the `badger benchmark write -m 1000` command which inserts 1000 million keys in badger and didn't see any missing file/file already exists issue.

If there's any script/test program that you can share which can help me reproduce the issue it would be great. I haven't been

[2020-03-26 16:20] gonzojive commented on #1268
The backup file is 1GB ()

In this case, backup.go's Load function. seems to be a major offender. It does not account for the size of the values at all. Added logging shows huge key/value accumulation and no flushing:

[code]

I'm guessing there are many places where value size is not accounted for when making memory management decisions.

[2020-03-26 16:54] gonzojive commented on #1268
I modified backup.go to flush when accumulated key + value size exceeds 100 MB. I can send a pull request for this at some point.

Before backup.go modifications:

![Screenshot from 2020-03-26 09-32-01](https://user-images.githubusercontent.com/83831/77671326-aed6e680-6f44-11ea-82e6-0eb178f0ba76.png)

After:
(it's basically flat at 21 GB).... but I didn't manage to grab a screenshot because of Ubu

[2020-03-26 17:24] jarifibrahim commented on #1263
Using xor filters is a breaking change and the performance benefit is not worth breaking the on-disk format. See https://github.com/dgraph-io/badger/pull/1264 .

[2020-03-26 17:24] #1263 closed

[2020-03-26 17:25] #1269 closed

[2020-03-27 08:36] guelfey commented on #1266
Hi @jarifibrahim,

we were able to reproduce this issue, this time including event logging. Both a trace of relevant goroutines and the event log (the text of /debug/events when fully expanded) just before getting the trace are attached. Assuming the times in the log are in UTC, our application goroutines were blocked since 7:07, and the logs and trace were taken around 7:47.

[badger-deadlock-231

[2020-03-27 09:39] xiusin opened #1279 "WSL: get an incomprehensible value"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.1 linux/amd64
</pre>

### What version of Badger are you using?
[code]

### Does this issue reproduce with the latest master?

none
### What are the hardware specifications of the machine (RAM, OS, Disk)?

Linux DESKTOP-J2HNMBI 4.4.0-18362-Microsoft #476-Microsoft Fri Nov 01 16:53:00 PST 2019 x86_64 x86_64 x

[2020-03-27 09:47] xiusin commented on #1279
windows 10 is ok, but wsl is not ok.

[2020-03-27 09:47] xiusin commented on #1279
![image](https://user-images.githubusercontent.com/36065131/77743390-f8adf280-7052-11ea-8b3c-a3e347eff756.png)

[2020-03-27 10:50] dbolkensteyn commented on #1270
Thank you @jarifibrahim , this is extremely helpful! I'll upgrade to v2 to make my future findings more actionnable and useful.

[2020-03-27 10:50] #1270 closed

[2020-03-27 13:36] jarifibrahim commented on #1279
Hey @xiusin, I'm sorry, I don't understand which value is wrong. Can you help me understand what values did you insert and what was the response you got back?

I have not tried running Badger with WSL. If you can give me a script or test which shows this behavior, I'll try to run it locally and figure out what's going on.

[2020-03-27 15:32] GameXG opened #1280 "Sequence generates duplicate values"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.1 windows/amd64
</pre>

### What version of Badger are you using?
e029e93f52c1930934c19c28bb378744858d33b3

### Does this issue reproduce with the latest master?
yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
mem:32g
os:windows 10
disk:Samsung SSD 970 EVO Plus

### What did you

[2020-03-27 15:47] jarifibrahim commented on #1280
Hey @GameXG, I made a small modification to you code and it works as expected.
[code]
and here's the output
[code]

It is important that the sequences are released in the order they're fetched. It should be okay if you release only the last sequence object.
Here's what `seq.Release()` does
https://github.com/dgraph-io/badger/blob/4b539b98851fd2fb32683098cfe23f172c437a3f/db.go#L1232-L1245
So the la

[2020-03-27 15:55] jarifibrahim commented on #1280
I agree. This issue should be fixed by https://github.com/dgraph-io/badger/pull/1281.

Thank you for fixing it @GameXG

[2020-03-28 04:47] GameXG commented on #1280
hi, does this question involve #601?
In some cases, the auto-incrementing id will be used as the key. Duplicate keys will overwrite old entries by mistake.

[2020-03-29 11:31] GameXG commented on #1280
simulate http concurrent upload data . Add dataList1, dataList2, dataList3 to the database.
dataList2 is completely missing.

[code]

[2020-03-29 11:32] GameXG commented on #601
hi,
#1280 Comply with standards?

[2020-03-30 15:39] jarifibrahim commented on #1228
hey @adwinsky, the keys are not being removed because you've set number of versions to keep to `1`. If you set it to zero, the keys will be dropped instantly. I changed your script to set number of versions to keep to `0` https://gist.github.com/jarifibrahim/076afb3a9c054f8b72e093a65cc14828#file-main-go and here's what I see
[code]

[2020-03-30 15:42] jarifibrahim commented on #1228
@ou05020 For expired keys, we can drop them but for deleted keys, it might be possible that there's an older version in the lower levels and then dropping the delete key would mean your lookups will see the older version stored in the tree.

For instance, Let's say you inserted `foo` which is stored as `foo1` on level 2. Now you deleted `foo` so it is stored as `foo2` in level 0. If we drop `foo2`

[2020-03-30 15:43] jarifibrahim commented on #1228
@sana-jawad, the default value of number of versions to keep is `one`. So badger will keep one version of the key. If you set the `number of versions to keep` to zero, badger will drop the deleted key when compaction runs.

[2020-03-30 15:48] jarifibrahim opened #1283 "Badger writes get blocked (maybe stalled)"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go 1.13
</pre>

### What version of Badger are you using?
v2.0.0

### Does this issue reproduce with the latest master?
NO

### What did you do?
Run the script https://gist.github.com/jarifibrahim/5ec4983a308e67f116c4ca223344f134#file-main-go

### What did you expect to see?
Writes working.

### What did you see instead?
The

[2020-03-31 09:41] adwinsky commented on #1228
Thank you very much @jarifibrahim for your reply. Seems that NumVersionsToKeep=0 works indeed, but only if it's set from the beginning. If I run a program with NumVersionsToKeep=1  keep it for a while until I have some duplicates created, and then restart the program with NumVersionsToKeep=0, it will never remove old SST files.

But I must say, to me this behaviour seems counter intuitive. NumVers

[2020-03-31 13:22] jarifibrahim commented on #1228
@adwinsky No. The keys will be dropped when compaction runs. It might take some time for some specific range to be compacted but eventually, all the duplicate keys will be dropped.

Yes, I also feel the default should be set to `0` but there has to be a reason why we have it at `1`. I will try to find out why it is at `1` and then post an update here.

[2020-04-01 07:58] guelfey commented on #1266
Hi @jarifibrahim,

I started to dig a bit more into the logs and the code of badger itself. What I gathered so far is:
* writes are stalled because `db.mt` is full, but nobody is reading from flushChan (https://github.com/dgraph-io/badger/blob/acce481eab83cd96f2d5470802f8f8ab8d793431/db.go#L756)
* `flushMemtable` is blocked in `addLevel0Table` as L0 or L1 are compactable.
* One compaction worker i

[2020-04-04 07:07] sana-jawad opened #1288 "Does dropPrefix remove !badger!move keys?"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.6
</pre>

### What version of Badger are you using?
2.0.2

### Does this issue reproduce with the latest master?
yes

### What are the hardware specifications of the machine (RAM, OS, Disk)?
16 GB, Mac OS, 2TB

### What did you do?
1. Inserted 1M of keys in badgerDB with two common prefixes say prefix1, pref

[2020-04-06 02:04] swdee opened #1289 "Question: Insert on Duplicate Transaction"
Go version: 1.13.9
Badger version: 2.0.3

Having used RDBMS for many years I am trying to implement Insert on Duplicate functionality.  My first implementation was to create a Badger transaction then check if the key exists and if it doesn't insert the key/value.  If the key already exists then the transaction is aborted and a `duplicate` error is returned.

The code for this program;

[code]

Whe

[2020-04-06 13:32] jarifibrahim commented on #1289
Hey @swdee, thank you for raising the issue. This definitely looks odd to me. I'll investigate this further and figure out what's going on.

[2020-04-06 13:37] jarifibrahim commented on #1288
Hey @sana-jawad, we do not clean up the `badger!move!` keys. This is a known issue. One of the challenges here is to figure out which `!badger!move` keys are actually invalid and which ones are valid.

We could perform lookups for all `!move!` keys but this would severely affect the write performance as the compactions would become very expensive. This is a fairly tough task and we're working on f

[2020-04-06 13:41] jarifibrahim commented on #1280
Hey @GameXG, since the sequences were released in a different order, different values were stored in badger. This doesn't mean badger lost any data. All the data that was inserted is stored in badger and can be retrieved.

This isn't a data loss issue but more like an incorrect API use issue (or missing documentation issue). Thank you for looking into the issue and sending a PR for it. We apprecia

[2020-04-06 14:04] guelfey commented on #1266
Hi @jarifibrahim,

we observed this issue once again. This time, I also looked at /debug/requests and saw badger repeatedly tries to do a L0 compaction, but fails everytime with the same error:
[code]
I took a copy of the database after stopping the application. Table 14 is the first L0 table and present both in the MANIFEST file and as an `.sst` on disk. I suspect this is due to an earlier compac

[2020-04-06 14:27] jarifibrahim commented on #1266
This issue is related to https://github.com/dgraph-io/badger/issues/1283 . In https://github.com/dgraph-io/badger/issues/1283, write batch is used which internally uses multiple transactions.

[2020-04-06 14:29] jarifibrahim commented on #1266
@guelfey Can you try to run your code on v2.0.2? I noticed that tissue #1283 was not reproducible on the latest master (or v2.0.3). Meanwhile, I'll try to figure out what's going on.

[2020-04-06 15:46] guelfey commented on #1266
I don't think that will be possible easily - I still don't have a specific test case that triggers this behaviour, so we're right now basically waiting for it to happen in production again, and updating to v2 there is currently infeasible due to the new DB format.

[2020-04-06 19:14] sana-jawad commented on #1288
Thanks @jarifibrahim for the reply. It makes sense. I have a suggestion for dropPrefix method:

When dropPrefix is called for a "prefix", the dropPrefix should also drop keys with !badger!move+prefix. For drop prefix the choice is much more easy to make. Right now as a work around I am calling dropPrefix two times:
  dropPrefix(prefix)
  dropPrefix(!badger!move+prefix)

Also an observation, lower

[2020-04-07 08:20] xiusin commented on #1139
the same
[code]

[2020-04-07 20:22] julieStackRox opened #1291 "Badger fails to open due to manifest table mismatch"
### What version of Go are you using (`go version`)?
<pre>
1.13
</pre>

### What version of Badger are you using?
<pre>
1.6
</pre>

### Does this issue reproduce with the latest master?

### What are the hardware specifications of the machine (RAM, OS, Disk)?
Not sure

### What did you do?
When we try to open a Badger DB we get the error "file does not exist for table 1938" or the error "file does

[2020-04-07 20:51] Stebalien opened #1292 "Value log rewrites load the entire value log into memory"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.8 linux/amd64
</pre>

### What version of Badger are you using?

1.6.1

### Does this issue reproduce with the latest master?

I haven't tried but the code looks the same.

### Description

When rewriting a value log (e.g., on garbage collection), badger will end up loading the entire value log into memory u

[2020-04-08 09:55] jarifibrahim commented on #1291
@julieStackRox Are you sure you're using badger v1.6 and not v1.6.1? We recently added some fixes to v1.6.1 and my guess is one of those fixes introduced a bug.

[2020-04-08 09:57] #1280 closed

[2020-04-08 10:01] jarifibrahim commented on #1292
Yes @Stebalien. That is correct. We should consider the size of the value when considering the size of the batch.

The fix would be similar to the one in https://github.com/dgraph-io/badger/pull/1278

[2020-04-08 10:24] jarifibrahim commented on #1288
Thanks @sana-jawad. The `dropPrefix(!badger!move+prefix)` seems like a decent idea. Feel free to send a PR for it and the documentation changes. :)

[2020-04-08 14:51] #1224 closed

[2020-04-08 21:09] mvdan commented on #1208
@jarifibrahim did you end up digging into this? I have a project where I'd love to use badger v2, but I can't, because one of my dependencies indirectly pulls badger v1. It's an unfortunate situation, as I can't fix the problem directly, and I can't import the current version.

[2020-04-09 09:41] #1208 closed

[2020-04-09 09:42] jarifibrahim commented on #1208
Thank you for fixing this @mvdan. @dopey The fix for this issue is in master. Please do give it a try and let me know how it goes.

[2020-04-09 15:19] jmozah opened #1294 "Crash because of unsafe pointer usage in AndreasBriese/bbloom library"
fatal error: checkptr: unsafe pointer arithmetic

goroutine 16 [running]:
runtime.throw(0xe12690, 0x23)
	/opt/hostedtoolcache/go/1.14.2/x64/src/runtime/panic.go:1116 +0x72 fp=0xc0000893d0 sp=0xc0000893a0 pc=0x446cd2
runtime.checkptrArithmetic(0xc00022a080, 0x0, 0x0, 0x0)
	/opt/hostedtoolcache/go/1.14.2/x64/src/runtime/checkptr.go:43 +0xb5 fp=0xc000089400 sp=0xc0000893d0 pc=0x418115
github.com/Andr

[2020-04-09 16:31] jmozah commented on #1294
@jarifibrahim checked this in 2.0.3 also... i am getting the same error...
But this only happens in the github CI and not in our local machines..

[2020-04-09 16:34] jarifibrahim commented on #1294
@jmozah Can you please point me to the github build that failed? I'd like to see how badger was built.

[2020-04-09 16:36] jmozah commented on #1294
@jarifibrahim looks like it is passing in 2.0.3.
for the 1.6 logs .. lok at https://github.com/ethersphere/bee/pull/75/checks?sha=1551a2540b278ff94f8d6060ac1ad08dbfd8edae

[2020-04-09 16:44] julieStackRox commented on #1291
@jarifibrahim Thank you for your response. Yes, we were on 1.6.1. Tried to rollback now.

[2020-04-09 16:48] jarifibrahim commented on #1291
@julieStackRox My guess is PR https://github.com/dgraph-io/badger/commit/3e25d771067d933c88674f26e5a11ef75c492e90 introduced this.

Do you have a way to reproduce this issue? I'd like to reproduce this so that I can dig deeper.

[2020-04-09 16:50] jarifibrahim commented on #1236
Hey @wood-jp, it looks like there's nothing we need to do in badger for this issue.

Feel free to reopen. Thank you!

[2020-04-09 16:50] #1236 closed

[2020-04-09 16:51] jarifibrahim commented on #1294
Related to https://github.com/dgraph-io/badger/issues/1096

[2020-04-10 11:33] jarifibrahim commented on #1283
The issue seems to be because of `value log GC`. I noticed that the GC gets blocked and so the writes are also blocked. Commenting out this line https://gist.github.com/jarifibrahim/5ec4983a308e67f116c4ca223344f134#file-main-go-L88 seems to unblock the writes.

[2020-04-10 11:34] jarifibrahim commented on #1266
@guelfey Do you periodically run `ValueLogGC`? I noticed that in issue https://github.com/dgraph-io/badger/issues/1283, the block is because of `value log GC` https://github.com/dgraph-io/badger/issues/1283#issuecomment-611992830.

[2020-04-10 11:50] jarifibrahim commented on #1283
The script https://gist.github.com/jarifibrahim/5ec4983a308e67f116c4ca223344f134 gets blocked until value log GC is completed. In Badger v2.0.0 we had issue with the cache because of which all bloom filters were being read from the file. Reading bloom filters from the file is very slow and expensive in terms of CPU and disk. This issue was fixed via https://github.com/dgraph-io/badger/pull/1260 .

[2020-04-10 11:50] #1283 closed

[2020-04-10 19:25] lidel opened #1296 "Unexpected terminal print: Latest Entry Header in LSM Key"
### What version of Go are you using (`go version`)?

[code]

### What version of Badger are you using?

github.com/dgraph-io/badger v1.6.1

### Does this issue reproduce with the latest master?

I did not have bandwidth to check

### What are the hardware specifications of the machine (RAM, OS, Disk)?

CPU: i7-4770S
RAM: 32GB
HDD: 11T

### What did you do?

While running go-ipfs 0.5.0-rc1 I notic

[2020-04-12 06:07] #1242 closed

[2020-04-12 18:36] jsign opened #1297 "VLOGs total size ~1gb with no stored data on default config"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 darwin/amd64
</pre>

### What version of Badger are you using?
`github.com/dgraph-io/badger/v2 v2.0.1-rc1.0.20200409094109-809725940698`

### Does this issue reproduce with the latest master?
Yes.

### What are the hardware specifications of the machine (RAM, OS, Disk)?
RAM 8gb, latest Catalina, 512gb

###

[2020-04-13 06:24] jarifibrahim commented on #1297
@jsign For badger, a `delete` operation is the same as a `set` operation. When you insert 10 entries via `set` operation, those 10 entries are written to the vlog file which is on the disk. When you delete those 10 entries, the `delete` operation is also written to the vlog (which is also the write ahead log).
So this means your vlog file will have 20 entries.

As for the vlog GC, the vlog GC will

[2020-04-13 12:13] drathier opened #1298 "Cannot go get v2 as per readme"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 darwin/amd64
</pre>

### What operating system are you using?
macOS 10.14.6

### What version of Badger are you using?
v2?

### Does this issue reproduce with the latest master?
Yes

### Steps to Reproduce the issue
`go get github.com/dgraph-io/badger/v2`

### What Badger options were set?
none

### What d

[2020-04-13 12:39] jarifibrahim commented on #1265
Hey @zhiqiangxu, why is it necessary to export the `addReadKey` function? If you `read` a key, it will automatically be added to the `txn.reads` slice. Wouldn't that be enough?

Also, I don't understand how `txn.AddReadKey` would help with caching the value.
If you want to cache the value, you can use the `key+version` as the cache key. The `key+version` will always be unique.

[2020-04-13 15:12] jsign commented on #1297
@jarifibrahim, thanks for your fast reply.

Considering that, and other flags I tested in other scenarios in that program, the following configuration seems to make the trick for controlling the total size of files on disk:
- `NumVersionsToKeep=0`.
- `CompactL0OnClose=true`
- `NumLevelZeroTables=1`
- `NumLevelZeroTablesStall=2`
- `ValueLogFileSize=XXX`, with `XXX` ~max vlog size usage after compac

[2020-04-13 15:50] jarifibrahim commented on #1298
Looks like this has something to do with go mods. If I run `go get github.com/dgraph-io/badger/v2` inside a directory which has a `go.mod` file the command works but it fails if I run it in a directory which does not have `go.mod` file.

[2020-04-13 21:04] swdee commented on #1289
@jarifibrahim Have you had a chance to look into this yet?  Have you been able to reproduce the issue on your system?

[2020-04-13 22:21] LookoutHill commented on #1298
@drathier Run this instead: go get github.com/dgraph-io/badger

[2020-04-14 09:28] jarifibrahim commented on #1298
This would do the trick. The command in readme works fine for a project which has a `go.mod` file. We can change it if necessary.

Thanks for the help @LookoutHill :+1:

[2020-04-14 09:28] #1298 closed

[2020-04-14 09:30] jarifibrahim commented on #1297
CompactL0OnClose=true
NumLevelZeroTables=1
NumLevelZeroTablesStall=2

@jsign The numbers look fine to me but I have two questions.

Why do you need to reduce the number of level zero tables? The level zero tables are kept in memory (you can disable it by `KeepL0InMemory: false`).

And why do you reduce the level 0 stall? The default is 10 tables which means that if your level 0 has more than 10 ta

[2020-04-14 11:55] jsign commented on #1297
@jarifibrahim , thanks for pointing that out, avoiding `NumLevelZeroTables*` still keeps a better bound to file sizes. I'll consider `KeepL0InMemory: false` for memory bounded scenarios.

Thanks!

[2020-04-14 11:55] #1297 closed

[2020-04-14 12:45] jarifibrahim commented on #1289
@swdee It looks like a bug in the iterator to me. I replaced the iterator in your code with `DB.Get()` and it works fine.
[code]
This code returns `Transaction Conflict` which is as expected.

I'll spend some more time and try to figure out why iterator behaves differently.

[2020-04-14 16:53] supergeoff opened #1301 "LOCK Issue on windows on exposed API"
Hello all and sorry if my question is not at the right place. Its related to a miss usage of the library and probably not a bug

### What version of Go are you using (`go version`)?

<pre>
$ go version 1.14

</pre>

### What operating system are you using?

Windows 10

### What version of Badger are you using?

Last one from master (v2 I guess)

### Does this issue reproduce with the latest master

[2020-04-14 19:30] swdee commented on #1289
Good to know, I have tested out `DB.Get()`  and confirm the expected `ErrConflict`.  I look forward to the bug fix when available. Thanks.

[2020-04-14 19:36] swdee commented on #601
Hi,

I believe issue https://github.com/dgraph-io/badger/issues/1289 meets your bounty criteria, as the bug is causing data loss due to conflict transactions overwriting each other.  The values of the last transaction are the ones that get written to the DB instead of the first transaction and subsequent ones returning `ErrConflict`.

[2020-04-14 19:37] swdee commented on #1289
I believe this issue meets your Bug Bounty criteria https://github.com/dgraph-io/badger/issues/601

[2020-04-14 20:00] #1301 closed

[2020-04-14 20:01] supergeoff commented on #1301
Realized there is a forum where this question is more appropriate. Sorry for the inconvenience.

Best regards

[2020-04-14 22:24] luca-moser opened #1304 "Clarify "Memory usage" section in readme"
The readme has a small section about how to tweak BadgerDB to consume less memory. However, the section doesn't really describe any of the parameters in depth or allow the reader to be able to make an educated guess on how much memory his/her BadgerDB instance will consume.

The reason I'm bringing this up is that we're heavily using BadgerDB in our software but the options around it feel like a b

[2020-04-15 09:44] jarifibrahim commented on #1304
Thank you for raising the issue @luca-moser. Updating the documentation is on our list of to-do things and we'll try to get it updated.

Meanwhile, if you need help with reducing memory usage, I'll be happy to help. Please do share your badger options so that I can suggest some changes.

[2020-04-15 12:38] jarifibrahim commented on #1294
The issue is because an older version of `AndreasBriese/bbloom` had unsafe pointer handling (https://github.com/AndreasBriese/bbloom/issues/9). It has been fixed and updating the bbloom version in badger should fix this issue.

[2020-04-16 23:18] enenum opened #1307 ""github.com/dgraph-io/badger/v2/options" doesn't exist"
### What version of Go are you using (`go version`)?

<pre>
go version go1.13.4 darwin/amd64
</pre>

### What operating system are you using?
MacOsX10.15.4

### What version of Badger are you using?
2.0.3

### Does this issue reproduce with the latest master?
yes

### Steps to Reproduce the issue

glide install - with a the repo well include in glide.yaml

### What Badger options were set?

did no

[2020-04-16 23:41] enenum commented on #1307
further: on running (on a clean machine) `go get github.com/dgraph-io/badger/v2/...` as given in the main README.md pulls the master fine and then gives the warning:
`go warning: "github.com/dgraph-io/badger/v2/..." matched no packages`

[2020-04-17 06:20] jarifibrahim commented on #1307
@enenum I think the failure is because of glide and go modules. Badger v2 uses go modules. Is there a reason for using `glide`?

From  https://github.com/Masterminds/glide#go-modules
[code]

[2020-04-17 18:08] enenum commented on #1307
Yep. I had to turn on GO111MDULE=on in the project... Thanks

[2020-04-17 18:08] #1307 closed

[2020-04-19 12:51] ammmir opened #1312 "Out of memory crash during backup"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.4 darwin/amd64
</pre>

### What operating system are you using?

Linux

### What version of Badger are you using?

1.6.1

### Does this issue reproduce with the latest master?

Unsure, as haven't been able to upgrade to 2.0 yet.

### Steps to Reproduce the issue

    GOMAXPROCS=128 badger backup --dir db

##

[2020-04-19 17:32] jarifibrahim commented on #1312
Hey @ammmir, can you collect a heap profile? It would show up what is using most of the memory.

As soon as the backup is started, the first line shows the port on which pprof is running. In the logs above, on the first line, I see
[code]
So you can do a curl request on `localhost:port/debug/pprof/heap`. This will download a file. Please try to collect multiple heap profiles. Try to get a heap pro

[2020-04-20 15:34] jarifibrahim commented on #1277
Hey @MarcErdmann, please help me understand your feature request. Why can't the application cache the values on top of badger? Or why is it necessary to have access to the cache within a transaction?

[2020-04-20 15:37] jarifibrahim commented on #1296
This could be a bug. Needs further investigation.
@lidel are you able to reproduce this issue reliably?

[2020-04-20 15:48] jarifibrahim commented on #832
As @manishrjain mentioned, I don't think there's anything to be done here. If the value is set to `nil`, that's as good as setting only the key. The overhead of having a nil value should be very minimal.

[2020-04-20 15:48] #832 closed

[2020-04-20 15:49] jarifibrahim commented on #922
This looks like a useful improvement.

[2020-04-20 17:53] ammmir commented on #1312
Sure, here's a first profile after 10 seconds of starting the backup:

[code]

And about 2 minutes in, shortly before the OOM crash:

[code]

![profile001](https://user-images.githubusercontent.com/218179/79782628-5abff600-837a-11ea-9189-5c0c3d89f7d3.png)

[code]

[code]

Let me know if there's anything else that might be helpful!

[2020-04-20 18:51] lidel commented on #1296
Sadly no, I've been running go-ipfs against the same datastore for about a week but the terminal is silent now.

[2020-04-21 07:03] guelfey commented on #1266
Seems to have been fixed by updating to badger 1.6 - will reopen if it occurs again

[2020-04-21 07:03] #1266 closed

[2020-04-21 07:10] jarifibrahim commented on #1266
Thanks @guelfey!

[2020-04-21 07:11] jarifibrahim commented on #1296
@lidel please make a copy of the badger directory and the logs when the error shows up.

[2020-04-21 15:25] MarcErdmann commented on #1277
I am not sure how Badger handles aborted transactions internally. It would be great to allow indexing data in ristretto during a primary DB transaction and if the primary DB transaction fails also undo the ristretto cache alteration.
Caching data on top of Badger is difficult to keep in sync with badger itself, if abortions of transactions occur, because e.g. ristretto and other in-memory caches d

[2020-04-22 05:49] jarifibrahim commented on #1294
Fixed and merged to `release/v1.6` branch via https://github.com/dgraph-io/badger/pull/1305 .
The next release of 1.6.x version will have this fix.

Thanks for reporting the issue @jmozah

[2020-04-22 05:49] #1294 closed

[2020-04-22 14:33] jarifibrahim commented on #1239
I've tried two different approaches to reduce the memory but both of them aren't working.

**Attempt 1** - PR https://github.com/dgraph-io/badger/pull/1247 Reuse the original byte slice (the one read from the table). The problem with this approach is that the sst is mmap and if the slice of bytes read from the table is put into the sync pool, we might end up modifying the original contents of the

[2020-04-23 22:44] popbones commented on #1238
Just trying to keep things tracked

#1275 contains updated version of PR #1198

[2020-04-25 22:49] gonzojive commented on #1268
Although I have a fix for the backup restoration issue, this issue as a whole has not been addressed.

I'm not aware of what causes badger to take up the amount of memory that it does.  That seems like the first step towards introducing a flag for setting a fixed memory limit. May someone from the badger team weigh in?

[2020-04-27 06:55] jarifibrahim commented on #1268
The amount of memory being used depends on your DB options. For instance, each table has a bloom filter and these bloom filters are kept in memory. Each bloomfilter takes up 5 MB of memory. So if you have 100 GB of data, that means you have (100*1000/64) = 1562 tables, and 1562*5 MB is about 7.8 GB of memory. So your bloom filters alone would take up 7.8 GB of memory. We have a separate cache in b

[2020-04-27 10:26] RubenKelevra opened #1317 "Garbage collection isn't working (Badger 1)"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 linux/amd64
</pre>

### What operating system are you using?
Arch Linux

### What version of Badger are you using?
1.6.1

### Does this issue reproduce with the latest master?
_Not checked_

### What did you do?

I try to debug, why the Garbage Collection isn't working on a Badger 1 database.

I have a dat

[2020-04-27 13:30] RubenKelevra commented on #1317
Ah! I found the closed bug, which explains the behavior:

https://github.com/dgraph-io/badger/issues/1297

[2020-04-27 13:30] #1317 closed

[2020-04-28 12:40] ammmir commented on #1312
@jarifibrahim let me know if there's any additional information I could provide to make debugging easier :)

[2020-04-28 13:56] jarifibrahim commented on #1312
Hey @ammmir, I tried to run backup on badger v1.6.1 and it seems to work fine. I also don't see anything suspicious in the memory profile.

How big are your values?

[2020-04-28 14:41] ammmir commented on #1312
@jarifibrahim values are up to 1 MB in size, but most are a few hundred bytes. one notable thing is that most keys have expiration (in days) and there is a lot of write activity to the same sets of keys, but the GC seems to be taking care of not keeping too many old versions around (we run it once a minute).

[2020-04-28 15:42] alexsporn commented on #1304
Hi @jarifibrahim, Luca told me to post our findings here so you can take a look.

Our database folder is about 300GB big. Just opening the database consumes 13GB ram with the settings we are using.

I ran the following "minimal badger" using our settings that just opens the database and runs the garbage collector every 5 minutes.

[code]
Running on go 1.14.2 and badger 2.0.3 the output of this scr

[2020-04-28 16:29] jarifibrahim opened #1318 "[Release Blocker] Sigbus error in block iterator"
Copied over from https://sentry.io/organizations/dgraph/issues/1620931878
Affected badger version `v2.0.1-rc1.0.20200421062606-cddf7c03451c` commit cddf7c03451c
The failure looks similar to https://github.com/dgraph-io/badger/pull/1150 where we were trying to read beyond the actual size of an mmap file.
[code]

[2020-04-28 16:39] jarifibrahim commented on #1312
@ammmir the issue is similar to https://github.com/dgraph-io/badger/pull/1278. The backup/restore code doesn't account for value sizes when calculating the size of tables. PR https://github.com/dgraph-io/badger/pull/1278 should improve memory usage.

[2020-04-28 16:47] alexsporn commented on #1304
This is another run of the same "minimal_badger" code on the same database after our app crashed due to an OOM error. Here you can see that the same code is consuming more and more ram although no one is using the database actively.

[code]

A heap profile of our main app before it crashed with the OOM showed this behavior while consuming more and more memory:
[ram_profile2.pdf](https://github.com

[2020-04-28 16:58] jarifibrahim commented on #1304
@alexsporn This is great work. You've tuned most of the options appropriately.  I have two more suggestions.
1. Disable the cache (set MaxCacheSize=0) . The cache is used to store decrypted/decompressed blocks. Since you're not using compression, the cache is not being used anyway.
2. Use the `Bloom filter cache` https://github.com/dgraph-io/badger/blob/cddf7c03451c91e7a9c9df4121d16e1a56937786/opt

[2020-04-28 17:08] jarifibrahim commented on #1304
@alexsporn You can monitor the Bloom Filter Cache Metrics https://godoc.org/github.com/dgraph-io/badger#DB.BfCacheMetrics to determine if the cache size should be increased. More cache misses mean slower reads.

[2020-04-28 17:11] alexsporn commented on #1304
@jarifibrahim Thanks for the feedback, we will experiment with those values.

Any idea on the rapid memory consumption from my second comment? Where  table.NewTableBuilder starts consuming lots and lots of memory?
Even just opening the database (using the provided sample code) after the OOM crash of the main app had a rapid memory increase

[2020-04-28 17:26] jarifibrahim commented on #1304
@alexsporn The memory spike is very unusual. I see that profile shows 22GB of memory used by the table builder which a lot of memory. 22GB would hold 22000/67=328 SST. I don't think there's any way badger could be building 328 tables all at once. Can you share the badger logs? It might have some information about which level was being compacted.

[2020-04-30 11:54] jarifibrahim commented on #1139
This issue seems related to https://github.com/dgraph-io/badger/pull/1313. The `bitValuePointer` might be incorrectly set because of backup restore.

[2020-04-30 16:33] cedricfung commented on #1139
How could we fix our existing data?

Thank you for these efforts.

On Thu, Apr 30, 2020 at 7:54 PM Ibrahim Jarif <notifications@github.com>
wrote:

[2020-04-30 21:32] bonedaddy commented on #1084
Ran into this issue using badger-v2. Originally this looked like an issue with `ipfs/go-datastore` because this issue didnt cause problems when using `ipfs/go-datastore@v0.3.1`,  and tests were completing in roughly 128seconds.

However upgrading to `ipfs/go-datastore@v0.4.4` caused this issue to rear its head, and the datastore test suite wouldn't ever complete. Longest time I had it running was

[2020-05-01 12:59] tsellers-r7 commented on #1084
@bonedaddy - As far as I understand it the bug here isn't that Linux is slow, it's that Windows is fast only because Go doesn't actually open the files as `sync` and so it's using async everywhere.

[2020-05-01 13:25] jarifibrahim commented on #1084
Hey @bonedaddy, the root cause of the issue is https://github.com/golang/go/issues/35358 .

[2020-05-01 17:06] fengyanliang opened #1320 "When set data in Iterator, when opts.PrefetchValues = false , the data will be mass."
Here is my test code, I add 0-100 keys and set it value to 0 -100. after run txn.set in iterator serval time, I have get the wrong values.

package main

import (
	"fmt"
	"log"

	"github.com/dgraph-io/badger"
)

var db *badger.DB

func main() {

	var err error
	db, err = badger.Open(badger.DefaultOptions("./data/reading.db"))
	if err != nil {
		log.Fatal(err)
	}
	defer db.Close()

	err = db.Update

[2020-05-01 20:09] bonedaddy commented on #1084
@tsellers-r7 good to know, I'm very unfamiliar with windows so that clears things up.

@jaipradeesh thanks for the link, good to know the issue exists in go issue tracking.

[2020-05-01 23:45] fengyanliang commented on #1320
And also, when I try to change the data back, txn.Set can not work in interator, it's return nil error, but the data have not been changed ,hereis my code

for it.Seek([]byte(prefix + "999")); it.ValidForPrefix([]byte(prefix)); it.Next() {
			item := it.Item()
			key := item.Key()
			err := item.Value(func(v []byte) error {
				errr := txn.Set(key, key[8:])
				fmt.Println(errr)
				if errr != nil

[2020-05-03 10:49] luca-moser commented on #1228
@jarifibrahim can you point us to the correct setting for letting BadgerDB clean deleted keys correctly? My understanding is that https://github.com/dgraph-io/badger/pull/1300 was closed because setting `NumVersionsToKeep` to zero results actually in infinite version to be kept around. So what does one have to define in order to let BadgerDB clean deleted keys?

[2020-05-03 14:36] #1279 closed

[2020-05-06 20:32] Stebalien opened #1324 "Interruptable garbage collection"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.2 amd64/linux
</pre>

### What operating system are you using?

Linux

### What version of Badger are you using?

v1.6.1

### Description

`RunValueLogGC` cannot be interrupted and can potentially run for minutes on a large enough datastore. This can be a problem if garbage collection is running on shutdown.

[2020-05-08 12:56] mvanderkroon opened #1325 "Discussion: BadgerDB should offer arbitrarily sized, atomic transactions"
# Observation
The current BadgerDB implementation keeps in-flight transactions in memory until `txn.Commit()` is called. If the amount of operations exceeds a predetermined amount, an `ErrTxnTooBig` is yielded. The de-facto way of dealing with this seems to be to commit the pending transaction there and then, to create a new transaction and continue the sequence of operations.

# Problem statement

[2020-05-09 07:35] jarifibrahim commented on #1320
Hey @fengyanliang, I don't understand what you're trying to do in the provided script. I see you inserted 100 entries but you're iterating on them in reverse order with `prefix-999`. This would always be empty because you haven't inserted any key with `prefix-999`.

Also, you should create an iterator when you want to use it. An iterator won't be able to see the data inserted the data that was ins

[2020-05-09 07:42] jarifibrahim commented on #1324
This looks like a useful enhancement since GC could take minutes at times to complete.The GC has two steps. The first sampling step can be exited at any time.
https://github.com/dgraph-io/badger/blob/536fed1846d0f4db9579bcff6797614e134eadfa/value.go#L1628 The second step is where we rewrite the value log file. I'm wondering if there would be any side effects of stopping the rewrite while it's runn

[2020-05-10 20:25] bonedaddy opened #1326 "Badger Allocates A Lot Of Memory When Iterating Over Large Key Value Stores"
### What version of Go are you using (`go version`)?

<pre>
go version go1.14.2 linux/amd64
</pre>

### What operating system are you using?

NAME="Ubuntu"
VERSION="18.04.4 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.4 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRI

[2020-05-10 23:49] fengyanliang commented on #1320
I can discribe it for short,
When I set 5 keys in the badgerdb, just like:
(keys:values)
key1:1
key2:2
key3:3
key4:4
key5:5

I find the value is wrong, so I plan to change it, and I  used iterator.
When I try to set key1 to 0 key2 to 1 key3 to 2 key4 to 3 key5 to 4
If I set opts.PrefetchValues = true, the value did not changed, but txn.Set(key1, 0) return nil
If I set opts.PrefetchValues = false,

[2020-05-11 08:13] cedricfung commented on #1139
Any further steps to fix the existing data? Use the master branch to backup and restore? Any special params to use in the backup and restore?

[2020-05-11 12:51] cedricfung commented on #1139
@jarifibrahim yes I'm using the default options.

[2020-05-11 13:03] jarifibrahim commented on #1326
@bonedaddy The high memory usage you're seeing comes from https://github.com/dgraph-io/badger/blob/9459a240bdf3cf1bf59a172558b37455c742d3bf/table/table.go#L323-L325
I would've expected golang GC to take care of the allocations/reclaimation but maybe since we're allocating so many `[]byte` slices, the GC doesn't run that often. I think we can optimize this by having one block buffer per table. That

[2020-05-11 13:06] jarifibrahim commented on #1139
@cedricfung No. If you're using badger with default options, backup and restore on the `latest` master with https://github.com/dgraph-io/badger/pull/1313 should be enough.

[2020-05-11 19:20] bonedaddy commented on #1326
ah makes sense. A reusable buffer would definitely reduce memory a ton.

I tried setting table loading to memory map and kept the value loading to fileio and that increased memory consumption by a lot more. Previously my service was consuming 2.4GB of memory with both value and table loading set to fileio after iterating over all the keys, however when using memory map for table loading, and filei

[2020-05-13 06:07] #981 closed

[2020-05-13 13:01] #1239 closed

[2020-05-14 09:42] jarifibrahim commented on #1325
Hey @mvanderkroon, thank you for the detailed write-up. The Postgres article was definitely helpful. The transaction limits are set based on the `max table size`
https://github.com/dgraph-io/badger/blob/aadda9aa27fdf762cf36e1a150f796fb094fbc10/db.go#L194-L195
The transaction can be at most 15% of the table size. The default size of the table is 64 MB so the max batch size would be about 9.6 MB. I

[2020-05-14 09:44] jarifibrahim commented on #1326
@bonedaddy You should also set the `KeepL0InMemory` option to `false`. That would reduce the memory consumption by around `600 mb`

[2020-05-14 09:48] jarifibrahim commented on #1277
Wouldn't it be easier to add the data to the cache when it is accessed for the first time? Adding the data and then removing it might not be the best way to do this.

How about adding data to the cache only when it is accessed? That way you won't have the `aborted transaction` issue.

[2020-05-14 20:00] bonedaddy commented on #1326
Yep even with that, using mmap for TableLoading consumed the 3.5GB of memory, and both table loading + value loading at fileIO with L0InMemory to false, consumed the 2.4GB

[2020-05-15 21:15] whyrusleeping opened #1332 "Method to check for existence of key"
It would be helpful if we could have a way to check for the existence of a given key without fetching it, currently, we spin up a new transaction and call txn.Get for this, but thats suboptimal. It seems like adding a simple method for this that skips a lot of things just to quickly and efficiently check the thing shouldnt be too hard.

Can someone implement this? Or point me in the right directio

[2020-05-17 08:01] fengyanliang commented on #1320
Hi

Hi jarifibrahim,

Is it clear now? Since it's really a big issue, please pay attention on it.

I can discribe it for short,
When I set 5 keys in the badgerdb, just like:
(keys:values)
key1:1
key2:2
key3:3
key4:4
key5:5

I find the value is wrong, so I plan to change it, and I used iterator.
When I try to set key1 to 0 key2 to 1 key3 to 2 key4 to 3 key5 to 4
If I set opts.PrefetchValues = true,

[2020-05-18 00:06] RubyTuesdayDONO opened #1334 "ristretto version issue when building against badger v2.0.3"
### What version of Go are you using (`go version`)?

[code]

### What operating system are you using?

[code]

### What version of Badger are you using?

v2.0.3

### Does this issue reproduce with the latest master?

unsure / maybe not relevant? is a buildtime issue w/ latest v2 tag, not a runtime issue.

### Steps to Reproduce the issue

[code]
[code]

### What Badger options were set?

N/A -- f

[2020-05-18 06:08] mvanderkroon commented on #1325
@jarifibrahim thanks for the equally detailed response. I'm happy to learn this is something that could contribute to BadgerDB.

Thank you for the pointer towards the `max table size`, I looked into the mechanics and ran a few tests, I believe this would help extending the number of operations before receiving a `ErrTxnTooBig` (essentially allowing for a dial to regulate the transaction size where

[2020-05-18 07:19] jarifibrahim commented on #1334
Hey @RubyTuesdayDONO, the ristretto version listed in badger's go mod exists https://github.com/dgraph-io/ristretto/commit/8f368f2f2ab3a54cbe62fb9772cd75ce55e07802 .

How did you install badger?

[2020-05-18 07:58] imclaren commented on #1304
Changing the badger options currently requires that users understand how the badger internals work.  Providing sane medium memory and low memory defaults would be very useful.

For what it's worth, changing the following option significantly reduced badger's memory use for me:

opts := badger.DefaultOptions
opts.ValueLogLoadingMode = options.FileIO

And when the above change still uses too much me

[2020-05-18 08:29] jarifibrahim commented on #1332
@whyrusleeping how about doing a readonly transaction and then using an iterator with `iteratorOptions.PrefetchValue=false`? This might be faster in some cases than doing a `txn.Get(..)` because `Txn.Get()` will fetch the key and value.

If we were to add a new `db.ContainsKey(...)` function, it would be very similar to the `txn.Get`.
Badger stores data on multiple levels. To check if a key exists

[2020-05-18 08:39] jarifibrahim commented on #1325
@mvanderkroon `WriteBatch` might be useful to you https://github.com/dgraph-io/badger/blob/ef28ef36b5923f12ffe3a1702bdfa6b479db6637/batch.go#L37-L42  It is a layer on top of transactions which allows for inserting data at a higher speed (and also takes care of `ErrTxnTooBig`). The only caveat is that you cannot read data using write batch but I'm guessing you're not reading any data.

[2020-05-18 09:59] jarifibrahim commented on #1304
@imclaren for very conservative memory usage, I would set the following options. Please be aware that memory usage and performance are inversely related. The less memory badger has, the slower your read/writes would be.
[code]

[2020-05-18 11:23] imclaren commented on #1304
Thanks @jarifibrahim

Would it be worth updating the "Memory usage" section in readme, or adding these settings as badger.LowMemoryOptions ?

[2020-05-18 11:27] jarifibrahim commented on #1304
@imclaren Yes! I think `LowMemoryOptions` would be useful to have.

[2020-05-18 19:37] KlotzAndrew commented on #1292
Running into OOM crashes during GC, is this related? I'm trying to use badger in a low memory environment with a large disk

pprof heap screenshot, this rapidly consumes all available RAM and crashes. These are the seeing I am using:
[code]
![Screenshot from 2020-05-18 14-55-18](https://user-images.githubusercontent.com/9421960/82252470-0b3efc80-991d-11ea-8831-d5ceec5bbe61.png)

[2020-05-19 07:14] mvanderkroon commented on #1325
Thank you, that looks very useful for my use case

[2020-05-19 20:36] MarcErdmann commented on #1277
For multiple concurrent transactions this would violate consistency (snapshot isolation). Imagine transaction A and B: transaction B is started while A is still running. Data is inserted during A and also accessed (1) - therefore it is cached. Queries in B will then find this data in the cache although transaction is not yet committed.
(1) Looking up values from the database in the same transactio

[2020-05-20 14:45] #1265 closed

[2020-05-20 15:23] jarifibrahim opened #1335 "Optimize memory usage of table.TableIndex"
Badger keeps the index used by each table in memory
https://github.com/dgraph-io/badger/blob/62b7a10a949e77b33d43cd7438979833c32cc865/table/table.go#L94-L102
As the number of SST grows, the number of in-memory index blocks grows. The memory usage grows linearly with the number of tables. We should be cache the index blocks in ristretto.

This issue was also seen on https://github.com/dgraph-io/dgr

[2020-05-22 16:22] jarifibrahim commented on #1288
This has been fixed via https://github.com/dgraph-io/badger/pull/1331.

[2020-05-22 16:22] #1288 closed

[2020-05-24 07:03] jarifibrahim commented on #1238
Fixed via https://github.com/dgraph-io/badger/pull/1275

[2020-05-24 07:03] #1238 closed

[2020-05-24 07:13] jarifibrahim commented on #1326
@bonedaddy can you get a memory profile when the memory usage is high?

[2020-05-26 04:58] bonedaddy commented on #1326
I can capture another one, but I included one when i opened up the issue, ill work on getting another profile though:
[code]

[2020-05-26 15:45] foenixx opened #1348 "Cannot open database from x86 binary with Mmap error"
### What version of Go are you using (`go version`)?

<pre>
go version go1.13.5 windows/386
</pre>

### What operating system are you using?

Windows 10 x64

### What version of Badger are you using?

v2.0.3

### Does this issue reproduce with the latest master?

Yes, it does.

### Steps to Reproduce the issue

Just call badger.Open with default options from compiled for x86 code.

### What Badger

[2020-05-26 21:27] bonedaddy commented on #1326
Here's a capture from badger operating with table and file loading modes at `FileIO` under high usage. However this isn't related to the high memory usage reported by the query function, and is instead from me putting a lot of data into badger to capture a profile of the high memory usage when iterating over the keys:

![badger_high_mem](https://user-images.githubusercontent.com/17089485/82951910-

[2020-05-26 22:50] kirancerebras commented on #698
Hey @jarifibrahim
I am running "github.com/dgraph-io/badger/v2 v2.0.3" and seem to be hitting the same issue. vlog files are not getting cleaned up when I run RunValueLogGC(0.5). There are around 40 files on some machines now.

Looking at some other discussion threads, I tried Flatten(5). I was expecting a new GC after this would cleanup some vlog files. But that didn't help. I do have some keys w

[2020-05-27 01:22] kirancerebras commented on #698
Another thing we have noticed is that sst file doesn't seem to be getting created till we call a clean Close(). This system has been running for a month or so and has done multiple GCs but no explicit Close()
Once the sst file is created, GC seems to be doing the right thing and vlogs are getting deleted. Is there a way to force create the sst file without an explicit db.Close()?

[2020-05-27 01:25] bonedaddy commented on #1326
Some more profiles

![big_mem2](https://user-images.githubusercontent.com/17089485/82965873-445f1880-9f7e-11ea-883c-fef4ab8534fd.png)

[2020-05-28 16:56] jarifibrahim opened #1350 "Assert failure in block.DecrRef"
### What version of Go are you using (`go version`)?
go 1.13

### What version of Badger are you using?
6eaa5009af27a483f7be3538fee77d2e894213a2

### Steps to Reproduce the issue
1. Run dgraph on version https://github.com/dgraph-io/dgraph/commit/cc9795734359d816606fe454ba997b7800a6bdfd and apply the following patch
[code]
2. Run flock against 6 node dgraph cluster

### What did you do?
Run querie

[2020-05-28 20:53] #1335 closed

[2020-05-28 22:07] cannona opened #1351 "DB.Backup/Stream.Backup may duplicate entries in incremental backups if used naively"
Looking at `backup.go` I see that both the wrapper function, `Backup` as well as `Stream.Backup` accept a `since` parameter for the purpose of taking an incremental backup. Their first return value is documented as follows:

First of all, this is technically incorrect, as the timestamp is of the last entry in the backup, not of the time the backup was taken. What's more, reading the code, only ent

[2020-05-30 13:06] jarifibrahim commented on #1348
It seems like your machine doesn't have enough memory
[code]

You can reduce the `memtable size` and `vlog size`. You can also try changing the file loading mode from `MemoryMap` to `FileIO`. FileIO mode will store everything on the disk. Your reads will be slower but that should work.

Also, set the `KeepL0InMemory=false`. Keeping L0 in memory would also take up disk space.

[2020-05-30 16:49] gonzojive commented on #1268
Perhaps something else to keep in mind when tracking down memory hog issues: The Go memory profile doesn't seem to capture the full extent of memory usage.

Here is a screenshot that shows the system's accounting (12.7 GB) vs Go's accounting (84.34 MB).
![image](https://user-images.githubusercontent.com/83831/83334324-84621c00-a25a-11ea-9fee-edc5d5b0cbcd.png)

[2020-05-30 17:13] gonzojive commented on #1268
Here are the runtime.Memstats for a similar process to the screenshot above:

[code]

[2020-05-30 22:44] gonzojive commented on #1268
On the other hand, sometimes memory usage is quite high & there is a lot of allocing.

I can't find a way to force the OS to reclaim the memory freed by Go, which seems to use MADV_FREE on recent linux version (https://golang.org/src/runtime/mem_linux.go). It would be helpful to force the OS to reclaim such memory get a more accurate picture of what's going on.

in use
![image](https://user-images

[2020-05-31 00:05] gonzojive commented on #1268
In my case, it would help if prefetchValues had an option to restrict prefetches based on value size, not just byte count. Perhaps the IteratorOptions could become

[code]

Even better would be a database-wide object for restricting memory use to a strict cap.

[2020-06-01 06:17] jarifibrahim opened #1352 "SURVEY: Who is using Badger?"
Hey there :wave:, we're doing an informal survey to gauge the interest in this project and it would be very helpful if you could answer the following questions-

 - If applicable, what company/organization do you represent?
- How are you using Badger? Do you use it as a temporary store? Or have you built systems on top of Badger?
- What kind of problems are you solving with Badger? Do you use feat

[2020-06-01 09:34] jarifibrahim commented on #1268
@gonzojive How big are your values? The memory profile you shared shows that `y.Slice` was holding 15 GB of data. That's unusual unless you have a big value.

From https://golang.org/pkg/runtime/,
[code]
So heapIdle - heapreleased in your case is
[code]
which is 5.6 GB. That's the amount of memory golang runtime is holding.

[2020-06-01 10:19] foenixx commented on #1348
I have 16Gb of physical memory, 5Gb of it is free and available. Also, a 64-bit version works just fine. Did you try to reproduce the problem? I reproduced it on 2 different PCs. No matter how much memory is available, if a process is 32-bit then the error occurs.

Yes, it works. I use it as a workaround.

[2020-06-01 10:26] jarifibrahim commented on #1348
@foenixx Interesting. That looks like a bug to me.

Can you make the following changes to badger code and show me what the output is?
[code]

I don't have a x86 machine so it will be difficult for me to reproduce the issue.

[2020-06-01 10:28] #1289 closed

[2020-06-01 10:29] jarifibrahim commented on #1289
@swdee The issue has been fixed in master. Please try it out and let me know if it fixes your issue.

[2020-06-01 10:31] jarifibrahim commented on #601
@swdee Thank you for finding the issue but it isn't a data loss issue. The data is actually written to the disk always. It was a bug in the iteration code because of which the check for `key existence` was failing. We appreciate your effort in improving badger. Cheers :stars:

[2020-06-01 14:59] godeater opened #1353 "panic: During db.vlog.open: Value log truncate required to run DB."
I appreciate this looks a lot like issue 1134/1261 - but a comment on that issue said the  issue was fixed in v2.0.2, so this appears to be a regression?

### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14 windows/amd64
</pre>

### What operating system are you using?
Windows 7 Enterprise
Version 6.1 (Build 7601: Service Pack 1)

### What version of Badger a

[2020-06-01 18:56] foenixx commented on #1348
[code]
Probably 2GB is too much for 32-bit process? Since it requires 2GB of continuous memory space, but as far as I know 32-bit processes have 2GB of addressable virtual memory space at all.
I tried some smaller values of log file size and it started working when size~=950Мб or smaller.

[2020-06-02 06:21] jarifibrahim commented on #1348
A quick google search tells me that there's a 2 GB per-process limit on 32-bit machines.
https://en.wikipedia.org/wiki/2_GB_limit
https://superuser.com/questions/1163749/why-do-32-bit-processes-have-a-2-gb-ram-limit

@foenixx Please reduce the vlog file size. I think that's the only way to run badger on 32 bit machines.

[2020-06-02 06:21] #1348 closed

[2020-06-02 06:22] jarifibrahim commented on #1353
@godeater Badger will try to truncate some half-saved data when the crash happens. This is the expected behavior. Everything should work fine if you start badger with `opt.Truncate=true`..

[2020-06-02 06:55] godeater commented on #1353
@jarifibrahim - wonderful, that's all I needed. Thanks for the prompt reply.

[2020-06-02 06:55] #1353 closed

[2020-06-02 06:56] jarifibrahim commented on #1353
Happy to help, @godeater!

[2020-06-02 09:35] foenixx commented on #1348
@jarifibrahim Thank you!

[2020-06-02 09:36] jarifibrahim commented on #1348
@foenixx Just out of curiosity, where are you running badger?

[2020-06-02 18:25] jarifibrahim commented on #1292
@KlotzAndrew Yes, it is the same issue. I've bumped up the priority since multiple people are seeing the same failure.

[2020-06-02 18:54] jarifibrahim commented on #1228
Hey @luca-moser, we had a bunch of bugs that were preventing SSTs/vlog to be cleaned up. We've merged all the fixes and the disk-space usage should be much better.
The following are the bugs found by the community and fixed by them. My sincere thanks to all of them
1. Move keys were not being removed from the system
    - Fixed by https://github.com/dgraph-io/badger/commit/3e1cdd915230382bd6cc21d4

[2020-06-02 19:00] jarifibrahim commented on #1228
This issue has been fixed and I'm going to close it. Please feel free to re-open,

[2020-06-02 19:00] #1228 closed

[2020-06-03 04:50] lolin9 opened #1356 "Question: Is Badger a good choice for my use case?"
I apologize for creating a GitHub issue for this but I just discovered Badger and Bolt and wanted to ask the authors themselves whether Badger can be a good choice for my case or not. I have an application with these characteristics:

* CLI and used primarily over Linux, Mac, Windows, and preferably mobile environments if possible
* My keys will not usually grow beyond a few hundreds of items and

[2020-06-03 06:36] jarifibrahim commented on #1351
@cannona

In badger, we have read timestamp, commit timestamp, discard timestamp, etc which are all just version numbers. In the same sense, backup returns the timestamp which is the version number. Maybe we could fix the documentation so that it clearly states that the timestamp is the version (and not wall-clock time).

[code]

This looks like a way to fix it. So if they do the following
[code]

[2020-06-03 06:40] jarifibrahim commented on #1194
This was accidentally closed. Reopening.

[2020-06-03 06:42] jarifibrahim commented on #1139
@cedricfung Are you still seeing crashes? If not, I'd like to mark this issue as fixed and close this issue.

[2020-06-03 11:15] cedricfung commented on #1139
After backup and restore with the master code, no crashes anymore.

On Wed, Jun 3, 2020, 14:42 Ibrahim Jarif <notifications@github.com> wrote:

[2020-06-03 12:12] jarifibrahim commented on #1139
Perfect. Thank you so much @cedricfung :)

[2020-06-03 12:12] #1139 closed

[2020-06-03 14:50] gonzojive commented on #1268
In this case, the values are 25 MB or more. The memory usage was from prefetching 100 values for each request, and many requests are run in parallel. Limiting prefetching fixed the specific issue I was having, but the general feature request remains open.

[2020-06-04 13:51] jarifibrahim commented on #1268
Ah, that makes sense. Thanks for debugging it @gonzojive . The feature request still remains open.

[2020-06-05 07:54] foenixx commented on #1348
It's a simple application that manages kinda file cache on user's PC and we're using Badger as our local DB. Some of our users still work on 32-bit Windows PCs )).

BTW, Badger does quite well so far!

[2020-06-05 08:35] jarifibrahim commented on #1348
Glad to know. :)
We have an informal survey open about badger users. It is a Github issue called `Who is using badger`. If you can fill up the survey, it will be very helpful. Thanks!

[2020-06-05 08:51] jarifibrahim commented on #1326
Thanks @bonedaddy. I'll look it up and get back.

[2020-06-05 10:50] jarifibrahim commented on #1334
@RubyTuesdayDONO ping!

[2020-06-06 23:29] bonedaddy commented on #1326
Thanks, let me know if I need to capture anymore profiles

[2020-06-08 07:35] jarifibrahim commented on #1356
Hey @lolin9, this is a great question. Let me try to answer it bit by bit

Badger should work fine. Would this cli serve a lot of data? If so, you would have to account for the time it might take badger to open your data directory.

Badger has an LSM only mode which would be very useful in this case.

For badger, we support last two major versions (currently it's 1.x and 2.x). A major version upda

[2020-06-08 13:28] jarifibrahim commented on #1326
@bonedaddy How big are your values? Also, can you send me the memprofile file? The graph doesn't show the exact line which is consuming the memory.

[2020-06-08 13:38] jarifibrahim commented on #1292
Hey @Stebalien @KlotzAndrew, I have a PR that should reduce the memory consumed by value log GC. Do you think you can test it https://github.com/dgraph-io/badger/pull/1357? I'll try to generate some data with large values and see if I can reproduce the high memory consumption.

[2020-06-08 14:16] jarifibrahim commented on #1312
@ammmir The high memory usage seems to be because of the following code https://github.com/dgraph-io/badger/blob/056d859606380082d8694d2ad3b3ebf4b10318d7/backup.go#L47-L82

You should see a reduction in memory if you do the following
[code]
The `NumGo` decides the number of go routines used for iterating concurrently.  A smaller value of 4 would mean badger would bring less amount of data in memor

[2020-06-08 16:36] OmarAyo opened #1359 "Allow to turn off compression for Badger"
It would be useful we if can disable compression for Badger.

We already have this flag for alpha only: `--badger.compression_level int` with a default value of `3`. It would be useful if we can add the value `0` for turning it off

It will be also great if we can add the same flag for zero as well

Thanks

[2020-06-08 18:42] Stebalien commented on #1292
PR looks good to me. I'll need to complete the work to support badger 2 in go-ipfs to actually test it.

[2020-06-09 03:01] C-ollins commented on #1352
Hey, I'm a developer on [dcrandroid](https://github.com/decred/dcrandroid), it's a Decred Android Wallet and it has a gomobile backend in [dcrlibwallet](https://github.com/raedahgroup/dcrlibwallet). I use Badger as permanent storage for wallet and blockchain data which is kind of a lot for mobile but Badger kind of makes it possible. I have my [Badger implementation](https://github.com/raedahgroup

[2020-06-09 06:06] jarifibrahim commented on #1352
Hey @C-ollins, since you've set `opts.WithValueLogLoadingMode(options.MemoryMap)`, Badger will try to allocate 2 GB of memory upfront. If you're running badger in limited memory environment, you should set the loading mode to `FileIO` for tables and value log.

[2020-06-09 14:16] #1292 closed

[2020-06-09 16:46] C-ollins commented on #1352
It works now but writing get stuck as soon as I get this log, then it freezes till the app shuts down without a reason. I've changed the version to the latest release(not sure if this will conflict with my previous db?) and I've also tried setting sync writes to false but it keeps freezing after I get this log.

[code]

[2020-06-09 16:49] jarifibrahim commented on #1352
@C-ollins I don't see anything crashing. Can you please create a new issue with all the details? I would be happy to help.

[2020-06-10 10:55] cedricfung opened #1360 "Close db will cause panic if read badger in another goroutine."
### What version of Go are you using (`go version`)?

<pre>
$ go version

go version go1.14.1 linux/amd64
</pre>

### What operating system are you using?

Ubuntu 20.04

### What version of Badger are you using?

v2.0.3

### Does this issue reproduce with the latest master?

Not tested yet.

### Steps to Reproduce the issue

I'm running a test in my code, the test uses badger in goroutines, and th

[2020-06-10 11:03] cedricfung commented on #1352
- If applicable, what company/organization do you represent?
Mixin Network

- How are you using Badger? Do you use it as a temporary store? Or have you built systems on top of Badger?
We use it as the main storage.

- What kind of problems are you solving with Badger? Do you use features such as compression and encryption?
We are building a distributed ledger to store transaction snapshots. We don

[2020-06-10 11:08] cedricfung commented on #1360
my code has

[2020-06-10 11:08] #1360 closed

[2020-06-10 14:20] C-ollins opened #1361 "Optimize memory usage for mobile"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.13.6 darwin/amd64
</pre>

### What operating system are you using?
android

### What version of Badger are you using?

v2.0.3

### Does this issue reproduce with the latest master?

Yes

### What Badger options were set?

[code]

### What did you do?

Based on my [comment](https://github.com/dgraph-io/badger/is

[2020-06-10 17:53] RubenKelevra opened #1362 "Fixed GC for badger v1"
There are two important fixes, which we're looking forward to include in IPFS to solve out of memory issues as well as databases that won't decrease in size after deleting data from them.

* https://github.com/dgraph-io/badger/commit/fd8989493b52f39957e89ff3a7679bc45ea92674
* https://github.com/dgraph-io/badger/commit/14386ac9b764cb6655cb0da7c848e244369a2a27

Is there a Badger v1 version planned t

[2020-06-11 12:07] jarifibrahim opened #1363 "Crash replays all the value log files"
### What version of Badger are you using?
https://github.com/dgraph-io/badger/commit/14386ac9b764cb6655cb0da7c848e244369a2a27

### Does this issue reproduce with the latest master?
Yes

### Steps to Reproduce the issue

### What Badger options were set?

[code]

### What did you do?
Run benchmark write tool
[code]

### What did you expect to see?

Value log replayed to replay only a few recent fil

[2020-06-11 12:13] jarifibrahim commented on #1362
@RubenKelevra Yes, a new v1.6.x version is planned to be released soon. We ran into some crashes which are blocking the release currently. For instance this one https://github.com/dgraph-io/badger/issues/1363 . We'll do a release when the crash is resolved.

[2020-06-11 12:59] jarifibrahim commented on #1363
The issue seems to be happening because we update the `head pointer` only after replay is successful
https://github.com/dgraph-io/badger/blob/14386ac9b764cb6655cb0da7c848e244369a2a27/value.go#L1193

I think we can update the head pointer as entries are being applied.
I haven't thought this through but the following might fix the issue.
[code]

[2020-06-11 13:06] RubenKelevra commented on #1362
Great to hear. Thanks for the update!

[2020-06-11 13:22] jarifibrahim opened #1364 "Use LockFile for directory locking on windows"
Badger acquires an exclusive lock on the directory to prevent multiple processes from using it. The existing code in `dir_windows.go` file relies on an in-memory handle to prevent multiple files from accessing it.
https://github.com/dgraph-io/badger/blob/14386ac9b764cb6655cb0da7c848e244369a2a27/dir_windows.go#L82-L98

While opening we set the `sharing mode` to `zero` which means only one process c

[2020-06-11 15:58] eloff commented on #1180
It's 6 months later, what's the status on this? It seems like an important proposal that shouldn't get lost in the shuffle.

[2020-06-11 16:06] jarifibrahim commented on #1180
Hey @eloff, this is definitely an important issue but we do not have the capacity to take this up right now.The issue has been marked as `accepted` which means we will work on it.

[2020-06-12 12:02] #1334 closed

[2020-06-13 16:07] eloff opened #1367 "Feature Request: add a hook to customize SST compaction"
I keep running into a form of this problem:

I want to expire items in the database based on custom logic. One such use case is when using badger as a disk-based cache, I don't want to expire items on a fixed schedule, but rather when free space gets low I want to start removing the coldest items. This is not very efficient because it requires walking the whole database and deleting items, and the

[2020-06-14 18:27] eloff opened #1368 "Feature Request: Allow scanning value log sequentially in file order"
I'm considering running BadgerDB on HDDs for a use case where I only insert items, and then sometimes scan the entire database. Obviously with limited random access abilities of a HDD, these scans would be many orders of magnitude more efficient if they could walk the value log sequentially in file order.

Am I right that there isn't currently a way to do this or did I miss something?

Could such

[2020-06-15 06:08] jarifibrahim commented on #1361
Hey @C-ollins , I will look into this. Unfortunately, we don't run badger tests for mobile. It could be possible that the slowness and the freezing are because of some system call that is not compatible. Would it be possible for you to run badger on linux computer and run you load against it? If badger works slow on your computer or if it freezes then I can fix it right away.

Please do try out ba

[2020-06-15 08:43] QthCN opened #1369 "dgraph alpha painc with badger assert failed error"
### What version of Go are you using (`go version`)?

<pre>
➜  ~ go version
go version go1.14.3 darwin/amd64
</pre>

### What operating system are you using?

I'm running a program using dgo on a mac, and running dgraph in a virtual box vm. vm operation system info:

<pre>
thuanqin@devstack:~$ uname -a
Linux devstack 5.3.0-28-generic #30~18.04.1-Ubuntu SMP Fri Jan 17 06:14:09 UTC 2020 x86_64 x86_6

[2020-06-15 11:08] jarifibrahim commented on #1369
Hey @QthCN, thanks for raising this issue. I'm aware of the bug and I'm working on trying to reproduce it on my end. How much data were you inserting?

[2020-06-15 11:28] jarifibrahim opened #1370 "Slow compaction progress and high memory usage"
### What version of Badger are you using?
https://github.com/dgraph-io/badger/commit/c45d966681d4a058df1190b10f1b5f60c9ab0b6d

### Steps to Reproduce the issue
Run `badger benchmark write -m 1000` command.

### What did you see instead?
The compactions don't seem to make progress very slow and L0 gets accumulated with data
[code]

A score of 1 means we've filled the level to 100% capacity. The pro

[2020-06-15 11:34] QthCN commented on #1369
@jarifibrahim thanks for the response. I'm using dgraph for program analysis. I encounter this panic problem when I analysis [openstack nova](https://github.com/openstack/nova) project's source code. The number of dgraph's node is the sum of nova's directory number + nova's file number + nova's all file's token. The number of dgraph's edge is the sum of all nova's tokens' relationship.

For exampl

[2020-06-15 11:45] jarifibrahim commented on #1369
@QthCN Can you confirm the on-disk size of badger directory?

[2020-06-15 12:39] jarifibrahim commented on #1312
The list of keys to be backed up is prepared in the following code https://github.com/dgraph-io/badger/blob/056d859606380082d8694d2ad3b3ebf4b10318d7/backup.go#L74-L84

If you have duplicate keys with large values, the code block above will use a lot of memory. I don't see an easy of reducing memory consumption over there since we're using stream framework.
Please try out the `numGo` approach. That

[2020-06-15 12:39] #1312 closed

[2020-06-15 12:50] QthCN commented on #1369
Hey @jarifibrahim , dgraph never finish my request...so I don't know th disk size usage exactly.

I run my program again, and dgraph panic again. Before the running, filesystem disk usage:

[code]

after dgraph panic, filesystem disk usage:

[code]

I guess the p directory, w directory and zw directory are related to the dgraph(and badger), so the disk usage is around 1.5 GB.

Here is the log for

[2020-06-15 12:53] jarifibrahim commented on #1369
@QthCN Can you share your program with me with instructions on how to run it? Since I can't reproduce it I can't figure out what's going wrong. You can send me an email (Ibrahim[at]dgraph.io) if you're not comfortable sharing the code here.

[2020-06-15 12:57] QthCN commented on #1369
@jarifibrahim OK, I'll try to remove unreleated code and give you the code to reproduce the problem. Thank you.

[2020-06-16 09:16] jarifibrahim commented on #1369
Duplicate of https://github.com/dgraph-io/badger/issues/1369

@QthCN were you able to send the code? I haven't received it yet. I'm eagerly waiting for it :)

[2020-06-16 18:47] darkn3rd commented on #1350
When running flock for several days, I ran into this on alpha1:

[code]

[2020-06-16 19:15] jarifibrahim commented on #1350
@darkn3rd do you know how long flock was running for?

[2020-06-17 18:36] damz opened #1374 "In-memory mode creates physical tables (in the current directory)"
It looks like the in-memory mode creates physical tables in the current directory. This is because `*DB.handleFlushTask` does not seem to have a special case for the in-memory mode.

### Steps to Reproduce the issue

- Run `go test .` and watch SST files being created and destroyed in the current directory.

[2020-06-18 00:18] itsyashkothari commented on #1374
Hey @damz

I think this is happening because there isn't any check handling the case when InMemory is true but KeepL0InMemory is false. This causes badger to flush L0 on disks. This scenario is happening here.
https://github.com/dgraph-io/badger/blob/dd332b04e6e7fe06e4f213e16025128b1989c491/levels_test.go#L772-L779

@ashish-goswami, is this intended?

I guess there are two ways to handle it
1. ret

[2020-06-18 01:03] damz commented on #1374
Indeed, the easiest fix would be to make this check `db.opt.InMemory || db.opt.KeepL0InMemory`:

https://github.com/dgraph-io/badger/blob/dd332b04e6e7fe06e4f213e16025128b1989c491/db.go#L1023-L1029

[2020-06-18 08:02] jarifibrahim commented on #1374
The code @damz pointed out is the correct place to fix this. This is a low hanging fruit and I'll leave it for new contributors.

Thank you @damz and @itsyashkothari !

[2020-06-18 08:22] itsyashkothari commented on #1374
Hi @jarifibrahim

Wouldn't the solution provided result in inconsistency in logic.

For example here
https://github.com/dgraph-io/badger/blob/dd332b04e6e7fe06e4f213e16025128b1989c491/level_handler.go#L191-L195

As KeepL0InMemory==false but actually L0 is in memory.
I guess there are two ways to handle it

1. return Error while opening db if we encounter this case
2. force KeepL0InMemory to be true

[2020-06-18 08:50] jarifibrahim commented on #1374
Approach 1 would mean the user has to set two options to enable `in-memory` mode. This doesn't seem like a good user experience.

This would result in the least amount of changes. Let's go with this approach.

[2020-06-18 11:41] jarifibrahim commented on #1367
@eloff We support setting the `discard` flag for entries. You can do `entry.WithDiscard()` and compaction will take care of removing it automatically
https://github.com/dgraph-io/badger/blob/dd332b04e6e7fe06e4f213e16025128b1989c491/structs.go#L186-L196

I think this would help you accomplish what you want to do.

How do you find the coldest items without a DB scan?

[2020-06-18 11:45] jarifibrahim commented on #1368
Hey @eloff, I'd like to understand this better.

Badger stores data in sorted form. How would reading a value log file help you? Also, value log is the write ahead log file and sst is where the index and keys are stored.

[2020-06-18 13:54] johanbrandhorst commented on #1162
The discussion in https://github.com/dgraph-io/badger/pull/1176 implies to me that this decision should be reconsidered.

[2020-06-18 14:02] mvdan commented on #1162
I'm also interested in seeing this reopened. I have a package that imports badger/v2, and the indirect dependency on DataDog/zstd is really unfortunate. It takes a long time to build all that C code, and because it's a single package, it means a huge bottleneck in my build time.

[2020-06-19 06:32] #1374 closed

[2020-06-19 14:10] jarifibrahim commented on #1162
I did some benchmarks against both the libraries using the badger benchmark write tool https://github.com/dgraph-io/badger/blob/master/badger/cmd/write_bench.go (compresion is disabled by default, you'll have to enable it) and here's what I found
[code]
## Datadog/zstd logs
(run master with compression enabled)
[code]
## Klauspost/compress
(run code in https://github.com/dgraph-io/badger/tree/ibra

[2020-06-19 18:27] jarifibrahim opened #1376 "Improve Badger build time"
Badger builds run on https://teamcity.dgraph.io/project/Badger and the average build time increased from 22 minutes to 35 minutes since PR https://github.com/dgraph-io/badger/pull/1336 . The tests added in that PR
https://github.com/dgraph-io/badger/blob/3f4761d229515a0208d847b6635011ed5187f75f/iterator_test.go#L203-L232

can be optimized. I think we can use `t.Parallel()` to parallelize the test

[2020-06-19 20:25] mvdan commented on #1162
For those wondering what the code looks like, it's https://github.com/dgraph-io/badger/compare/ibrahim/klauspost-compress. I'll leave it to @klauspost to comment if the use of his pure Go version could be improved or if it's equivalent to the cgo version.

It might be impossible for compression to beat well optimized C code, even with the cgo cost of DataDog/zstd. But still, we could use this issu

[2020-06-19 21:17] klauspost commented on #1162
Great with a real world test. You should disable CRC. It is disabled by default in datadog IIRC. This is about 5% improvement for me.

You seem to be writing random (incompressible) data. That is a very, very limited test of a compressor and I assume the data isn't really compressed at all?
It will always try to entropy compress the literals even if no matches can be found. I will however try to m

[2020-06-20 07:43] jarifibrahim commented on #1162
I made the changes @klauspost suggested and I see very different results now. I made the following two changes
1. The keys being inserted are 32 bytes long with integers (not random, prefixed with zeros).
[code]
2. Set the `WithNoEntropyCompression(true)` and `EOptions.WithEncoderCRC(false)`

Here's what I see now
[code]
I'm assuming the performance improvement is mostly because the data is no lon

[2020-06-20 08:33] klauspost commented on #1162
Yes they are compatible both ways. The only exception is 0 bytes of input which will give 0 bytes output with the Go zstd. But you already have the ` zstd.WithZeroFrames(true)` which will wrap 0 bytes in a header so it can be fed to DD zstd. This will of course only be relevant when downgrading.

I am fuzz testing the change above. It will have much less compression impact than completely disablin

[2020-06-20 08:39] enenum commented on #494
I see this problem right now and the proposed fix does not help it. I even upgraded from v1.6.1 to v2.0.3 - still no good...

[2020-06-20 15:46] #1376 closed

[2020-06-20 15:57] jarifibrahim commented on #494
@enenum can you please create a new issue with steps to reproduce it?

[2020-06-20 21:58] damz opened #1378 "Decompression block pool is inefficient"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.4 linux/amd64
</pre>

### What operating system are you using?

Linux

### What version of Badger are you using?

master

### Steps to Reproduce the issue

Profile a badger using database, you will likely see a number of allocations both in `table.decompress` and in `zstd.Decompress`, something like this:

!

[2020-06-20 23:26] eloff commented on #1368
Hi @jarifibrahim,

I might have an incorrect mental model here, so please bear with me.

What I'm thinking is the value log contains all key-value pairs, which may also be duplicated in the SST (or just the key and a pointer into the value log). From what I understand the value log is the write-ahead log, so it must have the keys as well.

So if one has a use case where you want to scan all key-va

[2020-06-20 23:32] eloff commented on #1367
I think that will work.

1. Scan the SST (key-only iteration) and check the transaction timestamp and estimated value size to determine if a item should be expired or not.
2. Then use discard to save an entry with just the key and the discard bit.
3. After walking everything, trigger a database compaction to reclaim disk space.

[2020-06-20 23:32] #1367 closed

[2020-06-21 05:55] jarifibrahim commented on #1367
You don't need to trigger compaction. it will get triggered automatically but please be aware that disk space might not be reclaimed instantly. Most of the data is stored in value log and it won't be cleaned up until you call RunValueLogGC.

[2020-06-21 06:20] damz opened #1380 "DropPrefix breaks levels, resulting in hard crashes and data loss"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.4 linux/amd64
</pre>

### What operating system are you using?

Linux

### What version of Badger are you using?

master

### Steps to reproduce the issue

This is actually pretty tricky to reproduce in a synthetic way.

You need a database with a sufficient amount of data so that on one level you have a lay

[2020-06-21 07:02] jarifibrahim commented on #1378
The block pool is expecting blocks to be 4kB, regardless of the Options.BlockSize setting of the database (it actually allocates 5kB instead of 4kB as an effort to avoid spurious allocations during decompression);

Yes, this is correct. The block size is hardcoded but the assumption is that the pool will be filled up with correct sized blocks eventually. It starts with 4KB but if you've set the bl

[2020-06-23 10:10] klauspost commented on #1162
FYI, I just released `v1.10.10` which will automatically disable entropy coding on likely incompressible data in fastest mode.

[2020-06-23 11:56] #1320 closed

[2020-06-23 17:16] simsolTech commented on #781
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x40 pc=0x1420111]

goroutine 1 [running]:
simbaaz/uploads.PlacesUpload(0xc0000f9ce0, 0x0, 0x0)
        /Users/deepaktr/MyDocuments/graphql/simbaaz/uploads/places.go:77 +0x891
main.uploadMasters(0xc0000f9ce0)
        /Users/deepaktr/MyDocuments/graphql/simbaaz/main.go:69 +0

[2020-06-24 09:54] #1332 closed

[2020-06-25 09:28] slyon opened #1384 "Test suite failure on 32 bit architectures, like armhf or x86"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.3 linux/armhf # on Ubuntu
go version go1.14.2 linux/i386 # on Debian
</pre>

### What operating system are you using?
Debian/Ubuntu Linux (32 bit)

### What version of Badger are you using?
2.0.3

### Does this issue reproduce with the latest master?
(Not yet tested)

### Steps to Reproduce the issue

Runnin

[2020-06-25 10:12] jarifibrahim commented on #1384
Hey @slyon , badger tests do fail on 32 bit machine. We tried to run badger tests on 32 bit machine on travis https://github.com/dgraph-io/badger/pull/1216 but it looks like travis is using a 64 bit machine.

We're looking for ways to run 32 bit tests on travis CI. if you have any suggestions, that would be great. Fixing the tests for 32 bit is easy, the difficult part is ensuring  we don't break

[2020-06-25 10:14] jarifibrahim commented on #1380
![dropprefix](https://user-images.githubusercontent.com/12949454/85701104-ab492c00-b6fa-11ea-8079-43a915554df0.jpg)

The diagram above explains how the current implementation of drop prefix in https://github.com/dgraph-io/badger/pull/1331 can create invalid levels.

[2020-06-25 10:48] slyon commented on #1384
Hey @jarifibrahim , is this "easy fix" already available somewhere? Or what would I need to do, in order to fix the 32 bit tests for Debian & Ubuntu? It seems like the code changes from https://github.com/dgraph-io/badger/pull/1216 are already part of the 2.0.3 release, which is failing to build here...

TravisCI seems to only support 64 bit machines, indeed. But you might be able to run a 32 bit

[2020-06-25 11:12] jarifibrahim commented on #1384
Most of the crashes I see are invalid filename https://buildd.debian.org/status/fetch.php?pkg=badger&arch=i386&ver=2.0.3-1&stamp=1587719525&raw=0 and this could be because an int overflowing on 32-bit system. I also see a `cannot allocate memory` which could be because the CI system doesn't have enough memory.

We don't have a fix for the failing tests yet.

I see delve runs 32 bit tests in a cont

[2020-06-25 11:18] jarifibrahim opened #1385 "Support 32 bit builds on travis"
Badger tests fail on 32 bit systems. We've tried to fix them multiple times but the crashes keep resurfacing.  See  https://github.com/dgraph-io/badger/issues/1384, https://github.com/dgraph-io/badger/issues/1142, https://github.com/dgraph-io/badger/issues/953, https://github.com/dgraph-io/badger/issues/89 .

https://github.com/dgraph-io/badger/pull/1216 was an attempt to run travis builds on 32 b

[2020-06-25 11:21] slyon commented on #1384
That's what I thought at first.. But as it is failing on all 32 bit architectures across different projects, I have the impression that maybe the 2GB memory limit of 32 bit arches might be exceeded during the test, which would fail with a similar error. Especially as the Debian & Ubuntu autopkgtest-cloud uses very similar VMs for the different architectures, so if there is enough memory to run it

[2020-06-25 11:23] jarifibrahim commented on #1384
I've created https://github.com/dgraph-io/badger/issues/1385 for it

Some tests in badger might be running in pure-in-memory mode (for instance the write batch in-memory tests) and they could take up more than 2 GB.

[2020-06-26 01:55] damz commented on #1380
That's exactly that :+1:

[2020-06-26 02:19] #1277 closed

[2020-06-26 04:51] darkn3rd commented on #1350
@jarifibrahim I'm unsure about the last run, I think for a few hours.  Recently I tried to run with the existing data directories, but upgraded server, and I ran into the problem.  It took 20 minutes to reproduce.

#### Logs
[code]

[2020-06-26 13:54] damz commented on #1378
I don't think there is a good way, other than carrying over the pointer everywhere.

With a little bit of `unsafe`, if we assume that blocks are all the same size, you could only store a pointer to the first element, and rebuild the slice header when getting the slice. But it is not very clean either.

[2020-06-27 06:22] crphang commented on #1228
@jarifibrahim really great work on the fixes, are there any plans for another release soon? I am helping maintain [TalariaDB](https://github.com/kelindar/talaria) and have checked that latest master resolved many of the issues our users have been facing with GC of value log. Great work on that 🎉.

[2020-06-27 06:25] jarifibrahim commented on #1228
@crphang Actually, the community fixed it. The main PRs that fixed the GC issues were from community users :tada:

[2020-06-27 06:28] crphang commented on #1228
@jarifibrahim, sorry to ask again 😅. Are there plans to create a new release with the fixes? I think it'll help a lot for other Badger users 😄

[2020-06-27 06:39] jarifibrahim commented on #1228
The release is blocked by https://github.com/dgraph-io/badger/issues/1350 . I haven't been able to reproduce the failure easily so far.

[2020-06-27 07:02] #1380 closed

[2020-06-28 07:41] jarifibrahim commented on #1350
The crash originates from cache eviction handler.

https://github.com/dgraph-io/badger/blob/158d9271e1052082d6377ffa56483650129b726c/table/table.go#L187-L192

Maybe the iterator is closing the same block twice somehow. Once in the `setBlock`
https://github.com/dgraph-io/badger/blob/158d9271e1052082d6377ffa56483650129b726c/table/iterator.go#L43-L46

and the second time in the `itr.Close` https://gi

[2020-06-28 17:26] damz commented on #1350
Looking at the code, I think there are at least two issues:

**Issue #1:** It seems to me that ristretto doesn't currently _guarantee_ that the block has been added to the cache if and only if `Set()` returns true.

More specifically, in the case of updates, [the item is first updated in the cache first](https://github.com/dgraph-io/ristretto/blob/master/cache.go#L229), then [it is put on the `set

[2020-06-28 22:34] damz commented on #1350
I wondered if that was plausible or not, and it is:

- `(*Table).DecrRef()` issues a cache deletion for all the block cache keys of the table in a tight loop:

https://github.com/dgraph-io/badger/blob/e013bfd25899ec014d7117fa6e94b17a114d9921/table/table.go#L176-L179

- and (*levelHandler).replaceTables()` issues a `(*Table).DecrRef()` in a tight loop for all the deleted tables after a compaction:

[2020-06-30 07:30] jarifibrahim opened #1387 "[Release Blocker] AddHelper Slice index crash"
Originally seen in https://github.com/dgraph-io/dgraph/issues/5752
The crash is seen on badger commit https://github.com/dgraph-io/badger/commit/cddf7c03451c91e7a9c9df4121d16e1a56937786.
We added support for background compression/encryption in b13b927102f0c25b777a594686239105c2b66cae which could be the reason for the crash.

[code]

The issue isn't reproducible.

[2020-06-30 07:36] jarifibrahim opened #1388 "[Release Blocker] t.Block slice index crash"
The crash was seen on commit https://github.com/dgraph-io/badger/commit/ef28ef36b5923f12ffe3a1702bdfa6b479db6637 .
I haven't been able to reproduce the issue but the reuse of byte slices while decompressing https://github.com/dgraph-io/badger/commit/aadda9aa27fdf762cf36e1a150f796fb094fbc10 might be causing this. There was a bug in the reuse code which was fixed by https://github.com/dgraph-io/badg

[2020-06-30 07:42] jarifibrahim opened #1389 "[Release Blocker] valueLog.Read slice index crash"
The crash was first seen in https://github.com/dgraph-io/badger/commit/cddf7c03451c .  The line in question is https://github.com/dgraph-io/badger/blob/cddf7c03451c91e7a9c9df4121d16e1a56937786/value.go#L1518 .

Similar to the other index crash issues. This one is also not reproducible. The crash could be because the background compression/encryption corrupts the value pointer. The lower bound of `

[2020-06-30 07:47] jarifibrahim commented on #1228
@crphang FYI, we found 3 more crashes on master and release is blocked by them.
#1387
#1388
#1389

#1350 has been identified and will be fixed once https://github.com/dgraph-io/ristretto/pull/168/ is merged.

[2020-06-30 12:37] hqhs opened #1390 "Spikes in read transaction time with in memory mode badger."
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14
</pre>

### What operating system are you using?
amd64, dockerized

### What version of Badger are you using?
v2.0.3

### Does this issue reproduce with the latest master?
Probably, yes, I can't test it in my current setup.

### Steps to Reproduce the issue
I have badger DB working as in-memory key-value sto

[2020-06-30 13:15] jarifibrahim commented on #1387
The crash happens because uint32 overflow. The following code is called for every new addition
https://github.com/dgraph-io/badger/blob/e013bfd25899ec014d7117fa6e94b17a114d9921/table/builder.go#L223-L226

On line 241, we try to increase the size (len: 4172166119) by 50%
https://github.com/dgraph-io/badger/blob/e013bfd25899ec014d7117fa6e94b17a114d9921/table/builder.go#L234-L244

So
[code]
and the n

[2020-06-30 17:37] mvdan opened #1394 "WriteBatch.Flush panics if called twice"
I understand that flushing twice doesn't make sense, since a batch can only be flushed once, but the second call should error with a helpful message instead of panicking.

[code]

[2020-06-30 17:43] mvdan commented on #1394
Flush after Close similarly panics.

[2020-06-30 17:52] jarifibrahim commented on #1390
This option should have no effect since you're running in in-memory mode. This is valid only for normal mode.
There was a bug because of which we were creating SST files in in-memory mode and it was fixed in https://github.com/dgraph-io/badger/issues/1374. Maybe your data is being read from the SST which causes the read latency.

Compactions are background tasks and they shouldn't affect the reads

[2020-06-30 18:06] hqhs commented on #1390
Okey, I'll try it tomorrow and report the results.

[2020-06-30 22:55] RubenKelevra commented on #1362
@jarifibrahim I hate to bounce this, but can you take another look at it? Is there a blocker which avoids a release with the GC fix? :)

[2020-07-01 03:58] jarifibrahim commented on #1362
HI @RubenKelevra , we have a few blockers but I don't think it affects v1.6x . We found some bugs while testing badger which blocked badger release. See the issues tagged with `release blocker` on github.

[2020-07-01 04:17] RubenKelevra opened #1395 "badger v1 eventually segfaults when open file limit is reached"
### What version of Go are you using (`go version`)?

1.14.x

### What operating system are you using?

Linux

### What version of Badger are you using?

1.6.1

### Does this issue reproduce with the latest master?

unknown

### What Badger options were set?

[code]

Logfile with stacktrace is attached here: https://github.com/ipfs/ipfs-cluster/issues/1180

Example:

[code]

[2020-07-01 10:27] jarifibrahim commented on #1395
Duplicate of https://github.com/dgraph-io/badger/issues/1184 . This is fixed in master via https://github.com/dgraph-io/badger/pull/1187.

[2020-07-01 14:06] hqhs commented on #1390
Issue is repoducable on latest master:
<pre>
	github.com/dgraph-io/badger/v2 v2.0.1-rc1.0.20200630163423-09dfa663bbc3
</pre>
What are out next steps? What badger metrics could help to investigate it? I'm thinking about turning on block/mutes profiling in isolated environment using golang's pprof.

[2020-07-01 14:09] hqhs commented on #1390
Also I'm seeing 2x spikes in CPU usage during moments of increased response time.

[2020-07-01 14:58] jarifibrahim commented on #1350
This is fixed in ristretto via https://github.com/dgraph-io/ristretto/issues/167 and ristretto was updated in badger via https://github.com/dgraph-io/badger/pull/1391 .

Thank you for the help @damz !

[2020-07-01 14:58] #1350 closed

[2020-07-01 14:59] jarifibrahim commented on #1369
This is fixed in ristretto via https://github.com/dgraph-io/ristretto/issues/167 and ristretto was updated in badger via https://github.com/dgraph-io/badger/pull/1391 .

@QthCN we'll update badger in dgraph soon and that would fix this crash.

[2020-07-01 14:59] #1369 closed

[2020-07-02 07:28] jarifibrahim commented on #781
@simsolTech I don't see badger in your stack trace. Can you show me the code? I don't think the panic is from badger.

[2020-07-02 10:04] jarifibrahim commented on #1368
@eloff Thanks for the detailed explanation. What you're looking for is similar to `vlog.Iterate`. https://github.com/dgraph-io/badger/blob/e013bfd25899ec014d7117fa6e94b17a114d9921/value.go#L403-L405

We should be able to wrap this function in a public API and expose it so that people can iterate the value log file in a sequential manner. This has to be a read-only operation.

[2020-07-02 10:16] #1385 closed

[2020-07-02 10:18] jarifibrahim opened #1397 "Fix badger builds on 32 bit machines"
Badger tests fail reliably on 32 bit machines and they need to be fixed.
The builds were enabled in https://github.com/dgraph-io/badger/pull/1392 but the build is failing currently.

Most of the failures have the following pattern
[code]
See https://travis-ci.org/github/dgraph-io/badger/jobs/703596743 for failed 32 bit build.

[2020-07-02 10:19] jarifibrahim commented on #1395
Closing this as a duplicate.

[2020-07-02 10:19] #1395 closed

[2020-07-02 10:41] jarifibrahim commented on #1390
Can you collect a CPU profile? The CPU profile should show what's using all your CPU https://golang.org/pkg/net/http/pprof/ .

Please collect a CPU profile when the CPU usage is high.

[2020-07-03 15:48] cannona commented on #1351
I fully intend to follow up on this. Just been a bit busy lately.

Thanks.

On 7/3/20, stale[bot] <notifications@github.com> wrote:

[2020-07-08 07:04] ammmir opened #1399 "Crash on decoding value using CLI"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.14.3 darwin/amd64
</pre>

### What operating system are you using?

MacOS X

### What version of Badger are you using?

2.0.3

### Does this issue reproduce with the latest master?

Not tested
### What Badger options were set?

default

### What did you do?

Database was migrated from manifest v4 to v7 (badger

[2020-07-08 13:29] jarifibrahim commented on #1399
There was a bug in backup restore code which could've caused this https://github.com/dgraph-io/badger/commit/9459a240bdf3cf1bf59a172558b37455c742d3bf .

@ammmir would it be possible for you to do a backup restore from your v1.6x badger to the master version?

[2020-07-09 03:27] ammmir commented on #1399
Thanks for the quick reply @jarifibrahim -- I've pulled master and tried to restore the backup, but with the same result:

[code]

Should I regenerate the backup?

[2020-07-09 11:56] ammmir opened #1403 "Master-slave replication suggestions"
This is more of an application question than anything else, so please feel free to direct me elsewhere. Many thanks for this wonderful project!

I run a small service, [KVdb](https://kvdb.io), that I'd like to improve the read latency from various points around the Internet. Initially, I'm leaning into a single master + multiple slave setup as a stepping stone to a more proper distributed system :

[2020-07-09 14:33] gowthamgutha opened #1404 "QUESTION: Is there a tailing iterator?"
### What version of Go are you using (`go version`)?
<pre>
$ go version
go version go1.14.4 windows/amd64
</pre>

### What operating system are you using?
Windows (but `GOOS=linux`)

### What version of Badger are you using?
`github.com/dgraph-io/badger/v2`

We have a requirement where we only write the keys (`key=time_in_millis + counter`) and remove them (*no updates*).
We would like to have 2 g

[2020-07-11 12:23] Vincent864 opened #1415 "README.md install instruction isnt working (anymore?)"
README.md > Getting Started > Installing
Instructs to use:
go get github.com/dgraph-io/badger/v2

Which gives:
package github.com/dgraph-io/badger/v2: cannot find package "github.com/dgraph-io/badger/v2"

And should probably just be:
go get github.com/dgraph-io/badger

It's my first minute visiting the project, so I'm not completely sure

(GO1.13.8 on Ubuntu 20.04 LTS kernel on MS - WSL2)

[2020-07-11 19:35] jmburges commented on #1415
same.

[2020-07-12 21:02] manishrjain opened #1417 "Testing the new action"
**GitHub Issues are deprecated. Use [Discuss Issues](https://discuss.dgraph.io/c/issues/badger/37) for reporting issues about this repository.**

[2020-07-12 21:02] #1417 closed

[2020-07-12 21:06] #1363 closed

[2020-07-12 21:14] manishrjain opened #1418 "GitHub Issues are being deprecated. File issues on Discuss instead."
**GitHub Issues are deprecated. Use [Discuss Issues](https://discuss.dgraph.io/c/issues/badger/37) for reporting issues about this repository.**

Any issues opened or reopened would be automatically closed by the bot.

[2020-07-12 21:15] #1418 closed

[2020-07-13 05:39] minhaj-shakeel opened #1419 "Test creating new Issue"
**GitHub Issues are deprecated. Use [Discuss Issues](https://discuss.dgraph.io/c/issues/badger/37) for reporting issues about this repository.**

[2020-07-13 09:57] anurags92 opened #1420 "Test github action works or not."
**GitHub Issues are deprecated. Use [Discuss Issues](https://discuss.dgraph.io/c/issues/badger/37) for reporting issues about this repository.**

Test github action works or not.

[2020-07-13 09:57] #1420 closed

[2020-07-13 10:02] #1419 closed

[2020-07-13 11:57] jarifibrahim commented on #1399
Can you make a copy of your data directory and share it with me? I'd like to reproduce the bug on my end.

@ammmir Yes, try doing a new backup and restore but please keep the old directory.

[2020-07-13 12:02] jarifibrahim commented on #1403
Your approach could work but distributed systems are very interesting and in your architecture, a single failure in master will stop the world on your platform.

You should use https://github.com/BBVA/raft-badger and then take periodic snapshots. I think this would be the simplest way of running badger in distributed manner.

If you want to build something very simple, go with the approach you've

[2020-07-13 12:12] jarifibrahim commented on #1404
Do you badger when you say map?

I'm assuming you mean badger when you say map.
No, Badger works on a snapshot and it won't be able to see new writes until they are committed. You would new transaction (with higher readTs than the previous transaction) to read the new values.

You could use use the subscribe API to get all the new items. See https://github.com/dgraph-io/badger/blob/b5a5d66cabce7f3

[2020-07-13 12:18] jarifibrahim commented on #1415
@Vincent864 It should be `go get -v github.com/dgraph-io/badger` . Please feel free to send a PR.

I had changed ti from `go get github.com/dgraph-io/badger` to `go get github.com/dgraph-io/badger/v2` because if you run the command inside a project with go.mod, it downloads badger v1.6

[code]

But it should be okay to change the go get command in the readme.

[2020-07-13 13:53] jarifibrahim commented on #1397
Related to https://github.com/dgraph-io/badger/issues/1384

[2020-07-13 13:53] jarifibrahim commented on #1389
I wasn't able to reproduce this issue after multiple attempts. I'm closing this as non-reproducible.

[2020-07-13 13:53] #1389 closed

[2020-07-13 13:54] jarifibrahim commented on #1388
I wasn't able to reproduce this issue after multiple attempts. I'm closing this as non-reproducible.

[2020-07-13 13:54] #1388 closed

[2020-07-13 13:54] jarifibrahim commented on #1387
I wasn't able to reproduce this issue after multiple attempts. I'm closing this as non-reproducible.

[2020-07-14 05:23] hiepd commented on #1397
Would like to look into this issue if no one is looking at it. Thanks!

[2020-07-14 06:12] jarifibrahim commented on #1397
@hiepd feel free to pick it up.

[2020-07-14 16:52] jarifibrahim commented on #1318
This issue is not reproducible. I'll reopen the issue if it shows up again.

[2020-07-14 16:52] #1318 closed

[2020-07-16 01:22] #1356 closed

[2020-07-16 11:30] gowthamgutha commented on #1404
1. Will the order of elements by the insertion order when the key is `current_time_in_millis + counter`?
2. Also, is there any chance of getting duplicates in the subscription handler?
3. Can I delete in the subscription handler itself?
4. When we do `txn.Delete` can another goroutine simulataneously do `txn.Set` ?

[2020-07-16 12:44] jarifibrahim commented on #1404
Do you mean to ask would subscription return items based on the insertion order? If so, the answer is yes, the subscribe API is emit the items as they're inserted in the DB.

Only if you insert duplicates

No, you'll  have to collect the keys and then separately call delete

Not on the same `txn` object. It is not thread-safe. You can do it on a different txn but your transactions can conflict.

[2020-07-16 15:34] sanderpick commented on #1296
Heya, I'm seeing this as well. Looks to be coming from [ipfs-lite](https://github.com/hsanjuan/ipfs-lite/issues)'s datastore. I can send the datastore repo somewhere if that would help.

Badger version v1.6.1

[code]

I also see this...
[code]

`Error=This shouldn't happen`... Murphy's law? 😅

[2020-07-16 16:29] jarifibrahim commented on #1296
@sanderpick Can you send the data directory? I can spend some time and try to figure out what's going on. You can send it to ibrahim[at]dgraph.io .

[2020-07-16 16:57] sanderpick commented on #1296
Sure! Will take a bit to download. I'll send to your email when ready.

[2020-07-16 19:22] sanderpick commented on #1296
So, the whole repo is 268G. Do you need the whole thing or are there certain files that might do the trick?

[2020-07-17 09:45] jarifibrahim commented on #1296
@sanderpick I don't need the directory right now but please keep it saved somewhere. I believe this issue is similar to https://github.com/dgraph-io/badger/commit/2a90c665f1e57fdc48256f222ed5d826c554043c . There isn't a bug, we're logging an error which isn't an error.

@sanderpick You can ignore the error. I'll send a PR (and some tests) to verify my theory and remove the error logging.

[2020-07-17 10:53] gowthamgutha commented on #1404
1. Do I need to have a transaction for every put? (I want to just put and delete and don't need any updates)
2. When do we get notification in `subscribe()` handler, is it when the transaction is committed?
3. Will there be any performance impact in running multiple transactions on different keys in different goroutines?

Also, can you provide any _beginner's tutorial_ for badger that has all the

[2020-07-17 11:02] jarifibrahim commented on #1404
I gave an internal tech talk about badger https://www.youtube.com/watch?v=VQAeO823W8M . It's a good starting point. If you feel something is missing it might be helpful for others, please feel free to send documentation PRs (or documentation requests) :)

No, a transaction can store multiple updates (which is puts and deletes) but another transaction won't be able to see these puts and deletes unt

[2020-07-17 12:15] gowthamgutha commented on #1404
@jarifibrahim

I saw your video.  You said that if the process crashes in the middle of `WriteBatch` whatever that is uncommitted will be lost.

_How do we decide when do we have to flush the write batch? Is there any **internal automatic periodic** commit, like for example, based on time or no. of records?_

1. We have a stream of data that is coming in and we would want to put it to badger and t

[2020-07-19 07:51] ammmir commented on #1399
@jarifibrahim unfortunately, I can't send any files since it's customer data. is there anything else that might help you?

if nothing else, I'll write my own backup tool to export the data from v1 and reimport to v2, since all I really care about are the keys and values, TTL, and UserMeta.

[2020-07-20 05:45] minhaj-shakeel commented on #786
**Github issues have been deprecated.**
This issue has been moved to [discuss](https://discuss.dgraph.io/t/8662). You can follow the conversation there and also subscribe to updates by changing your notification preferences.

 <img src="https://github.com/dgraph-io/benchmarks/blob/master/images/SetNotifications.png?raw=true" alt="drawing" width="40%"/>

[2020-07-20 05:46] #786 closed

[2020-07-20 07:22] minhaj-shakeel commented on #888
**Github issues have been deprecated.**
This issue has been moved to [discuss](https://discuss.dgraph.io/t/8666). You can follow the conversation there and also subscribe to updates by changing your notification preferences.

 <img src="https://github.com/dgraph-io/benchmarks/blob/master/images/SetNotifications.png?raw=true" alt="drawing" width="40%"/>

[2020-07-20 07:22] minhaj-shakeel commented on #984
**Github issues have been deprecated.**
This issue has been moved to [discuss](https://discuss.dgraph.io/t/8667). You can follow the conversation there and also subscribe to updates by changing your notification preferences.

 <img src="https://github.com/dgraph-io/benchmarks/blob/master/images/SetNotifications.png?raw=true" alt="drawing" width="40%"/>

[2020-07-20 07:23] minhaj-shakeel commented on #1016
**Github issues have been deprecated.**
This issue has been moved to [discuss](https://discuss.dgraph.io/t/8668). You can follow the conversation there and also subscribe to updates by changing your notification preferences.

 <img src="https://github.com/dgraph-io/benchmarks/blob/master/images/SetNotifications.png?raw=true" alt="drawing" width="40%"/>

[2020-07-20 07:25] #888 closed

[2020-07-20 07:25] #984 closed

[2020-07-20 07:25] #1016 closed

[2020-07-20 07:27] minhaj-shakeel commented on #1084
**Github issues have been deprecated.**
This issue has been moved to [discuss](https://discuss.dgraph.io/t/8669). You can follow the conversation there and also subscribe to updates by changing your notification preferences.

 <img src="https://github.com/dgraph-io/benchmarks/blob/master/images/SetNotifications.png?raw=true" alt="drawing" width="40%"/>

[2020-07-20 07:29] minhaj-shakeel commented on #1162
**Github issues have been deprecated.**
This issue has been moved to [discuss](https://discuss.dgraph.io/t/8670). You can follow the conversation there and also subscribe to updates by changing your notification preferences.

 <img src="https://github.com/dgraph-io/benchmarks/blob/master/images/SetNotifications.png?raw=true" alt="drawing" width="40%"/>